[2022-03-23 06:35] #1254 closed

[2022-03-23 08:58] #1199 closed

[2022-03-23 14:57] #1156 closed

[2022-03-23 19:00] shelaghm commented on #726
@joiskash @fredhersch @jingtang10

How about something like this?
<img width="1377" alt="Screen Shot 2022-03-23 at 11 58 42" src="https://user-images.githubusercontent.com/86378921/159775619-c2f146f7-2386-43d9-8879-e37a6e57083b.png">

[2022-03-23 19:10] kumaakh commented on #726
Some quick comments:

1. We will need the ability to remove the item if it was
inadvertently added
2. As the single form can end up taking up the whole screen, just vertical
growth of the repeated items may be a bad idea from a usability point of
view. It will be nicer if an item can be collapsed to a single line so that
visually one can count how many have been added.
3. It should be possible to

[2022-03-24 08:31] aditya-07 opened #1258 "Provide Resource Sync map based DownloadManager implementation in the ENgine"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-25 05:11] Tarun-Bhardwaj opened #1260 "Implement slider step value extension"
**Current issue**
By default, the slider step increment is 10. It should be controllable from the questionnaire. This required implementation of an extension: http://build.fhir.org/extension-questionnaire-sliderstepvalue.html

**Describe the feature**
When using the slider, I should be able to control the steps increment

**Component**
Core library, SDC library, reference app, or SDC gallery app

[2022-03-25 05:38] santosh-pingle commented on #1260
To fix this issue SDC library should start supporting slider step value extension.
At this moment it is not implemented in sdc library.
http://build.fhir.org/extension-questionnaire-sliderstepvalue.html

[2022-03-25 06:39] fredhersch commented on #1260
Thanks @santosh-pingle is this an issue you can pick up?

[2022-03-25 06:43] santosh-pingle commented on #1260
Sure, I will work on it.

[2022-03-25 15:03] RaaziaTarique commented on #819
In order to provide `enableWhenExpression` support in SDK I am going to extend `EnablementEvaluator's evaluate` method functionality by adding support for enableWhenExpression using `FhirPathEngine`
I tried to implement the example present in this link http://build.fhir.org/ig/HL7/sdc/expressions.html. Such as,
`"expression": "%resource.repeat(item).where(linkId='4.2.1').answer.value.code ='female

[2022-03-25 17:17] delcroip commented on #819
@RaaziaTarique  to be honest we are waiting for the support on fhirpath to work on the condition

Fhirpath says that we can use the linkid like %linkid but we might change it to %'linkid',
http://build.fhir.org/ig/HL7/sdc/expressions.html#fhirpath-supplements see %context part

therefore the  %EmCare.B6.DE02 = true might need to become  %'EmCare.B6.DE02' = true

[2022-03-28 12:59] f-odhiambo commented on #1107
**Updated Mar 28th, 2022**
The @evaluate_measure API is not picking referenced Observation resource from where the Indicator can be computed.
In the case of the 1st ANC Indicator: Percentage of pregnant women with first ANC contact in the first trimester (before 12 weeks of gestation), The observation resource is not referenced in the list of evaluated resources.  Details to be fetched in Observat

[2022-03-28 13:40] f-odhiambo commented on #726
@fredhersch As a follow-up, this can be used in the immunization follow-up questionnaire for Child Immunization for LMH. Will look into this in the next Sprint

CC @Tarun-Bhardwaj

[2022-03-28 13:52] f-odhiambo commented on #726
We also have use cases for recording birth outcomes. Sometimes this is handled with an initial question such as “how many babies?”

[2022-03-28 14:10] omarismail94 opened #1264 "Add End-to-End Test"
**Describe the Issue**

Right now, we have unit and instrumentation tests. A nice addition would be an end-to-end (e2e) that launches the app and verifies the app functionality. An example of this would be verifying that the number of resources downloaded on the app is equal to the number of resources that are on the server

[2022-03-28 14:24] PallaviGanorkar opened #1265 "New patient is not creating sometime"
**Describe the bug**
New Patient is not creating some time after click on "Submit button"

**Component**
 SDC library, reference app

**To Reproduce**
Steps to reproduce the behavior:
1. install and launch demo app '...'
2. Click on '.+.' on Dashboard to add new Patient
3. Enter all Patient  details
4. Click on submit button
5. See error : Submit button is clicked but new patient is not added and

[2022-03-28 19:23] f-odhiambo commented on #1107
Here is a link to the test resources https://drive.google.com/drive/folders/1ZS9z-jKqzAG4qLQ5L3vBmSNiXnNUq3d4?usp=sharing

You can add these to the `FhirOperatorTest` class

[code]

CC @jingtang10 @ktarasenko

[2022-03-29 06:48] santosh-pingle commented on #1170
Action items :
1.  Show gear icon in app bar
2. Show bottom sheet on gear icon click.
3. Show Hide/Show error button on bottom sheet.

[2022-03-30 08:32] ekigamba commented on #819
@RaaziaTarique Based on what @delcroip has linked, it seems that we also need to support the following FHIR Path supplements:

- `%resource`
- `%context`
- Variables defined in the current item or parent item eg. if a variable was defined as `score` then this should be accessible later in the same item or descendant/child item as `%score
- `%questionnaire`
- `%qitem`

@delcroip I don't seem to fin

[2022-03-30 08:50] ekigamba commented on #819
It seems that our current FHIR Path version does not natively support %questionnaire` and `%qitem`. The two are described as extensions and have been adopted as `local` FHIRPath extensions..

As per http://build.fhir.org/ig/HL7/sdc/expressions.html#fhirpath-supplements

[2022-03-30 08:53] fredhersch commented on #726
Thanks @kumaakh , a couple of comments:

* Agree about + / - options (@shelaghm - we will need to be able to remove an item group too)
* Making each group collapsible could be a nice Ux element - @shelaghm
* For something like adding an entire new family member with multiple steps, this seems more like a workflow process we are trying to enable. To me this may need a different solution / approach.

[2022-03-30 09:03] RaaziaTarique commented on #819
- `FhirPathEngine` currently supports `%resource` and `%context` and they both work similarly, as `%context`  is pointing to the provided  resource however it should point to the current traversed Item which can be the root of the `QuestionnaireResponse` or `QuestionnaireItem` .  If more supports needed for `%context`  then another issue can be created for it.
- Right now sdk is not supporting var

[2022-03-30 09:06] #1258 closed

[2022-03-30 10:36] delcroip commented on #819
Thank @ekigamba, after reading it again it seems that i misunderstood, %context works only for the current linkid, as you said, I didn't found what can define my example. (it would have make the enableWhenExpression much clearer)

I will update to something similar to the structure proposed
[code]

br

[2022-03-30 11:47] jingtang10 commented on #1265
@PallaviGanorkar can you please attach the logcat?

[2022-03-30 12:01] jingtang10 commented on #1253
We'll likely do something similar to this: https://github.com/google/accompanist/issues/1101

[2022-03-30 12:19] Tarun-Bhardwaj commented on #1168
CC: @ktarasenko

[2022-03-30 12:28] jingtang10 commented on #1155
I don't think this is an Android FHIR SDK issue. This is an authoring issue: the sdk cannot know that the max min values should change depending on the answer to a different question. That needs to be somehow done by the questionnaire (possibly using enable when statements to show different input questions with different max min value constraints).

under this ticket there'll be no change in the l

[2022-03-30 12:43] f-odhiambo commented on #1107
@ktarasenko here is the link to the test data : https://drive.google.com/drive/folders/1eTyUXZbmYgqZ7k35-5pI4pGBiWONaHGv?usp=sharing

To test on Android Studion
1. Add the folder here https://github.com/google/android-fhir/tree/master/workflow/testdata
2. Go to the class FhirOperatorTest
3. Add the files from the assets folder inside FhirOperatorTest class
[code]
5. Debug the FhirOperatorTest

To

[2022-03-30 14:01] ktarasenko commented on #1107
Thanks @f-odhiambo for the detailed instruction, but I still can't make the test work. I might miss something obvious and I need a walktrough. What's the best way to chat with you directly?

[2022-03-30 14:03] ktarasenko commented on #1168
Sure, please go ahead

[2022-03-30 15:23] ktarasenko commented on #1107
messaged you in the chat

[2022-03-30 17:19] f-odhiambo commented on #726
@RaaziaTarique FYI

[2022-03-30 19:19] jingtang10 commented on #1253
https://github.com/ossf/scorecard/issues/1270

[2022-03-30 20:00] jingtang10 commented on #1253
Actually before we disable allstar, it might be helpful to understand the benefits in more detail. The cost of keeping an open issue is low (it's a bit spammy but we can just ignore it for now), but if we ignore it we'll miss out any benefits of allstar.

[2022-03-31 07:33] joiskash commented on #577
I am currently occupied with development work related to using the FHIR android SDK. Sorry, I do not have any bandwidth to work on this for the time being.

cc: @jingtang10 @Tarun-Bhardwaj

[2022-03-31 08:01] shoaibmushtaq25 commented on #1059
I tried to evaluate the fhirpath expressions like `%resource.repeat(item).where(linkId='3.3.1').item.answer.valueDecimal` as mentioned in the questionnaire [here](http://build.fhir.org/ig/HL7/sdc/Questionnaire-questionnaire-sdc-profile-example-form-behavior.json.html) and this worked well.

The solution, I am planning to implement is,
Let's say, we calculate the value of variable based on the expr

[2022-03-31 08:14] jingtang10 commented on #1059
@ekigamba @joiskash @maimoonak fyi

[2022-03-31 09:58] santosh-pingle commented on #1170
Action items :

- Design questionnaire json with required field true.
- On error state button click show error questionnaire json
- On hide error button click show questionnaire json without error.
- Repeat above action items for all components.

[2022-03-31 10:22] jingtang10 commented on #760
lowering the priority since we do not use POST any more. we are explicitly supporting PUT for creating resources (for now). it is possible that we will need to add support for POST in the future so keeping this issue open.

[2022-03-31 11:22] shoaibmushtaq25 commented on #1059
The other approach that was suggested by @jingtang10 in the SDK Dev call is that,
We can evaluate the value of variable expression where it's needed (Calculate value on-demand). Let's say, in the questionnaire [here](http://build.fhir.org/ig/HL7/sdc/Questionnaire-questionnaire-sdc-profile-example-form-behavior.json.html), the variables `%weight` and `%height` are used in the calculation of BMI wit

[2022-03-31 12:08] #1253 closed

[2022-03-31 13:11] f-odhiambo commented on #1038
@fredhersch @jingtang10 @Tarun-Bhardwaj check the above comment from @RaaziaTarique

[2022-03-31 13:50] PallaviGanorkar opened #1271 "Sync API is called twice for same page in Pagination on application first launch"
**Describe the bug**
Sync API is called twice for same page in Pagination on application first launch

**Component**
Core library, reference app,

**To Reproduce**
Steps to reproduce the behavior:
1. install application and launch
2. See logs in locat - Sync API is called twice for same page in Pagination on application first launch

**Expected behavior**
 Sync API must be callec once for one page

[2022-03-31 14:39] aurangzaibumer opened #1272 "Add a flag to extend validation API support for questionnaire validation."
**Is your feature request related to a problem? Please describe.**
Add a flag to validate questionnaire response according to provided validations on submit button onClick event response prior to onPostSave method of QuestionnaireViewModel method.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2022-03-31 14:40] aurangzaibumer commented on #1272
@f-odhiambo @jingtang10
Created a ticket for extending validation API support for questionnaire

[2022-04-01 06:15] f-odhiambo commented on #726
This ticket will be a pre-requisite for #1038
CC @Tarun-Bhardwaj

[2022-04-01 06:16] f-odhiambo commented on #1272
New ticket as a follow up to ticket #1001
CC @Tarun-Bhardwaj

[2022-04-01 06:21] shoaibmushtaq25 commented on #1059
Moreover, I asked a question over zulip chat [here](https://chat.fhir.org/#narrow/stream/179266-fhirpath/topic/power.28.29.20function.20not.20evaluated/near/277336975) related to power() function `(%weight/(%height.power(2))).round(1)` which wasn't evaluated correctly with fhirPathEngine. The conversation around it still going on over [zulip chat](https://chat.fhir.org/#narrow/stream/179266-fhirpa

[2022-04-01 06:37] f-odhiambo commented on #1059
@Tarun-Bhardwaj kindly let us know if we can proceed with suggested above approach

[2022-04-01 10:01] RaaziaTarique commented on #726
As per this link, https://www.hl7.org/fhir/questionnaire-definitions.html#Questionnaire.item.repeats.
`
Questionnaire.item.repeats:
An indication, if true, that the item may occur multiple times in the response, collecting multiple answers for
questions or multiple sets of answers for groups.
`

So, for supporting `repeats`, I am going to first handle groups and questionnaire items which supports

[2022-04-01 10:36] #1227 closed

[2022-04-01 11:36] joiskash commented on #1059
Just some initial thoughts on how this should be implemented. Please criticize it.
Seems like a map or some other data structure should be created while parsing the questionnaire and creating the questionnaire response as an index to map linkIds and their dependencies. So in the example above 3.3.3 would depend on 3.3.2 & 3.3.1. When either one of the dependencies change 3.3.3 would be computed ag

[2022-04-01 11:57] #1239 closed

[2022-04-01 17:20] jingtang10 commented on #472
@aditya-07 fyi

[2022-04-01 18:11] #1007 closed

[2022-04-01 20:04] #1226 closed

[2022-04-04 11:32] #1224 closed

[2022-04-04 12:10] shoaibmushtaq25 commented on #1059
@joiskash , I see your point and checked the related open [issue#910](https://github.com/google/android-fhir/issues/910) around it and yeah the assumption (questionnaireResponse.item can be uniquely identified with linkIds) would break when nested items are repeated.
so right now, we don't have support for these types of questionnaire items (nested item with repeat). What do you think if we first

[2022-04-04 12:27] joiskash commented on #1059
Sorry, Im not sure I understand the exact difference between the two approaches..

[2022-04-04 13:45] jingtang10 opened #1277 "Use `ResourceType` for FHIR Engine data access APIs"
**Describe the Issue**

Using class parameter (e.g. `Patient::class.java`) as the input of the data access API has certain issues:
- app developer is able to use `Resource::class.java` which isn't legal because you cannot have a resource that isn't a concrete resource type
- app developer is able to use `MyPatient::class.java` which isn't legal as it's not a FHIR type

As a result we are refactori

[2022-04-04 17:49] #1277 closed

[2022-04-05 07:51] #1225 closed

[2022-04-05 09:56] Gental-Giant opened #1278 "[Malawi Core] Add 3 modules to the landing page: (Phone Tracing, Home Tracing and Appointments)"
**Is your feature request related to a problem? Please describe.**
The landing page has 3 modules: Phone Tracing, Home Tracing and Appointments

**Describe the solution you'd like**
1. The modules have counters to display how many clients, EIDs or contacts assigned to the CHW require tracing or are expected to come to the clinic that day
2. The landing page has search functionality to find a perso

[2022-04-05 09:56] #1278 closed

[2022-04-05 17:48] #1109 closed

[2022-04-06 09:06] RaaziaTarique commented on #726
After analysing and trying multiple approaches to add repeated groups support in SDK I ended up in picking the approach to use nested recyclerView for each `QuestionnaireItemViewType` which means each `QuestionnaireItemViewType's` view will have a heading, recycler view (with  QuestionnaireItemView and remove view button) and add view button. I tried to use this approach for only `EditText` but it

[2022-04-06 11:17] jingtang10 opened #1281 "Support optionExclusive extension in questionnaires"
**Is your feature request related to a problem? Please describe.**
See
http://hl7.org/fhir/R4/extension-questionnaire-optionexclusive.html

and http://build.fhir.org/ig/HL7/sdc/behavior.html#choice-restriction

Basically if an answer option has this extension, selecting this answer option means other answer options need to be deselected.

**Describe the solution you'd like**
This needs to be imple

[2022-04-06 11:19] santosh-pingle commented on #1281
I am working on implementation.

[2022-04-06 14:57] aurangzaibumer commented on #1272
submit boolean -> if true -> would not allow user to submit the questionnaire without filling all the required fields

pagination boolean -> if true -> would not allow user to move to next page until all required answers are given

[2022-04-06 18:20] shoaibmushtaq25 commented on #1059
I have asked a [question](https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/FHIRPATH.20SDC.20implementation/near/278052513) about how to pass variables as input to fhirPathEngine `evaluate` method, Got a reply on that [here](https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/FHIRPATH.20SDC.20implementation/near/278056842).

[2022-04-07 07:43] jingtang10 commented on #1272
@joiskash

[2022-04-07 11:22] joiskash commented on #1272
Sounds good, just wondering where these flags will be passed? Is there scope to use the strategy pattern? Such that developers will have more flexibility and can implement their own Strategies apart from the default described above.

@shoaibmushtaq25

[2022-04-07 11:29] shoaibmushtaq25 commented on #1272
Hey @joiskash , I don't have much details about it but I think, @jingtang10 can better comment on that as @aurangzaibumer and @jingtang10 were having these discussions while working on PR#1102

[2022-04-07 12:29] maimoonak opened #1282 "Timing type with missing event field crashes application in ResourceIndexer with NPE."
**Describe the bug**

`Timing` (http://hl7.org/fhir/datatypes.html#Timing) type with missing `event` crashes application in ResourceIndexer with NPE.

[code]

**Component**
Core library

**To Reproduce**
Steps to reproduce the behavior:
1. Add a CarePlan with Timing field and no 'event' and save into DB
[code]
2- Right after save when indexing it would crash and would save if any value is added to

[2022-04-07 13:14] maimoonak opened #1283 "OR parameter in fhirEngineSearch does not work as expected"
**Describe the bug**
OR parameter in fhirEngineSearch does not work as expected

// pregnancies is a list of Condition resource

`val patients = pregnancies.map { fhirEngine.load(Patient::class.java, it.subject.reference.split("/")[1]) } // works fine `

[code]

In code above we want to reduce number of queries made to DB and use search to query all patients of certain ids.

Similary, following do

[2022-04-07 14:42] santosh-pingle commented on #1281
As per discussion with @jingtang10 @fredhersch in android fhir sdk developers call
If you reselect an option, then clear the optionExclusive selection

[2022-04-07 16:51] jingtang10 commented on #1282
I think it would be quite a lot harder to handle the repeat cases in the timing object...

in this pr we probably should focus on the case without repeat.

and we should probably raise another issue to handle repeat (low priority).

[2022-04-08 05:29] shoaibmushtaq25 commented on #1059
The [SDC Specification](https://www.hl7.org/fhir/extension-variable.html) said that,

so what exactly is the meaning of "adding the name of the variable to the FHIRPath's context" here?
Can anyone help me understand it better?

@jingtang10 @joiskash @ekigamba @maimoonak cc: @f-odhiambo

[2022-04-08 09:38] aurangzaibumer commented on #1272
hey @joiskash, I'm currently doing research on how I can implement the logic on buttons to apply the validation, once I complete with it, I'll think about how I'll be passing those values to the questionnaire. Can we connect on monday if you are available. Would like to discuss with you the approach. thanks

[2022-04-08 09:54] joiskash commented on #1272
Sure you can just ping me on email / google chat - kjois@iprdgroup.com

[2022-04-08 13:54] jingtang10 commented on #726
@RaaziaTarique as discussed can you share any progress/investigation you have made? thanks

[2022-04-08 15:26] jingtang10 commented on #1001
so if you open a questionnaire with some existing answers, and those existing answers are failing validation, do you want to display those errors?

for example, you have a patient questionnaire, and you're loading it with existing patient data, some of the answers are failing validation. are you ok with these errors not shown at first?

[2022-04-08 15:34] #1194 closed

[2022-04-08 23:38] shelaghm commented on #726
Here's an updated mock addressing

1. A way to remove/delete a group by adding a delete button. Button title can say remove instead of delete.
2. To reduce vertical height of the group, I grouped date and location on one row. There's not enough space for all three text fields on one row and depending on screen size and language it might not fit to have two text fields on one row.
3. Added a 'chevr

[2022-04-11 12:02] dubdabasoduba commented on #1001
I think I would be okay with showing those errors. The error here would be based on data on the input field as opposed to the one that occurs without any data on the input field.

[2022-04-11 13:39] PallaviGanorkar commented on #1198
This functionality is implemented in PR https://github.com/google/android-fhir/pull/1276

[2022-04-11 13:42] PallaviGanorkar commented on #973
This functionality implemented in https://github.com/google/android-fhir/pull/1275

[2022-04-11 13:42] #973 closed

[2022-04-11 13:46] PallaviGanorkar commented on #1083
Fixed in PR https://github.com/google/android-fhir/pull/1275

[2022-04-11 13:48] #1198 closed

[2022-04-12 03:50] rowo commented on #1001
I agree with Benjamin (the errors should appear). With the errors appearing on load, it is kind of like a required field indicator and tells the user they should interact with the fields rather than surprising them at form submit. This isn't really relevant, but curious in the situation described, would the only options would be the remove the errors and submit, or cancel and not be able to save a

[2022-04-12 07:07] #1164 closed

[2022-04-12 07:37] jingtang10 opened #1287 "Custom widget that opens a new activity to collect answer"
**Is your feature request related to a problem? Please describe.**
Create a custom widget that sends an intent to open a new activity (we can probably just pick a URL ourselves). In the new activity the developer should be able to use the activity result API to return the picked answer.

**Describe the solution you'd like**
A custom widget in the contrib folder of the sdc library

**Describe alter

[2022-04-12 08:37] santosh-pingle commented on #1287
looking into it

[2022-04-12 09:15] jingtang10 commented on #1287
from @jjtswan

- Code to create a custom questionnaire widget that has a read-only textbox displaying a default answer, with a button next to it which would trigger your activity to select the facility.
- Example of how to bind that widget into an example questionnaire

[2022-04-13 04:29] santosh-pingle commented on #1287
Custom widget view context can be used to launch the activity, but we also need to read activity result back, therefore view context is not enough to just start the activity.
We need to find the way to use ActivityResult api in sdc to read result from activity.
We need to define ActivityResult api and pass reference to custom widget from QuestionnaireFragment to custom widget to start the activity

[2022-04-13 06:18] aurangzaibumer commented on #1001
for example

NEW FORM
errors should not be shown on start

EDIT FORM
for suppose if first name was required but somehow it wasn't saved when it was registered
now we are trying to open it on edit form where FIRST NAME is mandatory now to enter
in this case, as soon as form loads/opens it should throw error on FIRST NAME field right? rather than showing error on submit button

probably this is the

[2022-04-13 07:22] aurangzaibumer commented on #1001
for example

NEW FORM
errors should not be shown on start

EDIT FORM
for suppose if first name was required but somehow it wasn't saved when it was registered
now we are trying to open it on edit form where FIRST NAME is mandatory now to enter
in this case, as soon as form loads/opens it should throw error on FIRST NAME field right? rather than showing error when submit button presses.

probably t

[2022-04-13 07:36] jingtang10 commented on #1287
Do you have a branch to share?

You're saying we need to change the widget interface to include activity context?

[2022-04-13 13:26] delcroip commented on #1033
Dear,

I just realized that initialExpression is part of the [populate questionnaire](http://build.fhir.org/ig/HL7/sdc/populate.html), if this is not supported, then does the SDK support [Observation-based Population](http://build.fhir.org/ig/HL7/sdc/populate.html#observation-based-population) or [StructureMap based population](http://build.fhir.org/ig/HL7/sdc/populate.html#structuremap-based-popu

[2022-04-14 05:55] santosh-pingle opened #1291 "Extra blank space get added below question text if subtitle text is not present."
**Describe the bug**
There is extra blank space in between questionnaire text and answer options if subtitle text is not present.

Note : (We are able to reproduce this issue, as we have not added subtitle text in questionnaire json for default and paginated layout yet.)

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Open catalog app.
2. Click on layouts
3. Click

[2022-04-14 06:02] santosh-pingle commented on #1291
Fix:
If subtitle text is not present(if value is null), then make subtitle text view gone.

[2022-04-14 07:20] santosh-pingle opened #1292 "Date picker questionnaire with required field true does not show calendar icon."
**Describe the bug**
Create questionnaire json with type `date` and `required` true, when date picker get render it does not show calendar icon, calendar icon get overlapped with error mark.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Open demo app
2. Click on + icon to add patient
3. See date of birth question
4. Error is shown on date text field, and it does

[2022-04-14 07:21] santosh-pingle commented on #1292
@PallaviGanorkar @shelaghm cc @jingtang10

[2022-04-14 07:23] santosh-pingle commented on #1292
It seems calendar icon need to be shown as start icon in input text field, so that it can not be overlapped by error icon when error message is shown.

[2022-04-14 07:59] jingtang10 commented on #1187
can you share @KhumboLihonga an example questionnaire that demonstrates this issue?

[2022-04-14 09:15] jingtang10 commented on #1292
either this, or we don't show the error icon for date/time input boxes where there is the calendar button.

[2022-04-14 10:27] aurangzaibumer commented on #1272
Based on discussion with @joiskash

There should be a strategy pattern applied to have a full control by the developer to change the implementation according to the needs, implementation that are provided for the buttons.

[2022-04-14 10:41] jingtang10 commented on #656
Thanks @pld for raising this. In the call earlier today we discussed this and @maimoonak will share the changes she has made and raise a draft pr against this issue.

also would love to get input from jp and vitor (sent them invite to the repo).

[2022-04-14 10:49] santosh-pingle opened #1293 "Soft keyboard is not opened for open choice view."
**Describe the bug**
A clear and concise description of what the bug is.

**Component**
Core library, SDC library, reference app, or SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:

1. Open catalog app.
2. Click on the Open choice view.
3. Click on the box.
4. Click on other option
5. Click on add another answer
6. See, it does not open soft keyboard to type the text.

**Expecte

[2022-04-14 11:04] santosh-pingle commented on #1287
Considering this option.

[2022-04-14 11:30] KhumboLihonga commented on #978
Just highlighting that this is a feature we really need. We have dropdowns that may contain over 100 answer options and being able to filter those items as the user types will be very useful.

[2022-04-14 11:59] KhumboLihonga commented on #1187
@jingtang10 here you go

[skip-page-example-questionnaire.txt](https://github.com/google/android-fhir/files/8488911/skip-page-example-questionnaire.txt)

[2022-04-14 18:28] shelaghm commented on #1292
I recommend we don't know the error icon and we show the calendar icon instead on the right side.
Internal material design guidelines recommend this approach.

[2022-04-14 19:37] shoaibmushtaq25 commented on #1059
I asked a [query over FHIR zulip chat](https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/FHIRPATH.20SDC.20implementation/near/278957329) around variable definition at the questionnaire root level , got a reply [here](https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/FHIRPATH.20SDC.20implementation/near/278967509)

[2022-04-15 11:40] RaaziaTarique opened #1297 "Validator API should throw an exception if inital value and intial value expression are both present."
**Is your feature request related to a problem? Please describe.**
Since both initial.value and initialExpression generate values before the user has access to the form, it is not allowed to have both present on a Questionnaire.item.Validator API has to throw an exception if inital value and intial value expression are both present in the questionnaire.

**Describe the solution you'd like**
A clea

[2022-04-17 09:29] fredhersch commented on #1033
We currently support Expression Based population - https://github.com/google/android-fhir/wiki/Structured-Data-Capture-Library#questionnaire-population

This extension allows for adding an expression as part of the population e.g. time.now() versus setting the value of a field that was previously collected

[2022-04-17 10:45] #940 closed

[2022-04-17 22:17] #1181 closed

[2022-04-18 10:31] PallaviGanorkar opened #1300 "Catalog App crashes on selection of DOB input widget and press next from soft keyboard"
**Describe the bug**
Catalog App crashes on selection of DOB input widget and press next from soft keyboard

**Component**
 SDC library, reference app, or SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Install and Launch Demo App
2. Click on '.+' icon from Dashboard to
3. Now select DOB input widget
4. Now press  next buttom from soft keyboard
5. See behaviout : App crashes

[2022-04-18 12:26] PallaviGanorkar commented on #1133
This is expected behavior as Sync API is called in application when
1. on every launch
2. after launch poll is configured on every 15min.

[2022-04-18 22:36] #1293 closed

[2022-04-19 06:48] delcroip commented on #1033
@fredhersch does it means that this issue can be closed ?

(all the related work will be usefull for other expressions)

[2022-04-19 07:01] #1292 closed

[2022-04-19 08:59] aditya-07 commented on #1283
1. It appears that engine is not traversing the full Class hierarchy of the model classes to figure out all the SearchParams that need to be indexed into the database. This is causing search by `Patient.RES_ID` to fail.

2. The Task search will work if both code and system are provided in the filters e.g. { value = of(  Coding().apply {
        system = Task.TaskStatus.REQUESTED.system
        sys

[2022-04-19 09:01] aditya-07 opened #1305 "Update search indexing logic to consider search params in full Class hierarchy."
1. It appears that engine is not traversing the full Class hierarchy of the model classes to figure out all the SearchParams that need to be indexed into the database. This is causing search by `Patient.RES_ID` to fail.

_Originally posted by @aditya-07 in https://github.com/google/android-fhir/issues/1283#issuecomment-1102336832_

[2022-04-19 09:03] aditya-07 opened #1306 "Allow search by just code when both code and system are saved for a particular token."
2. The Task search will work if both code and system are provided in the filters e.g. { value = of(  Coding().apply {
        system = Task.TaskStatus.REQUESTED.system
        system = Task.TaskStatus.REQUESTED.toCode()
      }) }.

      Nevertheless, the engine should allow to search by just the code as well.

_Originally posted by @aditya-07 in https://github.com/google/android-fhir/issues/1283

[2022-04-19 09:34] aditya-07 opened #1307 "Cleanup Sync.kt to provide only WorkManager based sync apis."
**Describe the Issue**
Presently there are a lot of overlapping ways/apis in the `Sync.kt` available for the developer application to sync data with the remote server.

Expected changes:
1. It should have a simple interface with two api : One for immediate Onetime sync and other for periodic sync.
2. The developer app should be able to listen-in to the state of ongoing sync via `Flow`.

**Would yo

[2022-04-19 09:50] #1131 closed

[2022-04-19 11:12] PallaviGanorkar opened #1308 "search list not updating on patient details update"
**Describe the bug**
Search for patient, edit patient details and come back to search lust by pressing back button. Here search result list is not updated

**Component**
eference app

**To Reproduce**
Steps to reproduce the behavior:
1. Install and launch demo aap'
2. search for patient
3. select patient
4. edit patient details and submit it from edit patient screen
5. here updated patient details

[2022-04-20 03:56] santosh-pingle commented on #1291
@jingtang10
With this change we see  additional text is shown at top of the page in paginated layout.
It seems we need to fix this issue before beta 03 release.
Please see below screenshot
<img width="430" alt="Screen Shot 2022-04-20 at 9 17 07 AM" src="https://user-images.githubusercontent.com/86107848/164147162-e1be6389-5d86-47fd-9488-57be8a8755f6.png">

[2022-04-20 05:57] santosh-pingle commented on #1291
looking into it.

[2022-04-20 06:29] santosh-pingle commented on #1291
`QuestionnaireItemGroupViewHolderFactory` view binding code is moved to the `QuestionnaireItemHeaderView` as result `localizedHintSpanned` is called on group item and returns text if it has nested display item.

To fix this issue either we just return null if `localizedHintSpanned` get called on group type item.
Another solution is add group check in `QuestionnaireItemHeaderView` if type is group

[2022-04-20 07:14] Tarun-Bhardwaj commented on #1265
@PallaviGanorkar , could you please check if this is still reproducible?

[2022-04-20 07:17] Tarun-Bhardwaj commented on #1193
@ktarasenko , did you get a chance to progress on this issue?

[2022-04-20 07:25] Tarun-Bhardwaj commented on #1138
@jingtang10 , is there something that needs to be done for this issue or can this be closed based on the comments from @stevenckngaa  above?

[2022-04-20 07:26] Tarun-Bhardwaj commented on #1137
@jingtang10 , are there any dates we have in mind to upgrade to Gradle build action v2?

[2022-04-20 07:27] #1133 closed

[2022-04-20 07:29] Tarun-Bhardwaj commented on #1103
@jingtang10 , is this something we are still looking at?

[2022-04-20 07:34] Tarun-Bhardwaj commented on #1091
Closing the issue based on comments from Francis.

[2022-04-20 07:34] #1091 closed

[2022-04-20 07:36] Tarun-Bhardwaj commented on #1053
@elviasiv , could you please share the actual branch so that it can help us move ahead with the fix?

[2022-04-20 07:37] Tarun-Bhardwaj commented on #950
@MUzairS15 , are you still facing this issue?

[2022-04-20 07:38] Tarun-Bhardwaj commented on #732
@jingtang10 , is this still required?

[2022-04-20 08:24] ktarasenko commented on #1193
Yes, json parser is leaking memory. Finalizing the discussions on possible solutions in #1280

[2022-04-20 16:04] #1291 closed

[2022-04-20 16:41] jingtang10 commented on #1033
this issue can be closed after two things:

- [ ] the issue Raazia is fixing. which is that in some cases we're not providing the context to fhir path engine correctly, causing it unable to evaluate expressions such as `today()`.
- [ ] we will also need a follow up PR to handle the population context properly using the launch context and population context extensions.

[2022-04-20 20:17] jingtang10 commented on #732
This can probably be closed. The current sunc API probably won't benefit much from DSL.

[2022-04-20 20:17] #732 closed

[2022-04-21 03:28] fredhersch commented on #1260
Any update here @santosh-pingle

[2022-04-21 04:24] santosh-pingle commented on #1281
questionnaire json with optionExclusive extension for example purpose only.

[code]

[2022-04-21 04:35] santosh-pingle commented on #1260
@fredhersch I have not started implementation yet as occupied with other issues, please let me check with @Tarun-Bhardwaj and @jingtang10

[2022-04-21 07:35] ndegwamartin opened #1316 "Support configuration of HTTP Client timeouts"
**Is your feature request related to a problem? Please describe.**
The reliant client app times out while trying to sync data from some fhir server endpoints e.g. _https://fhir.xyz.xyz.org/fhir/MedicationRequest?subject.organization=361&_count=100&_sort=_lastUpdated_

**Describe the solution you'd like**
The HTTP client currently has a default 10 seconds configured for the various timeouts. We nee

[2022-04-21 16:40] yigit opened #1317 "provide testing APIs"
`FhirEngineProvider` is currently a singleton, which is not great for tests as it leaks the engine (and the database) between tests (also to the disk so even between test runs).

This bug is to track what to do to better isolate our tests:
* `FhirEngineProvider`'s init method (or the config object) should have a "TestMode" similar to the database:
https://github.com/google/android-fhir/blob/9cffff

[2022-04-22 07:49] PallaviGanorkar commented on #1300
As per current implementation, this issue is not reproducible. But it must be tested in future when the feature will be implemented as per requirement.

[2022-04-22 11:05] jingtang10 opened #1318 "Validation API refactoring"
what's the relationship between this API and the `checkQuestionnaireResponse` API? if this API does everything the other one do, why do we need the other one? or, why shouldn't this API call the other one instead of repeating the same code?

a lot of the code in this function is basically duplicated code from the other function. this is an issue. this means either we're not reusing code correctly,

[2022-04-22 12:47] jingtang10 opened #1320 "Zip build files step in GitHub Actions skipped when tests fail"
**Describe the bug**
Zip build files step in GitHub Actions skipped when tests fail

**Component**
GitHub

**To Reproduce**
Steps to reproduce the behavior:
1. Go to GitHub actions results tab for any test run that's failing

**Expected behavior**
`build.zip` file uploaded

**Screenshots**
The zip step seems to be skipped and as a result the `build.zip` file isn't uploaded (because it doesn't exis

[2022-04-22 14:16] ktarasenko opened #1322 "Address FhirEngineProvider testability issues"
**Describe the Issue**
[FhirEngineProvider](https://github.com/google/android-fhir/blob/master/engine/src/main/java/com/google/android/fhir/FhirEngineProvider.kt) is a static singleton that holds the instance of [FhirServices](https://github.com/google/android-fhir/blob/master/engine/src/main/java/com/google/android/fhir/FhirServices.kt) and exposes an instance of FhirEngine to users.

For multi-t

[2022-04-22 15:15] jingtang10 opened #1323 "DropDown widget Espresso tests flaky"
**Describe the bug**
https://github.com/google/android-fhir/runs/6130147669?check_suite_focus=true

**Component**
SDC lib

**To Reproduce**
Steps to reproduce the behavior:
1. Run `QuestionnaireItemDropDownViewHolderFactoryEspressoTest.kt` locally in Android Studio

**Expected behavior**
Passes every time

**Actual results**
`shouldSetDropDownValueToAutoCompleteTextView ` fails frequently (but not

[2022-04-22 15:31] jingtang10 commented on #1323
this is effectively blocking all PRs going in. I've observed this locally where the test case `shouldSetDropDownValueToAutoCompleteTextView` doesn't pass... the expected value is Coding 3 but sometimes it's just empty...

[2022-04-23 05:23] #1033 closed

[2022-04-23 17:21] #1320 closed

[2022-04-25 09:58] aditya-07 opened #1329 "Provide Conflict Resolution capabilities for Downloaded Resources."
**Is your feature request related to a problem? Please describe.**
Engine should provide a way to resolve conflicts between local changes and remote changes to a resource while download is going on.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutio

[2022-04-25 16:12] jingtang10 opened #1330 "Move sdc library widget tests from instrumentation tests to robolectric tests"
**Describe the Issue**
At the moment we have a large number of instrumentation tests for the sdc library widgets that do not really need to be run on emulator.

By moving them to Robolectric tests, we will speed up test runs

**Would you like to work on the issue?**
Yes

[2022-04-25 16:21] jingtang10 opened #1331 "Investigate binary size of SDC library"
**Describe the Issue**
The SDC library binary size seems very large due to the mlkit dependencies required by the QR code reader. There might be afew solutions:

1. move the QR code reader to the catalog app
2. investigate if proguard can strip out the dependency
3. create a new release (`com.google.android.fhir:data-capture-contrib` or something similar) for the QR reader

**Would you like to wor

[2022-04-25 17:27] dubdabasoduba opened #1334 "[$apply] Adding the new Plan Definition, CarePlan and Task Resources as test cases."
**Is your feature request related to a problem? Please describe.**
- This is related to the `$apply` implementation. Adding these files helps us test the `$apply` further against real-life situations.
- Here is the list of resources to use https://github.com/opensrp/fhir-resources/tree/main/ecbis

**Expected Outcome**
- [ ] The CarePlan & Tasks should be generated as part of the `$apply` test case

[2022-04-26 02:07] fredhersch commented on #553
@ekigamba I saw that Bryn had provided a comment on the JIRA request suggesting that we explore other ways to implement this outside of FHIRPath. Please take a look.

[2022-04-26 02:09] fredhersch commented on #504
@Tarun-Bhardwaj @ekigamba Is this issue still open?

[2022-04-26 07:49] aditya-07 commented on #761
Fixed with this PR #880.

[2022-04-26 07:49] #761 closed

[2022-04-26 09:03] jingtang10 commented on #617
we run tests on api 30 now.

[2022-04-26 09:06] jingtang10 commented on #617
i think we also do this now: `have 1 task build all apks and other tasks to just run tests with the output of the previous task`

we have the `./gradlew build` step

and then test step for `./gradlew check` and then emulator test separated for each module e.g. `./gradlew :engine:connectedCheck`

so i think this can be closed.

@yigit @omarismail94 FYI

i'm gonna be aggressive and close this. but p

[2022-04-26 09:06] #617 closed

[2022-04-26 12:14] jingtang10 commented on #1241
closing in favour of #1307

[2022-04-26 12:18] jingtang10 opened #1336 "Workflow test OOM"
**Describe the bug**
As an example see https://github.com/google/android-fhir/runs/6162537814?check_suite_focus=true

[code]

**Component**
Workflow library

**To Reproduce**
Steps to reproduce the behavior:
1. Run unit tests on github actions (create any PR and wait for checks results, or just check github actions results page)

**Expected behavior**
Tests pass

**Screenshots**
NA

**Smartphone (

[2022-04-26 12:26] PallaviGanorkar commented on #1323
I have run QuestionnaireItemDropDownViewHolderFactoryEspressoTest on below device 15 - 20 times on each device, but could not reproduce this issue, device configuration as below
1. Nokia 3.2 Device, API level - 30
2. Nexus 5X Emulator, API level - 24
3. Pixel 4 Emulator, API level - 24
4. Pixel XL Emulator, API level - 27

[2022-04-26 14:31] jingtang10 commented on #1336
reopening - we should close after we re-enable this test.

[2022-04-27 08:27] jingtang10 commented on #1323
@PallaviGanorkar yesterday 13:48 BST: `But now I am able to reproduce this issue on Pixel 5 with API 32 emulator`

[2022-04-27 08:29] #1323 closed

[2022-04-27 14:51] ktarasenko commented on #1188
Will be addressed in PR #1326

[2022-04-27 14:52] ktarasenko commented on #1192
the issue is too broad. closing

[2022-04-27 14:52] #1192 closed

[2022-04-27 14:54] ktarasenko commented on #1193
closing, tracking duplicated issue #1336

[2022-04-27 14:54] #1193 closed

[2022-04-27 14:55] ktarasenko commented on #1322
duplicated issue #1317

[2022-04-27 14:55] #1322 closed

[2022-04-27 19:00] vitorpamplona opened #1340 "Resetting the database before and after each unit test"
**Describe the bug**

There doesn't seem to be a way to start a unit test with a fresh/clean database outside the Engine package, which uses the internal [inMemory](https://github.com/google/android-fhir/blob/13aa710c01a0bf222c4688a178c0de2accd2f4b6/engine/src/main/java/com/google/android/fhir/FhirServices.kt#L44) function for that.

Our Workflow tests, for instance, are saving the database in the

[2022-04-27 20:52] vitorpamplona opened #1341 "Upgrading JUnit and testing dependencies."
**Describe the Issue**

Version 4.12 has a [vulnerability](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-15250) and lacks some useful new (4.13) features like `assertThrows`

**Would you like to work on the issue?**

Yes.

[2022-04-28 07:27] #1330 closed

[2022-04-28 17:07] jingtang10 commented on #1331
Before we make a decision, would be nice to gather some facts:
- how big is the sdc lib at the moment?
- how much does the QR code reader add to the library size?
- Is it easily strippable by proguard if developer is building an app?
- if not strippable by proguard, can we make it so it is?
- if not in the sdc lib, does it make sense to create a separate binary for contrib widgets, or shall we jus

[2022-04-29 09:49] jingtang10 opened #1345 "this api (internal api) change is fine. But what this means is that the `questionnaireResponseItemRetriever` is going to become a little redundant. I think in this case we should remove `questionnaireResponseItemRetriever` and instead implement the functionality of finding the questionnaire response item from `linkId` inside of the `enablement` package."
this api (internal api) change is fine. But what this means is that the `questionnaireResponseItemRetriever` is going to become a little redundant. I think in this case we should remove `questionnaireResponseItemRetriever` and instead implement the functionality of finding the questionnaire response item from `linkId` inside of the `enablement` package.

i'm happy for this to be done in a follow-u

[2022-04-29 12:26] jingtang10 opened #1348 "Use DateFormat.SHORT in the sdc lib"
**Is your feature request related to a problem? Please describe.**
See this doc: https://developer.android.com/reference/android/icu/text/DateFormat

Note: `SHORT is completely numeric, such as 12.13.52 or 3:30pm`

I think that is something that we might want to use in the text input box for date and time pickers, especially if (and that's a big if @aditya-07 @shelaghm) we allow the user to actual

[2022-04-29 14:46] #819 closed

[2022-04-29 16:20] shelaghm commented on #1348
+1 to using short/numeric only dates.

[2022-04-30 00:07] #1317 closed

[2022-04-30 06:35] #1348 closed

[2022-04-30 10:17] #1135 closed

[2022-05-01 15:42] vitorpamplona commented on #1340
Solved by #1333

[2022-05-01 15:42] #1340 closed

[2022-05-03 14:23] jingtang10 opened #1357 "Test failing for SyncJobTest.kt"
**Describe the Issue**
e.g. https://github.com/google/android-fhir/runs/6273854127?check_suite_focus=true

[code]

**Would you like to work on the issue?**
yes

[2022-05-03 14:40] #916 closed

[2022-05-03 15:57] #1357 closed

[2022-05-04 06:46] santosh-pingle commented on #1223
https://github.com/google/android-fhir/pull/1232

[2022-05-04 06:46] #1223 closed

[2022-05-04 06:51] santosh-pingle commented on #1116
https://github.com/google/android-fhir/pull/1312

[2022-05-04 06:51] #1116 closed

[2022-05-04 06:52] santosh-pingle commented on #1115
Closing this issue as referenced pr are merged.

[2022-05-04 06:52] #1115 closed

[2022-05-04 06:54] santosh-pingle commented on #1048
https://github.com/google/android-fhir/pull/1296

[2022-05-04 06:54] #1048 closed

[2022-05-04 08:11] vadi2 opened #1360 "`answerOption.valueString` crashes SDC library"
**Describe the bug**
Loading a questionnaire with `answerOption.valueString` instead of `answerOption.valueCoding` as the library [expects](https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/MoreAnswerOptions.kt#L28-L29) causes a crash. valueStrings and other types are perfectly legitimate options [per the spec](https://www.hl7.org/fhir

[2022-05-04 10:09] vadi2 commented on #1360
An example where a valueInterger would be useful:

[code]

[2022-05-04 12:27] PallaviGanorkar commented on #1150
@jingtang10  @aditya-07

As discussed with @aditya-07 , Submit button should be removed from SDC and it will be handled in Application by application developer. But issue [1211](https://github.com/google/android-fhir/issues/1211) and PR [1201](https://github.com/google/android-fhir/pull/1201) are contradicting with the discussion.

Could you please clarify the requirement to fix this.

[2022-05-04 20:25] pld commented on #1038
Can you have the CQL or FHIRPath that makes up the candidateExpression use a value that was already entered in the Questionnaire (but has not yet been saved as a QuestionnaireResponse)?

If yes, then we can implement dynamic cascading selects with this, and we can close/this will cover the functionality requested in #979

[2022-05-05 06:15] santosh-pingle opened #1362 "Catalog app default layout text style does not match with figma."
**Describe the bug**
Default layout questionnaire screen text style doe not match with figma.

Check below attributes :
Text Style: Subheader/1 - 16pt
Font family: Google Sans
Font style: Medium
Font size: 16sp
Line height: 24sp
Letter spacing: 0.1dp

**Component**
reference app, or SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down

[2022-05-05 08:05] ekigamba opened #1363 "FHIR Engine sort by DateTime property not working"
**Describe the bug**
Performing a FHIR Engine search with sort on a DateTime property does not work

**Component**
Core library

**To Reproduce**

Run the following query inside code and you notice that the result is neither sorted nor filtered by the `Patient.meta.lastUpdated` date time
[code]

**Expected behavior**
The result should respect the filter and sort by `_lastUpdated`. The debugged que

[2022-05-05 08:06] ekigamba commented on #1363
@aditya-07 Kindly help me out on this bug. We implemented a workaround that currently enables us to run the raw query as is

[code]

I need to understand how and when the `DateTimeIndexEntity` table is supposed to be used and how the search API was designed to make such decisions

[2022-05-05 08:58] aditya-07 commented on #1363
@ekigamba The index table to search is decided by the type of `ClientParam` passed in the filter api. In the code snippet above, DateIndexEntity is being searched because filter is called upon `DateClientParam("_lastUpdated")`. You should pass `DateTimeClientParam("_lastUpdated")` for it to search in `DateTimeIndexEntity`.

Additionally, the last updated value that we are indexing is not the local

[2022-05-05 09:08] ekigamba commented on #1363
@aditya-07 I can't seem to find this class anywhere

- Link to hapi-fhir docs https://hapifhir.io/hapi-fhir/apidocs/hapi-fhir-base/ca/uhn/fhir/rest/gclient/package-summary.html
- Screenshots searching for the class on AS
![Screenshot from 2022-05-05 12-07-11](https://user-images.githubusercontent.com/31766075/166893537-7d198398-39eb-4348-895b-5d75474498c4.png)
![Screenshot from 2022-05-05 12-07-02

[2022-05-05 09:29] aditya-07 commented on #1363
@ekigamba Updated my comment above. `DateTimeClientParam` doesn't exits :(  and  `DateClientParam` has to be used.

[2022-05-05 10:01] ekigamba commented on #1363
Thanks @aditya-07 . I will try and use this to fix the issue

[2022-05-05 13:46] vitorpamplona opened #1365 "Compile CQL to ELM in the SDK"
**Is your feature request related to a problem? Please describe.**

[PlanDefinitions](https://build.fhir.org/plandefinition.html) can include [CQL expressions](https://build.fhir.org/clinicalreasoning-topics-using-expressions.html) directly. Those expressions need to be [compiled to ELM](https://github.com/DBCG/cql-evaluator/blob/eb9a6ae883e7a81a7d5b63a112a7f5ba405afa3d/evaluator.expression/src/ma

[2022-05-05 16:25] williamito opened #1366 "Current API for ResourceMapper.extract() is confusing"
Based on my experimentation, I believe there are two starting points for a developer wanting to provide a mapping for StructureMap-based extraction.

**Option 1**: Mapping is encoded in [FHIR Mapping Language](http://hl7.org/fhir/R4/mapping-language.html). This is the style reflected in [this test case](https://github.com/google/android-fhir/blob/master/datacapture/src/test/java/com/google/android

[2022-05-05 16:32] williamito opened #1367 "Test case for localized questionnaires should use CodeType instead of StringType?"
In [this test case](https://github.com/google/android-fhir/blob/master/datacapture/src/test/java/com/google/android/fhir/datacapture/MoreAnswerOptionsTest.kt#L74) the `lang` field is set using `StringType`. However the [translation extension](http://hl7.org/fhir/extension-translation.html) `lang` field should be of type `code`.

**Component**
SDC library

[2022-05-06 11:08] Tarun-Bhardwaj commented on #1366
@jingtang10 @aditya-07 , could you please discuss this and advise on the way forward?

[2022-05-06 11:30] Tarun-Bhardwaj commented on #950
Closing this issue as it is not reproducible.

[2022-05-06 11:30] #950 closed

[2022-05-06 12:03] RaaziaTarique commented on #1345
Yes, we can. @f-odhiambo CC: @jingtang10

[2022-05-06 15:28] jingtang10 commented on #1098
@KhumboLihonga can you share you questionnaire snippet if you have one?

This seems an important issue to me. If this is something the current widget doesn't support we should fix it.

We probably should also ask on FHIR chat about this.. not sure if they have a view on how this should be handled.

[2022-05-07 00:20] williamito opened #1371 "Add ability to get underlying Questionnaire from QuestionnaireFragment to pass to ResourceMapper.extract()"
Currently, a developer using `QuestionnaireFragment` needs their questionnaire encoded as a JSON `String` (or a `URI` pointing to a JSON file) to pass in the arguments. In contrast, `ResourceMapper.extract()` requires a questionnaire as a HAPI FHIR `Questionnaire` instance. Unless they are fetching the Questionnaire from a FHIR server, this requires the developer to to deserialize the JSON into a

[2022-05-07 20:59] pld commented on #1187
Would have logic to skip a set of elements in a Questionnaire handle this requirement?

[2022-05-08 10:22] kunjan8794 commented on #1103
Thanks, @jingtang10 - I think this is a really good alternative to the query approach. We'll definitely try this out.

[2022-05-09 12:01] KhumboLihonga commented on #1098
Thanks, following up.

[2022-05-09 22:49] vitorpamplona opened #1374 "PlanDefinition Activity Scheduler"
**Is your feature request related to a problem? Please describe.**

A PlanDefinition can produce a recurring action by setting `ActivityDefinition.timing[x]`. As an example, to specify that medication A has to be taken every day before breakfast, one would define an action once, and specify that it repeats every day using a [Timing](https://build.fhir.org/plandefinition-definitions.html#PlanDefini

[2022-05-10 05:48] PallaviGanorkar commented on #1208
This issue is fixed in PR https://github.com/google/android-fhir/pull/1275

[2022-05-10 05:49] #1208 closed

[2022-05-10 07:57] santosh-pingle opened #1376 "Update material3 theme in catalog and datacapture."
**Is your feature request related to a problem? Please describe.**
1. Update material3 theme in catalog and datacapture module.
2. Replace existing theme `Theme.MaterialComponents.*.NoActionBar`, `Theme.MaterialComponents.DayNight.DarkActionBar`  to `Theme.Material3.*.NoActionBar`
3. Also replace existing `Widget.MaterialComponents.*` with `Widget.Material3.*`
4. Check the behaviour.

**Describe t

[2022-05-10 12:49] vitorpamplona opened #1378 "Build a Benchmark Testing app"
**Is your feature request related to a problem? Please describe.**
Benchmarking certain FHIR Features in instrumented tests and/or benchmark modules is quite difficult. The team could use an app to constantly measure the performance of several elements and help identify appropriate phone configurations to run certain types of applications.

**Describe the solution you'd like**
Build and ship a FHI

[2022-05-10 13:00] f-odhiambo commented on #1038
@Tarun-Bhardwaj Kindly assign this ticket to @RaaziaTarique

[2022-05-10 13:01] f-odhiambo commented on #971
@Tarun-Bhardwaj Kindly assign this ticket to @maimoonak

[2022-05-10 13:05] f-odhiambo commented on #1039
Update on this ticket
We are unable to find any example questionnaires as this expression is still in draft from FHIR side.
http://build.fhir.org/ig/HL7/sdc/StructureDefinition-sdc-questionnaire-answerExpression.html ,
http://hl7.org/fhir/R4/versions.html#std-process

[2022-05-10 13:24] f-odhiambo commented on #1038
From the above comments by @RaaziaTarique and @pld , this issue/solutioin can be covered in issue #1039 and thus close it

CC @RaaziaTarique @pld @fredhersch @jingtang10 @RaaziaTarique

Kindly advise

[2022-05-11 07:27] joiskash opened #1381 "Definition based extraction for Extensions"
**Describe the bug**
 Definition based extraction for Extensions does not work since extraction is done using reflection. So in the example below from the [spec](http://build.fhir.org/ig/HL7/sdc/extraction.html#definition-extract) ":foo" will not exist in any object in HAPI.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:

1. Use the [registration questionnaire](http:

[2022-05-11 07:44] maimoonak commented on #971
The [draft PR](https://github.com/google/android-fhir/pull/1380) for current issue has basic implementation.
- The app runs calculated-expression for fields having extension
- It update the fields and returns correct value in questionnaireResponse
- App has an implementation in 'catalog' as well

Issues
- Still figuring out why app is not updating the value on UI (despite that value is updated and

[2022-05-11 08:13] joiskash opened #1382 "Custom SearchParameter for local search to support offline use case"
**Is your feature request related to a problem? Please describe.**
The current search implementation in the FHIR engine is based on the FHIR specification where it is specified that the default search strategy for token search as string is an exact match. We have a requirement to perform partial match to reduce the search space while displaying results on the UI.

**Describe the solution you'd lik

[2022-05-11 08:25] santosh-pingle opened #1383 "Bottom navigation menu text and icons are overlapped in material 3 in catalog app."
**Describe the bug**
1. Material3 theme
2. Check bottom navigation menu
3. icon and text are overlapped.

**Component**
reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
4. Click on '....'
5. Scroll down to '....'
6. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help

[2022-05-12 06:10] santosh-pingle opened #1388 "Dark theme support in catalog app."
**Is your feature request related to a problem? Please describe.**

Catalog app has below values for dark theme in night mode.
[code]
It need to be checked whether it gives desired output when theme mode get switched to the dark mode.

Also check whether extra material3 theme attributes for light and dark theme mode need to be defined when it supports material3.

**Describe the solution you'd like

[2022-05-12 06:11] santosh-pingle commented on #1388
@shelaghm

[2022-05-12 10:25] maimoonak commented on #971
PR for issue is ready for review
- working feature
- cyclic dependency detection on load
- on load and on update item value detection and reflection on UI.

@f-odhiambo @fredhersch

[2022-05-12 22:29] williamito opened #1391 "Add code documentation for StructureMapExtractionContext"
[`StructureMapExtractionContext`](https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/mapping/StructureMapExtractionContext.kt) does not have any documentation comments. The function type notation for the parameters of `structureMapProvider` would also benefit from including names, especially for the first `String` parameter, e.g. `(susp

[2022-05-13 12:15] jingtang10 commented on #1272
@shelaghm as i just commented in #1301, the correct UI behavior we think should be to grey out the prev/next buttons if navigation is not allowed. The thinking is that we should make the UI as responsive as possible, providing the user instant feedback. so that it's much better to grey out a button if the functionality is not available, than to allow the user to click it and then pop up some kind

[2022-05-13 14:20] #1108 closed

[2022-05-13 18:09] #1012 closed

[2022-05-13 20:28] #1027 closed

[2022-05-16 08:00] jingtang10 commented on #1300
This is obsolete after #1311

[2022-05-16 08:00] #1300 closed

[2022-05-16 09:42] jingtang10 commented on #1098
As a result of the conversation in the link above, I think we have the following options:

1. Simply use [answer options](https://www.hl7.org/fhir/questionnaire-definitions.html#Questionnaire.item.answerOption) (instead of answer value set) in the questionaire item. This means that the questionnaire might be a bit bloated as this needs to be done inline of the questionnaire item. The benefit is th

[2022-05-16 10:06] Tarun-Bhardwaj commented on #1039
@fredhersch @jingtang10 is there sample questionnaire that can be used in order to unblock this issue?

[2022-05-16 13:47] Tarun-Bhardwaj commented on #1038
@jingtang10 , could you please confirm if this issue can be closed basis that it will be addressed by #1039 ?

[2022-05-16 13:55] Tarun-Bhardwaj commented on #656
@f-odhiambo , though the associated PR #1195 is merged, what would it need to close this issue?

[2022-05-16 15:00] pld commented on #1038
#0139 relies on something in draft, and also I do not think supported by the SDC, but even if it was do we feel ok relying on something in Draft stage?

Seems safer to work off of `candidateExpression`, which is in trial-use

[2022-05-16 21:08] elviasiv commented on #1053
@Tarun-Bhardwaj I apologise for being inactive for so long, it's been a busy month!

Yes, I still have this issue, however I solved it with making my own `Patient` model that fits what the back-end accepts.

Due to the sharing of the branch, I cannot as the code is company code and I don't have branch of it on github. However I can provide parts of the code if that would help.

As I proceeded to w

[2022-05-16 23:01] shelaghm commented on #1272
@jingtang10 Would there be an error message in-line that would give users responsive feedback on what they need to fix in order to move to the next page? Or how would users know what to do to no longer see a greyed-out button?

After connecting with some accessibility designers and learning from what other teams that have done in a similar scenario, there's a recommendation to avoid greyed-out / d

[2022-05-17 07:24] KhumboLihonga commented on #1098
I have a preference for solution 1 because this problem is not specific to just a list of countries. Besides the countries, we have another list of districts that exhibits the same problem. Solution 2 is great and there probably should be a value set to represent countries but I feel like solution 1 gives us more flexibility for wherever else we might encounter this problem.

[2022-05-17 09:55] jingtang10 commented on #1345
@f-odhiambo done.

i created this ticket from a PR review comment and github does this automatically

[2022-05-17 10:07] jingtang10 commented on #1360
thanks very much for raising this @vadi2 - @santosh-pingle is working on this

[2022-05-17 10:09] jingtang10 commented on #1360
this is related (but different) to #1098. @santosh-pingle please also see the fhir chat discussion: https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/Answer.20value.20set.20and.20answers.20as.20string

[2022-05-17 12:09] #1376 closed

[2022-05-17 13:59] santosh-pingle commented on #1360
@jingtang10
Can you please confirm whether `QuestionnaireResponse` will always have answerOption type as Coding, if type in `Questionnaire` Item is `choice`?

[2022-05-17 20:11] williamito opened #1396 "Remove attribute "groupHeaderTextAppearanceQuestionnaire" from SDC styles files?"
I was trying to find what `groupHeaderTextAppearanceQuestionnaire` controlled in the UI but could find no references in the current `datacapture` project code. After some digging, I believe [this commit](https://github.com/google/android-fhir/commit/91fce32ee5cf2ad90b3fa6c51d45a2b487e0ea8c) refactored things to use `headerTextAppearanceQuestionnaire` instead, and overriding the value of `groupHead

[2022-05-18 04:25] PallaviGanorkar opened #1397 "Patient card takes long time to load Patient details"
**Describe the bug**
Local sever has 4752 patients. it takes time to load patient list, then select any patient from list.
Patient card page is displayed but here card is empty, it takes around 2min to load the details.

**Component**
Core library, SDC library, reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Lauch app have 4700+ resources (Patients)
2. Select any Patients
3. Se

[2022-05-18 08:56] f-odhiambo commented on #656
I think we can track the $apply issues based on @vitorpamplona updates. I am ok closing this issue. WIll update and coordinate with @maimoonak on where we can push the subsequent updates

[2022-05-18 09:19] aditya-07 commented on #860
This may be handled by Developer application in their respective `DownloadWorkManager`'s implementation.

[2022-05-18 09:19] #860 closed

[2022-05-18 14:21] Tarun-Bhardwaj commented on #1138
Closing the issue as per the last comments from Steven.

[2022-05-18 14:21] #1138 closed

[2022-05-18 14:24] Tarun-Bhardwaj commented on #1103
@kunjan8794 , could you please confirm if the solution provided by Jing is working for you? We'll close this issue accordingly.
CC: @jingtang10

[2022-05-18 14:31] Tarun-Bhardwaj commented on #1053
@elviasiv , what version of FHIR are you using? R4 or some earlier version? Providing parts of code would be helpful.

[2022-05-18 15:09] #1383 closed

[2022-05-19 08:07] joiskash commented on #910
@RaaziaTarique I had created this diagram to get a hold of how questionnaireResponseItems can occur for various questionnaireItem. It maybe of use while you implement the refactoring in #1369

[2022-05-19 08:57] jingtang10 commented on #1038
Agreed here with @RaaziaTarique. I think in order to implement the example in http://build.fhir.org/ig/HL7/sdc/expressions.html#candidateExpression, we will need x fhir query support. I suggest we add a pacakge in fhir engine with an API that takes an xfhir query and return a list of fhir resources. Can we do this as a starting point?

@maimoonak explained the real life use case of this in open sr

[2022-05-19 09:08] jingtang10 commented on #1039
@fredhersch i think the example with country/state/city in the original description of this issue doesn't quite match the exampel given in here http://build.fhir.org/ig/HL7/sdc/expressions.html#answerExpression for answerExpression.

From what we can see (discussed with @f-odhiambo @RaaziaTarique @maimoonak) the way this works is very similar to candidateExpression (see #1038), but answerExpressio

[2022-05-19 09:43] santosh-pingle opened #1402 "Modal widget in catalog app show blue color background."
**Describe the bug**
A clear and concise description of what the bug is.

Below changes are seen after updating questionnaire theme as material3 theme.

- Modal widget in catalog app has blue color background.
- Also  on user click answer option does not show selected background.

**Component**
SDC library, reference app,

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click o

[2022-05-19 09:54] parthfloyd opened #1403 "Generating careplan using workflow library."
**Describe the bug**
When trying to generate a careplan using the generateCarePlan method from FhirOperator.kt, it fails with an Notimplemented error.

**Component**
Workflow library

**To Reproduce**
Steps to reproduce the behavior:
1. Creating the patient, plandefinition and encounter resource in fhir engine. (Used dummy data from the test files)
2. Using the generateCarePlan method with the res

[2022-05-19 09:59] santosh-pingle commented on #1402
Working on it.

[2022-05-19 12:33] pld commented on #1038
A couple other use cases:
- Assigning a healthcare worker to a patient, from the set of Practitioners attached to a specific CareTeam, Organization, and/or Location
- Assigning a CareTeam, Organization, or Location to a patient from the set of those resources

CC @Gental-Giant @AnnieMungai @dubdabasoduba if you want to add other dynamic select use cases

[2022-05-19 13:37] vitorpamplona commented on #1403
Depends on Issues #1189 #1334 #1365 #915 and PRs: #1326 #1273 as well as:
- [FasterXML's 525](https://github.com/FasterXML/jackson-dataformat-xml/issues/525)
- [CQL's 746](https://github.com/cqframework/clinical_quality_language/issues/746)
- [CQL's 640](https://github.com/cqframework/clinical_quality_language/issues/640)
- [CQL's 742](https://github.com/cqframework/clinical_quality_language/issue

[2022-05-19 15:04] vitorpamplona opened #1407 "Evaluate simple math as CQL Expressions"
**Is your feature request related to a problem? Please describe.**

The following test case demonstrates the use of an ADD operation inside a CQL expression. This test must pass.

[code]
**Describe the solution you'd like**
The expression `1+3` should be assembled into a CQL library, [compiled to ELM](https://github.com/cqframework/clinical_quality_language/pull/748) and evaluated with the [CQL Ev

[2022-05-19 15:18] #1362 closed

[2022-05-19 19:57] RaaziaTarique commented on #1039
@jingtang10 I posted the query to zulip chat and got this reply https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/expression.20library/near/282944010
<img width="869" alt="Screenshot 2022-05-19 at 9 55 25 PM" src="https://user-images.githubusercontent.com/89384079/169393817-171af148-81c2-4d6e-9f36-8f55c62c0c9a.png">
CC: @f-odhiambo @maimoonak

[2022-05-20 01:53] fredhersch commented on #1246
@RaaziaTarique @jingtang10 has the approach here been resolved? Thanks

[2022-05-20 02:05] fredhersch commented on #1039
Thanks @RaaziaTarique @jingtang10 I've actually posted a follow up question on the FHIR chat to get some input. I see the point on the maturity level - thanks for flagging that - let's see what comes back.

I suppose we could use candidateExpression for the first set of options and constrain them to only select from the set provided (is this possible?).

What I don't understand is how you would th

[2022-05-20 07:34] santosh-pingle opened #1410 "DatePicker widget does not show white background."
**Describe the bug**
Questionnaire theme inherits material3 theme.
It shows blue container background in date picker widget.

**Component**
SDC library, reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
It should show white background.

**Screenshots**

<img width="433" alt="Screen Shot 20

[2022-05-20 10:16] santosh-pingle commented on #1410
With below change date picker container background color become white, but selected and current date does not show style.

[code]
so, this approach can not be used to make background white, because colorPrimary and colorOnPrimary are used to show current and selected date as well.
<img width="435" alt="Screen Shot 2022-05-20 at 3 45 36 PM" src="https://user-images.githubusercontent.com/86107848/16

[2022-05-20 11:20] santosh-pingle commented on #1410
With below change it shows date picker white background but overlaps the title "select date".
[code]

<img width="435" alt="Screen Shot 2022-05-20 at 4 46 38 PM" src="https://user-images.githubusercontent.com/86107848/169517202-9d63dee5-9e8a-49c5-a553-f6605bd5ed17.png">

So, can not apply this change.

[2022-05-20 11:31] santosh-pingle commented on #1410
It looks like dialog container color get applied as primaryColor value.
There is no style for dialog container which can be overridden for container color.
e.g `Widget.Material3.MaterialCalendar.HeaderLayout` can be used to override header background color.

[2022-05-20 11:39] santosh-pingle commented on #1410
Default datepicker material3 shows below visual.
`ThemeOverlay.Material3.MaterialCalendar`
<img width="438" alt="Screen Shot 2022-05-20 at 5 07 47 PM" src="https://user-images.githubusercontent.com/86107848/169520769-7775e610-30de-413b-90ec-a76289b089e2.png">

[2022-05-20 12:10] santosh-pingle commented on #1410
@shelaghm

[2022-05-23 05:50] fredhersch commented on #1039
@RaaziaTarique @jingtang10 @pld - I posted this on [FHIR Chat](https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/expression.20library) and get the following response from Lloyd Mackenzie.

<img width="883" alt="Screen Shot 2022-05-23 at 1 49 26 PM" src="https://user-images.githubusercontent.com/34733/169751938-adfcfa18-bf5a-4090-804b-501e90c897c8.png">

[2022-05-23 10:01] #1170 closed

[2022-05-23 13:12] #1168 closed

[2022-05-23 14:54] dubdabasoduba opened #1413 "[Documentation] Upload the child visit Plan Definition & expected CarePlan & Tasks sample resource for $apply testing."
**Describe the issue to be researched**
- We would like to be able to generate CarePlans & Tasks among other resources from a Plan Definition.
- This issue is to upload the Plan Definition and the expected CarePlan & Tasks samples to the extracted from the plan definition.

**Describe the goal of the research**
- This will help in ironing out the `$apply` functionality.

**Would you like to work o

[2022-05-23 15:50] #1410 closed

[2022-05-23 17:25] jingtang10 commented on #1366
@ekigamba fyi

[2022-05-23 17:33] jingtang10 commented on #1366
there's actually another option, we could remove the implementation in the data capture lib. and provide code snippets in our documentation for developers to do it themselves. this is because the implementatino itself is actually fairly simple, we use hapi's transform lib for that. this removes all the complexity in the code, and gives developers a lot of flexibility.

this is a drastic change, bu

[2022-05-23 17:33] jingtang10 commented on #1366
thanks @williamito for the excellent write-up!

[2022-05-23 18:03] jingtang10 commented on #1098
@KhumboLihonga can you try option 1 then if that's your preference? I don't think we ever tested different answer option types so we need to add some tests at the very least, but potentially will have a few bugs to fix.

[2022-05-23 18:04] jingtang10 commented on #1103
@kunjan8794 can you check this please?

[2022-05-23 18:07] jingtang10 commented on #1053
looking at your code again - i think the issue was that you were serializing the patient resource using gson lib. the correct way of doing this to talk to a fhir server is to use hapi's serialization library.

@williamito i wonder if we need to document this somewhere as well.

@elviasiv i'll close this for now. feel free to reopen if there's additional issues.

[2022-05-23 18:07] #1053 closed

[2022-05-24 07:35] #1305 closed

[2022-05-24 11:29] KhumboLihonga commented on #1098
@jingtang10 I checked out the [PR](https://github.com/google/android-fhir/pull/1399) meant to fix the issue you linked above and tested option 1. The the app doesn't crash and the drop down is displayed correctly. The Coding that will be generated in the QuestionnaireResponse can be extracted using a structure map. In addition, I'm assuming that when populating a drop-down using the initial expres

[2022-05-25 05:44] shelaghm opened #1416 "SDC Catalog App: Tiles on layout tab have inconsistent padding"
**Describe the bug**
Padding is not consistent. Padding around tiles should be 8px.

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Open SDC catalog app
2. Click on layouts tab

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Screenshot_20220524-145527](https://user-images.githubusercontent.com/86378921/1

[2022-05-25 05:49] shelaghm commented on #816
Adding a screenshot of the current build of this component in the SDCCatalog app. It's great to see we have the functionality to add free text and remove the choice.
![Screenshot_20220524-145734](https://user-images.githubusercontent.com/86378921/170188741-83227bcd-e966-4312-b976-01e21ad79e3a.jpg)
I'd love to see the open choice widget not be contained within the modal. I think it would be easier

[2022-05-25 05:53] shelaghm opened #1417 "SDC catalog app: Not enough padding between title and dropdown / DateTime"
**Describe the bug**
The padding should be 24px between title and dropdown element.

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to SDC catalog app
2. Click on dropdown

![Screenshot_20220524-145621](https://user-images.githubusercontent.com/86378921/170189415-d6a48ef4-c721-4e94-a595-f1cbcac10a30.jpg)

<img width="413" alt="Screen Shot 2022-05-24 at 22 53

[2022-05-25 05:57] shelaghm commented on #1402
@santosh-pingle While you are fixing this issue, can you also look at the padding of the checkboxes so they have 12px padding around the checkbox icon. Screenshot for reference. Thanks!
<img width="679" alt="Screen Shot 2022-05-24 at 22 56 48" src="https://user-images.githubusercontent.com/86378921/170190268-4e67a4ea-66d4-435a-bed7-a280451ccef7.png">

[2022-05-25 06:03] shelaghm commented on #1417
Same issue on DateTime picker
![Screenshot_20220524-145927](https://user-images.githubusercontent.com/86378921/170191137-e9661dff-d022-4c98-afac-e4e8ee8fa444.jpg)

[2022-05-25 06:13] shelaghm opened #1418 "SDC Catalog app: Date picker - Keyboard doesn't open when clicking text field"
**Describe the bug**
When clicking the text field on the DatePicker or DateTime picker, the keyboard doesn't open.

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to SDC catalog app
2. Click on Date picker
3. Click on text field (not the calendar icon)

**Expected behavior**
The expected behavior is that manual keyboard based entry should be possible. We sho

[2022-05-25 10:32] Tarun-Bhardwaj commented on #1001
@aurangzaibumer , what's the ETA you're targeting to close this issue?

[2022-05-25 16:08] shelaghm commented on #1418
@jingtang10 @aditya-07 tagging you for visibility for dependencies. Please also help prioritize.

[2022-05-25 16:22] shelaghm commented on #1402
@santosh-pingle Need to change the selected state BG color so it's not the same as the modal. Quick fix is to set the container color to white. @shelaghm to create M3 theming that works.

[2022-05-25 16:28] shelaghm commented on #816
@juanchazo does this relate to any of the work you did on modals?

[2022-05-25 16:57] dubdabasoduba opened #1420 "[Search] Make the _lastUpdated search parameter configurable."
**Is your feature request related to a problem? Please describe.**
- Currently, when we sync data from the server we use the `_lastUpdated` attribute to sync the latest resources.
- However, on subsequent syncs, the server will return resources that specifically match the timestamp provided for the `_lastUpdated` parameter. e.g
    - https://turn-fhir.smartregister.org/fhir/Group?_count=100&&code=

[2022-05-25 21:05] aurangzaibumer commented on #1001
Hello Tarun, this is already merged on monday with the following PR https://github.com/google/android-fhir/pull/1309

[2022-05-26 04:00] kevinmost commented on #1331
Looks like the QR reader adds ~7.3MB to the download size of the release APK, and ~13.4MB to the on-device install size.

Presumably it could be stripped by Proguard (~3MB downloaded -> ~8MB installed comes from the `.so` file, which could just be excluded in Gradle as well). However, as an application developer, I find it much more annoying to maintain a Proguard/Gradle excludes list, versus brin

[2022-05-26 04:50] kevinmost commented on #1331
By the way, I did the above investigation with [this cool Gradle plugin](https://github.com/spotify/ruler). Just sent a PR (#1421) to integrate it.

[2022-05-26 09:30] ekigamba commented on #1391
This is correct. Thanks for bringing this up :smile: . I believe that we might have more complicated uses that we might not be supporting and can possibly have an issue to define and implement this when needed. I might have overlooked this during the implementation

This is a mistake. I probably forgot this while refactoring the code and documentation.

I agree on this also.

[2022-05-26 09:38] ekigamba commented on #1391
@williamito On the API design for `$extract` while using StructureMap-based extraction, can we get further clarification since the output expectations provided here http://build.fhir.org/ig/HL7/sdc/extraction.html#output-expectations contradict what is documented on this page http://build.fhir.org/ig/HL7/sdc/StructureDefinition-sdc-questionnaire-targetStructureMap.html

[2022-05-26 10:29] jingtang10 commented on #1418
@aditya-07 disabled this in a previous PR. the reason was that we do not have a good way of ensuring the user enters well-formed date time string and validating it. at the moment, the dialog opens if the user clicks the icon. we do need to eventually re-enable this. but we do need to look into a solution that actually works.

@aditya-07 to comment.

[2022-05-26 10:34] jingtang10 commented on #1150
is this a duplicate of #1088

[2022-05-26 10:37] parthfloyd commented on #1403
I tried out the **generateCarePlan** method again after the **FhirEngineDal.read** method was implemented.
It failed with a different **NotImplementedError**, in the **PlanDefinitionProcessor.java of CQL-Evaluator**.

Precisely, **URI Definition & Questionnaire Definition Evaluation** is not yet implemented in the **resolveDefinition** method of PlanDefinitionProcessor. For now the method only sup

[2022-05-26 10:38] #1150 closed

[2022-05-26 10:39] jingtang10 commented on #1150
discused with @PallaviGanorkar @aditya-07 and @santosh-pingle - we agreed that the option to have submit button inside the qustionnaire is useful, and santosh is working on this as part of #1088. once that change is merged, we will look at removing the submit button in the demo app so that it's using the in-questionnaire submit button. fyi @shelaghm

[2022-05-26 13:35] ekigamba commented on #1366
Seeing this @jingtang10. We can have a follow-up call on this

[2022-05-26 15:07] vitorpamplona opened #1423 "Import XML versions of compiled CQL Libraries"
**Is your feature request related to a problem? Please describe.**
FHIR allows CQL Library makers to expose their libraries as complied ELM objects exported to JSON and XML. While JSON libraries can easily be imported with Jackson, the XML versions of the same libraries historically required JAXB to import. JAXB is not available on Android.

For example, the FHIR Helpers library is exposed as:

[c

[2022-05-26 21:47] shelaghm opened #1424 "Update theme/colors to Material 3"
**Is your feature request related to a problem? Please describe.**
Added color guidance for missing color attributes for components using Material 3. Relates to issues #1388 #1402

**Describe the solution you'd like**
Update to M3 colors as specified in figma file.

**Describe alternatives you've considered**
Leaving as is.

**Additional context**
See figma link.

**Would you like to work on the i

[2022-05-26 21:51] shelaghm commented on #1388
@santosh-pingle Please check-out [ figma link](https://www.figma.com/file/xC9sMEdb18Yx1HmXJYIK32/Myco-Modules?node-id=2418%3A112841) for dark theme color attributes.

[2022-05-27 04:37] joiskash opened #1425 "Issue using Appium to test application using SDC"
**Is your feature request related to a problem? Please describe.**
Our team is trying to use Appium to test applicaiton that use the SDC. [Appium ](http://appium.io/docs/en/commands/element/find-elements/) In the documentation, it is recommended to have unique identifiers for UI elements. Currently the SDC reuses layouts based on widget type. That results in the same resource id for each drop down

[2022-05-27 04:40] joiskash opened #1426 "Logging HTTP API calls that are invoked by the FHIR Engine while syncing"
**Is your feature request related to a problem? Please describe.**
We have a requirement to log HTTP API calls. Logging is needed to analyze data packet size, time taken for API calls, failures etc.

**Describe the solution you'd like**
We would like to have an opening to pass an HTTPLoggingInterceptor to okHttpClient used by the FHIR engine.

**Describe alternatives you've considered**
No alterna

[2022-05-27 04:54] joiskash opened #1427 "questionnaireStateFlow not emitting as expected"
**Describe the bug**
The questionnaireStateFlow is a combination of two flows

1. Modification count
2. pageFlow

The expectation is that every time modificationCount changes i.e. every time an answer changes due to user action, the combination of the flow should trigger resulting in getQuestionnaireState emitting a new state that is continuously being collected by the QuestionnaireFragment.

We h

[2022-05-29 12:22] #1107 closed

[2022-05-30 11:30] santosh-pingle commented on #1424
Basically, we need to update hexadecimal values for above color tone with material 3 attributes.
Figma will be used to read color tone values.

We can also refer color tool https://material-foundation.github.io/material-theme-builder/#/custom
Please refer below material 3 theme attributes to update tonal palette.

[code]

cc @jingtang10 @shelaghm

[2022-05-30 11:47] #1088 closed

[2022-05-31 04:05] prajapati-chirag commented on #1103
@jingtang10 @Tarun-Bhardwaj Above solution works for us.

[2022-05-31 04:05] #1103 closed

[2022-05-31 09:31] santosh-pingle commented on #1424
Working on it.

[2022-06-01 12:03] santosh-pingle opened #1432 "Multiple choice selected state in material 3."
**Describe the bug**

@shelaghm
After adding material 3 theme color, we are seeing color ui issues when multiple choice options get selected.

#1424

<img width="430" alt="Screen Shot 2022-06-01 at 5 22 30 PM" src="https://user-images.githubusercontent.com/86107848/171398876-50f66947-12b7-4877-b1de-918326ffb80c.png">

<img width="435" alt="Screen Shot 2022-06-01 at 5 23 00 PM" src="https://user-im

[2022-06-01 12:05] santosh-pingle commented on #1432
@shelaghm can you please revise figma ui design as per material 3

[2022-06-01 13:01] #1211 closed

[2022-06-01 21:30] shelaghm commented on #1432
@santosh-pingle

Please take a look at the figma / screenshot for the selected state values. These surface selection colors are based on the M3 design guidelines and uses an opacity of 12% for a selected state.

The other change is that the dialog/modal card is also set at 11% opacity.
<img width="1140" alt="Screen Shot 2022-06-01 at 14 29 35" src="https://user-images.githubusercontent.com/8637892

[2022-06-02 10:23] #1424 closed

[2022-06-02 12:53] f-odhiambo commented on #1420
Added a query on Zullip too https://chat.fhir.org/#narrow/stream/179166-implementers/topic/Actual.20Date.20created.20vs.20lastUpdated

CC @fredhersch @jingtang10 @Tarun-Bhardwaj

[2022-06-03 10:05] jingtang10 commented on #1272
@shelaghm thanks so much for this - super helpful insights.

i think the only concern i have is that if there's enough feedback so the user knows that they're being held on the same page because of the validation errors. we show the validation errors as the user goes through questions. So there might need to be a little bit of additional UX (i've seen on some web forms with flashing errors when yo

[2022-06-03 10:46] #1432 closed

[2022-06-03 10:47] f-odhiambo commented on #1040
Updated from @aurangzaibumer

Had a technical discussion with @maimoonak

1. if I get a direct value, will directly use it in calendar constraint
2. if I get an extension inside an extension that is cqf-caluclated value then we have to process it through fhir path engine and get the desired result and apply it on calendar constraints.
4. Was  able to get the valueDate from the minValue and maxValu

[2022-06-06 14:22] KhumboLihonga opened #1439 "SDC: Include 'text' attribute in QuestionnaireResponse"
**Is your feature request related to a problem? Please describe.**
I have a scenario where I need to record the weight and the height of a patient. With these two values, I need to show the patient's MUAC assessment in a 'display' widget. I want to save the text of the 'display' widget to our server using structure map based extraction but the items in a QuestionnaireResponse only include the 'lin

[2022-06-06 18:57] #1229 closed

[2022-06-06 19:42] jingtang10 commented on #1439
thanks for raising this @KhumboLihonga - am i right in saying you would like for the questionnaire response generated by structured data capture library to include the text field? what's the use of this? isn't the text field just going to be a copy of the text field of the questionnaire resource? can you just access the questionnaire? thanks

[2022-06-07 06:05] santosh-pingle opened #1441 "Update single choice and boolean choice as per figma."
**Describe the bug**
Update single choice and boolean choice drawable when options get selected.
Please refer figma for UI/UX.
Please refer multiple choice component as reference.

<img width="496" alt="Screen Shot 2022-06-07 at 11 35 05 AM" src="https://user-images.githubusercontent.com/86107848/172307467-4300aebb-0382-4c57-ac07-35f7658d596e.png">

**Component**
Core library, SDC library, referen

[2022-06-07 06:11] santosh-pingle commented on #1402
https://github.com/google/android-fhir/pull/1431

[2022-06-07 06:11] #1402 closed

[2022-06-07 08:02] santosh-pingle commented on #1441
In progress.

[2022-06-07 09:32] PallaviGanorkar commented on #1397
Here are some finding,

<google-sheets-html-origin><style type="text/css"></style>

Screnario | non-encrypted-DB | Encrypted-DB
-- | -- | --
after first time app launch open Patient card | within 1sec | within 1sec
senconde time onwards | ~20sec | `2min
app is idle for long time then select patient to open Patient Card | within 1sec | within 1sec

[2022-06-07 09:43] PallaviGanorkar commented on #1397
1.  db.withTransaction  statement in DatabaseImpl take around 2min which means its taking time to get the lock
2. I have tried by removing DB transaction, but still select query takes time around 2min

[2022-06-07 09:57] santosh-pingle opened #1444 "Update Widget.Material3.* as default style in datacapture."
**Describe the bug**
A clear and concise description of what the bug is.

- DataCapture widget default style still refers  appcompat or material 2 style
- Update existing style to Widget.Material3.*
- Below are some references of default style are not referring material 3.
[code]
[code]

**Component**
SDC library
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3

[2022-06-07 11:52] santosh-pingle opened #1446 "Update material3 typography."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Datacapture default style has references to material 2 typography.
Update material2 typography to material3 typography.

e.g
[code]

**Describe alternatives you've considered**
A clear and concise descr

[2022-06-07 14:55] KhumboLihonga commented on #1439
- am i right in saying you would like for the questionnaire response generated by structured data capture library to include the text field? -> Yes, you are right.
- what's the use of this? -> in my scenario, the given weight and height combination will enable a specific display item that shows the MUAC assessment for those two values. We want to be able to record this assessment as an observation

[2022-06-07 18:13] #1441 closed

[2022-06-07 20:56] williamito opened #1450 "Subtitle text not behaving as expected"
Case 1: The text "Correct!" appears twice, once incorrectly above the question "Cats are better than dogs", and once correctly based on the `enableWhen` element.
[code]
![image](https://user-images.githubusercontent.com/7772901/172480010-6735ffef-38ba-4021-8e1b-f379d0c2edf7.png)

Case 2: When `enableWhen` is a child of the item, the "Correct!" text never appears. It still shows up incorrectly abov

[2022-06-07 22:10] jingtang10 commented on #1450
@PallaviGanorkar can you take a look at this please

[2022-06-08 05:24] santosh-pingle commented on #1446
mdc 3 implementation https://m3.material.io/libraries/mdc-android/typography-theming

[2022-06-08 05:25] santosh-pingle commented on #1446
typography token https://m3.material.io/styles/typography/type-scale-tokens

[2022-06-08 05:40] santosh-pingle commented on #1446
Guideline defined in figma.
<img width="486" alt="Screen Shot 2022-06-08 at 11 09 06 AM" src="https://user-images.githubusercontent.com/86107848/172540085-b0a029f8-bda5-4544-941d-47375c25211d.png">

[2022-06-08 08:38] maimoonak commented on #726
- The PR has some sample working code which would need refactor of methods like getGuestionnaireResponse1, commented out code... etc
- Test with latest code and make any changes required
- Add folding button as in mockup above
- The ResourceMapper and extraction and population not updated to handle the changes
- Validation of questionnaire and response to be tested
- Add sample layout in library
-

[2022-06-08 13:13] jingtang10 commented on #1331
@ekigamba @f-odhiambo @pld FYI

Thanks so much @kevinmost for the investigation and for sending the PR 🙏

[2022-06-08 18:24] #1444 closed

[2022-06-08 20:14] #1316 closed

[2022-06-09 19:29] #346 closed

[2022-06-09 20:50] maimoonak opened #1453 "Questionnaire crashes on choice options greater than 10 which opens QuestionnaireItemDialogSelectViewHolderFactory"
**Describe the bug**
Application crashes for questions having choices >= 10,

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Open a questionnaire with choices count > 10 which triggers the dialogue widget, and which in turn crashes. An example is https://pastebin.pl/view/cae6a75d, where clicking 'yes' on danger signs question makes questionnaire crash (use yes in a

[2022-06-13 08:30] #1297 closed

[2022-06-13 11:51] santosh-pingle opened #1455 "Update subtitle and flyover text in paginated questionnaire json in catalog app."
**Describe the bug**
Update existing paginated questionnaire json structure as per subtitle/hint and flyover text.

**Component**
reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshot

[2022-06-13 12:59] santosh-pingle commented on #1114
https://github.com/google/android-fhir/pull/1435

[2022-06-13 12:59] #1114 closed

[2022-06-13 13:00] santosh-pingle commented on #1388
https://github.com/google/android-fhir/pull/1431

[2022-06-13 13:00] #1388 closed

[2022-06-13 13:02] santosh-pingle commented on #1287
#1313

[2022-06-13 13:02] #1287 closed

[2022-06-14 19:54] williamito opened #1457 "Integrate Dokka into all SDK components and build API reference docs"
**Describe the Issue**
Kotlin's documentation generation tool is called [Dokka](https://github.com/Kotlin/dokka). API reference docs should be available for developers, and rebuilding them should be a part of every release. Looking at the diff in generated reference docs between versions is a strong tool for understanding changes between versions. Code-level documentation is also tightly integrate

[2022-06-15 17:19] #1446 closed

[2022-06-15 19:09] jingtang10 commented on #726
@kevinmost i wonder if you can take a look at this after what you're working on right now

[2022-06-16 05:27] santosh-pingle commented on #1417
In progress.

[2022-06-16 06:40] shoaibmushtaq25 commented on #1059
Based on Jing’s feedback in a call, I am working on a solution to

1.  Find out dependent variables after building some sort of dependencies map of variables
2.  When a variable gets updated, instead of updating all the variables,  update only the dependent variables
3.  Test all the cases to make sure all are working fine, add failing and new test cases

Out of these 3, I am done with Step 1 ([PR

[2022-06-16 07:56] #1455 closed

[2022-06-16 11:27] jingtang10 commented on #1360
I think one consequences of this issue is that if we have a string/integer/date/time/whatever questionnaire item with answer options, we should render it using a "choice" widget such as dropdown, instead of a text input. at the moment we pick the widget using the questionnaire type (e.g. if it's a string, we have text input, if it's date, we have a date picker) but it seems we need to have some lo

[2022-06-16 13:12] Tarun-Bhardwaj commented on #1378
@vitorpamplona , is there an ETA by when PR can be created for review?

[2022-06-16 13:20] vitorpamplona commented on #1378
Hum.. we have not prioritized this one yet. I suggested this idea at the same time other team members suggested a Benchmark module connected to a Google Cloud service to test on real devices inside the project. I am not sure where the discussion landed, but I believe other team members were testing the Benchmark idea out to see if we really need a new app.

@jingtang10 @ktarasenko what do you thin

[2022-06-16 13:41] jingtang10 commented on #1100
For profiling in Android Studio, try to use the profiling tool https://developer.android.com/studio/profile/android-profiler.

We don't have exact targets yet - but to get some initial results on the performance will help us understand how much effort we need to put into this work.

[2022-06-16 13:43] jingtang10 commented on #1100
@yigit might also have some experience with profiling

[2022-06-16 13:55] jingtang10 commented on #504
we can extract multiple resources after #670 - that's correct.

@ekigamba 's comments on expressions will be addressed by multiple other tickets regarding expressions.

so i think this issue can be closed.

[2022-06-16 13:55] #504 closed

[2022-06-16 15:56] yigit commented on #1100
https://developer.android.com/topic/performance/benchmarking/microbenchmark-overview is the place to start.

Profiling tool in studio can be helpful at some level to understand where time is mainly spent but afterwards you still need to write a benchmark to understand optimizations.

@shoaibmushtaq25 , it is very hard to define how long it takes as it will depend on the device state, capacity, dis

[2022-06-17 04:58] parthfloyd opened #1458 "Structuremap: unknown input variable exception"
**Describe the bug**
While using structuremap to extract resource from questionnaire, It is throwing exception:

org.hl7.fhir.exceptions.FHIRException: **Unknown input variable tgt** in https://fhir.dk.swisstph-mis.ch/matchbox/fhir/StructureMap/emcarea.registration.p **rule EmCare.A.DE01-1** (vars = source variables [qr: (QuestionnaireResponse), item: (QuestionnaireResponse.item), a: (Questionnair

[2022-06-17 09:27] jingtang10 commented on #656
Let's close this issue once we address everything in @maimoonak 's commit in her comment above. @maimoonak please close this issue or raise a PR if necessary.

[2022-06-17 09:29] jingtang10 commented on #716
i think this is done as part of #1195

[2022-06-17 09:29] #716 closed

[2022-06-17 09:33] jingtang10 commented on #1403
reformatting vitor's comment:

Depends on Issues

- #1189
- #1334
- #1365
- #915
- #1374
- #656

and PRs

- #1326
- #1273

as well as

- https://github.com/FasterXML/jackson-dataformat-xml/issues/525
- https://github.com/cqframework/clinical_quality_language/issues/746 and PR https://github.com/cqframework/clinical_quality_language/pull/748
- https://github.com/cqframework/clinical_quality_languag

[2022-06-17 09:36] jingtang10 commented on #1334
@dubdabasoduba any progress here?

@vitorpamplona did we decide if this is still needed?

[2022-06-17 09:38] jingtang10 commented on #1413
@dubdabasoduba is this same or different from #1334?

Also please address the comment in the PR #1412.

[2022-06-17 13:23] jingtang10 commented on #1417
@shelaghm 1) how big should the gap be between the last input widget of the previous question and the question title of the next question 2) if there's subtext to a question title, how big should the gap be between the question title and the subtext, and the subtext and the input widget below the subtext?

@santosh-pingle these things determine if you should implement the gap on the question title

[2022-06-17 14:11] dubdabasoduba commented on #1413
Closing this since it's a duplicate

[2022-06-17 14:11] #1413 closed

[2022-06-17 15:58] joiskash commented on #1272
Ok that seems like the right thing to do !

[2022-06-17 16:45] jingtang10 commented on #726
@juanchazo fyi as well since this is related to sdc lib and ui changes

[2022-06-17 20:38] ktarasenko commented on #1378
sounds great, I'd love to see something like that.
@jingtang10 were there already any other efforts for benchmarking the SDK?

[2022-06-18 23:15] #1331 closed

[2022-06-20 11:31] f-odhiambo commented on #1246
**Updates on this**
1. Min/Max validation Works for Date but not other data types  - https://github.com/google/android-fhir/pull/1442
2. calculated-expression  -  https://github.com/google/android-fhir/pull/1380
3. calculated-value  - https://github.com/google/android-fhir/pull/1442
4. Implement calculated-expression extension  1059 | variables -> https://github.com/google/android-fhir/pull/1328
5

[2022-06-20 11:45] f-odhiambo commented on #1439
@jingtang10 any feedback on this approach? CC @Tarun-Bhardwaj @KhumboLihonga

[2022-06-20 22:31] shoaibmushtaq25 commented on #1059
The PR is updated with step 1, step 2 and step 3(partially, need to work on unit tests) of the solution mentioned above. cc: @maimoonak @f-odhiambo

[2022-06-21 07:39] ekigamba commented on #1363
@jingtang10 Here is the research document https://docs.google.com/document/d/1ALYulBGNwSg-Agqbx4qcgOaAVtUg70GXL_mOTnN5v1s/edit?usp=sharing. Kindly review

[2022-06-21 13:58] jingtang10 opened #1464 "com.google.android.fhir.sync.SyncJobTest > sync time should update on every sync call FAILED"
java.lang.IndexOutOfBoundsException at SyncJobTest.kt:215

https://github.com/google/android-fhir/runs/6799612090?check_suite_focus=true

[2022-06-21 17:52] #1464 closed

[2022-06-21 20:10] williamito commented on #1457
I created a PR that adds simple configs for Dokka. In addition I think we could:
* Add a doc generation step to release process
* Check in the generated documentation
    * This should only be updated with releases, i.e. the reference docs reflect the most recent release and not head
* Enable Github Pages pointing to the location where documentation is checked in to render the reference docs

Woul

[2022-06-21 22:56] shelaghm commented on #1417
<img width="927" alt="Screen Shot 2022-06-21 at 15 50 35" src="https://user-images.githubusercontent.com/86378921/174910128-39ca721f-740a-4f11-972a-7c679d6b4c26.png">
This mockup should help answer the question.

[2022-06-22 08:24] jingtang10 commented on #1382
- partial search of a token (e.g. use contains, basically treating a token as a string) <-- highest priority
- extension search <-- second priority
- normal search <-- there's nothing that's needed

[2022-06-22 12:25] PallaviGanorkar opened #1469 "Some time Sync FInished state is not notified to MainActivity / PatientListFragment fron FhirSyncWorker"
**Describe the bug**
Some time Sync FInished state is not notified to MainActivity / PatientListFragment fron FhirSyncWorker

**Component**
Core library, reference app,

**To Reproduce**
Steps to reproduce the behavior:
1. Install and launch Demo app
2. Open Hamburger Menu
3. Click on 'Sync'
4. See error in device logs: Sync status is notified to main activity like Started and In Progress but Fini

[2022-06-22 12:41] #1416 closed

[2022-06-23 08:27] joiskash commented on #1426
We have modified the RemoteFhirService.kt class by adding a custom HttpLoggingInterceptor that logs Http calls at the HttpLoggingInterceptor.Level.HEADERS .

[code]

More details can be found here :

https://github.com/joiskash/android-fhir/blob/kj/fork-anc/engine/src/main/java/com/google/android/fhir/sync/remote/RemoteFhirService.kt

[2022-06-24 08:27] PallaviGanorkar opened #1472 "Purge API implementation"
**Describe the bug**
Problem with the current engine SDK design is if records are marked for deletion in the local database, these changes would be pushed to the server resulting in data loss.

Common scenarios
CUJ 1: Purge all local data
CUJ 2: Client initiated purge
CUJ 3:  Server initiated purge

**Component**
Core library

**Expected behavior**
Engine SDK must provide API to support all 3 scen

[2022-06-24 08:37] Tarun-Bhardwaj opened #1473 "Error handling for questionnaire rendering"
**Is your feature request related to a problem? Please describe.**
We should triage all the exceptions we through during questionnaire rendering and figure out if we do want to throw exceptions or handle errors in a more lenient way - so that we don't get client applicaitons crashing all the time.

This is more of a triage and design task, there will be some code change at the end, but I think tho

[2022-06-24 08:42] Tarun-Bhardwaj opened #1474 "Extraction performance - Initial testing and benchmarking of extraction work"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-06-24 08:44] Tarun-Bhardwaj opened #1475 "Customized styling improvements"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-06-24 10:01] #545 closed

[2022-06-24 11:35] anshul90 opened #1476 "Unable to find UnitConverter and Converter Exception"
**Describe the bug**
I'm adding FIHR Engine as the module in my project but unable to find UnitConverter and Converter Exception. I'm creating a new build.gradle as my project supports Groovy files only. Mentioned my gradle.file below . I'm getting only two errors:

1. Unable to  UnitConverter and Converter Exception
2. Cannot access <init> of FilterCriteria file.

[code]

Added the screenshots of

[2022-06-27 10:12] PallaviGanorkar commented on #1469
Here are some findings about this issue,

1. Some time WorkInfo has state ENQUEUED and progress is empty, in this case UI is not notified with FInished state though
_FhirSynchronizer: download collect Success(...)_ and resulting state is Finished
 _FhirSynchronizer: setSyncState state : Finished(result=com.google.android.fhir.sync.Result$Success@b730f36)_

[WorkInfo{mId='29f0ef50-870e-4674-a511-6e

[2022-06-27 10:15] PallaviGanorkar commented on #1469
[FinishedStateNotNotified_LogsUsedForFindings.txt](https://github.com/google/android-fhir/files/8990963/FinishedStateNotNotified_LogsUsedForFindings.txt)

[2022-06-28 06:29] shoaibmushtaq25 commented on #1059
All three steps completed, [PR#1328](https://github.com/google/android-fhir/pull/1328) is ready for review by Google team.

[2022-06-28 06:37] santosh-pingle opened #1477 "The checkbox is very close to the left edge"
**Describe the bug**
The checkbox is very close to the left edge.

![unnamed](https://user-images.githubusercontent.com/86107848/176110003-7806da4b-0100-40a9-812b-a8fa93c7c713.png)

**Component**
Core library, SDC library, reference app, or SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior

[2022-06-28 06:39] santosh-pingle commented on #1477
in progress.

[2022-06-28 06:42] santosh-pingle commented on #1477
<img width="433" alt="Screen Shot 2022-06-28 at 12 11 56 PM" src="https://user-images.githubusercontent.com/86107848/176111081-f1ccd3f6-c15e-4271-a91e-654395ece481.png">

[2022-06-29 08:27] shoaibmushtaq25 commented on #1059
**The Implemented Solution on [PR#1328](https://github.com/google/android-fhir/pull/1328):**

1. First we prepare a map of linkIds to QuestionnaireItemPath
2. In the QuestionnaireState, we are trying to calculate all the variables(root level, group level, item level) so that the variables having simple expressions and are not dependent on any other variables/answer values gets their value calculat

[2022-06-29 08:28] shoaibmushtaq25 commented on #1059
**The Implemented Solution on [PR#1328](https://github.com/google/android-fhir/pull/1328):**

1. First we prepare a map of linkIds to QuestionnaireItemPath
2. In the QuestionnaireState, we are trying to calculate all the variables(root level, group level, item level) so that the variables having simple expressions and are not dependent on any other variables/answer values gets their value calculat

[2022-06-29 09:48] shoaibmushtaq25 commented on #1059
**Summary of Implemented Solution on [PR#1328](https://github.com/google/android-fhir/pull/1328):**

1. Firstly, we prepare a [map of linkIds to QuestionnaireItemPath ](https://github.com/google/android-fhir/pull/1328/files#diff-1f4ba456c28c5400e29ae89383faf8d1a8d9109c80299bc0efb1ed3cf11818b2R125)
![Screenshot from 2022-06-29 13-28-59](https://user-images.githubusercontent.com/12672919/176390093-5

[2022-06-29 16:16] shelaghm commented on #1418
Team discussion:
- Open keyboard (no dialog opens) when pressing input box (not the calendar icon)
- Validate using android system date format.

[2022-06-29 16:41] omarismail94 opened #1482 "Espresso Test fails if Screen Size too small"
**Describe the bug**
In the [QuestionnaireItemDialogMultiSelectViewHolderFactoryEspressoTest](https://github.com/google/android-fhir/blob/master/datacapture/src/androidTest/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDialogMultiSelectViewHolderFactoryEspressoTest.kt#L56) test class, the test involves clicking on text. Because my screen is tiny,  "Coding 3" is not fully!! within

[2022-06-29 18:58] #978 closed

[2022-06-30 10:32] joiskash opened #1483 "Fine control over upload resources"
**Is your feature request related to a problem? Please describe.**
The download manager allows you to pick and choose what you want to download.
The uploader creates a bundle with all the local changes.  We would like to have control over which resources get uploaded. Some of the use cases could be :

1. Uploading a patient resource + the references related to it .
2. Breaking up the bulk upload b

[2022-06-30 11:26] jingtang10 commented on #1483
cc @omarismail94 @aditya-07

[2022-06-30 12:18] jingtang10 commented on #656
@vitorpamplona @brynrhodes can you help here please?

[2022-06-30 17:03] Itskiprotich commented on #1483
Similar to this, I have a scenario where I'm pulling resources. I.e Encounters referencing other encounters using the Encounter.partOf. The challenge comes in when only the observations for the parent Encounter are pulled while the other Encounters have blank observations. Any workaround on this? Thanks

[2022-07-01 13:15] #1360 closed

[2022-07-01 14:12] jingtang10 commented on #1246
#1442 has comments to be addressed.

[2022-07-04 07:14] joiskash commented on #1427
According to  **Strong equality-based conflation** section in https://kotlinlang.org/api/kotlinx.coroutines/kotlinx-coroutines-core/kotlinx.coroutines.flow/-state-flow/

Since QuestionnaireItemViewItem is just a wrapper around the questionnaireResponse items, the new state is always equal to the old one , even after an answer is changed. Unless there is a new enabled question or page change, the q

[2022-07-04 07:28] joiskash opened #1484 "Sync progress and status"
**Is your feature request related to a problem? Please describe.**
This feature is to help developers provide feedback to users of an application that syncs data with the FHIR Engine.

1. Currently there is no callback to provide a way to display a progress bar when data is uploaded/ downloaded to and from the FHIR server
2. There is no way to check if a resource has been synced to the server. Thi

[2022-07-04 09:21] kumaakh commented on #1484
on solution 1 above... It will help to have a callback after each resource is syncd, the callback should

-  a URI to the resource which finished sync
-  and indication of completion state e.g. 3 of 34

on solution 2 above... It will help to have a "pending local changes" flag on a local resource

[2022-07-05 08:12] #1417 closed

[2022-07-05 09:19] Tarun-Bhardwaj commented on #1473
@jingtang10 would you be able to add more context on this issue please?

[2022-07-05 09:24] Tarun-Bhardwaj commented on #1307
@jingtang10 do you think fixing this issue would impact #1469?

[2022-07-05 10:11] jingtang10 commented on #1475
fyi @williamito because there will also need to be documentation changes

[2022-07-05 10:54] santosh-pingle commented on #1475
Actions :

- Rename default styles in datacapture module.

[2022-07-05 12:47] parthfloyd commented on #1458
Yes!  @Tarun-Bhardwaj

[2022-07-05 13:41] ekigamba commented on #1363
The agreed approach was:

Perform a join of both **DateIndexEntity** and **DateTimeIndexEntity** tables for any sorting by date/datetime. Since any search parameter would only have records in one of these tables, one of the joins would be invalid so take no effect.

cc @jingtang10, @aditya-07

[2022-07-05 22:18] #1134 closed

[2022-07-06 05:17] santosh-pingle commented on #1475
in progress.

[2022-07-06 13:35] kumaakh commented on #1483
@jjtswan

[2022-07-07 06:07] KhumboLihonga commented on #1038
Just found this discussion and thought I'd include some of our use cases as well:

- We need to be able to retrieve a list of community health workers working at the signed in user's facility, to assign to a patient.
- We need to be able to retrieve a list of patients to be used when assigning a guardian to a patient in the instance where the guardian is a patient themselves.
- We need to be able

[2022-07-07 11:48] santosh-pingle commented on #1450
https://github.com/google/android-fhir/pull/1222

[2022-07-07 12:17] PallaviGanorkar commented on #1450
Case 1: Reproducible in version com.google.android.fhir:data-capture:0.1.0-beta03, but in latest code base its not reproducible, its working fine.

[2022-07-08 11:51] #1420 closed

[2022-07-10 16:01] joiskash commented on #1484
This requirement is related to having fine control over sync progress. eg: progress bar that says x% complete, 3 minutes left etc.
I think the issue that you have linked was related to showing sync status in the demo app using pollState.

[2022-07-11 09:51] Tarun-Bhardwaj commented on #1378
@ktarasenko you may visit this PR
https://github.com/google/android-fhir/pull/1414

[2022-07-11 12:05] PallaviGanorkar commented on #1453
@maimoonak I am not able to reproduce this issue, Please find attached Video for details
[Logs_1453.webm](https://user-images.githubusercontent.com/13957417/178259942-11ec58eb-d566-4e85-b674-b1b8c7c5a67f.webm)

Could you please share exact steps to reproduce this issue along with build version, device details and the video if possible.

[2022-07-12 05:21] santosh-pingle commented on #913
@maimoonak
Is it still reproducible?

[2022-07-12 05:22] santosh-pingle commented on #1473
@Tarun-Bhardwaj @jingtang10
Can you please provide more details.

[2022-07-12 05:22] santosh-pingle commented on #1418
in progress.

[2022-07-12 08:50] Tarun-Bhardwaj commented on #1172
@jingtang10 @aditya-07 is this still a high priority bug?

[2022-07-12 09:00] aditya-07 opened #1491 "Batch Download of resources."
**Describe the bug**
Define a useful way for developer apps to be able to sync resources efficiently using available FHIR apis and also be able to figure out  resources that need to be purged because user doesn't have access to them anymore or they are deleted from the server.

**Component**
Core library, reference app,

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on

[2022-07-12 09:02] aditya-07 opened #1492 "Performance Benchmarking of FhirEngine module."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-13 09:37] aurangzaibumer commented on #1453
This issue was reproducing on **FHIR CORE (Implementer Application)** application but not on **FHIR SDK**. Me & @shoaibmushtaq25 are currently investigating the issue.

[2022-07-13 09:37] aurangzaibumer commented on #1453
will share our findings in a while. thanks

[2022-07-13 13:06] jingtang10 opened #1494 "Instrumentation tests for setting answer in the sdc lib"
**Describe the Issue**

**Would you like to work on the issue?**

[2022-07-13 18:14] shoaibmushtaq25 commented on #1453
@PallaviGanorkar
Previously, we could reproduce the issue on the FHIR core. As I and @aurangzaibumer did more investigation, this issue is not occurring in FHIR Core(Implementer App) after recent changes in FHIR-core and FHIR-SDK.  We tested this issue with the [given questionnaire](https://pastebin.pl/view/cae6a75d) shared by @maimoonak above in the description of this issue.
So it looks like thi

[2022-07-15 08:34] maimoonak opened #1495 "Fully functionality of choice-column extension inclusing openchoice and table with custom width"
**Is your feature request related to a problem? Please describe.**
[Choice column](https://build.fhir.org/ig/HL7/sdc/StructureDefinition-sdc-questionnaire-choiceColumn.html) is an [extensive feature](https://build.fhir.org/ig/HL7/sdc/examples.html#choiceColumn) which allows to fully customize choice choice widgets including generating a table from data with multiple columns of customized width etc

[2022-07-15 11:32] #1453 closed

[2022-07-15 11:33] PallaviGanorkar commented on #1453
Closing this issue as it doesn't exist anymore, looks like fixed in latest build.

[2022-07-18 04:00] williamito commented on #1450
For Case 2, I did not understand that it was considered subtitle text because the text "Correct!" is rendered the same as the other text on the questionnaire. The intended use would be more clear if the text styling was different.

That said, I think it is difficult to understand when something would be considered a subtitle vs a new text element. Can you describe how the rendering logic works bas

[2022-07-18 10:17] KhumboLihonga commented on #1187
@jingtang10 just wondering where are we on this issue?

[2022-07-19 07:53] williamito commented on #1450
In addition, the display of "Correct!" does not appear to respect the enableWhen.

<img width="225" alt="image" src="https://user-images.githubusercontent.com/7772901/179696580-0326dadc-5b2e-4ecf-8fd9-a028c33d89fa.png">

re: formatting based on JSON structure, the top level text "Demographic Information" looks the same as "Cats are better than dogs". I would expect the contents of a "text" field o

[2022-07-19 12:19] jingtang10 commented on #1450
i agre with this. maybe we should use display category.

maybe we should use "instructions" http://hl7.org/fhir/R4/valueset-questionnaire-display-category.html

[2022-07-19 12:19] jingtang10 commented on #1450
https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/Hints.20for.20questions

[2022-07-19 13:28] joiskash commented on #1483
Update on sync -

- We have an app running fhir engine with a feature to create fake patients with fake resources. Each fake patient creation, through pre filled questionnaires and extraction results in one Patient resource and 46 other related resources.

- We came across an OOM while uploading many unsynced resources . Approx 300 patients = 300 * 46 = 13800 FHIR resources. The OOM occurs when pa

[2022-07-20 09:57] JonasDaWi opened #1497 "Kotlin Multiplatform Mobile compatible"
It would be nice to make the engine run on kotlin only, so that one can use this lib in a KMM project.
Currently, this project does not work with KMM, because this project is dependent on Android (lib) dependencies. Therefore, all dependencies that run on Android only need to be replaced by libs that are kotlin only.

[2022-07-20 10:14] maimoonak opened #1498 "Answer change listener only called on focus shift to other text / button"
**Describe the bug**
The new changes where answer change listener is called only when focus moves out of edit-text makes makes running calculations impossible for forms which do not have any other edit-text into form.

**Component**
SDC library

**Expected behavior**
In screenshot below the age input is supposed to trigger onChange when value is updated. For edit-text it does not trigger until foc

[2022-07-20 10:15] maimoonak commented on #1498
@f-odhiambo @jingtang10 @Tarun-Bhardwaj critical issue

[2022-07-20 13:37] jingtang10 opened #1500 "Update the questionnaire view model logic to update the pre-order trace and questionnaire parent map"
**Is your feature request related to a problem? Please describe.**
See comment: https://github.com/google/android-fhir/pull/1496#discussion_r925369845

**Describe the solution you'd like**
Just have to update these lists whenever nested items are being created, and then add test cases

**Describe alternatives you've considered**
NA

**Additional context**
NA

**Would you like to work on the issue?

[2022-07-20 16:42] maimoonak commented on #1498
@jingtang10 Plz check [PR commit here ](https://github.com/google/android-fhir/pull/1380/files#diff-1f4ba456c28c5400e29ae89383faf8d1a8d9109c80299bc0efb1ed3cf11818b2R211). I just need to run method onChange but this onChange is never called unless TextFocus move to another text/button. This means that we would not always have updated value in questionnaireResponse for EditText immediately. I am not

[2022-07-20 16:45] PallaviGanorkar commented on #1381
@joiskash
1. How do I  get access to this profile?
2. What is expected value for extension Encounter.contactNumber?

[2022-07-20 17:43] vitorpamplona commented on #1334
Those test cases started my journey in running the CQL Compiler on Android. With the Translator 2.0.0, we should be able to run those test cases. Without 2.0.0, we need to adapt the PlanDefinitions to remove conditionals (which need to be turned into CQL and compiled).

[2022-07-21 07:01] shoaibmushtaq25 commented on #1059
After removal of `linkIdToQuestionnaireItemMap` / `linkIdToQuestionnaireResponseMap` by @jingtang10  in the [PR#1468](https://github.com/google/android-fhir/pull/1468) and he wrote a different solution in [PR#1496](https://github.com/google/android-fhir/pull/1496) to alternatively trace `questionnaireItems` and `questionnaireResponseItems`, I started to align my solution of variable extension supp

[2022-07-21 07:32] shoaibmushtaq25 commented on #1059
After removal of `linkIdToQuestionnaireItemMap` / `linkIdToQuestionnaireResponseMap` by @jingtang10  in the [PR#1468](https://github.com/google/android-fhir/pull/1468) and he wrote a different solution in [PR#1496](https://github.com/google/android-fhir/pull/1496) to alternatively trace `questionnaireItems` and `questionnaireResponseItems`, I started to align my solution of variable extension supp

[2022-07-21 07:34] shoaibmushtaq25 commented on #1059
After removal of `linkIdToQuestionnaireItemMap` / `linkIdToQuestionnaireResponseMap` by @jingtang10  in the [PR#1468](https://github.com/google/android-fhir/pull/1468) and he wrote a different solution in [PR#1496](https://github.com/google/android-fhir/pull/1496) to alternatively trace `questionnaireItems` and `questionnaireResponseItems`, I started to align my solution of variable extension supp

[2022-07-21 08:38] #1457 closed

[2022-07-21 11:39] #1498 closed

[2022-07-21 13:10] shelaghm commented on #1450
@williamito @jingtang10 @santosh-pingle This is a great call out. I agree they should render differently. From what I'm aware of we don't have a "section header" text style. I have some old mocks where we have this type of text rendering above a question. See below
I'd recommend we use the Large Body - Roboto text style. @santosh-pingle any questions/issues with implementing this type of section h

[2022-07-21 13:19] shelaghm commented on #1450
@jingtang10 @williamito

The "subtitle text" usually instructions that accompany the questions. I think changing it to "instructions" might be the most clear.

[2022-07-22 03:57] joiskash commented on #1381
The profile is a link in the description, putting the link here for easy access https://build.fhir.org/ig/WorldHealthOrganization/smart-anc/StructureDefinition-anc-encounter.html#Encounter.contactNumber

[2022-07-22 10:20] jingtang10 commented on #1473
@joiskash @maimoonak fyi

[2022-07-22 16:13] jingtang10 commented on #1272
@shelaghm

The inline messages will be displayed along with questions. but here i have a question:

should there also be a global error message that says something like: "please fix errors in the current page before proceeding"? this tells the user what they need to do. instead of just showing a bunch of errors for each question.

if so, where should that be?

also, there is a mode where we do not

[2022-07-25 10:01] jingtang10 commented on #1001
thanks @aurangzaibumer for the update. yes umer is right this issue should be closed.

[2022-07-25 10:01] #1001 closed

[2022-07-25 18:26] #1363 closed

[2022-07-26 07:45] f-odhiambo commented on #1484
@joiskash Does this require a UI/ mock design to implement or it should be just an interface left to the implementor ?

[2022-07-26 07:53] joiskash commented on #1484
I think it should be an interface. The UI can change as per the implementation, but recommended guidelines maybe useful.

[2022-07-26 17:10] vitorpamplona opened #1509 "Ucum's XPP3 Removal"
**Describe the Issue**

If https://github.com/FHIR/Ucum-java/pull/29 gets merged and the SDK's dependencies update to `ucum.xmlpull` (avoiding the direct link with XPP3), we can remove the license and all `exclude` clauses related to `XPP3` from all `build.gradle`s.

**Would you like to work on the issue?**

@vitorpamplona

[2022-07-27 03:58] shelaghm commented on #1272
@jingtang10
In the scenario where the user has errors in the form, I think it will be useful to display a dialog after they click "next" and then show the dialog since they cannot move forward because of the errors. Would we be able to show a bulleted list of what info they need to complete or just a generic message? Would be amazing to list what fields need to be fixed, so it's easier for them to

[2022-07-28 01:17] fredhersch commented on #1484
@shelaghm - adding in Shelagh for the Ux/UI design pattern

[2022-07-28 09:23] santosh-pingle opened #1512 "Single choice does not unselect the answer option on click."
**Describe the bug**

- Currently, in single choice view if selected answer option get clicked, it does not get unselected.

**Component**
SDC library

**To Reproduce**

**Expected behavior**
If selected answer option is clicked then it sould be shown as unselected answer option.

**Screenshots**

**Smartphone (please complete the following information):**
 - Device: [e.g. Pixel4a emulator]
 - And

[2022-07-28 12:41] santosh-pingle opened #1514 "Validation : Initially modal and open choice view shows error message if answer is empty."
**Describe the bug**
Modal and open choice view shows error message initially if answer is empty

**Component**
SDC library.

**To Reproduce**
Steps to reproduce the behavior:

1. Open catalog app.
2. Click on the Modal view.
3. Click on the gear icon, it opens the bottom sheet.
4. Click on the “Show error state”

**Expected behavior**
Initially, it does not show validation error message.

**Scree

[2022-07-28 12:47] santosh-pingle opened #1515 "Boolean choice does not support choice orientation - horizonatal"
**Describe the bug**
Boolean choice view not showing answer options horizontally on inclusion of choice orientation extension.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
Precondition:
1. Modify questionnaire json to add choice orientation - horizontal, - vertical.
Steps:
1. Open catalog app
2. Click on the boolean choice view

**Expected behavior**
- Answer optio

[2022-07-28 12:52] santosh-pingle opened #1516 "Modal, Open choice view does not show fly-over text."
**Describe the bug**
Modal and open choice view does not show fly over text on inclusion of flyover code to questionnaire-itemControl extension.

e.g
"extension": [
            {
              "url": "http://hl7.org/fhir/StructureDefinition/questionnaire-itemControl",
              "valueCodeableConcept": {
                "coding": [
                  {
                    "system": "http://hl7.o

[2022-07-28 23:32] shelaghm commented on #1484
Here's an example UI for what the loading bar with specific % or time left could look like. (This example is on a patient/task list, but the same pattern could be applied elsewhere.

<img width="803" alt="Screen Shot 2022-07-28 at 16 30 55" src="https://user-images.githubusercontent.com/86378921/181654058-04ef3d11-e250-4768-aaeb-89f49b6fedae.png">

[2022-07-29 07:09] maimoonak commented on #913
I have confirmed that validation is now working with enablement and display. Looks like it has been resolved.

[2022-07-29 08:47] f-odhiambo commented on #913
CC @Tarun-Bhardwaj and @jingtang10

[2022-07-29 08:49] f-odhiambo commented on #1038
FYI  - a pre-req to this and completion of answer-expression is https://github.com/google/android-fhir/pull/1479. i.e. x-fhir-query support.
CC @jingtang10 @fredhersch @Tarun-Bhardwaj @KhumboLihonga

[2022-07-29 10:48] jingtang10 commented on #1197
@KhumboLihonga so sorry for the delay.

The behaviour of the multiline text field itself should allow multi-line. If you start typing and create new lines, the widget should expand automatically to allow multi-line.

The only thing that gave you the impression that the widget was single line was the fact that it initially only has one line so it looks the same as the single line widget.

I've sent

[2022-07-29 11:34] KhumboLihonga commented on #1197
@jingtang10 no worries. I think when I wrote this issue the single line wasn't expanding. But with the new releases, I noticed the expansion which is great as we have some sections where the user will have to potentially type a lot of text.

I think the PR will make this functionality a lot more obvious so I'll keep an eye out on it, thanks.

[2022-07-29 11:51] maimoonak commented on #1382
**Token Text Search:**

The fhir query supports search by [modifiers](http://hl7.org/fhir/R4/search.html#modifiers) like `:missing, :exact, :text, :in, :below, :above, :not, :[type], :identifier,:above, :below` etc for different parameters (Token, String, Reference, URI). For token specifically these are
ALL -> :missing; e.g. gender:missing=true
**TOKEN** -> :text, :in, :below, :above and :not-in

[2022-07-29 12:00] f-odhiambo commented on #608
@shoaibmushtaq25 will be picking this up let me know if that ok @Tarun-Bhardwaj  CC @jingtang10

[2022-07-29 12:07] jingtang10 commented on #1514
this should be fixed by #1468 ?

[2022-07-29 12:50] #1329 closed

[2022-07-29 17:00] jingtang10 opened #1518 "Create new attribute to allow developers to override minLines in an multiline text widget"
Would this change allow the developer application to change the minLines ? Maybe minLines should be part of a new multi-line text style?

_Originally posted by @aditya-07 in https://github.com/google/android-fhir/pull/1517#discussion_r933206201_

[2022-07-29 17:00] jingtang10 commented on #1518
@aditya-07 FYI

[2022-08-01 12:51] maimoonak commented on #1382
There is another [ticket](https://github.com/google/android-fhir/issues/608) which aims working on Full text search i.e.e [FTS](https://www.sqlite.org/fts3.html) (android FTS-3/4). The FTS is powerful but specific to android with a specific set of features. The language/syntax and virtual table structure is also its own.

As mentioned in comment above the FHIR search is very powerful and has speci

[2022-08-01 12:54] maimoonak commented on #608
There is another [ticket](https://github.com/google/android-fhir/issues/1382) which aims working on token text search.

The work can either use [FTS](https://www.sqlite.org/fts3.html) (android FTS-3/4). The FTS is powerful but specific to android with a specific set of features. The language/syntax and virtual table structure is also its own.
OR
As mentioned in comment in given ticket, FHIR search

[2022-08-02 07:40] nsabale7 opened #1520 "Definition Based Extraction: Issue in extracting repeating order elements"
**Describe the bug**
Issue during definition based extraction having repeating order elements, such as **given** in the **Patient.name** resource having a cardinality ratio [0..*]

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Use below json as questionnaire string.
[code]
2. Perform extraction using the questionnaire response
3. Patient.name element will contain

[2022-08-02 08:20] nsabale7 opened #1521 "Choice with Radio Button input resets answer in paginated layout."
**Describe the bug**
Question with type as choice and control as Radio-Button resets its answer to initial selected answer in paginated layout

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Open Catalog app
2. Click on Layouts
3. Click Paginated
4. Click next till 5th question appears
5. Select initial answer -> click to next and prev page -> select any different

[2022-08-02 09:47] #1197 closed

[2022-08-02 20:07] shelaghm opened #1523 "SDC: Add progress bar for paginated questionnaire"
**Is your feature request related to a problem? Please describe.**
Feature request from Ona. https://github.com/opensrp/fhircore/issues/1384
Problem: users don't know how far along they are when completing a multi-page questionnaire

**Describe the solution you'd like**
A visual progress bar at the top of the questionnaire. Use determinate indicators. [Material design Implementation guide here](ht

[2022-08-02 21:17] shelaghm opened #1524 "SDC catalog - Add behavior tab (to show skip logic and calculations behavior)"
**Is your feature request related to a problem? Please describe.**
We need an additional tab to demonstrate SDC behavior such as calculations and skip logic

**Describe the solution you'd like**
Add a 3rd tab to the navigation bar.

**Describe alternatives you've considered**
@jingtang10 and I have discussed adding this to "components", but behavior feels distinct of how multiple components might

[2022-08-02 21:25] shelaghm opened #1525 "SDC catalog app: show calculation behavior"
**Is your feature request related to a problem? Please describe.**
Demonstrate how the calculation functionality in SDC library works by adding it as a widget in the new behavior tab.

**Describe the solution you'd like**
Show an example of a common calculation that developers might do along with a message of the result of the calculation.

**Describe alternatives you've considered**
Open to other

[2022-08-02 21:29] shelaghm opened #1526 "SDC catalog app: Show enable when (skip logic) behavior"
**Is your feature request related to a problem? Please describe.**
Demonstrate to developers how the SDC skip logic behavior works.

**Describe the solution you'd like**
Add skip logic as a widget in the behavior tab. Skip logic should show a realistic example of how skip logic works. Example: By selecting yes on the first question, the second question appears. If no is selected, the question does

[2022-08-02 22:40] williamito opened #1528 "Add support for "Help" questionnaire item control"
**Is your feature request related to a problem? Please describe.**
Both NLM Form Builder (https://lhcformbuilder.nlm.nih.gov/beta/) and Structor (https://formdesigner.helsenorgelab.no/) support adding help text via the questionnaire item control type `"help"` (see value-set http://hl7.org/fhir/R4/valueset-questionnaire-item-control.html). In addition, many LOINC forms loadable from the NLM Form Bu

[2022-08-03 10:39] santosh-pingle commented on #1516
@shelaghm is it okay to have this change in sdc module?

[2022-08-03 13:06] PallaviGanorkar opened #1530 "Separate Internal and exposed class from SDK and optimize code"
**Describe the Issue**
 Mark LocalChangeEntity as internal and Create respective public class
Removed SquashedLocalChangeClass as it will duplicate above public class

**Would you like to work on the issue?**
Yes

[2022-08-03 15:54] #1512 closed

[2022-08-03 18:16] shelaghm commented on #1516
@santosh-pingle yes, updating in SDC module/library sounds good to me.

[2022-08-03 20:27] Chandra-Sekhar-Bala opened #1533 "Update issue templates"
**Is your feature request related to a problem? Please describe.**
Issue templates are a bit old, and for first-timers a bit confusing.

**Describe the solution you'd like**
Update issue templates like modern templates. And it's easy to understand and fill.

**Additional context**
Something like this.
<img width="269" alt="issue" src="https://user-images.githubusercontent.com/57448981/182703976-47

[2022-08-04 10:44] santosh-pingle opened #1534 "Update autocomplete component icon on landing page in catalog app."
**Describe the bug**
Autocomplete component is shown by text field component icon.

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Update new autocomplete component icon.

**Screenshots**
If applicable, add screenshots to help explain your problem.

<img width="435" alt=

[2022-08-04 13:13] nsabale7 opened #1536 "Overlapping of views in paginated layout"
**Describe the bug**
When moving across the pages in paginated layout questionnaire, view gets overlapped.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Use large paginated questionnaire with choice type questions.
2. Move across pages and answering some questions
3. We see overlapping text

**Screenshots**
![Screenshot_20220804-182645](https://user-images.github

[2022-08-04 13:48] nsabale7 opened #1537 "Open choice/Drop Down view issue"
**Describe the bug**
When multiple open choice/drop down questions are present in single page, answers get mismatched.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Use below questionnaire
[patient-registration.zip](https://github.com/google/android-fhir/files/9260187/patient-registration.zip)

**Screenshots**
https://user-images.githubusercontent.com/82660329/18

[2022-08-04 17:39] shelaghm commented on #1528
Here are some mocks for this.

(1) Place the 'question' help button next to the 'instructions' text field.
(2) Show the help text in a container that appears below the instructional text. Click on help button icon again to hide the text.
(3) Place the 'questionnaire' help button in the top bar (default location for help button in Android)

<img width="830" alt="Screen Shot 2022-08-04 at 10 35 21"

[2022-08-05 01:25] fredhersch commented on #1528
Thanks @williamito for flagging this. @shelaghm any preference or best practice we can draw on for which approach should be prioritized?

@Tarun-Bhardwaj let's discuss priority of this

[2022-08-05 01:26] fredhersch commented on #1528
@jingtang10 can you help us to estimate the size of this. Ty

[2022-08-05 05:34] santosh-pingle commented on #1450
Looking into it. thanks!

[2022-08-05 05:46] santosh-pingle commented on #1450
I am on it.

[2022-08-05 05:48] santosh-pingle commented on #1450
We can provide implementation. thanks!

[2022-08-05 13:00] joiskash opened #1539 "Completion Bar on top of each page in SDC to make users aware of the unanswered questions covered by the keyboard"
**Is your feature request related to a problem? Please describe.**
As can be seen in the video, the keyboard covers up questions in a particular page. It is difficult for non-technical people to realize that there is a scroll bar that must be used to answer the rest of the questions.

**Describe the solution you'd like**
I was thinking that we could have a bar at the top that progresses as the que

[2022-08-05 17:25] shelaghm commented on #1539
@joiskash @jingtang10 I'm not sure what's the best approach here. For context, we are planning to implement a progress bar for paginated questionnaires https://github.com/google/android-fhir/issues/1523 which would behave a bit differently from the proposed solution on this issue. It might be confusing to have a progress bar that only indicates progress on one page of the questionnaire, not the wh

[2022-08-05 19:03] shelaghm commented on #816
@joiskash Could you leave your feedback here on improving the open choice widget to reduce the number of clicks? Thank you!

[2022-08-06 10:11] KhumboLihonga opened #1541 "Initial expression extension on a 'choice' item with valueString answer options causes app to crash"
**Describe the bug**
When an item is using the type 'choice' and the answer options array is comprised of valueString objects, it crashes the app when using initialExpression extension.

**Component**
Demo app

**To Reproduce**
Steps to reproduce the behavior:
1. Update the file 'new-patient-registration-paginated.json' to use an item of the type 'choice' for the country attribute.
2. Run the demo

[2022-08-06 10:23] KhumboLihonga opened #1542 "Re-selecting an option in a drop down item with valueString answer options is causing app to crash"
**Describe the bug**
An item with the type 'choice', using the drop down extension, and answer options comprised of valueStrings crashes the app when an option is re-selected. The first time the option is selected, nothing happens but when you attempt to select an other option from the same drop down, the app crashes.

**Component**
Demo app

**To Reproduce**
Steps to reproduce the behavior:
1. Up

[2022-08-06 12:08] KhumboLihonga opened #1543 "Be able to import and use structure maps that have been defined in separate files"
**Is your feature request related to a problem? Please describe.**
Our program requires the creation of a 'newly diagnosed client' care plan from separate points in our app. For example, when a patient is first registered, they are assigned a the care plan. Similarly, when potential patient has an HIV test that comes back positive, they should be assigned this same care plan. It's frustrating that

[2022-08-08 04:30] joiskash commented on #816
The feedback that we received from the field is that if a selection is made from the given choices, then pressing save should not be required. This will reduce the number of clicks.
Save needs to be pressed only if the user types in the edit text and adds a new answer option.

[2022-08-08 06:26] Jeli-09 opened #1544 "Click"
**Describe the bug**
A clear and concise description of what the bug is.

**Component**
Core library, SDC library, reference app, or SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scree

[2022-08-08 10:18] #1472 closed

[2022-08-08 12:00] #1187 closed

[2022-08-08 12:04] joiskash commented on #1381
@PallaviGanorkar Please use this questionnaire to test the code. Thanks for pointing out the issues in the WHO ANC registration questionnaire. We should raise an issue on the IG Github repo.
[patient-registration.txt](https://github.com/google/android-fhir/files/9281524/patient-registration.txt)

[2022-08-09 09:57] omarismail94 opened #1548 "Expose upload work manager to developers"
**Is your feature request related to a problem? Please describe.**
Right now, app developers cannot implement their own upload manager to upload resources.

**Describe the solution you'd like**
This feature exists for the downloader already, but not for the uploader. Use same design as in downloader

**Describe alternatives you've considered**
A clear and concise description of any alternative sol

[2022-08-09 12:30] vishnuravi commented on #928
@jingtang10 I have noticed that the options defined in `answerValueSet` do not render even if they are defined in the Questionnaire itself, such as this example SDC-PHQ9 Questionnaire: http://build.fhir.org/ig/HL7/sdc/Questionnaire-questionnaire-sdc-profile-example-PHQ9.json.html. Is there something additionally I would need to do to render these options?

[2022-08-09 21:56] williamito opened #1550 "Fix support for Quantity-type questions and answers"
**Is your feature request related to a problem? Please describe.**
The [full definition](https://www.hl7.org/fhir/codesystem-item-type.html#item-type-quantity) of the "quantity" type is:

`http://hl7.org/fhir/StructureDefinition/questionnaire-unit` extension support is not listed either yes or no on [FHIR specification support page](https://github.com/google/android-fhir/wiki/SDCL%3A-FHIR-specific

[2022-08-09 22:26] williamito opened #1551 "sdc-beta04 regression in decimal data entry"
**Describe the bug**
When attempting to enter or delete numbers into a `type='decimal'` field, the cursor jumps around mangling input and making deletion difficult.

**Component**
SDC Library

**To Reproduce**

Steps to reproduce the behavior:
1. Load a questionnaire including a `decimal` field
2. Type more than 3 numbers consecutively
3. Tap to move the cursor to the end of the number then tap de

[2022-08-09 22:29] williamito commented on #1551
`type='quantity'` is similarly affected as well. I'm not sure where else this new feature is expected to impact, but would look at carefully.

[2022-08-11 09:36] jingtang10 commented on #1520
Related discussion: https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/Json.20Structure.20for.20Repeating.20Complex.20Data.20Type.20in.20resource

[2022-08-11 10:12] Itskiprotich opened #1554 "Double selection of a dropdown"
**Describe the bug**
When filling a questionnaire with an input type choice drop-down, the answer is not automatically picked on the first selection, it requires a second selection for it to update on the input field.

**Component**
SDC library

**Expected behavior**
Upon selection of an answer from the drop-down list, the answer should be automatically updated on the input field.

**Screenshots**

[2022-08-11 12:03] PallaviGanorkar commented on #1381
@joiskash , As discussed , I was trying to test item with link Id "linkId": "tribe" b but the "definition" field is missing for this item. So not code not able to do definition based  extraction for this extension
Please do the needful here.

[2022-08-11 12:17] Gental-Giant commented on #1541
@f-odhiambo Kindly take a look at this

[2022-08-11 12:17] Gental-Giant commented on #1542
@f-odhiambo Kindly take a look

[2022-08-11 12:18] Gental-Giant commented on #1543
@f-odhiambo Kindly take a look

[2022-08-11 12:19] joiskash commented on #1381
Sorry, please find the updated one here
[patient-registration-with-extention-definitions.txt](https://github.com/google/android-fhir/files/9308534/patient-registration-with-extention-definitions.txt)

Also you can refer to http://build.fhir.org/ig/WorldHealthOrganization/smart-anc/StructureDefinition-who-patient-definitions.html#Patient.extension:religion

[2022-08-11 12:39] f-odhiambo commented on #1542
Can you add the log trace for this @KhumboLihonga?  CC @Gental-Giant

[2022-08-11 12:43] KhumboLihonga commented on #1542
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.google.android.fhir.demo, PID: 28311
    org.hl7.fhir.exceptions.FHIRException: Type mismatch: the type Coding was expected, but org.hl7.fhir.r4.model.StringType was encountered
        at org.hl7.fhir.r4.model.QuestionnaireResponse$QuestionnaireResponseItemAnswerComponent.getValueCoding(QuestionnaireResponse.java:855)
        at com.google.

[2022-08-12 10:34] #1534 closed

[2022-08-12 19:14] williamito commented on #1554
Did this occur after upgrading to beta04? I have also reproduced this behavior on that version.

[2022-08-12 19:16] williamito opened #1555 "SDC beta04: Tapping on date picker does not bring up keyboard/picker except for just the icon on the far right"
**Describe the bug**
Tapping on date picker does not bring up keyboard/picker except for just the icon on the far right.

**Component**
SDC Library

**To Reproduce**
Steps to reproduce the behavior:
1. Load a questionnaire with a date field
2. Tap the date field in the area without the icon
3. The field is selected but no entry mechanism is provided

**Expected behavior**
The date picker or a keyb

[2022-08-13 11:00] Itskiprotich commented on #1554
Yes, I'm experiencing it on beta04

[2022-08-15 08:38] f-odhiambo commented on #1542
@KhumboLihonga seem like you using `valueString` for choice instead of `valueCoding` , can you confirm if this is accurate?

[2022-08-15 08:39] f-odhiambo commented on #1098
@Tarun-Bhardwaj Looks like the issue can be closed CC @KhumboLihonga @jingtang10

[2022-08-15 08:40] jingtang10 commented on #1098
Thanks all!

[2022-08-15 08:41] #1098 closed

[2022-08-15 08:41] f-odhiambo commented on #1541
@Gental-Giant This is related to https://github.com/google/android-fhir/issues/1098 . It seems like the usage of the wrong type. A choice can not have a string value. So if he matched `valueCoding` it should work. @KhumboLihonga  can you test the working JSON and update the ticket?

[2022-08-15 09:09] maimoonak commented on #1543
The fhir StructureMapUtilities loads the imported map from IWorkerContext. The SDK ResourceMapper currently uses SimpleWorkerContext for worker support. The worker allows caching resources including questionnaires, structuremaps etc. We can try calling `public void cacheResource(Resource r)` on SimpleWorkerContext passed to application and cache all structure-maps which inturn would be used intern

[2022-08-16 06:58] f-odhiambo commented on #1038
Waiting for answer expression work to be merged , as a pre-requirsite for this task to be implemented , has some reusable methods/funtions

[2022-08-16 12:26] fredhersch commented on #928
Thanks @vishnuravi can you send a screenshot of what happens when you render this

@jingtang10 Could this be an issue with the ordinalValue extension? Or is it the way the valueSet is defined.. appears to be an example of "contained" valueSet options

cc: @wantingzhang77

[2022-08-16 12:27] fredhersch commented on #802
@ekigamba @Tarun-Bhardwaj Is this issue still pending the PR review?

cc: @jingtang10

[2022-08-16 13:10] joiskash commented on #659
This has been completed

[2022-08-16 13:10] #659 closed

[2022-08-16 14:00] shoaibmushtaq25 commented on #608
I gone through the [research issue](https://github.com/google/android-fhir/issues/414) around FTS(Full Text Search) and was first thinking about that We have a challenge that right now `ResourceEntity` table of database is showing resources in json form in `serializedResource` column and we don't have a way to index `Patient.name` because FTS virtual tables apply indexing on columns.

I also see a

[2022-08-16 15:47] vishnuravi commented on #928
Hi @fredhersch thanks for looking into this! When I render the Questionnaire, the questions appear, but the answer options don't.

<img width="319" alt="Screen Shot 2022-08-16 at 11 47 28 AM" src="https://user-images.githubusercontent.com/1212163/184922797-c9acdc61-21a5-4c9b-9fe4-1ca5717b1200.png">

Appreciate any advice you have on this issue!

[2022-08-16 16:20] costateixeira commented on #928
Hi

I see the valueset is done by listing the concepts in compose.include,
perhaps what is needed is the expanded value set where the codes would show
up in expansion.contains

see this example:
https://build.fhir.org/valueset-example-expansion.json.html

Not sure this would be the issue but I expect that the tool needs to look
at the final valueset, regardless of how the valueset is defined, and

[2022-08-17 06:31] shoaibmushtaq25 commented on #608
Moreover, [FTS-5](https://www.sqlite.org/fts5.html) is also available in Android to implement Full-text search with more built-in functions and enhanced features but FTS-5 has a limitation for Android API ≥ 24 so It is better to avoid FTS-5 and use FTS-3 or [FTS-4](https://developer.android.com/reference/androidx/room/Fts4)(old strategies) because we might miss a lot of devices to support FTS if w

[2022-08-17 06:49] aditya-07 commented on #1537
@nsabale7 Can you confirm if the issue is still there? I am not able to reproduce the issue on master, beta03 or beta04.
if yes, can you please add the sdc commit where you are seeing this issue.

[2022-08-17 07:25] aditya-07 commented on #1544
@Jeli-09 Can you please describe the issue you are facing in more detail.

[2022-08-17 07:25] #1544 closed

[2022-08-17 11:35] f-odhiambo commented on #910
Any update on this @kevinmost? What's the ETA for this?

[2022-08-17 11:36] f-odhiambo commented on #227
What's the status of this item @nsabale7 @joiskash?

[2022-08-17 11:40] joiskash commented on #227
It is almost done, just waiting to resolve one comment . This should be merged by end of week.

[2022-08-17 14:50] KhumboLihonga commented on #1542
Yes, that is correct. As per the FHIR [spec](https://www.hl7.org/fhir/questionnaire-definitions.html#Questionnaire.item.answerOption), a valueString answerOption should be supported and this support was added in this [PR](https://github.com/google/android-fhir/pull/1399).

When a valueString is used, the choice is rendered accordingly. When an option is selected, again everything works fine. But w

[2022-08-17 14:59] KhumboLihonga commented on #1541
When using valueCoding option and the initial expression expression is linked to a coding object, everything works fine. However, in our case we want to populate a choice item with a [district](https://www.hl7.org/fhir/datatypes-definitions.html#Address.district) which is stored as a string.

We are doing this so that the user doesn't have to type out the district for every patient that they are r

[2022-08-17 15:01] KhumboLihonga commented on #1543
I'll check the flow and respond accordingly

[2022-08-18 06:56] nsabale7 commented on #1537
@aditya-07 I was able to reproduce this issue on master, beta04.
Attaching couple of videos for your reference.

1. Pixel 4a(13)
Issue found on master
https://user-images.githubusercontent.com/82660329/185320399-450600b3-2007-49b2-a344-6f8deaca883d.mp4

2. Infinix (11)
Issue found on beta04
https://user-images.githubusercontent.com/82660329/185321993-5d1fb92e-4518-4035-9b2f-3d0fcaf7db2d.mp4

As pr

[2022-08-18 06:57] ekigamba commented on #802
@fredhersch

@FikriMilano is helping with this PR and is having issues build failure issues due to a refactors on the views. The build issues are yet to be resolved

[2022-08-18 07:14] PallaviGanorkar commented on #1536
@nsabale7 Could you Please attach questionnaire json if possible?

[2022-08-18 07:18] nsabale7 commented on #1536
@PallaviGanorkar
[anc-visit-questionnaire.zip](https://github.com/google/android-fhir/files/9369674/anc-visit-questionnaire.zip)

[2022-08-18 07:22] PallaviGanorkar commented on #1555
Feature is under development in PR https://github.com/google/android-fhir/pull/1493

[2022-08-18 08:32] PallaviGanorkar commented on #1536
@nsabale7 I have tried to reproduce this issue with attached  questionnaire json. But could not reproduce this issue on Device Nokia 3.4 API 30 and emulators Pixel 5 API 32, Pixel 5 API 27, Nexus 5X API 24.

Please find attached video for more details.
[emul_Pixel5_API32_2022-08-18-133332.webm](https://user-images.githubusercontent.com/13957417/185344987-8b368469-3b3b-4e22-8fdc-4450dff0ad27.webm)

[2022-08-18 09:47] santosh-pingle commented on #1450
looking into it.

[2022-08-18 10:45] nsabale7 commented on #1536
@PallaviGanorkar Even I was not able to reproduce this issue on current master and beta04. We can close this issue for now.

[2022-08-18 11:38] Tarun-Bhardwaj commented on #1555
Closing this issues as it is a duplicate of #1418 and is already being addressed.

[2022-08-18 11:38] #1555 closed

[2022-08-18 11:53] Tarun-Bhardwaj commented on #1533
To be revisited at a later date.

[2022-08-18 11:53] #1533 closed

[2022-08-18 13:19] #1551 closed

[2022-08-19 06:03] #1418 closed

[2022-08-19 08:09] parthfloyd commented on #802
@ekigamba

In the PR all 3 (url, binary & data element) of the sample questionnaire examples are supported?

[2022-08-19 08:10] delcroip commented on #802
Thanks for the work,

could you confirm that the url of the extension is now

http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire-itemMedia

insteand of

http://hl7.org/fhir/uv/sdc/StructureDefinition/cpg-itemImage

[example ](https://build.fhir.org/ig/HL7/sdc/Questionnaire-anc-quick-check.json.html)from [SDC page](https://build.fhir.org/ig/HL7/sdc/StructureDefinition-sdc-questionnair

[2022-08-19 09:39] ekigamba commented on #802
@delcroip Thanks for bringing that up. This will be changed in the PR and updated accordingly on the issue to reflect this

[2022-08-19 10:25] PallaviGanorkar commented on #1541
This issue will be fixed in PR https://github.com/google/android-fhir/pull/1560 as this Issue replicates #1542

[2022-08-19 10:39] #1530 closed

[2022-08-19 10:51] #1536 closed

[2022-08-19 10:52] PallaviGanorkar commented on #1536
As per above discussion, not able to reproduce this issue on current master and beta04 on multiple devices and emulators . So closing this issue.

[2022-08-19 11:29] PallaviGanorkar opened #1563 "App crashes when click on edit button on Patient details screen"
**Describe the bug**
App crashes when click on edit button on Patient details screen

**Component**
reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Demo app
2. Select any patient from patient list, to open patient details screen
3. click on Edit menu
4. See error : App crashes

**Expected behavior**
App should not crash, it should allow to edit patient details

**Device

[2022-08-19 11:41] #1537 closed

[2022-08-19 12:24] #1554 closed

[2022-08-21 07:15] #1563 closed

[2022-08-21 08:36] jingtang10 commented on #1272
Thanks @shelaghm for the useful input.

One thing to clarify is that, the entry mode controls the behavior for next/prev buttons.
if entry mode is random -> user can freely navigate to any page
if entry mode is sequential -> user can only answer one question at a time, no free navigation (even to go back)
if entry mode is prior-edit (i don't like this name) -> user can navigate forward if current

[2022-08-21 09:38] #1272 closed

[2022-08-22 08:03] Tarun-Bhardwaj commented on #1334
@vitorpamplona , is there an ETA by when we can close this issue?

[2022-08-22 08:04] Tarun-Bhardwaj commented on #1189
@vitorpamplona , has development started for this issue?

[2022-08-22 08:10] Tarun-Bhardwaj commented on #915
@vitorpamplona , are we progressing with this issue?

[2022-08-23 08:06] maimoonak commented on #1484
Sync has two steps:

**Upload**:
- Currently -> The sync states are already emitted and have info about exceptions if any.
- Similarly -> we can modify it to count rows in table LocalChangeEntity and emit the count as info in sync states about total uploads, current upload, etc
-
**Download**: The download is a bit tricky.
- Download is a multi step process (Patient, Observation, Encounter......)

[2022-08-23 10:12] shoaibmushtaq25 commented on #608
@maimoonak, cc: @f-odhiambo @jingtang10
I explored the documentation around [FTS/Virtual tables](https://www.raywenderlich.com/14292824-full-text-search-in-room-tutorial-getting-started) and found out that
There are two possibilities for making a virtual table

1. You can make the main table a virtual table and add content to it. This is a waste of space and resources if some columns don't need to

[2022-08-23 13:51] ekigamba commented on #802
@parthfloyd No, only binary and data. There is a provided interface in the PR where the developer should handle fetching image from a `url`

[2022-08-23 15:20] vitorpamplona opened #1565 "Provide automated snapshot builds in the maven repo"
It facilitates testing of the a version's features without having to re-build, package and deploy the SDK locally.

Guide for automating the SNAPSHOT release on GitHub Actions: https://github.com/jonashackt/github-actions-release-maven

[2022-08-23 21:22] vitorpamplona opened #1566 "NullPointerException when loading/compiling dependent CQL libraries (FHIR Helpers)"
**Describe the bug**

CQL Compiler runs into an Internal Translator Error when processing dependent libraries.

**Component**
Workflow module

**To Reproduce**
1. Create a CQL with a dependent library (e.g. FHIR Helpers)
2. Create an FHIR Library with a text/cql attachment of 1.
3. Try to evaluate the library in a given patient.

The stacktrace should be:

[code]

**Expected behavior**
The compile

[2022-08-24 04:05] jingtang10 commented on #1523
related to #1539

[2022-08-24 04:07] shelaghm commented on #1523
Move forward with visual progress bar and also make progress bar track scroll progress on a single page questionnaire.

[2022-08-24 04:22] jingtang10 commented on #1514
i think this should be fixed by #1468 . please verify @santosh-pingle

[2022-08-24 04:25] jingtang10 commented on #960
we need to
- [ ] document what's not working in dark mode
- [ ] verify if @santosh-pingle 's work has fixed some of the dark theme issues
- [ ] add dark mode to the QA test cases

[2022-08-24 04:27] jingtang10 commented on #816
discussed with @shelaghm, the priority in this ticket is to make open choice not a modal dialog. @joiskash i think this would solve the issue with # of clicks too.

[2022-08-24 06:59] joiskash commented on #764
Re-opening this for the drop down widget

[2022-08-24 08:34] maimoonak commented on #1484
These could be possible output. We may or may not need additional level of granularity for download i.e. current/total for each specific resource

[code]
[code]

[2022-08-24 09:08] LZRS opened #1568 "Add support for fhirpath ".where" initialExpressions when populating values"
**Is your feature request related to a problem? Please describe.**
We have patients who have more than one Observation, and when populating we'd like to be able to filter using, an example  `Observation.where(code.coding.code = 'art-client-viral-load-test-results-date-of-sample-collection').value`, as an initialExpression. Currently, the sdk doesn't support this and seems to pick the first resourc

[2022-08-24 09:13] Tarun-Bhardwaj commented on #856
@jingtang10 to review reference documentation.

[2022-08-24 09:16] jingtang10 commented on #979
duplicate of #1039
closing.

[2022-08-24 09:16] #979 closed

[2022-08-24 09:18] jingtang10 commented on #1173
@maimoonak do you have a proposed fix for this?

[2022-08-24 09:20] Tarun-Bhardwaj commented on #1366
@williamito could you please lead the conversation for this issue?

[2022-08-24 09:22] Tarun-Bhardwaj commented on #1484
@maimoonak , would you like to pick this up?

[2022-08-24 09:24] Tarun-Bhardwaj commented on #1523
@nsabale7 , would you like to work in this fix?

[2022-08-24 09:24] jingtang10 commented on #1244
this is handled in #1487 which is included in the next release

@mberg - i'm closing this because with the purge api this becomes an app decision. please feel free to reopen if the api doesn't meet you needs.

[2022-08-24 09:24] #1244 closed

[2022-08-24 09:31] Tarun-Bhardwaj commented on #913
Closing it as per the last comment from @maimoonak

[2022-08-24 09:31] #913 closed

[2022-08-24 09:31] Tarun-Bhardwaj commented on #1336
Issue is obsolete now, hence closing.

[2022-08-24 09:31] #1336 closed

[2022-08-24 09:35] maimoonak commented on #1484
yes. I have started on this yesterday.

[2022-08-24 09:36] Tarun-Bhardwaj commented on #440
Closing the issue as this is now obsolete.

[2022-08-24 09:36] #440 closed

[2022-08-24 09:47] Tarun-Bhardwaj commented on #1149
closing the issue based on the last comment from Vikram.

[2022-08-24 09:47] #1149 closed

[2022-08-24 10:14] #1282 closed

[2022-08-24 11:00] nsabale7 commented on #1523
Sure @Tarun-Bhardwaj, I can take this

[2022-08-24 12:11] maimoonak commented on #1484
After disucssion with @f-odhiambo , looks like below is a better version of output

[code]
[code]

download is multistep and emits a progress for each resource, hence details is the current resource (from Patient, Encounter, Observation...) stats

[2022-08-25 06:26] PallaviGanorkar commented on #1167
This issue is fixed in PR https://github.com/google/android-fhir/pull/1372

[2022-08-25 06:26] PallaviGanorkar commented on #1167
Closing this issue as it fixed in https://github.com/google/android-fhir/pull/1372

[2022-08-25 06:26] #1167 closed

[2022-08-25 11:55] #1542 closed

[2022-08-26 06:04] #1450 closed

[2022-08-26 07:12] f-odhiambo commented on #802
Hi @Tarun-Bhardwaj kindly assign this to @FikriMilano

[2022-08-26 07:16] f-odhiambo commented on #1038
There is an overlap between https://build.fhir.org/ig/HL7/sdc/expressions.html#answerExpression  &  https://build.fhir.org/ig/HL7/sdc/expressions.html#candidateExpression  there is a minor difference but both have x-fhir-query and choice-column use which is already done 1039. Thus the tow tickets are related but not simsilar

[2022-08-27 18:44] f-odhiambo commented on #800
@Tarun-Bhardwaj I think we can close this issue as it had been implemented on FHIR Core https://github.com/opensrp/fhircore/issues/1536

[2022-08-29 02:56] fredhersch commented on #1260
@jingtang10 @shelaghm I think this should be higher priority. At the moment, the slider control is effectively not useful. Can we review this? Perhaps this is could be a "help wanted" issue?

[2022-08-29 09:40] PallaviGanorkar commented on #1541
closing this issue as PR #1560 is merged

[2022-08-29 09:40] #1541 closed

[2022-08-29 12:16] joiskash commented on #1382
An example use case is Partial search with id. Eg:

[code]

The SearchParameter that we are using in the HAPI FHIR server is

[code]

[2022-08-29 14:42] KhumboLihonga commented on #1038
@f-odhiambo from my understanding, answerExpression is based on other answers in the questionnaire (as per the [example](https://github.com/google/android-fhir/issues/1039#issue-1102918595)), while candidate expressions can be based on information outside of the questionnaire itself. For instance, getting a list of patients to assign as a guardian of another patient. Does this sound correct?

[2022-08-29 17:59] shelaghm commented on #1260
Based on internal accessibility research, the usability of the slider is enhanced by pairing the slider with a text field.
I strongly recommend adding a text field with the slider. I've pasted a link to the research in our internal chat.
<img width="410" alt="Screen Shot 2022-08-29 at 10 58 47" src="https://user-images.githubusercontent.com/86378921/187267308-069ef863-b1b9-4862-ac71-afb1e3f18537.p

[2022-08-30 01:40] fredhersch commented on #1550
@shelaghm can you work with @williamito on UI design for this

[2022-08-30 04:15] fredhersch commented on #1491
@aditya-07are you working on this?

[2022-08-30 04:21] fredhersch commented on #802
@f-odhiambo is this for a new issue? Or to complete the current issue.

cc: @ekigamba @Tarun-Bhardwaj

[2022-08-30 04:23] fredhersch commented on #856
This issue should be closed now with Purge API. The action is to update the wiki documentation to ensure there is good exmaple for how to do this using the Purge API. @Tarun-Bhardwaj can you please create a new issue for this

[2022-08-30 04:23] #856 closed

[2022-08-30 06:02] santosh-pingle commented on #1528
in progress.

[2022-08-30 06:33] epicadk commented on #1565
Meanwhile you can use this for dev testing.
 https://github.com/google/android-fhir/wiki/Contributing#use-unreleased-github-build-for-developmenttesting-only

[2022-08-30 06:59] fredhersch commented on #764
@joiskash does the autoComplete not solve for this?

[2022-08-30 07:02] fredhersch commented on #1039
@Tarun-Bhardwaj Should this be closed? I think answerExpression was covered in a different issue.

cc: @jingtang10

[2022-08-30 07:04] fredhersch commented on #1439
@maimoonak @KhumboLihonga is this issue merfed with #971? Can we close this OR are there still open questions?

cc: @jingtang10 @Tarun-Bhardwaj @f-odhiambo

[2022-08-30 07:06] fredhersch commented on #800
Thanks @f-odhiambo - would it be worth merging this back into the SDK? @jingtang10

[2022-08-30 07:08] fredhersch commented on #1172
@jingtang10 is this still open?

[2022-08-30 07:15] fredhersch commented on #1514
@santosh-pingle can you confirm if this is fixed?

[2022-08-30 07:19] fredhersch commented on #1059
@shoaibmushtaq25 @Tarun-Bhardwaj what's the status of this issue?

[2022-08-30 09:00] joiskash commented on #764
Nope, this is related to having a drop down with autocomplete for filtering. In the "autocomplete" widget there is no way to look at all the answer options.

[2022-08-30 10:48] PallaviGanorkar commented on #1524
@shelaghm Could you please provide icons for Behaviors, Calculations and Skip logic.

[2022-08-30 11:33] shoaibmushtaq25 opened #1575 "Add a global map to apply variable values if already evaluated to avoid re-calculation"
**Describe the Issue**
This is a follow up issue for Code health as mentioned by @jingtang10 [here](https://github.com/google/android-fhir/pull/1328#discussion_r958077303)
**Would you like to work on the issue?**

[2022-08-30 12:55] f-odhiambo commented on #800
We can have a discussion on this , happy to elaborate more on the solution we took

[2022-08-30 22:18] maimoonak commented on #1246
The expressions support has a long list https://build.fhir.org/ig/HL7/sdc/expressions.html. Some of the expressions discussed in current thread are below

- Date picker restrict -> https://github.com/google/android-fhir/issues/1040 -> PR UNDER REVIEW    https://github.com/google/android-fhir/pull/1442
- Initial expression ->    https://github.com/google/android-fhir/issues/1033 -> PR MERGED -> htt

[2022-08-31 07:01] Itskiprotich opened #1576 "Validation: Highlight the required fields when a user submits a form"
**Is your feature request related to a problem? Please describe.**
With the SDC beta04, when I try to submit a form with unanswered required fields, it's hard to tell which field is required since the highlight only appears when a user interacts with a specific input field. Is it possible to allow the validators be seen at a glance?

**Describe the solution you'd like**
Is it possible to have all

[2022-08-31 12:33] f-odhiambo commented on #1246
@fredhersch See summery above on the related fhirpath expression tickets

[2022-08-31 12:34] f-odhiambo commented on #1568
@Tarun-Bhardwaj Picking this up. You can assign @maimoonak

[2022-09-01 04:13] #1059 closed

[2022-09-01 06:30] shoaibmushtaq25 commented on #608
Yes, Android allows creation of virtual tables. But looks like, with Room DB, only FTS3 and FTS4 virtual tables are allowed. This spellfix1 virtual table can be used with simple SQLite (without Room) but we have Room Implemented for android FHIR SDK. I need to check if we can mix both of them (Simple SQLite + Room).

[2022-09-01 07:08] f-odhiambo commented on #802
@fredhersch This is to complete current issue via PR  https://github.com/google/android-fhir/pull/1377

[2022-09-01 07:42] f-odhiambo commented on #1439
I think we can close this and mark as DONE

[2022-09-01 13:00] #1566 closed

[2022-09-01 13:29] maimoonak commented on #1568
@LZRS The FHIR does not suggest use of list of resources into fhirpath expressions. The tutorial also suggest where/select on properties of Resource under consideration like this http://hl7.org/fhirpath/#paths-and-polymorphic-items.

The [launchContext](https://build.fhir.org/ig/HL7/sdc/StructureDefinition-sdc-questionnaire-launchContext.html) also maps variables to one resource of a type.

The FH

[2022-09-02 06:27] santosh-pingle commented on #1514
It's reproducible.

[2022-09-02 10:07] aurangzaibumer commented on #1514
https://user-images.githubusercontent.com/35099184/188116008-b3d5212a-eb12-43a6-ab66-4546cc62e126.mp4

Tried this, it is working fine for me _(Not showing validation error on start)_

Emulator details
Pixel 4A
Android version 12
sdk_gphone64_x86_64-userdebug 12 SE1A.220203.002.A1 8151367 dev-keys

cc @f-odhiambo

[2022-09-02 11:13] f-odhiambo commented on #1576
This is related https://github.com/google/android-fhir/issues/544

[2022-09-02 11:19] f-odhiambo commented on #1038
Update - This issue depends on https://github.com/google/android-fhir/pull/1480  being merged as it uses the choice column which is already done in 1480

[2022-09-05 00:30] dubdabasoduba opened #1579 "[Form Validation] Hidden Required fields should not be validated"
**Describe the bug**
- Currently, when a field on the Questionnaire is hidden the Required validation check is still applied to it.
- This means the user will get an error prompting them to fill all required fields. The user is however not able to fill in the field since it's hidden.

**To Reproduce**
Steps to reproduce the behaviour:
1. Add a Required field in a questionnaire.
2. Fill up the ques

[2022-09-05 06:47] santosh-pingle opened #1580 "Input of one datepicker view get updated to another date picker view in layout."
**Describe the bug**
If number of date pickers are added to the layout/form, and input is given to the one date picker view then same value get updated to the another random date picker from the layout.
Please refer attached video and questionnaire json for more information.

https://user-images.githubusercontent.com/86107848/188381513-f8c6d2ef-31e9-49aa-aed9-b831eceb18b0.mov

[code]

**Component*

[2022-09-05 06:50] santosh-pingle commented on #1580
@aditya-07
Is this same kind of issue of #1537 which you already provided fix.

[2022-09-05 06:59] santosh-pingle commented on #1580
Same issue is also present in datetime picker view.

[2022-09-05 07:10] santosh-pingle commented on #1580
cc @jingtang10 @Tarun-Bhardwaj

[2022-09-05 07:36] aditya-07 commented on #1580
@santosh-pingle Yes, it looks like the issue might be because of the check here https://github.com/google/android-fhir/blob/3a5891424937aefe3ee08fa1d1bd991e6e9a8158/datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDatePickerViewHolderFactory.kt#L106

[2022-09-05 07:39] aditya-07 commented on #1580
@santosh-pingle Also check Date time picker as the same issue might be present there as well.

[2022-09-05 07:48] jingtang10 commented on #1580
for the purpose of the video can you please remove the text display questions? it makes it so much easier to see.

[2022-09-05 08:20] santosh-pingle commented on #1580
yes, its present, I already mentioned in the previous comment. thanks!

[2022-09-06 05:20] shoaibmushtaq25 commented on #608
Also as per official documentation about spellfix [here](https://www.sqlite.org/spellfix1.html), it is not included in Standard SQLite Amalgamation but can be loaded as a separate extension.

[2022-09-06 06:28] joiskash commented on #1306
A related issue to this is that Encounter.CLASS search does not work. This is because fhirType "Coding" is missing from the tokenIndex function in ResourceIndexer.kt. We need to add these lines.

[code]

[2022-09-07 11:05] PallaviGanorkar commented on #1524
@shelaghm Please find attached screen shot, here Behaviors icon looks smaller compare to Components and Layouts icon,
I have used icon from suggested link  https://fonts.google.com/icons?selected=Material%20Symbols%20Outlined%3Acalculate%3AFILL%400%3Bwght%40400%3BGRAD%400%3Bopsz%4048

![Screenshot_20220907_163026](https://user-images.githubusercontent.com/13957417/188863515-187b0dd7-26d0-4c15-9878

[2022-09-07 11:09] PallaviGanorkar commented on #1524
One thing I observed here, there is transparent area present in all four sides of Behavior icon which is not in Layouts icon and Components icon has it on right and top border. So can we update Behavior icon as required.

[2022-09-07 15:31] aditya-07 commented on #1483
Based on the discussion between @jingtang10 @joiskash @aditya-07, providing a way for the application to specify the number of resources in each Bundle would solve the problem.

[2022-09-07 20:42] williamito commented on #928
The core issue appears to be that the SDC Library can parse the `.expansion` version of codes, and not `.compose`.

From [ValueSet](https://www.hl7.org/fhir/valueset.html):

To my understanding these two questionnaires with included valuesets should be equivalent but only the first works.

Working:
[code]

Not Working:
[code]

[2022-09-08 06:11] santosh-pingle opened #1585 "Boolean choice component can appear before single choice component in catalog app."
**Describe the bug**

In the catalog app, boolean choice is shown after the single choice component.
**Component**
 SDC gallery app

**Expected behavior**
It is expected to show boolean choice component before single choice component.

**Screenshots**
If applicable, add screenshots to help explain your problem.

<img width="433" alt="Screen Shot 2022-09-08 at 11 36 21 AM" src="https://user-images.

[2022-09-08 06:22] santosh-pingle opened #1586 "Move error message for boolean/single/multiple choice type widgets to above the choices"
**Describe the bug**
When error message get shown below the sdc components like boolean choice, single choice etc, there is not enough margin in between view and error text.

**Component**
SDC library

**Expected behavior**
It is expected to show enough margin in between view and error texts.

**Screenshots**
<img width="430" alt="Screen Shot 2022-09-08 at 11 46 56 AM" src="https://user-images.git

[2022-09-08 06:32] santosh-pingle opened #1588 "Scroll bar is missing in the modal dialog when the list of options get scrolled."
**Describe the bug**
Modal or open choice dialog has list of more options, and when user starts scrolling options list then scroll bar is not shown.

**Component**
SDC library

**Expected behavior**
It is expected to show scroll bar for list of answer options if it has more items.

**Screenshots**
If applicable, add screenshots to help explain your problem.

<img width="436" alt="Screen Shot 2022-

[2022-09-08 06:44] santosh-pingle opened #1589 "In Date view if typed input is invalid then appropriate error message should be displayed."
**Describe the bug**
While user is typing date input until typed date input is valid, it shows ` missing answer for required field` as error message.

**Component**
SDC library

**Expected behavior**
It is expected that while user is typing date input until it is valid date, then it should show invalid input.

**Screenshots**

<img width="433" alt="Screen Shot 2022-09-08 at 12 12 14 PM" src="https

[2022-09-08 06:56] santosh-pingle opened #1590 "In the catalog app Slider question text needs to be changed, as currently supported step value is 10."
**Describe the bug**
In the catalog app for slider view workflow, `How many times have you been pregnant?` is shown as question text, but current implementation only supports 10 as step value, as result value change in the multiple of 10 number when get changed which is not fair.

**Component**
SDC gallery app

**Expected behavior**
It is expected to change question text until sdc start supporting

[2022-09-08 07:12] santosh-pingle opened #1591 "Error workflow is not required for the slider component in the catalog app."
**Describe the bug**
In the catalog app, when user opens error workflow for slider component and changes value, it never shows error message.
Slider has default value which is zero.

**Component**
SDC gallery app

**Expected behavior**
It is expected if error workflow does not show error message then better skip this workflow for slider view.

**Screenshots**
<img width="427" alt="Screen Shot 2022

[2022-09-08 07:17] santosh-pingle opened #1592 "Autocomplete view does not show material3 chips."
**Describe the bug**
Autocomplete view implementation in the sdc library is not supporting material 3 chips yet.

**Component**
SDC library

**Expected behavior**
It is expected that autocomplete view start supporting material  chips.

**Screenshots**

<img width="434" alt="Screen Shot 2022-09-08 at 12 45 16 PM" src="https://user-images.githubusercontent.com/86107848/189058993-33be10dc-badb-4f08-9

[2022-09-08 07:26] santosh-pingle opened #1593 "Submit menu is shown in the application bar for layout page in the catalog application."
**Describe the bug**
Catalog app can style sdc library submit button to mark it as visible or gone, and can use it to submit the form.
Catalog app also shows submit menu in the application bar for default and paginated layout.

**Component**
SDC gallery app

**Expected behavior**
It is expected to remove submit menu from application bar.

**Screenshots**
<img width="428" alt="Screen Shot 2022-09-0

[2022-09-08 07:34] santosh-pingle opened #1594 "Entered input gets cleared in the Integer type textfield after a certain range of value."
**Describe the bug**
In the catalog app, when textfield workflow get opened and user start providing input for ID textfield, after certain range of input value it shows blank text field and there after only shows new typed input value.

**Component**
SDC gallery app

**Expected behavior**
It is expected to show typed input.

**Screenshots**

https://user-images.githubusercontent.com/86107848/18906

[2022-09-08 09:13] FikriMilano commented on #802
@jingtang10 as you requested, to put the implementation in one place.
I created QuestionnaireItemMediaView that populates everything item-media related

[2022-09-08 12:48] delcroip opened #1595 "resourcemapper.extract ($transorm operation) fails for id part of the source resource"
**Describe the bug**
when the mapping is between an automatically generated id (i.e. not part of the source) then it worked but if the id was defined in the source `src.id -> tgt->id` then it fails with that error message

[code]

**Component**
resourcemapper.extract
https://github.com/google/android-fhir/wiki/SDCL%3A-Use-ResourceMapper#extract-fhir-resources-from-a-questionnaire-response

**To Re

[2022-09-08 13:57] KhumboLihonga opened #1596 "For paginated questionnaires, validate the active page before moving to the next page"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I get to the last page of a paginated questionnaire, attempt to save and realize I missed something on an earlier page. This means I have to repeatedly tap the 'previous' button, till I find where the required field is and then I can attempt to save once again.

**Describe the solution you'd like**
It wou

[2022-09-08 14:11] KhumboLihonga opened #1597 "Make the autocomplete widget more usable"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when using the auto-complete widget to select a single option. To begin with, two letters need to be typed before any options are made visible. In addition, the widget unnecessarily expands to a multi-line widget.

**Describe the solution you'd like**
1. When typing, I think it would be better if the suggestio

[2022-09-08 14:16] KhumboLihonga commented on #1439
Apologies for the late response, but yes we can close this.

[2022-09-08 14:16] #1439 closed

[2022-09-08 14:27] shelaghm commented on #1524
@PallaviGanorkar So I think you've implemented the behavior icon correctly, there should be transparent padding /border around the icon. Instead we need to fix the other two icons so they are consistent.

Attaching some screenshots from my figma that shows the padding around the icons. All icons should be 24px
<img width="326" alt="Screen Shot 2022-09-08 at 07 11 13" src="https://user-images.githu

[2022-09-08 14:54] shelaghm commented on #1590
@santosh-pingle is this the right screenshot for this issue?

[2022-09-08 14:56] shelaghm commented on #1590
I don't think changing the question should be prioritized. Instead I think we should fix the slider component so it works as described in this issue https://github.com/google/android-fhir/issues/1260

[2022-09-08 15:07] PallaviGanorkar opened #1599 "questionnaire item shows error message twice"
**Describe the bug**
 Questionnaire item has "required": true, field define twice one at group level and other for individual item, them after validation error message is show twice on the screen.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Modify screener_questionnaire in Demo app as below json snippet at respective linkId
2. Install demo app
3. Open Demo app

[2022-09-08 15:17] PallaviGanorkar commented on #1151
- "prior-edit" entry mode added in screen_questionnaire to validate required field and show error message which blocks moving to next screen when required field is not answered.
- Still on submit button click shows error message like "Inputs are missing.", As discussed with @aditya-07 this handling is added in Demo app just to show another way of error/validation handling.

[2022-09-08 16:04] shelaghm commented on #1589
Some thoughts
- I agree the error message should be updated
- While the user is typing it should display the hint text / date format text below.
- The flyover text should say Date.
- The error shouldn't appear while they are typing. Not exactly sure how we can do this, but it is frustrating to see errors too early and before people have completed the field.

What do you think @santosh-pingle @jing

[2022-09-08 16:06] shelaghm commented on #1594
Discussed
- Use multi-line text to fix this issue.
- Also need to specify a range, validate range.

[2022-09-08 16:07] shelaghm commented on #1593
I agree.

[2022-09-08 16:11] shelaghm commented on #1591
Discussion:
- With today's implementation no need for error workflow
- In future implementation as specified https://github.com/google/android-fhir/issues/1260, error workflow likely needed due to keyboard entry box. Ability to set min and max range for slider.

[2022-09-08 16:12] shelaghm commented on #1590
Short term fix is to change the question.

Q for @jingtang10 what priority is fixing the slider functionality?

[2022-09-08 16:19] shelaghm commented on #1586
What is the padding right now? @santosh-pingle
- Adjust it to 4px padding between text box and hint text/error text

[2022-09-08 16:19] shelaghm commented on #1585
Sounds good 👍

[2022-09-08 17:57] shoaibmushtaq25 commented on #608
As discussed over the call with @jingtang10 today, cc: @f-odhiambo
For the following steps,

- I will be doing a POC on using  https://www.sqlite.org/spellfix1.html on the Android app and
- @maimoonak will be doing more research on Lucene to check if Lucene have the ability of fuzzy search and does Lucene supports it as the core feature or do we need to use any library for that
- And then we will

[2022-09-08 18:46] williamito opened #1600 "Add support for unitOption and/or unitValueSet"
This is a continuation of #1550, see there for additional context.

A primary purpose of Questionnaire item `type='quantity'` is the ability for the user to select a unit from a list of options using the [`unitOption` or `unitValueSet` extensions](http://hl7.org/fhir/uv/sdc/behavior.html#choice-restriction). We currently do not support either, so `type='quantity'` items are not very usable in SDC.

[2022-09-08 18:48] williamito commented on #1550
@fredhersch I edited this issue to just be for the questionnaire-unit extension and created #1600 for the rest. I think we discussed this scoping would be a P1?

[2022-09-08 19:04] shelaghm commented on #1550
@williamito Is there a UI design need here or are we all set?

[2022-09-08 19:11] williamito commented on #1550
@shelaghm Some design needed - how to render the unit associated with an item if specified in the Questionnaire. For example, a questionnaire might have a `decimal` item where the unit is specified as `kg`, so that should be shown somehow. I don't know what the longest string that might occur is. LMK if you need more context.

[2022-09-08 19:16] shelaghm commented on #1550
@williamito

Here are the existing design mocks I have. This implies that the user can select the unit type. I assume we also need functionality for a static unit like `kg` when there's only one option?

<img width="1063" alt="Screen Shot 2022-09-08 at 12 12 58" src="https://user-images.githubusercontent.com/86378921/189206728-016d03d1-e1a5-4f51-91ae-529fac80e653.png">

[2022-09-08 20:08] williamito commented on #1550
Thanks! Yes, this is specifically for the static case.

On Thu, Sep 8, 2022, 12:17 PM Shelagh McLellan ***@***.***>
wrote:

[2022-09-08 21:40] shelaghm commented on #1550
Could we use the `hint` text field to show the units? What do you think of that?
Alternative could be to have leading text. See screenshot for both options.

<img width="789" alt="Screen Shot 2022-09-08 at 14 39 41" src="https://user-images.githubusercontent.com/86378921/189230896-af49e58e-6692-4eb9-b3f7-500adf93d2b6.png">

[2022-09-08 21:50] williamito commented on #1550
If the `hint` text isn't used for anything else, that makes sense to me.

[2022-09-09 08:29] Gental-Giant commented on #1597
@f-odhiambo Kindly take a look

[2022-09-09 08:30] Gental-Giant commented on #1596
@f-odhiambo Kindly take a look

[2022-09-09 09:21] f-odhiambo commented on #1596
This issue was part of the test cases being resolved via ticket #1001. I will check if this applies or if perhaps missing from the latest release

[2022-09-09 09:22] f-odhiambo commented on #1597
This will need to be triaged

[2022-09-09 09:41] f-odhiambo commented on #1596
This https://github.com/google/android-fhir/pull/1301 PR (merged) solved that problem

[2022-09-09 14:50] #1521 closed

[2022-09-09 15:19] #1151 closed

[2022-09-09 15:19] #1599 closed

[2022-09-09 19:25] shelaghm commented on #1528
@santosh-pingle you can download the SVG for help icon here (it is open source) https://fonts.google.com/icons?selected=Material%20Symbols%20Outlined%3Ahelp%3AFILL%400%3Bwght%40400%3BGRAD%400%3Bopsz%4048

[2022-09-09 19:46] shelaghm commented on #1600
Design mocks
<img width="1063" alt="Screen Shot 2022-09-08 at 12 12 58" src="https://user-images.githubusercontent.com/86378921/189431451-2ac05b6f-cf27-490c-acea-456133ffd156.png">

[2022-09-12 05:38] santosh-pingle commented on #1528
@shelaghm Can you please also update style for below items

- Help
- Only one answer can be selected. If none apply ...
-  Background drawable where above 2 texts are shown.

[2022-09-12 10:03] #1580 closed

[2022-09-12 21:28] williamito opened #1604 "Autocomplete chip is empty if display text not specified"
**Describe the bug**
I have an answerOption with a bunch of codes without display text, e.g.

[code]

When using autocomplete, it searches on all the `code` text which I believe is reasonable, but when I select one the chip itself is empty.

**Component**
SDC Library

**To Reproduce**
Load a questionnaire with answerOption items without `display` values.

**Expected behavior**
The `code` is used t

[2022-09-13 00:13] shelaghm opened #1605 "Use generic examples in SDC catalog app"
**Is your feature request related to a problem? Please describe.**
Many components use ANC specific examples based on WHO ANC questionnaires, which is not be relevant for all audiences and can be confusing for some implementers.

**Describe the solution you'd like**
Update the copy to be very generic and label each button with what it is called in the FHIR SDK.

**Describe alternatives you've cons

[2022-09-13 12:54] delcroip commented on #1595
https://github.com/google/android-fhir/blob/63accbfa6ceb03fe10c4928056af4aa047772ac4/demo/src/main/java/com/google/android/fhir/demo/EditPatientViewModel.kt#L54
here it seems that the patient id can be set

[2022-09-13 12:58] delcroip commented on #1061
https://github.com/google/android-fhir/blob/63accbfa6ceb03fe10c4928056af4aa047772ac4/demo/src/main/java/com/google/android/fhir/demo/EditPatientViewModel.kt#L54

here it seems that the patient id can be set for populate

[2022-09-13 14:48] #1381 closed

[2022-09-14 07:34] Tarun-Bhardwaj commented on #1568
@maimoonak , based on your inputs above , are changes required for this issue?

[2022-09-14 07:35] Tarun-Bhardwaj commented on #1565
@jingtang10 , should we keep this issue open?

[2022-09-14 07:36] Tarun-Bhardwaj commented on #1543
@KhumboLihonga , are these changes needed based on the workaround provided by @maimoonak ?

[2022-09-14 07:43] Tarun-Bhardwaj commented on #1520
@jingtang10 , are these changes still needed?

[2022-09-14 07:49] Tarun-Bhardwaj commented on #1514
@santosh-pingle , could you please confirm if this is still reproducible?

[2022-09-14 07:51] Tarun-Bhardwaj commented on #1509
@vitorpamplona , could you please suggest a priority and development effort (in days) for fixing this issue?
CC: @jingtang10

[2022-09-14 07:57] Tarun-Bhardwaj commented on #1425
@joiskash , are you still facing this issue?

[2022-09-14 11:42] aditya-07 opened #1607 "Make sure all the data types for particular Search Parameter Types are indexed properly in the engine database."
A related issue to this is that Encounter.CLASS search does not work. This is because fhirType "Coding" is missing from the tokenIndex function in ResourceIndexer.kt. We need to add these lines.

[code]

cc: @aditya-07

_Originally posted by @joiskash in https://github.com/google/android-fhir/issues/1306#issuecomment-1237711713_

See https://www.hl7.org/fhir/search.html#ptypes for the list of data

[2022-09-14 16:12] shelaghm commented on #1605
Make slightly less generic:
- Add a title for questions

[2022-09-14 16:15] jingtang10 commented on #1597
i think these make a lot of sense

[2022-09-14 16:22] shelaghm commented on #1260
How to clear selection/answer for the slider? Do we have a pattern for this?

[2022-09-14 16:23] jingtang10 commented on #1589
sounds good to me

[2022-09-14 16:24] dubdabasoduba opened #1608 "Adding the ability to save QuestionnaireResponse as In Progress"
**Is your feature request related to a problem? Please describe.**
- Currently, when a user exits a form without saving they are only presented with the dialog letting them know that the form content will be discarded.
![Screenshot_20220914_151214 (copy)](https://user-images.githubusercontent.com/4817531/190204045-f5e00e1b-2abb-4c0e-9836-a879cc1d73d5.png)
- We however want to give the user the abi

[2022-09-14 16:26] shelaghm commented on #1589
Discussion w/ Jing:
- Difficult to define when people are typing or are done typing
- Don't show error message if nothing has been typed.

Decision: always validate as users type

[2022-09-14 16:30] #1539 closed

[2022-09-14 16:32] jingtang10 commented on #1539
actually this is not a duplicate of 1523.

@joiskash we're saying that for paginated questionnaire we have 1 progress bar on top indicating where you are amonst the pages. it would be hard and confusing to include another progress bar to indicate the scrolling status of the current page. as shelagh suggested, the best way to approach this is to make sure when you have paginated questionnaire, each

[2022-09-14 16:34] shelaghm commented on #1523
Question: do we want to add page 1 of 3 next to next/back buttons on a paginated.

[2022-09-15 07:07] shoaibmushtaq25 commented on #608
I was doing a POC on https://www.sqlite.org/spellfix1.html to load it into the Android app and use it for spell correction to facilitate fuzzy search on SDK.
So far, I am able to load this  https://www.sqlite.org/spellfix1.html c library into an android project after resolving the ndk-related errors (linking and loading errors) but still have to play with the https://www.sqlite.org/spellfix1.html

[2022-09-15 07:55] joiskash commented on #1539
Ok but this is not an optimum solution. Considering different phone screen size , table vs mobile. Etc. This would mean created different questionnaires for different screen size. Or else the feedback that we will receive (and have received)  is that more questions can be added to a page instead of leaving it half empty.

[2022-09-15 08:17] fredhersch commented on #764
@shelaghm can you help here with a design

[2022-09-15 20:31] shelaghm commented on #764
@joiskash What is the content in the dropdown? is it the State or LGA example? How many answer options are in the list usually? is it 20, 50, 100? This context is helpful when I'm mocking up designs. Thanks

I'm waiting on seeing the latest APK with the auto complete implementation and then I'll mock this up.

[2022-09-16 06:12] shoaibmushtaq25 commented on #608
As discussed in the Android FHIR SDK developers call, @jingtang10 will also be looking for other alternative options available for fuzzy search + FTS. I will have to complete the POC of spellfix extension and document the finding over here and discuss the next steps going forward with @maimoonak and @jingtang10. Also, @maimoonak will be doing some more research on `Lucene` to check if it supports