[2021-06-03 13:29] ekigamba commented on #504
@jingtang10 Yea, that's right. What about the referencing? I remember you had an elaborate idea around that

[2021-06-03 13:45] ekigamba commented on #504
Quick one, we are also aiming to add configurability as much as we can and prevent hardcoding logic as much as we can. Can we break("extend") the SDC standard and add constants/functions that can be replaced/executed  at the end of extraction eg.
1. `$UUID.generate()`  - To generate a UUID
2. `$this.linkId`  - To copy the value from another answer
For definition-based extraction only? The idea is

[2021-06-03 14:27] roboton commented on #531
We should also consider the case where a FHIR questionnaire could be turned into an XLSForm or XForm and produce FHIR resource records as a result.

[2021-06-03 14:33] pld commented on #263
So the family has a different location from the individual family members?

[2021-06-04 05:51] epicadk commented on #493
Do you mean [$evaluate-measure](https://www.hl7.org/fhir/operation-measure-evaluate-measure.html)?

[2021-06-04 12:45] kevinmost opened #534 "Clients have to use packagingOptions to filter duplicate META-INF/ files"
Our dependency on `com.github.java-json-tools:json-patch` brings in multiple `META-INF/ASL-2.0.txt` and `META-INF/LGPL-3.0.txt` files to client projects. This will result in an error in apps that use the FHIR SDK like this:

[code]

Adding a `packagingOptions { ... }` block in the library is not enough, as these files are not actually present in the library, but end up getting merged into the clie

[2021-06-04 13:14] jingtang10 opened #535 "Retry in syncing resources"
**Is your feature request related to a problem? Please describe.**
When syncing data from the client to the server there may be failures due to poor connectivity meaning the data is not properly sync'd

**Describe the solution you'd like**
Handle sync (upload/download) failures and retry appropriately.

When there is a sync failure, the SDK should:
- Retry in the background after waiting for X min

[2021-06-04 14:48] Tarun-Bhardwaj commented on #374
@joiskash , updated the estimated completion date as **18th June** as per our discussion.

[2021-06-04 18:29] f-odhiambo commented on #414
I think we can deprioritize this for now unless there is a strong use case for it which doesn't seems to be the case at the moment

[2021-06-05 03:00] Ana2k commented on #406
I am currently working on a couple of fhir engine test files.
As soon as they are done, will make a pr for this.

[2021-06-06 07:39] FikriMilano opened #537 "SDC gallery app crashed after inputing number value first in 'Year of Birth' in 'HIV Case Report With Vietnamese Translation'"
**Describe the bug**
SDC gallery app crashed after inputing number value first in 'Year of Birth' in 'HIV Case Report With Vietnamese Translation'.
But does not crashes after inputing coma or dot first then number value, ex: ',.0123'

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'HIV Case Report With Vietnamese Translation'
2. Click on 'Year of Birth'
3

[2021-06-06 08:08] epicadk commented on #537
Possible duplicate of #527

[2021-06-06 09:44] FikriMilano commented on #537
I think you are right @epicadk

@maanuanubhav999 could you also check this one too?

[2021-06-06 10:15] maanuanubhav999 commented on #537
thanks, @FikriMilano , I thought the issue was with quantity data type only but seems like we are comparing different data types sometimes.Will surely check on this.

[2021-06-06 10:57] maanuanubhav999 commented on #537
@FikriMilano Can you just update the repository and then try to run this again.
It does not seem to occur in the latest update but prior updates have this issue.

[2021-06-06 11:35] FikriMilano commented on #537
Sorry, I think you are right. I forgot to pull the updates.

[2021-06-06 11:35] #537 closed

[2021-06-06 18:15] epicadk commented on #493
Also would the evaluation take place on the server or on the data stored in SQLite?

[2021-06-07 06:28] joiskash commented on #374
So is the expectation that the client application that is using the sdk will call a function like `fragment.validateCurrentQuestionnaireResponse()` ? or is this an API internal to the SDC library?

[2021-06-07 07:57] deepankarb opened #539 "All roboelctric unit tests are failing"
`./gradlew check` is failing:

[code]
Verbose logs ( with `./gradlew -i -d check`):

[code]

Additional info
Looks like the repo URL needs to be fixed in the plugin:

[code]

[2021-06-07 08:18] deepankarb commented on #539
Reference issue : https://github.com/robolectric/robolectric/issues/5456

[2021-06-07 10:44] #458 closed

[2021-06-07 14:52] Kigamba commented on #504
Links to FHIR chat questions on the use of `initialExpression` and `calculatedExpression` extensions

https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/calculatedExpression.20.26.20type/near/241787902
https://chat.fhir.org/#narrow/stream/179266-fhirpath/topic/Creating.20a.20Coding.20in.20FHIRPath/near/241785622

[2021-06-07 14:52] Kigamba commented on #504
An example showing how to use `calculatedExpression` to calculate the BMI when the weight and height of a person are entered http://build.fhir.org/ig/HL7/sdc/examples.html#using-calculatedexpression-and-variable

[2021-06-07 14:53] ekigamba commented on #504
Links to FHIR chat questions on the use of `initialExpression` and `calculatedExpression` extensions

https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/calculatedExpression.20.26.20type/near/241787902
https://chat.fhir.org/#narrow/stream/179266-fhirpath/topic/Creating.20a.20Coding.20in.20FHIRPath/near/241785622

[2021-06-07 14:54] ekigamba commented on #504
An example showing how to use `calculatedExpression` to calculate the BMI when the weight and height of a person are entered http://build.fhir.org/ig/HL7/sdc/examples.html#using-calculatedexpression-and-variable

[2021-06-07 17:14] epicadk opened #541 "Distinction between date and datetime in indexing."
Can you send a follow-up PR to create a new index table to handle this distinction? I think the current table should probably be the date time index and we should create another one for date index which has epoch day (low and high).

_Originally posted by @jingtang10 in https://github.com/google/android-fhir/pull/419#discussion_r646719722_

[2021-06-07 20:00] maanuanubhav999 commented on #527
Currently, Only numeric part of the quantity is being handled and as result, when we are validating the inputs we were comparing the QuestionnaireResponseItemAnswerComponent(**Quantity type**) to  **Integer** which was causing the error.
Possible solutions according to me.
1. Change the QuestionnaireResponseItemAnswerComponent(**Quantity type**) to QuestionnaireResponseItemAnswerComponent(**Intege

[2021-06-07 21:40] #514 closed

[2021-06-08 08:46] shoaibmushtaq25 opened #542 "Horizontal layout support for radio buttons in the datacapture library"
**Radio group/buttons horizontal layout is not supported in the datacapture library**
I added a patient gender as horizontal radio group with the `choiceOrientation` as `horizontal` in Patient questionnaire on implementer app but I found out the horizontal layout is not supported yet in datacapture library

[code]

**Solution**
We need to implement http://hl7.org/fhir/R4/extension-questionnaire-ch

[2021-06-08 09:09] FikriMilano commented on #542
@shoaibmushtaq25 may I?

[2021-06-08 09:14] shoaibmushtaq25 commented on #542
@FikriMilano Yeah sure, you can pick it up. Thanks for it. :+1:

[2021-06-08 09:16] ekigamba commented on #527
@maanuanubhav999 That's correct. I think the form authoring might be wrong. The question type is quantity and therefore the min value should also be a quantity. At first, #2 should have been the way to go. However, this would have required declaring the `minValue` as a quantity and this is probably not in the spec https://www.hl7.org/fhir/extension-minvalue.html. The spec supports only **valueDate

[2021-06-08 11:19] jingtang10 commented on #542
Use the choice orientation extension:

http://hl7.org/fhir/uv/sdc/2019May/rendering.html#control-appearance

[2021-06-08 14:08] ekigamba commented on #542
@jingtang10 Correct, I have updated the issue with the correct details. Are you OK with this? Should this be implemented to all choice type questions

[2021-06-08 16:35] ekigamba commented on #504
@jingtang10
1. FHIRPath and FHIR expression cannot be used to generate a `UUID`
2. `calculatedExpression` can be used to copy the a value on another item through the FHIR Expression. The FHIR expressions can be used to access anything in the Questionnaire/QuestionnaireResponse via `%questionnaire` and `%resource`. However, if you are dealing with an Expression in a repeating group, you can't find

[2021-06-09 06:31] FikriMilano commented on #542
Ok, I will use this

[2021-06-09 06:43] FikriMilano commented on #542
I think we might as well implement this for all choice type questions. I'm open for further suggestions though. @ekigamba @jingtang10 @shoaibmushtaq25

[2021-06-09 14:34] ekigamba opened #543 "StructureMap-based extraction"
**Is your feature request related to a problem? Please describe.**
Partly yes.

1. Problem - Extracting complex multiple resources and performing transformations is currently not possible
2. FHIR Spec support - We need to support SDC StructureMap-based extraction mechanisms

**Describe the solution you'd like**
Defining a Questionnaire with the StructureMap reference and automatically getting the

[2021-06-10 04:40] FikriMilano commented on #542
As mentioned here,

choiceOrientation: Identifies the desired orientation when rendering a list of choices (typically radio-box or check-box lists).

Therefore, I plan to add horizontal layout support for radio-button and check-box.

[2021-06-10 06:09] Tarun-Bhardwaj commented on #374
@jingtang10 , do you have any update for Kashyap on his last comment above?

[2021-06-10 06:13] joiskash commented on #374
Yes, jing did update me on this, just copying the response here for reference

3. We also need to check if required answers have been completed

[2021-06-10 06:55] Tarun-Bhardwaj commented on #520
@aditya-07 , estimated effort for this issue is 5 days.

[2021-06-10 08:01] fredhersch commented on #470
Thanks @kunjan8794 For handling the error messages back to the UI, we agreed to define a set of CONSTANTS within the strings.xml for each field type that can then be translated by implementers

@jingtang10 to propose update to FHIR Spec to handle this in the future

[2021-06-10 09:40] ekigamba commented on #543
@jingtang10 Could you take a look at this and see if this implementation is OK with you?

[2021-06-10 12:23] kunjan8794 commented on #470
@jingtang10 I might have to pass the Context to the Validators in order to access string resources. I was able to do that but was confused and unable to do that in the unit tests. Can you suggest something here?

[2021-06-10 13:42] #185 closed

[2021-06-10 17:28] maanuanubhav999 commented on #539
Should we upgrade the robolectric version to 4.5.1   https://github.com/robolectric/robolectric/releases/tag/robolectric-4.5.1

[2021-06-10 19:07] Manikant25 opened #544 "Add "required" text for required fields in Questionaire"
**Is your feature request related to a problem? Please describe.**
No this is just an enhancement.

**Describe the solution you'd like**
Asterisks symbol can be added for the fields which have an attribute ``"required": "true"``.
``*`` indicates required fields as seen in the sample below.

<img width="311" alt="Screenshot 2021-06-11 002613" src="https://user-images.githubusercontent.com/55659857/

[2021-06-10 19:09] Manikant25 commented on #544
@jingtang10  If you like the feature, then may I start with it.

[2021-06-11 03:48] epicadk commented on #544
#470 ?

[2021-06-11 04:19] Manikant25 commented on #544
okay, thanks.

[2021-06-11 08:39] maanuanubhav999 commented on #527
Continuing the chat regarding the questionnaire in [https://chat.fhir.org/#narrow/stream/179166-implementers/topic/Questionnaire](url).   @ekigamba The form authoring seems to be correct but using quantity is complex and In chat they recommend using decimal type if the units are fixed But our question has units of three types **days, month, year**.

So should we make changes to the questionnaire??

[2021-06-11 11:05] jingtang10 commented on #542
yeah that's fine. thanks for taking this up.

[2021-06-11 12:54] maanuanubhav999 commented on #530
@joiskash, can I work on this?

[2021-06-11 13:00] joiskash commented on #530
Sure , it fine by me :) cc: @Tarun-Bhardwaj @jingtang10

[2021-06-11 16:11] epicadk opened #545 "Use parametrized tests for Number Search"
or use proper parameterized tests? may be an overkill though.

_Originally posted by @jingtang10 in https://github.com/google/android-fhir/pull/436#discussion_r650080850_

[2021-06-11 18:42] epicadk commented on #545
I think we could test each prefix for the following cases

1. Decimal (100.00)
2. Integer (100)
3. Integer in scientific notation (1e2)

[2021-06-12 04:16] #435 closed

[2021-06-12 06:33] Manikant25 commented on #544
#470 does show an asterisk for required fields.

[2021-06-14 09:18] epicadk opened #547 "implement date sort"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Implement Date sort

**Additional context**
Add any other context or screenshots about the feature request here.

https://www.hl7.org/fhir/search.html#_sort

**Would you like to work on the issue?**
Please state if this issue should be assigned to you or who you think could help to solve this issue.

[2021-06-14 10:12] ndegwamartin commented on #503
@fredhersch could I get access to the mock up linked above so that I can implement the language switcher?

[2021-06-14 11:59] #505 closed

[2021-06-15 15:06] jingtang10 commented on #520
@aditya-07 and I had a discussion today. We will be using a drop down list and chips (https://material.io/components/chips) and will focus on multiple choice questions to begin with.

[2021-06-15 17:34] jingtang10 commented on #530
thanks for creating this issue!

[2021-06-15 17:53] roboton commented on #531
This link may be useful for seeing how Enketo used XSLT to transform XForms into web forms: https://enketo.org/develop/

The idea is that same XSLT can turn FHIR resources into XForms and back (Questionnaires <> XForm)

[2021-06-15 17:54] roboton commented on #532
If we supported XForms, we could simply rely on Enketo for the web rendering (this is what Medic uses): https://enketo.org/develop/

[2021-06-15 20:13] Ana2k commented on #184
hi @jingtang10 is this being revisited now?
i saw it in-progress here : https://github.com/google/android-fhir/projects/1#column-12632674
can I work on this?

[2021-06-15 20:18] Ana2k commented on #499
hi @jingtang10 i wanted to work on this issue if this is still open.

[2021-06-16 05:33] Manikant25 opened #551 "Incorrect Max and Min value in mobile number"
**Describe the bug**
While entering a mobile number it shows a warning after entering 6 digits mobile number. While max limit should be
around 10-15 digits.  And minimum digit mobile number is 7 digits.
And alternate mobile number shows no warning.

**Component**
 SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'SDC gallery app'
2. Click on 'Patient Registration'
3. Scr

[2021-06-16 07:21] fredhersch commented on #503
@ndegwamartin Martin, what would be better is if you could add a drawer to the demo app and have the language option in there. Similar to the COVAX demo app that was shared yesterday

[2021-06-16 08:16] fredhersch commented on #520
@jingtang10 @aditya-07 Here is a mock for the basic filter forward scenario. For this scenario there is just **1 option selected.**

For multiple options, this should align with the design for the multi-select drop down in issue #216. We should align the design for these. I'll take an action here

![HIV Case Reporting Search forward](https://user-images.githubusercontent.com/34733/122182832-3c4186

[2021-06-16 08:16] #508 closed

[2021-06-16 09:01] fredhersch commented on #520
As discussed, let's stick with the filter forward with multiple chips as per your POC @aditya-07 . Looks awesome. Thanks

[2021-06-16 09:06] ndegwamartin commented on #503
@fredhersch yeah I think we can go with the drawer approach.

 For the _configuration_ of the list of languages, what did you have in mind?

[2021-06-16 09:59] ndegwamartin opened #552 "Add support for translations on CodeSystem and ValueSet"
**Is your feature request related to a problem?**
Add support for translations on CodeSystem and ValueSet : https://www.hl7.org/fhir/languages.html#%23term.

This is related to the internationalisation(i18n) spec. Currently we only support [Translation Extensions](https://www.hl7.org/fhir/languages.html##ext)

**Describe the solution you'd like**
For applications using the **Code System**, we'd li

[2021-06-16 11:29] ekigamba commented on #527
@maanuanubhav999 I guess we might have to change the question type and use a fixed value or remove the `minValue` for the timebeing

[2021-06-16 12:41] ekigamba opened #553 "UUID generation function on FHIR expression"
**Is your feature request related to a problem? Please describe.**
Definition-based extraction does not support use-cases of multiple resource extraction where references to the main resource are required during extraction. This requires the main resource to have an ID

**Describe the solution you'd like**

**Describe alternatives you've considered**
Use https://www.hl7.org/fhir/mapping-language.h

[2021-06-16 13:05] fredhersch commented on #503
@ndegwamartin re: configuration - I was just thinking it would be based on an input file (like the strings.xml) with options for the languages

[2021-06-16 16:08] ndegwamartin commented on #503
@fredhersch got you. We can have an array with language codes (Case insensitive) e.g.

[code]

This will work for any valid language tags that conform to the IETF BCP 47 standard (same as HL7 FHIR)  e.g. `en-US` .
The UI can then automatically display the full name e.g. `English (United States)`

[2021-06-16 20:17] jingtang10 opened #554 "Provide a `StateFlow` for sync status"
**Is your feature request related to a problem? Please describe.**
We should provide developers access to the status of the sync jobs in order to update the UI.

**Describe the solution you'd like**
We could use a `StateFlow` to wrap the state of the work manager

https://developer.android.com/kotlin/flow/stateflow-and-sharedflow

**Describe alternatives you've considered**
Use `LiveData`: https:/

[2021-06-16 20:35] Manikant25 commented on #554
@jingtang10 Can I take this issue?

[2021-06-16 21:35] maanuanubhav999 commented on #527
@ekigamba okay I will make the changes.

[2021-06-17 09:08] jingtang10 commented on #470
do you have a draft PR?

i think in the test you normally have access to the test context too? if not can you mock it?

[2021-06-17 09:17] jingtang10 commented on #554
Really sorry but Maimoona was already working on this. Thanks for your enthusiasm please keep an eye on the repo and we can assign you something else.

[2021-06-17 10:59] epicadk opened #556 "Feat : Add functionality to convert Hapi resources to Fhir protos (JSON)"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Add functionality to convert Hapi resources to Fhir protos by converting first to JSON and then to then parsing it to the other format.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

Use reflection to covert bet

[2021-06-17 12:38] dubdabasoduba commented on #263
The new unified resource that combines the above images.
![Unified Resource Graph](https://user-images.githubusercontent.com/4817531/122397774-f39fd080-cf81-11eb-959d-252cc4010d89.jpg)

[2021-06-17 12:41] mberg commented on #263
I'd like to see patients having the ability to link to a location resource
to indicate where they live too

On Thu, Jun 17, 2021 at 8:38 AM Benjamin Mwalimu ***@***.***>
wrote:

[2021-06-17 15:16] Manikant25 commented on #554
No problem

[2021-06-18 14:21] pld commented on #263
yea that's there via the extension

[2021-06-19 06:32] epicadk opened #559 "Feat : Add functionality to convert between primitive datatypes"
Describe the solution you'd like
A clear and concise description of what you want to happen.

Add functionality to convert between primitive types in the Hapi<>Proto converter using code generation

Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

Cloud also have been done by reflection however code generation woul

[2021-06-20 20:42] maanuanubhav999 commented on #547
@epicadk I would like to work on this.

[2021-06-21 06:44] Manikant25 opened #561 "Three dots for longer Questionaire title"
Added three dots for a longer questionnaire title.  See the difference in the below screenshot

`Without Dots`
<img width="269" alt="without3dots" src="https://user-images.githubusercontent.com/55659857/122717635-834ac500-d289-11eb-80c0-feb80dc27e2f.png">

`With  Dots`
<img width="270" alt="3dots" src="https://user-images.githubusercontent.com/55659857/122718068-1a178180-d28a-11eb-8c48-253130141fc

[2021-06-21 08:42] jingtang10 opened #563 "Patient duplication in reference app"
**Describe the bug**
Duplicate patients in the reference app

**Component**
Reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Open the reference app

**Expected behavior**
No patient duplication

**Screenshots**
(![Screenshot (21 Jun 2021 09_18_46)](https://user-images.githubusercontent.com/28757340/122730397-124be300-d272-11eb-9b52-5f4308fff1f6.png))

**Smartphone (please comple

[2021-06-21 10:54] #561 closed

[2021-06-21 11:11] #515 closed

[2021-06-21 11:34] fredhersch opened #564 "[Roadmap] Documentation with code snippets | ERD 15-09-21"
Update current documentation in preparation for the up-coming beta-release in Q4. Areas to work on include:

- [ ] General instructions on how to use the SDK
- [ ] Addition of code snippets and reference examples
- [ ] Documentation of common use cases and patterns for implementers

[2021-06-21 13:30] santosh-pingle opened #565 "Reference app get crashed when it get launched."
**Describe the bug**
Reference app get crashed when it get launched.

**Component**
 reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Just launch the reference app.

**Expected behavior**
Reference app should not be crashed when it get launched.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information)

[2021-06-21 18:13] epicadk opened #567 "Ensure consistent search results across different timezones in date search"
The `DateTimeType` supplied above to `patient` has time zone but not here. Will running the query in different time zones produce consistent results?

Can we add tests for that case or create an issue to add them later?

_Originally posted by @deepankarb in https://github.com/google/android-fhir/pull/419#discussion_r655493322_

[2021-06-21 18:38] epicadk commented on #567
The spec does say

ref : https://www.hl7.org/fhir/search.html#date

I think we can use the devices local timezone for search parameters (unless specified). I think it would also be pretty consistent although I can think of a few cases where it may cause issues.

For example if a resource is indexed in IST (GMT +05:30) and then a search query is performed in UK standard time (GMT +01:00) it may pro

[2021-06-21 19:00] epicadk opened #568 "Support the Approximate prefix while searching for dates"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Support Approximate prefix while searching for dates.

 ref https://www.hl7.org/fhir/search.html#prefix.

Note that the recommended value for the approximation is 10% of the stated value (or for a date, 10% of the gap between now and the date), but systems may choose other values where appropriate

**

[2021-06-21 19:07] Manikant25 opened #569 "SDC gallery app crashes"
**Describe the bug**
When enter is pressed from a keyboard after entering a value or without entering a value, instead of moving to the next questionnaire item app crashes.

**Component**
 SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Neonate Record from South Wales'
2. Click on 'Enter values or just press enter from keyboard'
3. Scroll down to 'Birth length' and pre

[2021-06-22 04:19] #375 closed

[2021-06-22 04:31] epicadk opened #570 "Support conversion between enum types"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Support conversion between enum types using java reflection API.

**Additional context**
Add any other context or screenshots about the feature request here.

GSoC project

[2021-06-22 06:54] aditya-07 commented on #520
@fredhersch Do you have a questionnaire against which we can test the changes?

[2021-06-22 10:11] #565 closed

[2021-06-22 11:02] jingtang10 commented on #374
according to earlier discussions - there's another part of this which is to allow the UI to reflect the validation result on demand -- this requires a little bit of design. @joiskash can you maybe write down your thoughts here?

[2021-06-22 12:45] #539 closed

[2021-06-22 15:10] santosh-pingle commented on #563
Hi Jing,

Though records are same, but it has different resource id.
Same is verified with remote FHIR server data.

Please let me know if you do have any query.

[2021-06-22 15:20] jingtang10 commented on #563
can you update the server-side data so that we don't get this type of duplicates in the app?

[2021-06-22 15:55] #186 closed

[2021-06-22 16:20] deepankarb opened #574 "Parallelise downloaded `Resource` insertion"
We're inserting downloaded resources by type, one-at-a-time in [FhirSynchronizer.kt](https://github.com/google/android-fhir/blob/babc5780ba4a631bb536a238a0c4410b6debbdc5/engine/src/main/java/com/google/android/fhir/sync/FhirSynchronizer.kt#L47). This can be done in separate threads to speed up insertion.

[2021-06-22 16:42] #466 closed

[2021-06-23 04:29] santosh-pingle commented on #563
There were 3-4 records which were having the same data except resource id. Those are updated by replacing family and given attributes of name.
Other data is not duplicated in remote FHIR and local databases.

But some records are still shown as duplicate in the reference app.
Records which have 2 elements in the name array, those are seen as duplicate records with “family” and “given” attribute va

[2021-06-23 07:18] joiskash commented on #374
So in the current state, ViewHolders with TextInputEditText uses the function `applyValidationResult` which uses the `TextInputEditText.error` property to display validation messages. This function is triggered on the change listener of the `TextInputEditText`.

We could probably extract an interface with an API `displayValidationMessage` and make all the ViewHolders with TextInputEditText to impl

[2021-06-23 08:33] jingtang10 opened #577 "Refactor the UI validation code in the SDC library"
**Is your feature request related to a problem? Please describe.**
Two issues:
1. The UI validation is done by widgets in fairly arbritrary manner. This is bad because there might be divergence in the behaviour of different widgets.
2. There is currently no way for the application to say - please validate all the answers in the questionnaire and display error messages according before questionnair

[2021-06-23 08:36] jingtang10 commented on #374
let's handle this in a the new ticket.

[2021-06-23 08:36] #374 closed

[2021-06-23 08:48] santosh-pingle commented on #563
Looks like search operation which internally uses getQuery() api which generates extra records,
and if a patient has an array of names then “given” is present in StringIndexEntity that number of times, and it causes an extra record.
Debugging further.

[2021-06-23 11:36] jingtang10 commented on #563
Discussed with @santosh-pingle and the problem is that the index records in the index table are duplicated. Fixes:

1. in the code deduplicate index records before inserting to index tables
2. in the code deduplicate search results after execution of db query
3. add unique constraint on index tables

after discussion we think 1 and 2 are useful to do and 3 is probably not worth it given that it'll

[2021-06-23 13:33] jingtang10 opened #578 "Create a wiki page for the reference application"
Create a wiki page for the reference application that includes the following topics

- what it is
- main functionalities
- code location
- APK location and sideload instructions
- local build instructions
- demo video

This page should be referenced from the wiki home page and the repo's README.md

[2021-06-23 13:34] jingtang10 opened #579 "Create wiki page for sdk gallery application"
Create a wiki page for the sdc gallery application that includes the following topics

what it is
main functionalities
code location
APK location and sideload instructions
local build instructions
demo video
This page should be referenced from the wiki home page and the repo's README.md

[2021-06-23 13:37] jingtang10 opened #580 "Add code snippets to the user guide for fhir engine"
potentially take some from: https://docs.google.com/presentation/d/1oc6EBJAcXsBwyBgtnra61xoM7naBF0aj8WbfrUT7Y2A/edit

should include

- how to create a fhir engine
- how to save/load/update fhir resources
- how to search for fhir resources
- how to sync with a remote server

[2021-06-23 13:52] jingtang10 opened #581 "Add documentation code snippets for data capture library"
potentially taking some content from: https://docs.google.com/presentation/d/1oc6EBJAcXsBwyBgtnra61xoM7naBF0aj8WbfrUT7Y2A/edit#slide=id.gbb0f485cce_0_0

should include

- how to render a questionnaire from a questionnaire resource
- how to get the questionnaire response
- how to extract the fhir resource from the questionnaire response
- how to pre-populate the questionnaire with a fhir resource
-

[2021-06-23 13:55] jingtang10 opened #582 "Create an FAQ"
should include

- how data is managed
- x-platform questions
- sample applications in real world

[2021-06-24 04:46] deepankarb opened #587 "SDC Gallery app crashes when trying to load a questionnaire"
**Describe the bug**
SDC Gallery app crashes when trying to load a questionnaire

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. In Android Studio, run the `datacapturegallery` app
2. App launches, main activity renders
3. Tap on "Real-world lifelines questionnaire"
4. App crashes

**Expected behavior**
Questionnaire to render

**Screenshots**
If applicable, ad

[2021-06-24 07:12] jingtang10 commented on #587
The issue is the new property created in the fragment https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/QuestionnaireFragment.kt#L88 access the view model which isn't allowed.

It really isn't needed. And if the application needs to access the questionnaire itself it should go through the view model rather than using a public function

[2021-06-24 07:44] #587 closed

[2021-06-24 13:08] deepankarb commented on #510
Inputs from some senior devs @ Google:

Opened #574 for second item.

[2021-06-24 13:49] deepankarb commented on #506
@epicadk is working on this.

[2021-06-24 14:23] jingtang10 opened #590 "Create "Add patient" screen"
**Is your feature request related to a problem? Please describe.**
We need to add an 'add patient' screen to the reference application

**Describe the solution you'd like**

**User story:** As a user I can register a new patient using the client application

Requirements:

- [ ] add a dependency from the reference application to the data capture library (`datacapture` mdoule)
- [ ] create a FHIR q

[2021-06-24 21:10] kevinmost commented on #577
We should consider pagination (#186) here, too.

As captured in [this TODO](https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/QuestionnaireViewModel.kt#L162), we should have an option to validate individual pages when the user clicks next/previous.

However, this shouldn't be required. Eg, if the form is being filled out as a draft, fi

[2021-06-25 06:20] fredhersch opened #592 "Set-up reference app to connect to different FHIR servers"

[2021-06-25 06:27] fredhersch opened #593 "Set-up reference app to connect to different FHIR servers"
**Is your feature request related to a problem? Please describe.**
Currently the reference app is configured to use a HAPI FHIR server. If a developer wants to use a cloud service like GCP FHIR Store they cannot easily do this

**Describe the solution you'd like**
As a developer, I can:
- [ ] Connect the client application to any FHIR compliant server by specifying the URL and credentials in clien

[2021-06-25 06:31] fredhersch commented on #590
@jingtang10 For the ResourceMapper, do we have any examples for how to represent the FHIRPath logic in the Questionnaire?

[2021-06-25 08:11] jingtang10 commented on #590
@f-odhiambo can you please help link to the example Rodgers created? Thanks!

[2021-06-26 17:20] yigit opened #594 "only use async (suspend) APIs in the database"
I realized some of our database methods are suspending whereas some other are sync.

Because we have transactions in a bunch of places, this might create unexpected deadlocks.
It is best to always use suspend for database which also means it will always use the same background threads in room.

https://medium.com/androiddevelopers/threading-models-in-coroutines-and-android-sqlite-api-6cab11f7eb90

[2021-06-27 08:30] Manikant25 opened #596 "Incorrect number of Patients in Reference App"
**Describe the bug**
There are 20 patients in the Patient's List view but on top it is showing 24 Patient(s) in textview.

**Component**
reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'reference app'
2. See error

**Expected behavior**
It should have shown 20 Patient(s).

**Screenshots**
Not needed as such.

**Smartphone (please complete the following information):**
 -

[2021-06-27 12:08] FikriMilano commented on #596
@Manikant25 possible duplicate of #563 ?

[2021-06-27 12:15] Manikant25 commented on #596
No, it is not. Open reference app it shows 20 patients on the list But on Top, it shows that there are 24 Patients on textview

[2021-06-28 05:41] santosh-pingle commented on #590
In progress.
1. A new 'add patient' button (e.g. FAB https://material.io/components/buttons-floating-action-button) on the patient list screen.

[2021-06-28 09:18] jtournier23 commented on #108
Can we close this one marking it as "not reproducible" or is there something else left to be worked on?

[2021-06-28 10:01] epicadk commented on #474
Most of these are supported for Date and Number ( see #436 and #419 ) I'll add them for quantity types.

[2021-06-28 10:30] jingtang10 opened #597 "Create a new index table for `Date`"
**Is your feature request related to a problem? Please describe.**
At the moment we only have one index table for `DateTime` which is a date time timezone information. But the `Date` can also be searched without timezone information. We need to create another index table for this.

**Describe the solution you'd like**
Create a `Date` index table with only epoch day information.

**Describe alterna

[2021-06-28 11:34] epicadk commented on #541
Duplicate of #597

[2021-06-28 11:34] #541 closed

[2021-06-28 11:44] Ana2k opened #598 "Implementation of FHIR Profiles"
**Is your feature request related to a problem? Please describe.**
* Accessing IPS URL and creating a place to store the data
* Creating a package or module as required or even within the Reference App.
* Rendering the list of patients, and ability to store detailed summary
→ Summary will include all medical history of patient
→ Including organisations, medical professionals treating and taking ca

[2021-06-28 11:52] #594 closed

[2021-06-28 13:04] #592 closed

[2021-06-28 17:47] #510 closed

[2021-06-28 18:08] Ana2k commented on #596
A possible API sync error then?
@FikriMilano what do you say?

[2021-06-28 18:36] aditya-07 commented on #596
Reference App limits to showing max 20 patients in the app irrespective of the number of patients in the db.
The top textview is however showing the actual count of patients in the db based on the criteria.

Good first bug if someone wants to fix it in the Reference App.

[2021-06-28 18:48] maanuanubhav999 opened #600 "Implement Peer to Peer transfer"
**Is your feature request related to a problem? Please describe.**
Research and implement Peer to Peer transfer without an internet connection.

**Describe the solution you'd like**
API we are likely going to use.
[wifip2p](https://developer.android.com/guide/topics/connectivity/wifip2p#api-overview)
Alternative (currently researching between the two)
[nearby connection](https://developers.google.

[2021-06-29 04:47] santosh-pingle commented on #590
@fredhersch Can you please help me to get the questionnaire to register the patient which we need for action item "create a FHIR questionnaire resource which can be stored in the assets folder in the reference app that defines the questions to be asked while registering a patient (ask @fredhersch)"

[2021-06-29 06:39] fredhersch opened #601 "enableWhen not working as expected when I uncheck a checkbox"
**Describe the bug**
I have a checkbox and two fields. If the value is

**Component**
SDC Library

**To Reproduce**
Steps to reproduce the behavior:
1. Check out the fh/patient-registration-questionnaire branch
2. Run the SDC Gallery app
3. Click on 'New patient registration Questionnaire (the last item)'
4. Scroll down to 'DOB Known' - in the default state you will see the field below is 'Enter a

[2021-06-29 06:42] fredhersch opened #602 "Buttons in pagination float over form elements"
**Describe the bug**
There is no padding between the Questionnaire items and the next/previous controls in pagination

**Component**
SDC Library

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout fh/patient-registration-questionnaire and run the SDC Gallery App
2. Click on 'New patient registration' option (last one)
3. Scroll down to the bottom of the first page
4. See error

**Expect

[2021-06-29 09:28] #470 closed

[2021-06-29 10:06] #520 closed

[2021-06-29 11:16] #563 closed

[2021-06-30 06:40] fredhersch opened #605 "Add click to sync option into demo app"
User story: As a logged in user I can choose to sync the mobile client with a FHIR server and visually see the status changes

Steps:
- User is logged in
- Clicks on the settings which opens a drawer menu
- From the drawer menu, user can see sync option and last sync'd time/date
- User clicks the sync option which starts the sync process. The status changes visually by showing a spinner (or other)

[2021-06-30 09:20] #447 closed

[2021-06-30 10:38] joiskash opened #606 "Multi-select dropdown with checkboxes to handle repeated answers"
**Is your feature request related to a problem? Please describe.**
This feature is to help render questions with many answer options in a nice and compact way more details can be found in #216

**Describe the solution you'd like**
I would like to implement a Dropdown with checkboxes to allow selection of multiple answers. I have found a 3rd party library that does something like this and would lik

[2021-07-01 06:35] fredhersch commented on #414
Outcome of the research task:

- The main requirement here is for fuzzy search on Patient name to avoid re-registering (and duplicates) due to a mis-spelt name.
- However, creating a FTS index has a storage cost

**Proposed solution** is to enable this as an option that implementers could enable. By default it will be disabled

cc: @pld @f-odhiambo @joiskash

[2021-07-01 06:40] fredhersch opened #608 "Optional support for fuzzy search on Patient name"
**Is your feature request related to a problem? Please describe.**
Patient names may be misspelled and when searching for an existing patient this may be missed leading to duplicate records fro an existing patient

**Describe the solution you'd like**

- Provide option to enable fuzzy search on the name field
- Enabling it will create a new FTS index for the Patient.name[] field (TBD) and access t

[2021-07-01 06:40] #414 closed

[2021-07-01 06:55] fredhersch opened #609 "Resolve ValueSet lookups via Search API"
**Describe the solution you'd like**

Add functionality to the search API to find concepts within a ValueSet resource:

* By code
* By DisplayName

Return the concept (from the CodeSystem) or Concept Not Found

[2021-07-01 07:10] Ana2k commented on #596
@aditya-07 I am thinking of linking a pr soon to this since I am working on the reference app itself

[2021-07-01 07:51] Ana2k commented on #598
The following feature can be referred to #593

[2021-07-01 07:54] fredhersch opened #611 "Search by multiple resource types"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

Search with joins of different types of resources within a single search:
- result[] = Get all Patients Where Observation.Code = "<SNOMED Code for XYZ>"
- See https://www.hl7.org/fhir/observation.html

[2021-07-01 08:12] fredhersch opened #612 "Choice item answer lookups via "contained" ValueSet answerOptions within Questionnaire"
**Is your feature request related to a problem? Please describe.**
Currently, the choice item controls only works for inlined answerOptions.

**Describe the solution you'd like**

[1] For a Questionnaire that has an expanded "contained" ValueSet
- choice itemControl should be able to lookup the answerOptions when a user starts typing

**Describe alternatives you've considered**
Inlined answerOptio

[2021-07-01 08:22] fredhersch opened #613 "Callback API for resolving answerOption lookups from ValueSet Resources"
**Is your feature request related to a problem? Please describe.**
I want to be able to lookup answer Options from locally stored (expanded) ValueSet Resources

**Describe the solution you'd like**
- Within a Questionnaire itemControl of choice type (such as autoComplete, dropdown, radio-buttons)
- Can reference a ValueSet Resource to provide the answerOptions

**Describe alternatives you've consi

[2021-07-01 08:22] MuhammadSalman-7214 opened #614 "Duplicate Files Exception"
**Describe the bug**
Duplicate class org.fhir.ucum.UcumException found in modules data-capture-0.3.0-alpha02-runtime (com.google.android.fhir:data-capture:0.3.0-alpha02) and engine-0.0.2-runtime (com.google.android.fhir:engine:0.0.2)

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
The issue can be reporduced by using sdc library and engine library simultaneously

**Ex

[2021-07-01 08:41] FikriMilano commented on #596
No, I think it's because of:

1. The MAX_RESOURCE_COUNT is limited to 20. This is why the PatientList only render maximum 20 items
https://github.com/google/android-fhir/blob/79681c2c22683be94bb498d13ff0403d55d4392d/reference/src/main/java/com/google/android/fhir/reference/MainActivity.kt#L29

2. The getSearchResults() has different filter compared to count(). Even after MAX_RESOURCE_COUNT got inc

[2021-07-01 08:42] FikriMilano commented on #563
@jingtang10 @santosh-pingle we might want to open this issue again.
After investigating #596, there are still hidden duplication on patient 21 and 22. I think it will show up when #596 got fixed

<img src="https://user-images.githubusercontent.com/62053304/124091011-975ba700-da7f-11eb-9564-7efce0a586ca.png"  width="256">

[2021-07-01 08:53] jingtang10 commented on #530
repeating here what i posted in the PR: see this discussion:
https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/EnableWhen.20behavior.20with.20operator.20.60exists.60

Basically i think this is expected behavior - we probably need to render boolean questions as 3 radio buttons yes / no / [empty] rather than just a checkbox. this is becase an answer 'false' is still an answer and will

[2021-07-01 08:55] jingtang10 commented on #601
Duplicate of #530

[2021-07-01 08:55] #601 closed

[2021-07-01 08:56] jingtang10 commented on #530
same applies to multiple choice questions -- if you can choose a list of codes you must be able to clear the answer also

[2021-07-01 10:25] santosh-pingle commented on #596
@FikriMilano

#563
Above mentioned Patient duplication does not belong to same patient resource id.
It happened to be two patient resources are having same records with different resource id.

Please see below screenshots.

<img width="1323" alt="Screen Shot 2021-07-01 at 3 40 09 PM" src="https://user-images.githubusercontent.com/86107848/124108661-fb806a00-da83-11eb-9682-61129c365c89.png">

<img

[2021-07-01 10:29] santosh-pingle commented on #563
@FikriMilano

Above mentioned Patient duplication does not belong to same patient resource id.
It happened to be two patient resources are having same records with different resource id.

Please see below attached screenshots

<img width="1359" alt="Screen Shot 2021-07-01 at 3 39 09 PM" src="https://user-images.githubusercontent.com/86107848/124109892-40f16700-da85-11eb-8bfb-5451295c3fd7.png">

<i

[2021-07-01 10:30] jingtang10 commented on #614
can you do something like this: https://github.com/google/android-fhir/blob/916cf74b87b4654d846884abb6b2bdde12bebc74/reference/build.gradle.kts#L37 in your project to deduplicate this file?

you might want to use option `pickFirsts` rather than `exclude`: https://developer.android.com/reference/tools/gradle-api/4.1/com/android/build/api/dsl/PackagingOptions

[2021-07-01 10:51] FikriMilano commented on #596
@santosh-pingle
I see, you're right. Thanks for the explanation

[2021-07-01 10:52] FikriMilano commented on #563
@santosh-pingle
I see, you're right. Thanks for the explanation

[2021-07-01 11:05] MuhammadSalman-7214 commented on #614
@jingtang10 this is already added in the project, but the problem still persists

[2021-07-01 11:47] MuhammadSalman-7214 commented on #614
@jingtang10 this solution is not working, can you please suggest something else? thanks

[2021-07-01 14:37] pld commented on #263
newer resource diagram now available here, https://github.com/opensrp/fhircore/tree/main/docs#fhir-resource-graph

[2021-07-01 16:29] jingtang10 opened #616 "Validator crash"
**Describe the bug**
2021-07-01 17:28:00.519 5632-5632/com.example.sdctest E/MessageQueue-JNI: java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
        at java.util.ArrayList.get(ArrayList.java:437)
        at com.google.android.fhir.datacapture.validation.PrimitiveTypeAnswerMaxLengthValidator.validate(PrimitiveTypeAnswerMaxLengthValidator.kt:38)
        at com.google.android.fhir.datacaptur

[2021-07-01 16:58] yigit opened #617 "Run tests with API 30"
what title says :) we should update the workflow to also run tests on API 30.

We could also consider a bit of a cleanup to have 1 task build all apks and other tasks to just run tests with the output of the previous task.

[2021-07-01 18:16] #616 closed

[2021-07-02 08:00] santosh-pingle commented on #590
[#614 ](url)
Temporarily unblocked add patient screen tasks by renaming UcumException class name locally.

[2021-07-02 08:04] santosh-pingle commented on #590
We are using below new patient registration json. But added couple of changes in json file  to avoid empty list exception and id not null exception.
1. Existing extension url is replaced with "url": "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire-itemExtractionContext",
2. Id item is added.

[2021-07-02 09:57] Tarun-Bhardwaj commented on #614
@MuhammadSalman-7214 is there an ETA by when this issue can be closed? It is blocking #590 which is a high priority for Q3 v0 release.

[2021-07-02 10:00] Tarun-Bhardwaj commented on #554
@maimoonak , is there an ETA by when this issue can be closed? It is blocking #605 which is a high priority for Q3 v0 release.

[2021-07-02 10:15] MuhammadSalman-7214 commented on #614
@Tarun-Bhardwaj this issue needs discussion with @jingtang10 because the solution for this issue hasn't been finalized yet.

[2021-07-02 15:09] jingtang10 commented on #614
https://stackoverflow.com/questions/21319020/duplicate-class-contained-in-the-libs-of-android-project

[2021-07-04 12:44] fredhersch opened #622 "View patient card"
User story: As a logged in user I am able to select a patient and view details about them such as registration information and any relevant health history

Steps:
- Logged in user views a list of patients that they have access to
- Taps one of the patients in the list
- This opens a view patient screen
- Is able to see registration information and any relevant health history
- Can navigate back to

[2021-07-04 12:51] fredhersch opened #623 "Edit patient card"
**User story**
As a logged in user I can edit certain information about the patient updating their record in the system

**Steps:**
- Logged in user selects a patient from the home  / worklist view
- Navigates to the patient record
- Taps the Edit button in the App TopBar
- On edit, populate a Questionnaire with the editable fields (using DefinitionBased Population)
- Can make changes to the Quest

[2021-07-04 13:02] fredhersch opened #624 "Show work-list view of patients"
**User story**
As a logged in HCW, selecting 'Show work list',  I can view a list of all of the patient assigned to me

**Steps:**
- [x] After logging in (or via default activity), user goes to home page which is the work list view
-- Has the search bar, list of current patients and floating FAB icon for add new patient (goes to #590)
- [x] Selecting the Register New Patient goes to the Add Patien

[2021-07-04 13:12] fredhersch opened #625 "Initiate new screener encounter"
**User story**
As a HCW I can select to initiate a new sceener for a patient generating a new encounter and relevant observations

**Steps:**
- Logged in user has selected a patient from the work-list view - #624
- From the patient view page, add a new floating Fab icon (+)
- Selecting the fab icon starts a new default screener (there is only 1 by default in this use case)
- Starting a new screene

[2021-07-04 13:16] fredhersch opened #626 "Show generated recommendations"
**User story**
As a HCW I can generate and view the recommendations for a patient on completion of a screener flow

**Steps:**
- User has completed the screener questionnaire - #625
- Selects the option to Show Recommendations
- This will trigger a process to determine the triage status and select he CarePlan for the patient (in the future it will generate the CarePlan)
-- Determining Triage Statu

[2021-07-05 04:51] santosh-pingle commented on #622
Started working on it.

[2021-07-05 05:14] santosh-pingle commented on #622
@fredhersch  (Is able to see registration information and any relevant health history)
Can you please give me more details about what registration information will be shown?

[2021-07-05 08:22] fredhersch opened #628 "[Research] Validation against profiles"
**Is your feature request related to a problem? Please describe.**
Be able to support validation against loaded profiles for an IG

**Describe the solution you'd like**
Explore existing packages for profile validation such as HAPI instance validators

**Additional information**
Can discuss with Bryn Rhodes about requirements for the Clinical Guidelines IG

[2021-07-05 08:24] jingtang10 commented on #383
this is a child issue (and first step) of #628

[2021-07-05 08:29] fredhersch commented on #622
@santosh-pingle Updated the description

[2021-07-05 14:07] #254 closed

[2021-07-05 15:03] Tarun-Bhardwaj commented on #292
@rkodev @ekigamba , while the PR #438 for this issue has been closed, is there a reason why the issue is still open?

[2021-07-05 16:56] #614 closed

[2021-07-05 17:30] jingtang10 opened #632 "Clean up build warnings"
**Describe the Issue**
w: /Users/jingtang/Documents/GitHub/android-fhir/reference/src/main/java/com/google/android/fhir/reference/PatientDetailsFragment.kt: (80, 32): Parameter 'view' is never used
w: /Users/jingtang/Documents/GitHub/android-fhir/reference/src/main/java/com/google/android/fhir/reference/PatientDetailsViewModel.kt: (93, 72): Unchecked cast: PatientDetailsViewModel to T
w: /Users/ji

[2021-07-05 19:55] sparrow007 commented on #602
Hello, @fredhersch I wanted to contribute to this project, so may I start working on this issue?

[2021-07-06 05:06] santosh-pingle commented on #625
Started looking into it!

[2021-07-06 05:47] santosh-pingle commented on #625
@fredhersch
(Starting a new screener loads the FHIR Screener Questionnaire resource)
Can you please share Questionnaire resource.

[2021-07-06 09:17] Tarun-Bhardwaj commented on #554
@maimoonak , any update on the ETA by when this issue can get closed?

[2021-07-06 12:33] jingtang10 opened #635 "Remove module `cqlreference`"
**Describe the Issue**
The module `cqlreference` is a non-functional reference application - we will need to rebuild the API and reference app. So removing here.

**Would you like to work on the issue?**
sure

[2021-07-07 04:26] santosh-pingle commented on #590
@jingtang10
Currently, below patient-registration json questionnaire is used/referred to add patient screen as you suggested. But it does not have **resource id item**. Therefore current implementation does not have an id item in add patient questionnaire.
Can you please confirm the above mentioned behaviour?

https://github.com/opensrp/fhircore/blob/main/android/app/src/main/assets/patient-regist

[2021-07-07 04:51] santosh-pingle commented on #625
As per updates received from @jingtang10, extraction of screener questionnaire response is pending for some clarifications on data modelling, therefore we will not focus on extraction implementation as of now.

[2021-07-07 12:24] jingtang10 commented on #590
can you merge this one with the current https://github.com/opensrp/fhircore/blob/main/android/app/src/main/assets/patient-registration.json to make it a single form? I think ID and basic info in the first page and contact details in second page is fine.

[2021-07-07 13:00] jingtang10 commented on #590
discussed offline with @santosh-pingle. just to document here. the patient id doesn't make sense to be an input for the CHW. so we're left with 2 options

1. annotate the question so that the sdc library knows to generate an ID either during extraction or during initial rendering of the questionnaire
2. let the developer decide what to do after getting the resource, and set an id to the resource (

[2021-07-08 06:40] rkodev opened #637 "Allow implementers to specify custom search fields"
**Is your feature request related to a problem? Please describe.**
Individual implementers of the SDK do require to sometimes search data that is not index / optimized for search in the database.

A use case of this feature is the ability to create indexes on an extension. e.g Having a location resource defined as an extension to a Patient resource and requiring to retrieve all the patients within

[2021-07-08 07:41] rkodev commented on #475
For these issue, I have come across an intresting description of using a [bounded search](http://janmatuschek.de/LatitudeLongitudeBoundingCoordinates) that will help in looking up the index in the database.

This is a combination of calculating boundaries and using the database to filter the results within the bounds. Implementing the search on co-ordinates using an [R-Tree index](https://en.wikip

[2021-07-08 08:39] #590 closed

[2021-07-08 10:15] santosh-pingle commented on #590
As per discussion with @jingtang10, option 2 (set an id to the resource (presumably using the java uuid library) prior to saving to fhir engine.) is implemented.

Done.

[2021-07-08 10:25] santosh-pingle opened #639 "Resource id generation in SDC library"
**Describe the bug**
Annotate the question so that the sdc library knows to generate an ID either during extraction or during initial rendering of the questionnaire

Please refer below description.
#590
Android reference app has a new patient registration feature. SDC library is used to show the registration questionnaire and extract the resource. But while extracting the patient resource, it does

[2021-07-08 10:26] santosh-pingle commented on #639
#590

[2021-07-08 10:26] jingtang10 commented on #553
@santosh-pingle FYI

[2021-07-08 10:32] jingtang10 commented on #553
FHIR chat link: https://chat.fhir.org/#narrow/stream/179266-fhirpath/topic/Creating.20a.20Coding.20in.20FHIRPath/near/241785622

@ekigamba it doesn't seem to me there is concensus yet - can you provde a link as in https://github.com/google/android-fhir/issues/504#issuecomment-856920877 you mentioned the syntax `$UUID.generate()`?

[2021-07-08 10:34] jingtang10 commented on #637
The first question is that should this customization be done in 1) FHIR resources or 2) as part of the app. If we do it in FHIR resources what extensions/other mechanism should be defined as part of the standard. If we do it in the application what config do we use? @pld for input.

[2021-07-08 14:17] jingtang10 commented on #504
@maimoonak FYI

[2021-07-08 15:50] pld commented on #637
This feels like an app config setting, but I could see an argument for doing it in FHIR resources to make it easier for the SDK client to dynamically create indices, ie if I had a List resource with an Indentifier (or some other field) the SDK could know this List resource is responsible for configuring indices and look at it's entries to decide on the additional indices to create

[2021-07-09 07:34] ekigamba commented on #553
@jingtang10 Yea, there isn't a conclusion or any progress on this issue. I'll follow up and update this whenever I get an update

[2021-07-09 08:08] MuhammadSalman-7214 commented on #273
The approach to achieve population of Related Person would be as follow:
1. We will pass populate function two parameters, first is questionnaire and the second parameter would be a list of Resources
2. For each Resource present in the Resource List, we will populate Initial Values for each Resource using FhirPathEngine.evaluate
3. Then We will create a Questionnaire Response, that will contain re

[2021-07-09 08:16] MuhammadSalman-7214 commented on #273
also @jingtang10, we have gender values as Radio buttons in Fhir Core, if we pass Patient.gender.value, it returns gender value as StringType, and if we pass Patient.gender, it returns gender value as Enumeration, whereas to set value for Radio buttons, it requires value in terms of Coding. Can you please suggest how can we get gender value as Coding from fhirPathEngine.Evaluate because Patient.ge

[2021-07-09 09:06] #622 closed

[2021-07-09 09:53] maimoonak commented on #554
There are multiple options to run polling with flows.
- channelFlow : allows elements to be produced running in a different context or concurrently (would be helpful when we need to run the sync for resources concurrently and wait until whole sync completes itself, would be needed for sync-workers)
- stateFlow, sharedFlow, tickerFlow (obsolete): For poller we do not need any custom handling or com

[2021-07-09 10:05] #535 closed

[2021-07-09 10:13] jingtang10 opened #642 "Data capture gallery app crash on pre-24 emulators"
**Describe the bug**
Data capture gallery app crashes on pre-24 emulators when navigating to questionnaire

**Component**
SDC gallery app

**To Reproduce**
1. Build and run
2. Go to any questionnaire page

**Stacktrace**

07-09 10:54:09.650 4138-4138/com.google.android.fhir.datacapture.gallery E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.google.android.fhir.datacapture.gallery, PID: 41

[2021-07-09 10:16] #509 closed

[2021-07-09 11:15] #632 closed

[2021-07-09 11:31] MuhammadSalman-7214 commented on #273
@jingtang10 if we add the following code in the sdk, gender value would be in coding then in QuestionnaireResponse:

if (answerExtracted is Enumeration<*>) {
          answerExtracted = if (answerExtracted.valueAsString == "male") {
            Coding("", "male", "Male")
          } else {
            Coding("", "female", "Female")
          }
        }

[2021-07-09 14:01] Tarun-Bhardwaj commented on #530
@maanuanubhav999 are you working on this issue?

[2021-07-09 15:14] maanuanubhav999 commented on #530
@Tarun-Bhardwaj  yes.

[2021-07-09 18:09] #635 closed

[2021-07-09 18:49] #597 closed

[2021-07-10 09:45] prsndp commented on #602
Hi @fredhersch Could You Assign me this issue, please? I want to fix this issue.

[2021-07-11 22:53] maimoonak commented on #554
@Tarun-Bhardwaj I tried my best to finish this by this week. However, it looks like in initial discussions we had missed the power that WorkManager gives. I have  pushed the code with tests on branch 554_flowapi for onetime sync with flow API, and  now trying to see if we can use WorkManger with flow. The WorkManger creates the instances itself and provides a very limited access to running service

[2021-07-12 09:22] santosh-pingle commented on #625
@jingtang10 @fredhersch

Below json file is used to show the screener encounter questionnaire.
https://github.com/google/android-fhir/pull/627/files#R1

Once questionnaire response is submitted, next step is to extract the resource from the questionnaire.
Currently ResourceMapper.extract() api is used to extract the resource, but it requires Questionnaire.item.definition and extension to extract t

[2021-07-13 07:41] #273 closed

[2021-07-13 07:49] MuhammadSalman-7214 opened #644 "Populate Questionnaire with Multiple Resources"
**Is your feature request related to a problem? Please describe.**
This feature is the addition of populating questionnaire with not only patient resource, but also related person resource as well, as we'll have patient and related person resource available after extraction

**Describe the solution you'd like**
The approach to achieve population of Related Person(Multiple Resources) would be as fo

[2021-07-13 10:41] jingtang10 commented on #625
Discussed offline. See this comment: https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/SDC.20Extraction.20examples/near/226341617

It seems to me that the right thing to do is to use each group as an extraction context. and everything within that group gets mapped into the resource for the group. In this questionnaire that's already how things are organized.

[2021-07-13 12:40] jingtang10 commented on #644
@santosh-pingle

[2021-07-14 05:52] aditya-07 commented on #605
@fredhersch @jingtang10 Since there is no way as of now to know the state of Sync from reference app, I am adding just a sync button on the Top bar. Clicking the button starts a Sync job and shows a Snackbar with sync message at the bottom of the screen and disappears after sometime . We can implement the Drawer with the UI explained in the ticket once we have an API to know the sync state.

[2021-07-14 13:02] joiskash commented on #208
This issue has resurfaced

[2021-07-14 13:04] joiskash commented on #227
Yes, this is a high priority item for us @kumaakh @Tarun-Bhardwaj

[2021-07-14 13:08] mberg commented on #227
I think key idea is SDC can provide a nice way to define how you want to
view data (without the widgets).

On Wed, Jul 14, 2021 at 9:04 AM Kashyap Jois ***@***.***>
wrote:

[2021-07-14 13:42] joiskash opened #647 "Nested item within nested item change when prefilled with enable when for the nested items does not enable the new item"
**Describe the bug**
Using a questionnaire with 2 levels of nesting i.e. parent-> child -> child where each child has items that have enable when conditions based on the answer of the parent item.

eg:
Selecting a Country based on which the nested drop down is populated with States in that country

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Use a questionnaire

[2021-07-14 14:07] joiskash commented on #647
[exampleQuestionnaire.txt](https://github.com/google/android-fhir/files/6816663/exampleQuestionnaire.txt)

[2021-07-14 20:54] maimoonak commented on #554
@jingtang10 So based on few things missing into our last discussion I have added a complete workflow which implements one-time-sync and polling as well. Both use flow however, since workmanager does not work on flows, I have a doubt on the approach. I also have made the code a little verbose by adding questions and extra comments which would be deleted before making a formal PR. However, I have mu

[2021-07-15 06:56] joiskash opened #649 "If the date has an initial answer, then opening the widget selects todays date as default instead of the initial date"
**Describe the bug**
If the date has an initial answer, then opening the widget selects today's date as default instead of the initial date

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Use sample questionnaire with a date type item with an initial value
2. Press the date widget
3. Selected date will be "today" instead of the initial value.

**Expected behavior**

[2021-07-15 07:11] joiskash commented on #227
Two scopes :
1. [Read only extension in SDC](http://hl7.org/fhir/R4/questionnaire-definitions.html#Questionnaire.item.readOnly) For item level control
2. Initiate the Fragment in only read only for the entire questionnaire and questionnaire response

[2021-07-15 07:12] joiskash opened #650 "Pop up numeric keyboard for a question that requires phone number as the input"
**Is your feature request related to a problem? Please describe.**
Currently there is no way to specify a text input widget to show the number keyboard instead of the entire alphanumeric keyboard

**Describe the solution you'd like**
One way to do this is to check if there is a regex condition on item which only has numbers and then default to a number input only.

**Describe alternatives you've c

[2021-07-15 07:28] joiskash opened #651 "Item with autocomplete does not show the nested item on selection of answer in the parent item"
**Describe the bug**
When the autocomplete widget is used for parent item. Nested item with enable when not shown after selecting an answer.

**Component**
SDC library,

**To Reproduce**
Steps to reproduce the behavior use the questionnaire that is in this issue:
1. Use a questionnaire with a parent item of type choice with the autocomplete extension
2. Nest two items with enable when depending on

[2021-07-15 07:40] jingtang10 commented on #273
You code won't work with enums with other values -- this is not generic enough. You need to find comon logic to deal with this.

[2021-07-15 07:44] jingtang10 commented on #273
@santosh-pingle

[2021-07-15 07:48] aditya-07 commented on #273
This case is being handled in the PR https://github.com/google/android-fhir/pull/646 given sdc-questionnaire-initialExpression -> "expression" is "Patient.gender"

[2021-07-15 07:56] MuhammadSalman-7214 commented on #273
okay, thanks @aditya-07

[2021-07-15 10:42] santosh-pingle commented on #644
Reviewed.

[2021-07-15 17:19] jingtang10 opened #652 "Nested questions behave strangely"
Originally reported by @joiskash

**Describe the bug**
- questionnaireResponseChangedCallback not called in drop-down after selecting an answer
- Clear answer items if enableWhen condition is false. This happens when you select an answer, the conditional logic is true, and then you deselect. Not clearing the answer corrupts the questionnaire response. Because the questionnaire response will now ha

[2021-07-15 17:21] jingtang10 commented on #652
@joiskash about "Clear answer items if enableWhen condition is false" how do you reproduce it in your questionnaire?

[2021-07-16 06:22] joiskash commented on #652
1. Select answers for the first 3 questions i.e. LGA, ward, distribution center
2. Then press submit you will see the correct items in the questionnaire response
3. Now select a new LGA, new ward and new distribution center note that the ward also has to be different/new.
4. Then press submit, you will see the answers selected at step 1 and step 3 in the questionnaire response

[2021-07-16 13:31] pld commented on #600
Note R&D issue here, https://github.com/google/android-fhir/issues/258

[2021-07-16 19:28] epicadk commented on #474
Update, working on this. Will open a pr soon.

[2021-07-19 01:36] fredhersch opened #654 "Update reference app design"
Implement updated UI for the reference app design

**Notes**
This will be an iterative process starting with:
1. The basic colors, fonts - e.g see #655
2. Form control elements and expected behaviors and handling of error messages
3. User experience and specific flows

**Design for patient registration**
* Shows the controls for pagination
* * Buttons: Filled color #1A73E8
* * Buttons: Font Google

[2021-07-19 01:42] fredhersch opened #655 "Mock splash and login screen"
Implement the splash screen (on app loading) and a mocked up login screen

**Additional information**
Color palette information (waiting on design output):
- Main background (e.g. for splash screen): background: #1967D2
- Header text: Font-family: Google sans 18px
- Placeholder text (inside the mobile number form field): Roboto 400 16px
- Instructions text under the entry field: Google-sans 14px

[2021-07-19 04:54] Tarun-Bhardwaj commented on #474
@epicadk, thanks for the update. Is there an ETA you have for completing the code changes for this?

[2021-07-19 08:07] fredhersch opened #656 "Implementation of $apply API"
**User story:**
As an implementer I can use the $apply operation to generate a CarePlan for a patient given a PlanDefinition

**Background**
CQL (Clinical Quality Language) is the HL7 standard for providing logic execution for decision support and clinical quality measures.

Our initial goal with the CQL Library will be to demonstrate over time the ability to:

- Generate a MeasureReport via $meas

[2021-07-19 08:07] fredhersch opened #657 "Implementation of $measure-evaluate API"
**User story**
As an implementer I can use the $measure-evaluate to generate a MeasureReport

- Given a set of pre-loaded patients, run the $measure-evaluate operation to generate a MeasureReport
-- On a single patient, the $measure-evaluate will return a MeasureReport with a value of 1 or 0
-- For a group of patients, the $measure-evaluate will return a MeasureReport

- Example indicator (measure

[2021-07-19 09:09] santosh-pingle commented on #625
@jingtang10

Can you please provide your feedback/early review comments on below file changes
https://github.com/google/android-fhir/compare/sp/multiple-resources-extraction?expand=1

I have updated some of the screener encounter questionnaire items and group item for definition based urls,
Can you please confirm those?
(It requires to confirm whether further changes are required in resource mappe

[2021-07-19 10:29] jingtang10 commented on #609
For value sets that are expanded, it's very simple to look up the codes within the expansion of the valueset. There doesn't need to be any api or utilities for reading an already expanded value set. Even if this is a common operation by developers, there is very little value in providing a common API for that.

So within this issue we should focus on search by value set where a code is the searche

[2021-07-19 14:34] jingtang10 commented on #656
dependency:
- https://github.com/cqframework/clinical_quality_language/issues/640
- https://github.com/cqframework/clinical_quality_language/issues/523

[2021-07-19 17:10] santosh-pingle commented on #625
@jingtang10

SDC library ResourceMapper does not update multiple answers of the given question item to the resource field.
Though, response has captured multiple answers, it only shows the list of first answers in the resource field.
=> Support is added, it was required to update all selected answers of "symptoms " and "Medical history" in resource.

https://github.com/google/android-fhir/compare/

[2021-07-19 17:28] santosh-pingle commented on #625
Currently, sdc library does not support the risk assessment as per feedback from Jing, therefore risk related response will not be updated to the resource fields until library supports it.

[2021-07-19 17:49] santosh-pingle commented on #625
Screener encounter questionnaire json need to be updated for below question items
1. Covid vaccination
2. Temperature
3. Pulse Oximetry

Jing had provided some inputs on it, like adding hidden question, and code item to the questionnaire.
Referring documentation for more information on it.

[2021-07-19 17:51] epicadk commented on #474
I'm still searching for a library/any other solution that would help convert units to UCUM base units. I can get the rest of it done in around a week i.e. search on quantity types without canonical matches.

[2021-07-20 05:58] santosh-pingle commented on #625
@jingtang10

We need to discuss multiple resources mapping just before saving them into the application database.
These multiple resources are extracted from resource mapper and returned as bundle.
Resources are Patient, Encounter, Observation resources, Condition.

[2021-07-20 10:22] jingtang10 commented on #625
Great question. There're two approaches to link extracted resources with existing resources

1. Use hidden questions and pre-population of questionnaire to set the references (in our case patient ID) as answers to the hidden questions so that they will be extracted to the `subject` field of `Observation` etc.
2. Handle these after extraction. This requries the application to know when resource typ

[2021-07-20 10:28] jingtang10 commented on #625
I think we can map most of the risk factor questions to observations or conditions: e.g. https://hl7.org/fhir/us/core/2017Jan/ValueSet-us-core-observation-ccdasmokingstatus.html we can borrow the codes from this profile.

Let's not use SDC extraction for `RiskAssessment`, let's do that  as a step in the business logic following the extraction.

[2021-07-20 10:29] jingtang10 commented on #625
can you create an issue for this please?

[2021-07-20 10:56] jingtang10 commented on #625
For temperature and pulse oximetry, we will need to extract `Observation`s with a `Quantity` value. A `Quantity` value is basically a number and a unit. So if we want the user to choose a unit (in the case of fahrenheit or celsium) we need to present another question, if we don't want the user to choose a unit, then we probably need a hidden field. Example:

[code]

More info: https://hl7.org/fhir

[2021-07-20 14:33] joiskash opened #659 "Hints for questionnaire"
**Is your feature request related to a problem? Please describe.**
Currently there is no way to use the "hint" feature of EditText

**Describe the solution you'd like**
Lot of data collection tools use "hints" to help people filling up the form with examples

**Describe alternatives you've considered**
I have not been able to find anything in the FHIR spec either. Though I have not done a thorough

[2021-07-21 02:16] fredhersch commented on #625
Can we add the relevant LOINC code to the code section like this:

[code]

So it would look like this - see the addition of code under the linkId item:

[2021-07-21 02:21] fredhersch commented on #625
@santosh-pingle For the initial pass, let's leave out the vaccination status. We should revisit this next.

For Temperature, the code section can be:

[code]

For Pulse Oximetry it can be:
[code]
And for pulse rate
[code]
 "code" : [
             {
                 "code" : "8867-4",
                 "display" : "Heart rate",
                "system" : "http://loinc.org"
             }
          ]

[2021-07-21 08:23] #624 closed

[2021-07-21 09:02] Kigamba commented on #553
Jira request change being tracked here https://jira.hl7.org/browse/FHIR-33070

Based on my guess and unrelated chats,
- It might take weeks or months before it gets to the change committee

[2021-07-21 09:03] ekigamba commented on #553
Jira request change being tracked here https://jira.hl7.org/browse/FHIR-33070

Based on my guess and unrelated chats,
- It might take weeks or months before it gets to the change committee

[2021-07-21 09:24] #605 closed

[2021-07-21 17:43] aditya-07 opened #663 "Add Patient crashes app after submit."
**Describe the bug**
Add Patient crashes app after user presses submit button.

**Component**
 reference app

**Crash Log**
java.lang.ClassCastException: org.hl7.fhir.r4.model.Bundle cannot be cast to org.hl7.fhir.r4.model.Patient
        at com.google.android.fhir.reference.AddPatientViewModel$savePatient$1.invokeSuspend(AddPatientViewModel.kt:53)
        at kotlin.coroutines.jvm.internal.BaseCon

[2021-07-22 02:21] jingtang10 commented on #543
We still need a follow-up PR to convert the functions to suspend functions.

[2021-07-22 07:18] ekigamba opened #666 "Convert ResourceMapper extraction function to suspend function"
- [x] Convert ResourceMapper extraction and population function to suspend function
- [x] Convert NpmPackageProvider & SimpleWorkerContextProvider functions to suspend functions

[2021-07-22 07:53] ekigamba commented on #543
@jingtang10 I have created the issue [here](https://github.com/google/android-fhir/issues/666) as discussed

[2021-07-22 07:53] #543 closed

[2021-07-22 08:31] jingtang10 commented on #652
@joiskash can you please verify that your questionnaire works with the fixes here? thanks

[2021-07-22 10:08] #663 closed

[2021-07-22 10:59] joiskash commented on #652
Yes i just tried with an updated version of my questionnaire with more answer options. It works fine! Thanks! @jingtang10

[2021-07-22 14:13] jingtang10 commented on #611
Examples:
- patients with latest risk assessmenet e.g. `high`
- patients with condition diabetes

[2021-07-23 04:50] santosh-pingle commented on #625
Implemented 2 approach.
I will create separate ticket to follow up 1 approach.

[2021-07-23 04:55] santosh-pingle commented on #625
I will add definition url and code as suggested, and update you if more information is required.

[2021-07-23 05:11] santosh-pingle opened #669 "SDC Library, it only updates first index answer from list of selected answers to the Resource field."
**Describe the bug**
Screener encounter questionnaire has symptoms and medical history question items.
These question items provides multiple choice selection option to the user.
User can select multiple answers for single question.(multiple choice selection).
But resource(observation and condition) field (list of category) was updated with list of first answer only.

Expectation:

**Component**
S

[2021-07-23 05:14] santosh-pingle commented on #669
https://github.com/google/android-fhir/issues/625#issuecomment-882714879
(SDC library ResourceMapper was not updating multiple answers of the given question item to the resource field)

[2021-07-23 05:15] santosh-pingle commented on #625
#669 issue created just for reference.

[2021-07-23 09:15] #652 closed

[2021-07-23 10:28] ekigamba commented on #292
@Tarun-Bhardwaj reviewing this

[2021-07-23 11:47] jingtang10 commented on #626
@santosh-pingle to work on the generation of these risk assessments and @aditya-07 to work on the display of these in the patient card

[2021-07-23 11:50] jingtang10 commented on #626
@fredhersch can you provide an example care plan while aditya and santosh work on the generation / display of risk assessment. thanks!

[2021-07-23 11:51] jingtang10 commented on #626
@aditya-07 pleaes also within this ticket address the ui display of high/mid/low risks (red/amber/green dots)

[2021-07-23 11:51] santosh-pingle commented on #625
@jingtang10

Temperature questionnaire item :
With the modification below, it requires a Quantity object per item.
But observation resources can reference only a single Quantity instance unlike category.
It looks like limitation.

[code]

So I am thinking to just capture quantity as temperature value.

[2021-07-23 11:58] jingtang10 opened #670 "Refactor definition-based extraction for multiple resource and create extraction context"
**Is your feature request related to a problem? Please describe.**
The extraction code for multiple resources needs to be refactored

**Describe the solution you'd like**
Refactor the definition based extraction functions so that they are not extension functions of Base any more. Instead, a extraction context should be passed down during extraction."

We need to create something like `data class E

[2021-07-23 12:59] jingtang10 commented on #626
Regarding the rules @fredhersch posted - ignore the care plan part for now, and use https://www.hl7.org/fhir/riskassessment.html and https://www.hl7.org/fhir/riskassessment-definitions.html#RiskAssessment.prediction.qualitativeRisk with this value set: https://www.hl7.org/fhir/valueset-risk-probability.html

[2021-07-23 13:01] jingtang10 commented on #670
type of the extraction context could probably be: `Map<ResourceType, List<Resource>>` and each list acts kinda like a stack.

[2021-07-23 15:14] deepankarb opened #671 "Enable code coverage in CI"
For robust, well-tested code base we should target high code coverage. We should be able to track code coverage and changes per PR in CI.

* Gradle offers a Jacoco plugin and options to configure.
* There are plugins and 3p sites like coveralls and codecov.io that offer deeper insights in to coverage over time.

[2021-07-23 15:20] deepankarb commented on #233
#502 Adds code coverage metrics. Keeping this issue open to track progress to > 95% coverage.

[2021-07-23 16:08] dustinking-google commented on #75
Just a quick summary of what I take to be the context here. Verifying boot status is something that we can do as part of key attestation. We can check that a hardware-backed key pair coming from keystore on the device has a certificate chain going back to the Google Hardware Attestation Root Certificate, which is the relevant root of trust for Android devices. If the boot status is not verified, t

[2021-07-23 16:27] joiskash opened #672 "Crash on configuration change with a large questionnaire"
**Describe the bug**
App crashes with configuration change while using a large questionnaire

**Component**
datacapturegallery

**To Reproduce**

1. Use the questionnaire attached in this issue
2. Minimize the application after rendering the quesitonnaire

**Expected behavior**
App should not crash and the current state should be available

**Smartphone (please complete the following information):

[2021-07-23 19:34] #569 closed

[2021-07-23 19:35] #551 closed

[2021-07-24 06:24] joiskash commented on #672
Temporarily fixed by putting...

[code]
in the parent activity. Seems like the outState Bundle is too big to save.

[2021-07-24 06:37] joiskash opened #673 "Continously switching between pages validation refresh bug"
**Describe the bug**
Continuously switching pages with an answer that is out of the validation limit i.e. a red **!** is  displayed on the text view and does not refresh.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Use the questionnaire attached in this issue
2. Answer the questions backward.
3. On page 5 type in a number greater than 5
3. Then press previous u

[2021-07-26 02:21] santosh-pingle opened #674 "SDC library, it does not set the answer to the definition field if the field type is choice type."
**Describe the bug**
Definition url is "definition": "http://hl7.org/fhir/StructureDefinition/Observation#Observation.value.value",
Observation.value is abstract *Type*, it is declared as value property in Observation resource class.
To update the answer to the definition field(Observation.value.value), it is required to create instances of fields present in the definition url.

[code]
**Component

[2021-07-26 03:01] santosh-pingle commented on #625
@jingtang10

Currently, answers does not get updated to the valueQuantity in Observation resource.
valueQuantity is declared as abstract type in Observation.
Resource mapper fail to use value (QuantityValue) and its nested field to update the answer.

[2021-07-26 07:41] santosh-pingle commented on #625
@ekigamba

It does not set the answer to the definition field if the field type is abstract type.
#674

[2021-07-26 07:56] #671 closed

[2021-07-26 08:08] ekigamba commented on #674
@santosh-pingle Can you print the error you are getting here?

[2021-07-26 09:15] santosh-pingle commented on #674
@ekigamba
Issue 1 :
It was throwing an Instantiation exception
java.lang.InstantiationException: java.lang.Class<org.hl7.fhir.r4.model.Type> cannot be instantiated
        at java.lang.Class.newInstance(Native Method)
        at com.google.android.fhir.datacapture.mapping.ResourceMapper.extractField(ResourceMapper.kt:253)
        at com.google.android.fhir.datacapture.mapping.ResourceMapper.extrac

[2021-07-26 09:29] epicadk commented on #674
`Observation.Value `in hapi is of the type `type` because it is a choice type element. I think maybe you could update the title to
`.... is choice type`

[2021-07-26 09:59] santosh-pingle commented on #674
@epicadk

Could you please give me more insights on  " **I think maybe you could update the title to
.... is choice type**"

[2021-07-26 10:16] ekigamba commented on #674
@santosh-pingle This seems to be an edge-case that we were not aware of. Is this the standard for properties of `value` for all Resources? If so, you can create a generic solution that will fix this. The only issue is that the specification clearly states that you should have `valueDecimal` and not just `value` as the property. However, I can see the HL7 models only have `value` and the uses the a

[2021-07-26 10:48] santosh-pingle commented on #674
I am not sure about the standard for properties of ```value``` for all Resources, but its declared as ```value``` field/property name for ```QuantityValue``` data type and many more (CodeableConcept, StringType ..)  in ```Observation``` resource.
Therefore, definition url is declared as ```Observation.value``` in questionnaire and not as Observation.quantityValue.

User input value for temperature

[2021-07-26 14:23] ekigamba commented on #674
@santosh-pingle
The above is mostly correct. However, as per the spec if the property is described as `value[X]`, the actual property is either of the listed sub-items such as `valueString`, `valueDateTime`, `valueQuantity` as seen in this `QuestionnaireResponse` example https://www.hl7.org/fhir/questionnaireresponse-example-f201-lifelines.json.html. The HAPI models don't follow this. I guess what

[2021-07-26 14:43] epicadk commented on #674
Sorry, I wasn't really sure so I wanted to research a bit before commenting. Anyways what I wanted to say was that Quantity.value is a choice type so maybe an appropriate title for the issue would be `
SDC library, it does not set the answer to the definition field if the field type is choice type`
refer http://www.hl7.org/fhir/formats.html#choice

[2021-07-26 16:26] santosh-pingle commented on #674
Sure, I have updated title with choice type.

[2021-07-26 16:42] santosh-pingle commented on #674
@ekigamba

Yes, FHIR model data types need to be considered in definition based extraction while fixing this issue with generic approach.

[2021-07-26 16:48] santosh-pingle commented on #674
Working on it.

[2021-07-26 16:54] santosh-pingle commented on #625
Working on #674, trying to come up with generic fix for ``` Type ``` in hapi model

[2021-07-27 07:41] ekigamba commented on #292
**WIP**

@jingtang10 @epicadk  https://www.hl7.org/fhir/search.html#composite and https://hapifhir.io/hapi-fhir/docs/server_plain/rest_operations_search.html#multi-valued-andor-parameters clearly state that the FHIR spec only supports `AND` combining multiple `OR` relationships and not the other way around eg. `("name" = ("joe" or "john")) AND ("age" = (11 or 12))` is supported and not `("language

[2021-07-27 08:23] f-odhiambo commented on #484
**Search**

- [ ] 1. Patient Name - First name, Last name
- [ ] 2. Family name? ANC Family registration and retrieve  - Head of the household?
- [ ] 3. Identifier - Covax Smart Vaccine Certificate retrieved by Barcode ID
- [ ] 4. Search by multiple resource types #611 i.e. Encounter, Observations, Practitioners, Related person  - Next of kin / Mom and tagged to a given patient or contact details
-

[2021-07-27 08:35] fredhersch commented on #484
Thanks Francis.

- For each can you provide a crisp example of the search you want to perform.
- Specifically for Head of Household, this is dependent on how you are modelling this
- For the identifier, how is this being stored
- Multiple resource types in being worked on at the moment. Please share a specific example of a query
- Location is not being worked on currently. Does someone at Ona want

[2021-07-27 14:31] ekigamba commented on #292
@jingtang10 @epicadk  https://www.hl7.org/fhir/search.html#composite and https://hapifhir.io/hapi-fhir/docs/server_plain/rest_operations_search.html#multi-valued-andor-parameters clearly state that the FHIR spec only supports `AND` combining multiple `OR` relationships and not the other way around eg. `("name" = ("joe" or "john")) AND ("age" = (11 or 12))` is supported and not `("language" = ("en"

[2021-07-28 07:31] santosh-pingle commented on #625
#674 ```(SDC library, it does not set the answer to the definition field if the field type is choice type)```, I will try to create PR by eod today.
Which will unblock us to add implementation for resource extraction of temperature, pulse oximetry and pulse heart rate.

[2021-07-28 07:34] santosh-pingle commented on #674
I will try to create PR by eod today.

[2021-07-28 12:02] santosh-pingle commented on #625
#676 (Update answers to the choice of data type field.) PR is created.
It will update the answers to the choice of data types fields of extracted resources of temperature, pulse oximetry and pulse heart rate.

[2021-07-28 12:05] santosh-pingle commented on #625
@fredhersch
Updated screener questionnaire items with definition.
#677

[2021-07-29 11:03] tunm1228 commented on #537
I'm vietnamese. I looked at the doc but didn't understand how to install the sdk into my project. please show me the steps to do on my project. thanks a lot

[2021-07-30 04:43] tunm1228 commented on #579
I also don't know how to implement sdk in my project, there is no docs for calling sdk functions.
You did it, please show me!

[2021-07-30 13:23] #623 closed

[2021-08-02 02:28] tunm1228 opened #679 "How to use sdk in my project?"
**Describe the bug**
dependencies {
    implementation 'com.google.android.fhir:data-capture:0.1.0-alpha01'
}
I added the following to the build.gradle . script.
But there are no instructions for connecting to sdk?

**Component**
Core library, SDC library, reference app, or SDC gallery app

[2021-08-02 05:48] santosh-pingle commented on #625
Checking whether existing vaccination questionnaire item response answers get updated to resource fields or not.

[2021-08-02 06:53] fredhersch commented on #625
@santosh-pingle let's leave this for now. Want to get the observations for risk factors, symptoms and vital signs working first.

[2021-08-02 11:35] f-odhiambo commented on #484
@fredhersch I will work on some sample use cases/examples and hare in the course of this week

[2021-08-02 11:57] santosh-pingle commented on #625
@fredhersch
Extracted resources are seen in local db as like below.
[code]

[2021-08-02 14:50] FikriMilano commented on #501
We have lots of header that can be customized in each questionnaire. For it's style, should we create only 1 header style then use it in all of the headers (except group header) or make specific one for each questionnaire?

For example from the screenshot below, we have edit text and date picker questionnaire. Both have their own header.
<img src="https://user-images.githubusercontent.com/62053304

[2021-08-03 05:16] santosh-pingle commented on #625
Modifying vitalSigns questionnaire item to add ```code``` in questionnaire item.

[2021-08-03 06:51] santosh-pingle commented on #625
@fredhersch @aditya-07

It seems code structure can not be used as it is in questionnaire item
e.g
[code]

[2021-08-03 08:52] #666 closed

[2021-08-03 10:14] santosh-pingle commented on #625
These items need be hidden in questionnaire, as it will have initial value as an answer.

[2021-08-03 11:11] Tarun-Bhardwaj commented on #474
@epicadk , were you able to move ahead with this issue? Any ETA that you can provide for completion?

[2021-08-03 13:40] santosh-pingle commented on #625
Updated Temperature Questionnaire item something like this to update the ``` code ``` for temperature vitalSigns

[code]

[2021-08-03 13:50] santosh-pingle commented on #625
With this change code is seen as below for temperature.
[code]

[2021-08-03 14:29] fredhersch commented on #625
Thanks @santosh-pingle the output looks right to me. I do wonder whether we can work on the Questionnaire component so as not have to split up all of the different items. Let me think about this further

[2021-08-04 03:11] fredhersch commented on #625
@santosh-pingle For observations there are two scenarios:

1. For vital-signs: we use observation.code from the item and then set the observation.value using the valueQuantity (type Quantity) with hidden fields for the units coding system. This has been well documented by @jingtang10 in the thread above

I would recommend that we add an observation.category of 'vital-signs' - to all observations t

[2021-08-04 03:12] epicadk commented on #474
Sorry, slipped my mind, I'll open a pr that adds basic functionality by tomorrow.

[2021-08-04 03:12] fredhersch commented on #625
@santosh-pingle can you review this please. Thanks

[2021-08-04 05:50] santosh-pingle commented on #625
Sure, please give me sometime, I will review it.

[2021-08-04 05:51] fredhersch commented on #625
@santosh-pingle In response to your earlier comment for extracting the Temperature observation, I'm sharing an edited version of the Questionnaire here. I have put the code in the root item and removed the itemId 5.3.0

What I think we should have is a single group with:
Item for the code: Observation.code = item.code (codeableConcept values)
Item for the valueQuantity:
- Observation.valueQuantity

[2021-08-04 09:00] #674 closed

[2021-08-04 11:30] Tarun-Bhardwaj commented on #598
@Ana2k , could you please provide an update on the status of this issue? Are the code changes ready for review? If now, is there an ETA that you could please provide?

[2021-08-04 12:42] maanuanubhav999 commented on #679
Hi @tunm1228. Did you tried the [Documentation](https://github.com/google/android-fhir/wiki/Structured-Data-Capture-Library-User's-Guide)

[2021-08-04 12:48] santosh-pingle opened #683 "Question item was not hidden after adding hidden extension in item in questionnaire."
**Describe the bug**
After adding hidden extension to questionnaire, it does not hide questionnaire item while rendering the ui.

"extension": [
                {
                  "url": "http://hl7.org/fhir/StructureDefinition/questionnaire-hidden",
                  "valueBoolean": "true"
                }
              ],

- If hidden extension is true, then question item will not be shown irr

[2021-08-04 12:50] santosh-pingle commented on #625
#683 sdc library does not support hidden extension.

[2021-08-04 12:56] santosh-pingle commented on #625
Not sure, whether we can add code and definition to the extension and then extract it with definition based approach.
Does extension have definition element?

[2021-08-04 12:58] maanuanubhav999 opened #684 "Add patient Ui is not working properly in dark mode"
**Describe the bug**
UI for add patient in reference is shown unusually when the device is in dark mode.

**Component**
Reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to reference app
2. Switch device to dark mode
3. Click on the + icon for adding patients.
4. See error

**Expected behavior**
Should show UI elements uniformaly

**Screenshots**
If applicable, add screenshots

[2021-08-04 13:36] fredhersch commented on #392
Thanks @yigit for surfacing this. Looks very relevant: https://sonique6784.medium.com/protect-your-room-database-with-sqlcipher-on-android-78e0681be687
@jingtang10

[2021-08-04 15:43] f-odhiambo commented on #684
Check this fix https://github.com/opensrp/fhircore/pull/128

[2021-08-05 03:32] Ana2k commented on #598
I am currently working on this. I will have implemented most changes by  9thAugust(Possible ETA).

[2021-08-05 04:50] santosh-pingle commented on #625
VitalSigns saved in local db as below.

[code]

[2021-08-05 05:03] santosh-pingle commented on #625
Reviewing it.

@fredhersch
Do you want me to restructure questionnaire json to support definition based extraction for above questionnaire items ? or you are going to share it with me?

[2021-08-05 06:37] fredhersch commented on #580
Done

[2021-08-05 06:37] fredhersch commented on #582
Initial FAQs updated.

[2021-08-05 08:59] fredhersch opened #686 "Research into Bulk Data API"
**Describe the issue to be researched**

Whether we should support a bulk data API within the SDK

**Describe the goal of the research**

* Develop a better understanding of the use cases where Bulk Data API is appropriate
* Identify use cases and amount of data
* Determine whether to provide support and if so what is the priority

**Describe the methodology**
* Review of available materials
* Dis

[2021-08-05 09:00] f-odhiambo opened #687 "Integrate the Barcode reader function to the latest merged version of SDC"
**Describe the bug**
The Barcode reader is required to scan the paper card, the patient identifier that is used to track the paper card that is issued to the patient. The current SDC release has an issue with the barcode functionality. We need to resolve the bug(s) associated with it in the codebase to ensure that the barcode feature works appropriately as it's a critical feature for the WHO Covax

[2021-08-05 09:54] #582 closed

[2021-08-05 09:55] #580 closed

[2021-08-05 10:03] Tarun-Bhardwaj commented on #474
Thanks @epicadk. By adding basic functionality, are there any changes that are being excluded from the PR for now or would it cover the entire scope mentioned as part of this issue? I assigning it to a reviewer in the meantime.

[2021-08-05 12:26] fredhersch commented on #625
If you can propose the correct way that would be great. Thanks

On Thu, 5 Aug 2021, 1:03 pm santosh-pingle, ***@***.***>
wrote:

[2021-08-05 12:39] santosh-pingle commented on #625
Working on symptoms to extract each answer as single observation resource.

[2021-08-05 16:25] epicadk commented on #474
Yup, all functionality has been added except for date approximate as discussed here. https://github.com/google/android-fhir/pull/419#discussion_r644688966. Will discuss with @jingtang10 and get that done as well. After that , it should not take more than a day to complete.

[2021-08-06 05:03] santosh-pingle commented on #625
Yesterday, @fredhersch and we discussed offline, we can choose option 3  or 4.
Updating symptoms questionnaire item json with definition based extraction.

[2021-08-06 12:25] santosh-pingle commented on #625
Below observations were extracted for selected symptoms.

[code]

[2021-08-06 18:19] epicadk commented on #474
FYI https://github.com/google/android-fhir/issues/568

[2021-08-07 11:11] Tarun-Bhardwaj commented on #530
@maanuanubhav999 , could you please provide an ETA for completing the code changes?

[2021-08-07 13:30] Tarun-Bhardwaj commented on #600
@maanuanubhav999 , can we close this issue since we already have #258 and thus this one is a duplicate?

[2021-08-07 20:17] prsndp commented on #602
Thanks:)

[2021-08-08 07:59] fredhersch commented on #581
Updated https://github.com/google/android-fhir/wiki/Using-the-Structured-Data-Capture-API

Need to review some of the content together with @jingtang10 this week

[2021-08-08 08:26] fredhersch commented on #679
@tunm1228 Are you trying to use just the SDC Library or the FHIREngine as well?

Please review the [documentation here](https://github.com/google/android-fhir/wiki)

Let us know if you have specific questions

[2021-08-08 08:40] fredhersch commented on #612
@aditya-07 This looks like relevant context http://hl7.org/fhir/R4/questionnaire.html#choices

[2021-08-08 08:54] fredhersch opened #689 "Add support for open-choice answerFormats in Questionnaire"
**Is your feature request related to a problem? Please describe.**
Current SDC library does not support open-choice option

**Describe the solution you'd like**
Able to provide open-choice as an item type. Specifying this will then implement the behaviour as per the specification here

**Additional context**
Here is a sample Questionnaire that uses open-choice options - https://openhie.github.io/c

[2021-08-08 08:55] fredhersch commented on #689
@jingtang10 @Tarun-Bhardwaj for triaging

[2021-08-08 09:13] #260 closed

[2021-08-08 09:30] fredhersch commented on #253
There are two distinct scenarios:

**1. Server side deployment with sync**
* Here a server would act as a knowledge repository OR there is a separate process to deploy an IG to the FHIR server - e.g. [this thread on the FHIR chat](https://chat.fhir.org/#narrow/stream/179250-bulk-data/topic/Tool.20to.20push.20IG.20NPM.20package.20into.20FHIR.20servers)
* The app would be set up to sync the latest r

[2021-08-08 09:31] fredhersch commented on #261
Covered in #253 . Closing

[2021-08-08 09:31] #261 closed

[2021-08-08 14:14] maanuanubhav999 commented on #600
@Tarun-Bhardwaj sure.

[2021-08-08 14:14] #600 closed

[2021-08-08 14:37] maanuanubhav999 commented on #530
@Tarun-Bhardwaj  I was having some trouble with the instrumental test otherwise the PR was ready.  If the tests start working, 4-5 days.

[2021-08-09 05:29] santosh-pingle commented on #625
Working on medical history (conditions) to extract each answer as single observation resource.

[2021-08-09 07:01] fredhersch commented on #686
Reviewed a number of resources related to the Bulk Data API:

- [FHIR Bulk Data API IG](https://hl7.org/fhir/uv/bulkdata/)
- [FHIR Bulk Data API Presentation, July 2020](https://docs.google.com/presentation/d/14ZHmam9hwz6-SsCG1YqUIQnJ56bvSqEatebltgEVR6c/edit#slide=id.g8c17644f87_23_919)
- [FHIR Chat #bulk-data stream](https://chat.fhir.org/#narrow/stream/179250-bulk-data)

From my understanding:
*

[2021-08-09 10:06] ekigamba commented on #258
@maanuanubhav999 Can you update this issue with a quick summary and links to any related documents for this? I see the other issue was closed.

[2021-08-09 12:33] epicadk commented on #474
Re-opened because still need to address #568.

[2021-08-09 12:45] maanuanubhav999 commented on #258
@ekigamba sure. thanks

[2021-08-09 12:56] maanuanubhav999 commented on #258
We have two APIs that seem like a suitable candidates - both have their set of pros and cons.
[wifip2p](https://developer.android.com/guide/topics/connectivity/wifip2p#api-overview)
[nearby connection](https://developers.google.com/nearby/connections/overview)

**why not use a library**
All the libraries I have encountered were not documented properly or were not updated
Also, there have been majo

[2021-08-09 17:08] Tarun-Bhardwaj commented on #474
@epicadk , thanks Aditya. Have assigned #568 to you. Let's keep #474 open until #568 is addressed as they both are closely linked. CC @jingtang10

[2021-08-10 05:12] santosh-pingle commented on #625
Extracted medical history resources for selected answers.

[code]

[2021-08-10 06:21] santosh-pingle commented on #625
Looking into #626

[2021-08-10 09:08] MuhammadSalman-7214 opened #694 "Canonical Types are not being handled yet in fhir sdk"
**Describe the bug**
Any resource containing canonical references is not storing in the database. Reason is Class ResourceIndexer line 249 where it tries to cast canonical type into reference entity, which is throwing class cast exception. So far resources checked for this problem are Activity Definition, Observation, Library and Plan Definition.
Standard url for hl7 is https://www.hl7.org/fhir/pl

[2021-08-10 10:58] fredhersch commented on #258
Thinking about the discussion to provide a sync_status per resource and the impact on the current db.

I was wondering if it made sense to add this as an additional table within the SQLite DB that would store the local_resource_id with a server_sync_flag and any additional meta_data (as a json field) that needs to be tracked.

_What are the pros and cons to this? Please add_

Pros:
* Doesn't impac

[2021-08-10 11:06] santosh-pingle commented on #626
Generating risk-assessment resource.

[2021-08-10 11:58] maanuanubhav999 commented on #258
This is another approach.
The above-mentioned [library](https://github.com/OpenSRP/android-p2p-sync) works by keeping a record of the last element sent as **lastRecordId** and  we can easily send any new resource with it, the problem arises when we make changes to already existing resource and to tackle this we can just update **id** of the **resource**

[2021-08-10 12:16] maanuanubhav999 commented on #258
This is another approach for syncing.

The above-mentioned [library](https://github.com/OpenSRP/android-p2p-sync) works by keeping a record of the last element sent as **lastRecordId** and we can easily send any new resource with it, the problem arises when we make **changes to already existing resource** and to tackle this we can just update **id** of the **resource** and thus it will be sent the

[2021-08-10 14:58] epicadk opened #696 "Support modifiers in token search"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently we do not support modifiers in token search.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Support modifiers in token search

**Describe alternatives you've considered**
A clea

[2021-08-10 19:49] pld commented on #258
in the OpenSRP p2p library, do we differentiate between synced over p2p and synced to a server?

[2021-08-11 05:13] santosh-pingle commented on #626
@jingtang10 @aditya-07
Can you please explain in more details about implementing display in the patient card?

[2021-08-11 05:16] santosh-pingle commented on #626
@aditya-07
Is below PR blocker to implement additional display changes of patient card, if yes can we please get merged on priority?
https://github.com/google/android-fhir/pull/691

[2021-08-11 05:19] santosh-pingle commented on #626
I will push PR about generating risk-assessment in first half of the day today.

[2021-08-11 06:32] santosh-pingle commented on #626
Generated risk assessment resource
[code]

[2021-08-11 07:04] santosh-pingle opened #700 "java.lang.NullPointerException: quantity.unit must not be null"
**Describe the bug**
This crash was seen recently on latest codebase.

java.lang.NullPointerException: quantity.unit must not be null
 at com.google.android.fhir.index.ResourceIndexer.quantityIndex(ResourceIndexer.kt:277)
        at com.google.android.fhir.index.ResourceIndexer.extractIndexValues(ResourceIndexer.kt:99)
        at com.google.android.fhir.index.ResourceIndexer.index(ResourceIndexer.

[2021-08-11 07:40] santosh-pingle commented on #700
@epicadk

[2021-08-11 07:43] santosh-pingle commented on #625
#700 crash while saving extracted resources on ResourcesIndexer.

[2021-08-11 07:52] epicadk commented on #700
Not entirely sure this is because of #682 the error seems to be on line 227

https://github.com/google/android-fhir/blob/10ddd96d3eddb46ab8aae520298740eea452e232/engine/src/main/java/com/google/android/fhir/index/ResourceIndexer.kt#L277

Which I haven't modified in #682 , was this working before that pr was merged?

[2021-08-11 07:57] santosh-pingle commented on #700
yes, it was able to save resources.(added resources in description are saved resources.)

[2021-08-11 08:19] santosh-pingle commented on #700
@epicadk
After taking latest pull, I see same crash with updated line numbers.

[code]

[2021-08-11 08:40] epicadk commented on #700
Ahh yes this makes sense now. I'll look into it should be done by the end of the day.

[2021-08-11 11:58] santosh-pingle opened #701 "Patient details card : java.lang.NullPointerException: observationCode must not be null"
**Describe the bug**
Issue was seen on patient details card.

java.lang.NullPointerException: observationCode must not be null
        at com.google.android.fhir.reference.PatientDetailsViewModel.createConditionItem(PatientDetailsViewModel.kt:119)
        at com.google.android.fhir.reference.PatientDetailsViewModel.getPatientConditions(PatientDetailsViewModel.kt:67)
        at com.google.android.f

[2021-08-11 12:07] santosh-pingle commented on #626
#701 need to fix this issue to unblock ui changes further

[2021-08-11 12:13] santosh-pingle commented on #701
Working on it to unblock #626

[2021-08-11 13:35] jingtang10 opened #702 "Make it possible for FHIR engine to not create local changes"
**Is your feature request related to a problem? Please describe.**
At the moment FHIR engine has the in-built assumption that all data changes need to be synced with the FHIR server. This means whenever any FHIR resources are created/updated/removed, a local change record is created which is synced the next time the device has connectivity.

This works fine when there is a FHIR server that is the

[2021-08-11 14:09] #554 closed

[2021-08-12 05:08] santosh-pingle commented on #626
Working on review comments of #699

[2021-08-12 07:02] joiskash commented on #673
[questionnaireLarge.txt](https://github.com/google/android-fhir/files/6973408/questionnaireLarge.txt)

[2021-08-12 07:13] joiskash commented on #651
ETA 19th August 2021

[2021-08-12 07:13] joiskash commented on #650
ETA 19th August 2021

[2021-08-12 07:13] joiskash commented on #649
ETA 19th August 2021

[2021-08-12 07:14] joiskash commented on #647
ETA 19th August 2021

[2021-08-12 07:14] joiskash commented on #672
ETA 19th August 2021

[2021-08-12 07:14] joiskash commented on #673
ETA 19th August 2021

[2021-08-12 08:33] jingtang10 commented on #694
thanks for creating the issue!

[2021-08-12 08:50] MuhammadSalman-7214 commented on #694
your welcome @jingtang10

[2021-08-12 10:25] santosh-pingle opened #707 "java.lang.IllegalStateException: Data cannot occupy more than 10240 bytes when serialized"
**Describe the bug**
Reference app crashed.
java.lang.IllegalStateException: Data cannot occupy more than 10240 bytes when serialized
        at androidx.work.Data.toByteArrayInternal(Data.java:417)
        at androidx.work.Data$Builder.build(Data.java:846)
        at com.google.android.fhir.sync.FhirSyncWorker.buildWorkData(FhirSyncWorker.kt:122)
        at com.google.android.fhir.sync.FhirSyncWo

[2021-08-12 11:02] santosh-pingle commented on #626
Risk assessment UI Display action items :

- Fetch Risk assessment resource.
- Update color according to risk probability on Patient card.
- Refresh patient card ui after completing screener survey for latest risk probability.
- Show risk probability color on patient search page as well.

[2021-08-12 11:04] santosh-pingle commented on #626
In progress : Fetch Risk assessment resource.

[2021-08-12 15:26] Tarun-Bhardwaj opened #709 "Hidden fields"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-12 15:28] dustinking-google commented on #75
Since we're using a Room database, we'll probably want to use SQLCipher to encrypt it. My understanding is that we'll need to supply the key material to SQLCipher, so we should be able to generate and manage hardware-backed keypairs for that purpose that we'll be able to perform key attestation on.

[2021-08-12 15:30] Tarun-Bhardwaj opened #710 "Element extension: maxDecimalPlaces"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-12 16:09] pld commented on #258
Answering my own question :) no it does not.

We discussed this and in the current implementation this is stored as a separate table on the receivers device, which stores

- device_id (String)
    - this is probably better as a sender user_id + sender UUID re-generated in the app on data reset (so that if the sender resets their data, which would reset their row_ids, any existing data on receiver

[2021-08-13 06:29] santosh-pingle commented on #626
@jingtang10 @fredhersch @aditya-07

What will be initial value of risk assessment **status**?
It is required to show on patient details card screen.

[2021-08-13 06:43] santosh-pingle commented on #626
@jingtang10 @fredhersch @aditya-07
It is also required to show last contacted value on patient details screen, what will be value for it?
is it occurrence date time type when risk assessment resource was generated?

[2021-08-13 06:57] aditya-07 commented on #626
Status is UNKNOWN if we don't have a risk assessment for a Patient.

[2021-08-13 06:58] aditya-07 commented on #626
Yes, I think so.

[2021-08-13 08:39] jingtang10 commented on #609
so the look up from valueset -> codes will be done by the app

[2021-08-13 09:02] jingtang10 commented on #612
for this - @fredhersch and @litlfred do we have an example of expanded valueset in contained? @aditya-07 couldn't find any. at the moment we only have non-expanded valuesets in the contained resources list of a questionnaire.

[2021-08-13 09:09] jingtang10 commented on #707
@santosh-pingle thanks for creating the issue. in the future please complete all the fields in the issue description so it's easy for others to reproduce :)

[2021-08-13 09:28] aditya-07 commented on #612
@fredhersch @litlfred  [openhie-covid-case-report.json](https://github.com/google/android-fhir/blob/master/datacapturegallery/src/main/assets/openhie-covid-case-report.json) has contained sets but all of them have **compose** instead of the **expanded** CodeSystem.

[2021-08-15 09:47] tunm1228 opened #711 "How to set questionnaire response path"
please give me form for questionnaire response path?

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information):**
 - Device: [e.g. Pixel4a emulator]
 - Android version: [e.g. Settings -> About phone -> Android version]
 - Build number:

[2021-08-16 05:09] santosh-pingle commented on #626
I will push PR in second half of today which will include
1. patient risk with color code on patient search page.
2. refresh patient risk color code on search page after taking screener encounter.
3. Patient risk color code on patient display card.
4. refresh patient risk color after taking screener encounter
5. Fetch risk assessment for given patient.
6. fetch risk assessment for all patients on

[2021-08-16 07:52] Tarun-Bhardwaj commented on #568
@epicadk , could you please provide an ETA for closing this issues as closure of #474 is dependent on it?

[2021-08-16 07:58] Tarun-Bhardwaj opened #713 "Research: Authentication support (e.g Smart-on-FHIR via the SDK)"
**Describe the issue to be researched**
Include any background information and available resources.

**Describe the goal of the research**
What's the desired outcome of this task? What artifacts should be produced?

**Describe the methodology**
Where can more information be found? Who should the assignee approach to ask questions? How can a decision be made?

**Would you like to work on the issue?

[2021-08-16 08:02] Tarun-Bhardwaj opened #714 "Design authentication & authorization for GCP"
**Describe the issue to be researched**
Include any background information and available resources.

**Describe the goal of the research**
What's the desired outcome of this task? What artifacts should be produced?

**Describe the methodology**
Where can more information be found? Who should the assignee approach to ask questions? How can a decision be made?

**Would you like to work on the issue?

[2021-08-16 08:16] Tarun-Bhardwaj opened #715 "Sync Status - Show sync status & last sync time"
From #605

User story: As a logged in user I can choose to sync the mobile client with a FHIR server and visually see the status changes

Steps:

User is logged in
Clicks on the settings which opens a drawer menu
From the drawer menu, user can see sync option and last sync'd time/date
User clicks the sync option which starts the sync process. The status changes visually by showing a spinner (or ot

[2021-08-16 08:18] Tarun-Bhardwaj opened #716 "Requirements and design of workflow library to support CarePlan generation and Implementation Guides"
**Describe the issue to be researched**
Include any background information and available resources.

**Describe the goal of the research**
What's the desired outcome of this task? What artifacts should be produced?

**Describe the methodology**
Where can more information be found? Who should the assignee approach to ask questions? How can a decision be made?

**Would you like to work on the issue?

[2021-08-16 08:49] Tarun-Bhardwaj opened #717 "Research ImageSupport requirement as form item control"
**Describe the issue to be researched**
Include any background information and available resources.

**Describe the goal of the research**
What's the desired outcome of this task? What artifacts should be produced?

**Describe the methodology**
Where can more information be found? Who should the assignee approach to ask questions? How can a decision be made?

**Would you like to work on the issue?

[2021-08-16 08:51] Tarun-Bhardwaj opened #718 "Generate CarePlan via $apply"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-16 10:00] fredhersch commented on #612
I see the problem @aditya-07 .. We will need to generate our own example. Maybe we can add something simple to an existing one for Yes/No? Happy to have a look at this tomorrow.

[2021-08-16 10:17] deepankarb opened #719 "Code coverage monitoring improvements"
Currently we generate code coverage report only for the `engine` module using gradle JaCoCo plugin. The generated report includes coverage from local and instrumented tests.  To improve code health for the project we need to cover additional modules.

- [ ] Identify all modules to be covered
- [ ] Add coverage config for the identified modules
- [ ] Merge coverage reports from all modules
- [ ] Up

[2021-08-16 10:23] #711 closed

[2021-08-16 12:27] santosh-pingle commented on #625
Just for reference, @jingtang10 asked to try below approach to check whether ui alignment issues get fixed.

``` to continue with the definition based extraction discussion, why can't we have hidden question groups and each has enable when expression that evaluates to true if a certain answer is given. This way we still keep a single question for the multiple choices. and the groups will be enable

[2021-08-16 12:27] santosh-pingle commented on #625
I will start making above changes to fix ui alignment issue.

[2021-08-16 17:56] epicadk commented on #568
awaiting review.

 Currently I have implemented in the way the spec recommends. However, @jingtang10 had mentioned that it may not be the best way to implement this and we could also decide to not implement this at all  (which I agree with). If we do decide that we don't want to support approximate for dates it would take a day at max to make the required changes. cc @jingtang10

[2021-08-17 03:53] tunm1228 opened #722 "Could not find com.google.android.fhir:data-capture:0.1.0-alpha04"
Could not resolve all files for configuration ':app:debugRuntimeClasspath'.

     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/com/google/android/fhir/data-capture/0.1.0-alpha04/data-capture-0.1.0-alpha04.pom
       - https://jcenter.bintray.com/com/google/android/fhir/data-capture/0.1.0-alpha04/data-capture-0.1.0-alpha04.pom
       - file:.../libs/data-cap

[2021-08-17 03:56] tunm1228 commented on #722
it works well with: com.google.android.fhir:data-capture:0.1.0-alpha03

[2021-08-17 06:15] santosh-pingle commented on #625
@jingtang10
I am trying out above suggested approach on **symptom question item** to just check whether its possible or not.
Though, I do have couple of doubts here to implement it, but considering to form questionnaire json first with those modifications, so that it will help me to ask those questions better way.

[2021-08-17 07:20] #707 closed

[2021-08-17 08:49] jingtang10 commented on #292
Discussed with @ekigamba @f-odhiambo @aditya-07 and @fredhersch yesterday. We identified 2 different use cases

1. while searching using a search parameter (i.e. given name), provide multiple possible matches that are joined together as a disjunction/OR. This is the example @ekigamba provided `("name" = ("joe" or "john")) AND ("age" = (11 or 12))` and this is what the FHIR RESTful APIs already sup

[2021-08-17 08:50] jingtang10 commented on #292
This is also related to #609. We will need this for searching for observations with different codes.

[2021-08-17 08:51] jingtang10 opened #723 "Allow disjunction of mulitple search parameters (i.e. name is joe or address is france)"
Discussed with @ekigamba @f-odhiambo @aditya-07 and @fredhersch yesterday. We identified 2 different use cases

1. while searching using a search parameter (i.e. given name), provide multiple possible matches that are joined together as a disjunction/OR. This is the example @ekigamba provided `("name" = ("joe" or "john")) AND ("age" = (11 or 12))` and this is what the FHIR RESTful APIs already sup

[2021-08-17 08:51] jingtang10 commented on #723
In this issue we will focus on number 2.

[2021-08-17 12:44] Tarun-Bhardwaj commented on #292
@ekigamba , @jingtang10 , assigning this issue to @aditya-07 .

[2021-08-17 12:58] ekigamba commented on #292
Cool, @aditya-07 see if the POC here is sound and usable https://github.com/google/android-fhir/pull/678

[2021-08-17 14:47] santosh-pingle commented on #625
@jingtang10

Tried out 2nd approach as mentioned above on **symptoms questionnaire item** to align ui.

- Please see below modified symptoms questionnaire json.

[code]

- Observation : With this questionnaire json , sdc was returning empty response for hidden questionnaire item which was enabled when checkbox (answer) of main questionnaire was selected.
e.g Fever was selected, but respective hidd

[2021-08-18 05:33] santosh-pingle commented on #625
@jingtang10 @fredhersch @aditya-07

I had tried this approach.
Provided feedback, you can refer https://github.com/google/android-fhir/issues/625#issuecomment-900363679 for more information.
It is required to implement/debug missing edge cases which are not implemented currently to proceed further https://github.com/google/android-fhir/issues/625#issuecomment-900363679.
Please let me know your inp

[2021-08-18 05:57] santosh-pingle opened #724 "Start documentation for the for issue #625"
**Describe the bug**

#625
1. Retrospective document - learning, best practices, challenges, approach etc
2. Implementation guide for outside world

**Component**
Core library, SDC library, reference app, or SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descriptio

[2021-08-18 06:00] santosh-pingle commented on #625
In parallel, I started working on ```Start documentation for the for issue #625``` #724

[2021-08-18 06:11] santosh-pingle commented on #715
@aditya-07
Can you please update the issue with description and expectation, Thanks!

[2021-08-18 06:13] santosh-pingle commented on #724
In parallel, I am working on it.

[2021-08-18 08:15] fredhersch commented on #722
Can you try alpah03

[2021-08-18 08:56] jingtang10 commented on #216
Closing this issue since any work is tracked in sub-items: #606

[2021-08-18 09:00] jingtang10 opened #726 "Handle repeated groups"
**Is your feature request related to a problem? Please describe.**
Repeated question groups

**Describe the solution you'd like**
Potentiall we can add a "+" button so that the user can create new groups. Groups that are repeatable can also be deleted with a "-" button

**Describe alternatives you've considered**
NA

**Additional context**
NA

**Would you like to work on the issue?**
NA

[2021-08-18 09:04] jingtang10 opened #727 "Repeated text field"
**Is your feature request related to a problem? Please describe.**
When a text field is repeated, there should be a way to create new answers (button "+") and remove any existing answers.

**Describe the solution you'd like**
NA

**Describe alternatives you've considered**
Could also not have a button and just have another empty text box, and if the user populates that empty text box another one w

[2021-08-18 09:05] #216 closed

[2021-08-18 09:52] joiskash commented on #647
fixed by #662

[2021-08-18 09:52] #647 closed

[2021-08-18 10:27] joiskash commented on #651
[code]

[2021-08-18 13:21] Tarun-Bhardwaj commented on #718
Closing this issue as this would be merged with issue #656

[2021-08-18 13:21] #718 closed

[2021-08-18 15:41] Tarun-Bhardwaj commented on #609
De-prioritized for now. Nice to have feature to simplify, hence moving this out of Q3 scope as per discussion with Jing & Fred.

[2021-08-18 16:21] stevenckngaa commented on #672
The issue indeed is caused by storing Questionnaire Json in the bundle [here](https://github.com/google/android-fhir/blob/6ea9f0bb91fa4574c45de4601270cae864b7e0b2/datacapturegallery/src/main/java/com/google/android/fhir/datacapture/gallery/QuestionnaireContainerFragment.kt#L72). Rather than storing the questionnaire json, we could store the json file path and load the json from the disk if not pre

[2021-08-18 18:32] jingtang10 opened #732 "Create a DSL for the sync API"
**Is your feature request related to a problem? Please describe.**
Sync API can be improved by defining a DSL similar to https://github.com/google/android-fhir/pull/395

**Describe the solution you'd like**
https://github.com/google/android-fhir/pull/395

**Describe alternatives you've considered**
NA

**Additional context**
NA

**Would you like to work on the issue?**
NA

[2021-08-18 18:35] jingtang10 opened #733 "Refactoring quantity index table by removing the canonical columns"
My guess is that it's unlikely for users to search by a quantity using the equal operator. I would imagine quantity would be used for sorting. But also probably used for search within a range.

If this is true, I would argue for canonicalisation. Although to make sorting work perfectly with different units there will be much more work.

_Originally posted by @jingtang10 in https://github.com/googl

[2021-08-18 18:36] jingtang10 commented on #625
thanks @santosh-pingle for sharing the questionnaire - it looks right to me.

[2021-08-19 07:47] fredhersch commented on #556
@jingtang10 is there an update on this PR?

[2021-08-19 10:28] #651 closed

[2021-08-19 10:48] santosh-pingle commented on #625
As mentioned in https://github.com/google/android-fhir/issues/625#issuecomment-900363679

- ```Though enable-when condition is satisfied after clicking on checkbox, item was still not enabled.```

I will create separate issue for it, just for reference.
Found root cause(callback issue), will create PR for this issue.

[2021-08-19 10:52] tunm1228 commented on #722
I don't change it anymore but keep the same version: alpha01

[2021-08-19 10:57] deepankarb opened #734 "Files navigation on the codecov dashboard does not work. This is due to branch info missing from the badge. Fix link to code coverage dashboard from coverage badge in README.md."
Files navigation on the codecov dashboard does not work. This is due to branch info missing from the badge. Fix link to code coverage dashboard from coverage badge in README.md.

[2021-08-19 11:07] jingtang10 opened #735 "Index common search parameters `_profile` and `_tag`"
See https://github.com/opensrp/fhircore/issues/276#issuecomment-899362217

https://www.hl7.org/fhir/search.html#all

we already handle last updated.

We want to handle profile and tag as well -- not entirely sure it makes sense to handle the other parameters

@maimoonak

[2021-08-19 11:59] jingtang10 commented on #556
@epicadk ?

[2021-08-19 12:28] santosh-pingle opened #736 "On checkbox selection, enablewhen does not enable question item though question match answer option in it."
**Describe the bug**

1. Questionnaire item has question which has multiple choice selection.
2. It renders each choice/answer as checkbox.
3. After selecting checkbox, it does not enable another question item/group which has enablewhen element and it matches question with selected answer option.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click

[2021-08-19 12:31] santosh-pingle commented on #625
#736

[2021-08-19 13:09] epicadk commented on #556
PR is awaiting review from @Rkareko. It's related to my GSoC project.

[2021-08-19 13:10] epicadk commented on #556
Sorry I meant to assign @Rkareko  to the PR and not this issue.

[2021-08-19 13:14] santosh-pingle commented on #625
InitialSelected: true, does not select the checkbox answer option.
-> Alternative way is to provide initial value coding.

[2021-08-19 14:05] santosh-pingle opened #739 ""initialSelected": true, does not select the answer option of choice type.(e.g radio button, checkbox)"
**Describe the bug**
1. Questionnaire item has question which has multiple choice selection.
2. It renders each choice/answer as checkbox.
3. Given "initialSelected": true in answer option.

It does not select the answer option (checkbox, radio button.).

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See e

[2021-08-19 14:07] santosh-pingle commented on #625
#739

[2021-08-19 14:10] santosh-pingle commented on #625
I will start working on sdc library does not support hidden extension. #683

[2021-08-19 18:11] #734 closed

[2021-08-20 05:13] santosh-pingle commented on #683
In progress.
Will try to push PR in second half of today.

[2021-08-20 06:44] #736 closed

[2021-08-20 07:22] santosh-pingle commented on #625
As mentioned in #625 (comment), it is one of the edge case which needs fix to hide the question item.
Working on Question item was not hidden after adding hidden extension in item in questionnaire.. #683
Will try to push PR in second half of today.

[2021-08-20 09:25] epicadk opened #741 "Add functionality to convert between composite types."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently the hapi proto converter does not handle composite type conversions.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Handle conversions for composite types.

**Describe alternati

[2021-08-20 11:43] santosh-pingle commented on #625
PR #742 (hidden extension to hide question item.)

[2021-08-20 16:33] jingtang10 commented on #672
What I don't quite understand about this issue is that, if we're hitting the size limit of bundle (https://developer.android.com/guide/topics/resources/runtime-changes) why doesn't it crash when we first use the bundle to pass data to `com.google.android.fhir.datacapture.QuestionnaireFragment` but only crashes upon configuration change? @yigit @kevinmost ideas?

Discussed with @stevenckngaa who se

[2021-08-20 18:03] jingtang10 commented on #672
@joiskash can you please try if this works for you? #746

[2021-08-20 18:13] epicadk commented on #735
can be done in #488. I'll remove the other parameters.

[2021-08-20 23:55] yigit commented on #672
we actually discussed this in the initial PR.

It is quite possible that we don't hit it at first because we are just close to the limit and then when UI adds its own data, it pushes us over the edge.

We need to write a mechanism to save these questionaires to disk and also cleanup.

I don't think the URI solves the problem, it mostly just moves it around and adds complexity. I think we would be

[2021-08-21 03:51] #700 closed

[2021-08-21 07:04] FikriMilano opened #747 "Add questionnaire customization documentation in wiki"
**Describe the Issue**
After adding questionnaire customization support in #633. We need documentation in the wiki on how to customize the questionnaire.
The documentation is ready and can be retrieved from [here](https://gist.github.com/FikriMilano/79a8a8aeb12ca6666efe6c8fd841485b#guides-to-customize)

**Would you like to work on the issue?**
It should be someone that has permission to edit the w

[2021-08-21 10:53] epicadk commented on #710
We can create a `DecimalTypeMaxDecimalValidator` object that implements `ConstraintValidator`

[2021-08-21 17:23] epicadk commented on #657
How hapi fhir  handles [this](https://github.com/hapifhir/hapi-fhir/blob/097a2f70b3a1531a76031f3d051191f9315f7507/hapi-fhir-jpaserver-cql/src/main/java/ca/uhn/fhir/cql/r4/provider/MeasureOperationsProvider.java#L75) .

Dependencies

- https://github.com/DBCG/cql_engine

[2021-08-22 10:51] stevenckngaa commented on #672
Jing and I did discuss the save questionnaires to disk before the prototype. We both think that's a good idea.

In #745, I did save the questionnaire to external cache directory. The reason I opt for URI is that we can later refactor the code to use `InputStream`. By using [IParser#parseResource](https://hapifhir.io/hapi-fhir/apidocs/hapi-fhir-base/ca/uhn/fhir/parser/IParser.html#parseResource(jav

[2021-08-23 08:17] jingtang10 commented on #672
@yigit in #746 I'm making the view model visible to the library client (no longer internal). It is then a shared view model and the client can interact with it rather than passing a data bundle to the fragment.

we followed the documentations here https://developer.android.com/topic/libraries/architecture/viewmodel#sharing

this would alter the way the client uses the library but i have confirmed

[2021-08-23 08:22] santosh-pingle commented on #625
@jingtang10 @fredhersch @aditya-07

Found a new edge case which is not supported yet by sdk.
If the question item has enablewhen clause, and it also has initial coding value, in that case question item with initial coding value gets added to the questionnaire response though enablewhen clause is false.

Just consider the symptoms question as an example.
Symptoms main question has 4 answer options

[2021-08-23 09:17] stevenckngaa commented on #672
While the binder limit is avoided in #746, the questionnaire JSON text is still being cached in the memory of the `ViewModel` alongside with the `Questionnaire` object. Is there any concern of extensive memory usage while loading a large questionnaire in particular on low end devices?

[2021-08-23 09:33] joiskash commented on #672
Yes, we have seen a lot of crashes related to OOM on low end devices. So it will be best for us to not have copy of the same data in two different formats.

[2021-08-23 11:04] jingtang10 opened #750 "Enable https://github.com/cashapp/licensee"
**Describe the Issue**
Enable the plugin and configure it so it allows only compatible licences in our dependencies.

**Would you like to work on the issue?**
@kevinmost made a headstart :)

[2021-08-23 11:24] jingtang10 commented on #625
@santosh-pingle can you send a fix in the view model?

[2021-08-23 12:19] santosh-pingle commented on #625
I am working on it. Thanks!

[2021-08-23 12:32] maanuanubhav999 commented on #258
[Gist](https://gist.github.com/maanuanubhav999/e6b2899dd308d35320a90ff215f312d7): all the work done during GSoC regarding POC has been mentioned here.

Also, these were some of the questions asked by @jingtang10  during the presentation.

Can you cover how to handle conflicts when multiple users are making changes to the same data?

The development was done keeping in mind that data will be collec

[2021-08-23 17:53] epicadk opened #752 "Code generation for indexing"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

currently we use reflection in the indexing code. We could try the code generation approach and if the performance improvement is significant we can refractor the indexer to use code generation.

**Describe the solution you'd like**
A clea

[2021-08-24 01:37] deepankarb commented on #100
For reference, an example multiple instance design: https://github.com/firebase/firebase-android-sdk/blob/a23223a84de07c1797ca4b1b4ac2095c3d04c800/firebase-common/src/main/java/com/google/firebase/FirebaseApp.java

[2021-08-24 04:55] #208 closed

[2021-08-24 06:46] #654 closed

[2021-08-24 09:55] maimoonak commented on #694
The FHIR sdk treats Canonical and Reference in same way and the StringParam could be Reference or Canonical type. We need to resolve the type explicitly later. The type is resolved and returned by org.hl7.fhir.r4.utils.FhirPathEngine

![Screenshot from 2021-08-24 14-52-18](https://user-images.githubusercontent.com/4829880/130596681-96d56f0c-7e49-4614-997d-301822a2c0c5.png)

[2021-08-24 12:33] fredhersch commented on #689
Decision to implement as per the current spec:

_"Answer is a Coding drawn from a list of possible answers (as with the choice type) or a free-text entry in a string (valueCoding or valueString)."_

1. Use autoComplete widget that can allow for free-text entry (if not selected from the list)
2. If option is selected, use valueCoding, if free-text then valueString

Will explore adding a default val

[2021-08-25 08:46] #474 closed

[2021-08-25 09:02] santosh-pingle opened #755 "Though enable when is false QuestionResponseItem with initial value present in questionnaire response at the time of data extraction."
**Describe the bug**
Found a new edge case which is not supported yet by sdk.
If the question item has enablewhen clause, and it also has initial coding value, in that case though enablewhen clause is false question response item with initial coding value present in questionnaire response at the time of data extraction.

Just consider the symptoms question as an example.
Symptoms main question has

[2021-08-25 09:03] santosh-pingle commented on #755
Its in progress.

[2021-08-25 09:06] santosh-pingle commented on #755
#625

[2021-08-25 09:59] maimoonak commented on #694
For Library the issue is on depends-on ([relatedArtifact.resource](https://www.hl7.org/fhir/library-definitions.html#Library.relatedArtifact)) property which is type [canonical](https://www.hl7.org/fhir/metadatatypes-definitions.html#RelatedArtifact.resource) but mapped as reference in Library class.

[code]

[Canonical Types](https://www.hl7.org/fhir/references.html#canonical) can be a reference

[2021-08-26 15:05] kevinmost opened #758 "Ensure all dependencies are compatible with Apache 2.0"
**Describe the bug**
FHIR SDK is Apache 2.0-licensed. However, several of our dependencies up to this point have been using other, incompatible licenses.

Before we exit alpha, we need to determine what dependencies are incompatible and remove them.

**Component**
Core library, SDC library, reference app, or SDC gallery app

All

**Would you like to work on the issue?**
Yes

[2021-08-27 06:46] aditya-07 opened #760 "Create new resources on the server using POST"
We need to support [create](https://hl7.org/fhir/http.html#create) using POST in the sync API.

<s>
**Describe the bug**
Locally created Resources are assigned ID at creation/before saving to the local db. Once this Resource is up-synced, the server assigns a new ID to the resource and disregards the assigned ID  (in case of HTTP-POST). The created object is returned  in the POST response.
Since t

[2021-08-27 14:11] maimoonak opened #761 "Questionnaire sync with HAPI throws OutOfMemory around page 700"
**Describe the bug**
Questionnaire sync with HAPI throws OutOfMemory issue around page 700

**Component**
SDK FHIR Engine FhirSynchronizer

**To Reproduce**
Steps to reproduce the behavior:
1. Run Sync for Questionnaire
2. Wait until sync page offset comes around page 700 ( somewhere around http://hapi.fhir.org/baseR4?_getpages=e3f46ec4-94ea-4437-aa9c-7a65ef2d5c21&_getpagesoffset=720&_count=20&_pr

[2021-08-28 11:37] maanuanubhav999 commented on #684
thanks @f-odhiambo

[2021-08-29 18:56] epicadk commented on #752
The current indexing code uses reflection to infer search parameters. This happens at runtime and would be repeated for all resources. So even if we have to index 2 patient resources the current code would still undergo the reflection to determine the search parameters. In this issue we'll replace these lines in the indexing code.

https://github.com/google/android-fhir/blob/6db099084267617efc9f5b

[2021-08-30 07:04] santosh-pingle commented on #683
I will try to push review changes by end of today which will have addressed review comments and updated unit tests.

[2021-08-30 11:45] fredhersch opened #763 "Add readOnly itemControl support"
adds readOnly to the itemControl (e.g. textbox etc) - see [here](https://www.hl7.org/fhir/questionnaire-definitions.html)

_This is in effect the same as applying the readonly attribute as supported by HTML5 (not to be confused with disabled)_

**This issue is duplicated by https://github.com/google/android-fhir/issues/817**

[2021-08-31 05:48] santosh-pingle commented on #626
There are changes in parent PR #691, therefore it is required to revise/update current PR changes.
I will be working on it.

[2021-08-31 12:07] joiskash opened #764 "Allow typing to filter in the Dropdown widget if drop down has a large number of answer options"
**Is your feature request related to a problem? Please describe.**
Currently the drop down widget has the keypad disabled, if we have a large number of answer options, we have to scroll through the entire set to find the answer.

**Describe the solution you'd like**
If the drop down has a large number of answer options, we should enable to keypad to filter. This can also be decided based on the sc

[2021-08-31 12:48] joiskash opened #765 "Reselecting the single answer option initially set in questionnaire.item.initial disables nested answer options at the second level"
**Describe the bug**
When using a questionnaire with three levels of nesting, if the top most question has a single answer which is already selected, then re-selecting that answer disables the third level of nesting permanently.

**Component**SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Use the questionnaire that is in this issue
2. Select the first answer in the drop down for

[2021-08-31 12:48] joiskash commented on #765
[code]

[2021-08-31 12:49] joiskash commented on #765
@jingtang10 this was the issue I was talking about the other day. Please have a look

[2021-08-31 14:20] kumaakh commented on #764
It is also a good idea to sort the drop down list so that user can visually navigate to the correct value...

[2021-08-31 15:18] #100 closed, assigned to deepankarb

[2021-08-31 17:06] deepankarb opened #766 "Please import `Truth.assertThat` directly:"
Please import `Truth.assertThat` directly:

[code]

[code]

_Originally posted by @kevinmost in https://github.com/google/android-fhir/pull/749#discussion_r699401052_

[2021-09-01 07:43] #694 closed

[2021-09-01 17:42] jingtang10 commented on #650
I think we should prioritise this one

[2021-09-02 01:38] kevinmost opened #767 "Create common custom View for question prefix + title"
Almost every widget has a header like this:

[code]

Not only is this annoying to duplicate each time, but as @stevenckngaa pointed out on #698, it does not properly handle long prefixes and headers; the text may flow in undesirable ways.

We should handle this all in one custom view that we include in each widget. It could then have a method on it like

[code]

[2021-09-02 02:52] #611 closed

[2021-09-02 05:55] deepankarb commented on #103
A clarifying question: Does multiple `process` include multiple `threads`? If so then `FhirEngine` should implement some kind of upload queue. We can discuss the design further.

In case it might be useful, FHIR RESTful API [suggests](http://hl7.org/fhir/http.html#concurrency) using combinations of `ETag` and `If-Match` headers for contention management.

[2021-09-02 08:54] aditya-07 opened #768 "Resource Indexer throws Exception when parsing Observation with Quantity value."
**Describe the bug**
FhirPathEngine throws UnsupportedOperationException when evaluating Observation.component.valueQuantity

**Failing Test :**
[code]
Observation example on HAPI Server that fails http://hapi.fhir.org/baseR4/Observation/49413

**Exception trace**
[code]
**Component**
Core library

**Additional context**
Issue was first documented in [#694](https://github.com/google/android-fhir/i

[2021-09-03 09:41] jingtang10 opened #771 "Using Timber"
@Ana2k , did you get a chance to visit the URLs shared by Jing ? Could you please advise the next steps in before this PR can get merged?

_Originally posted by @Tarun-Bhardwaj in https://github.com/google/android-fhir/issues/549#issuecomment-896018960_

[2021-09-03 09:43] jingtang10 commented on #771
Also addressing #406

[2021-09-03 11:28] #556 closed

[2021-09-03 11:28] #559 closed

[2021-09-03 11:28] #570 closed

[2021-09-03 11:28] #741 closed

[2021-09-03 12:34] epicadk opened #772 "Null values in sort"
**Describe the bug**
A clear and concise description of what the bug is.

Null values are displayed in the sort results.

**Component**
Core librar

**To Reproduce**
Steps to reproduce the behavior:
1. Insert a Patient will a null birthdate element in the database
2. Sort by `Patient.birthdate`
3. See error.

**Expected behavior**
A clear and concise description of what you expected to happen.

Pe

[2021-09-03 14:22] epicadk commented on #772
We could possibly use an inner join instead of a left join in the sort statement.

[2021-09-03 17:53] arlhs commented on #766
Hey, I would like to contribute to this issue. I have fairly good experience in Android development.
As new to open source can you guide me how to contribute to this project.

[2021-09-04 08:29] deepankarb commented on #766
Hi,

Check out https://github.com/google/android-fhir/wiki/Developer's-Guide, fix the issue and send a pull request.

Thanks,

[2021-09-05 09:40] arlhs commented on #766
I have followed the setup instruction and deployed it on my system but it is showing error in gradle module.

Cannot access 'kotlin.collections.Collection' which is a supertype of 'org.gradle.api.artifacts.dsl.RepositoryHandler'. Check your module classpath for missing or conflicting dependencies
Cannot access 'kotlin.collections.Iterable' which is a supertype of 'org.gradle.api.artifacts.dsl.Repo

[2021-09-05 12:35] FikriMilano opened #774 "Reference app crashed after opening it"
**Describe the bug**
The reference app throws NPE error on the country value after opening it

**Component**
reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Open the 'reference app'
2. Crash

**Expected behavior**
It should not crashed

**Screenshots**
-

**Smartphone (please complete the following information):**
 - Device: [Pixel4 emulator]
 - Android version: [11]
 - Build n

[2021-09-05 12:35] FikriMilano commented on #774
cc @maanuanubhav999

[2021-09-05 13:42] maanuanubhav999 commented on #766
have you tried following [stackoverflow](https://stackoverflow.com/questions/68134482/cannot-access-kotlin-collections-collection-which-is-a-supertype-of-org-gradl)

[2021-09-07 10:27] jingtang10 commented on #768
https://github.com/hapifhir/org.hl7.fhir.core/issues/592

[2021-09-07 11:25] arlhs commented on #766
No, I cannot find any /Library/Caches/Google/AndroidStudio4.2 path in my mac.

[2021-09-07 20:57] stevenckngaa commented on #75
Jing, could you please clarify the meaning of all operations? While the key attestation result contains the `VerifiedBootState` that can be used to verify the integrity of the device, can we make an assumption that apps integrated with FHIR library always run on devices that have a hardware backed keystore? [Android CDD 11  2.2.5 Security Model 9.11/H-0-2](https://source.android.com/compatibility/

[2021-09-08 05:21] santosh-pingle commented on #774
Working on it.

[2021-09-08 07:45] Tarun-Bhardwaj commented on #530
@maanuanubhav999 , any progress on this issue?

[2021-09-08 08:50] santosh-pingle commented on #715
I will be working on it, until #625 get unblocked.

[2021-09-08 12:08] epicadk commented on #766
Which version of android studio are you using ? @arlhs

[2021-09-08 13:01] arlhs commented on #766
Android Studio Arctic Fox | 2020.3.1
Build #AI-203.7717.56.2031.7583922, built on July 27, 2021
Runtime version: 11.0.10+0-b96-7281165 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 10.15.7
GC: G1 Young Generation, G1 Old Generation
Memory: 2048M
Cores: 8
Registry: external.system.auto.import.disabled=true
Non-Bundled Plugins: com.facebook.ktfmt_idea_plugin, google-java-format, com.

[2021-09-08 13:21] jingtang10 commented on #755
According to the standard: https://www.hl7.org/fhir/questionnaireresponse.html

`When a QuestionnaireResponse references a Questionnaire, all the items in the questionnaire SHOULD be included in the QuestionnaireResponse if they are relevant to the interpretation of the answers, including items of type = display. This might also include items that were >not enabled when the Questionnaire was answe

[2021-09-08 15:36] #679 closed

[2021-09-08 16:23] jingtang10 commented on #238
related: #672

We will explore persisting partical response in this ticket

[2021-09-08 17:05] maanuanubhav999 commented on #530
Hi, @Tarun-Bhardwaj I will update in 1-2 days. thanks

[2021-09-08 19:28] epicadk commented on #766
Doesn't seem to be an issue with the version or the config. If even invalidating and restarting doesn't work maybe you'll have to manually clear the cache.

[2021-09-08 19:29] epicadk commented on #766
I think it should be `AndroidStudio2020.3` now.

[2021-09-09 04:25] #683 closed

[2021-09-09 04:25] #709 closed

[2021-09-09 06:58] #774 closed

[2021-09-09 08:22] joiskash commented on #650
Going to make this a separate widget in a new package (for eg: with the Barcode scanner) so that app developers can override and use this widget without having to depend on the standard. Once the standard has converged, we can shift towards that.

cc: @fredhersch @jingtang10

[2021-09-09 09:53] #768 closed

[2021-09-09 13:51] fredhersch opened #777 "[Roadmap] fhirengine-alpha-05 release"
_Currently planning pre-beta release: Subject to change_

Sync
- [x] #732

Search
- [ ] #608
- [x] #723

New features:
- [ ] #253

[2021-09-09 13:59] fredhersch opened #778 "[Roadmap] sdc-alpha-06 release"
_Planning pre-beta release for QA: subject to change_

itemControls:
- [x] #763

SDC Features:
- [x] #227

[2021-09-09 14:44] #596 closed

[2021-09-09 16:55] epicadk commented on #772
un-assigning myself for now we can assign someone once we decide the expected behavior.

[2021-09-09 16:58] epicadk commented on #772
Also I've given this some thought, I think nulls last would make more sense.

[2021-09-09 17:06] #481 closed

[2021-09-09 17:06] #735 closed

[2021-09-10 16:40] arlhs commented on #766
In Caches directory only there is no directory named as Google

[2021-09-10 17:30] joiskash commented on #755
Yes this makes complete sense to me. If there is no answer, then its best to optimize for memory and not include a questionnaireResponse.item with an empty answer.

[2021-09-13 07:24] #755 closed

[2021-09-13 18:27] kevinmost opened #782 "Write tests for dialog in MultiSelect widget"
_Originally posted by @jingtang10 in https://github.com/google/android-fhir/pull/698

[2021-09-14 01:49] #606 closed

[2021-09-14 05:00] Tarun-Bhardwaj commented on #750
@kevinmost , could you please provide an ETA for fixing this issue?

[2021-09-14 06:16] #468 closed

[2021-09-14 06:36] santosh-pingle commented on #625
PR #755  and PR #742 are merged.
Now, this issue is unblocked.
I will continue 2nd approach to fix ui alignment issue as mentioned in https://github.com/google/android-fhir/issues/625#issuecomment-899469983.

[2021-09-14 09:39] santosh-pingle commented on #625
@fredhersch
Currently, we are modifying questionnaire json for symptoms, medical history, temperature, pulse oximetry, and heart rate
as per PR #755 and PR #742 to fix ui alignment issue.
We can refer https://github.com/google/android-fhir/issues/625#issuecomment-899469983 for more information.

But we have not started risk factors and immunization yet, are they still in scope? (are we going to wo

[2021-09-14 09:44] joiskash commented on #650
Message from Loyd:

If we were going to define a keyboard type/input type, we'd need:

    an expectation that it would work across a range of browsers and device types
    an expectation that it would work consistently

If we can come up with a value set that meets those two requirements, I'd be happy to see a change request for us to define such an extension.

[2021-09-14 11:03] jtournier23 opened #783 "SDK Compat with Android 12"
There is a [behavior change](https://developer.android.com/about/versions/12/behavior-changes-12#pending-intent-mutability) in Android 12 which requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent if the app is targeting Android 12. Current stable versions of WorkManager don’t have these flags, and so it affects all apps directly, or indirectly using WorkM

[2021-09-14 12:49] kevinmost commented on #750
This change is ready to go, but we are not submitting it until we verify that we can remove a problematic dependency from HAPI FHIR, rather than exempting that dependency in our licensee config.

[2021-09-14 14:34] Tarun-Bhardwaj opened #784 "Design and implementation for generation of UUID by FHIR Engine"
**Is your feature request related to a problem? Please describe.**
How do we handle resource IDs by the FHIR SDK. This has implications for how we can do the Sync from the Android client to the FHIR Server and also resolve potential ID conflict issues

See [this deck](https://docs.google.com/presentation/d/1xx1mt8wjktVanrjQk3YQe0jmfyigTcQLM24kxv6v79A/edit#slide=id.gf01cad751a_0_5) for exploration

[2021-09-15 04:44] #263 closed

[2021-09-15 05:13] Tarun-Bhardwaj commented on #392
@stevenckngaa , @dustinking-google , could you please provide the ETA to close this issue?

[2021-09-15 07:51] Tarun-Bhardwaj commented on #626
@fredhersch , generation and display of risk assessment is done and changes merged in master. Based on the comment above, do we drop the care plan for now and have another issue created for that or should the care plan be done as part of this issue?

[2021-09-15 08:04] santosh-pingle commented on #625
@jingtang10 @fredhersch @Tarun-Bhardwaj @aditya-07

By end of  PR #785 ui alignment issues and resource extraction of Symptoms, Risk Factors, Medical History, Temperature, Pulse Oximetry, and Heart rate will be fixed.

Pending action item :
https://github.com/google/android-fhir/issues/625#issuecomment-890770164
Immunization questionnaire is still pending, could you please confirm whether it's sti

[2021-09-15 08:29] Tarun-Bhardwaj commented on #669
@santosh-pingle , does this issue still exist or has this been fixed?

[2021-09-15 08:34] santosh-pingle commented on #669
It had been fixed.

[2021-09-15 08:37] Tarun-Bhardwaj commented on #479
@epicadk , is there anything left to address beyond what #488 is fixing?

[2021-09-15 08:55] maanuanubhav999 commented on #527
Hey, @Tarun-Bhardwaj  It is working fine now. I should close the Issue I guess.

[2021-09-15 08:55] #527 closed

[2021-09-15 08:59] epicadk commented on #479
Nope, this can be closed

[2021-09-15 08:59] #479 closed

[2021-09-15 09:02] fredhersch commented on #625
Thanks @santosh-pingle, let's close the issue for now. We can add Immunizations later

[2021-09-16 09:25] santosh-pingle commented on #715
Its in progress.

[2021-09-16 14:45] trevorgowing opened #788 "PatientListViewModel Null Pointer Exception Line 77"
**Describe the bug**
PatientListViewModel Null Pointer Exception Line 77

[code]

**Component**
Reference App

**To Reproduce**
Start the reference app

**Expected behavior**
The app not to crash

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information):**
 - Device: HMD Global Nokia 6.1
 - Android version: 10
 - Build n

[2021-09-17 07:02] #722 closed

[2021-09-17 07:05] Tarun-Bhardwaj commented on #788
Thanks @trevorgowing , the bug has been assigned to you.

[2021-09-17 07:50] joiskash commented on #602
This issue has not been fixed

[2021-09-17 10:30] #625 closed

[2021-09-18 16:24] harkirat2309 commented on #766
Hello, I have downloaded the source code and have imported the Truth.assertThat directly in the respective file. I would like to contribute, so can you tell me the way to contribute?

Thanks
Harkirat Singh

[2021-09-20 06:14] fredhersch commented on #784
@aditya-07 I updated the issue here to reflect option 3 as the desired approach. I thought that we could address this by:

1. SDK will generate and assign resource IDs by default
2. SDK will allow implementers to override this in the methods for creating new resources
3. UUIDs provided by implementers should conform to the UUID standard (and will be validated by the SDK)

[2021-09-20 06:36] santosh-pingle commented on #715
Currently, we are having issue where navigation drawer icon get shown at all fragment action bar,and it get opened at all fragments.

trying for solution where navigation drawer icon can be shown and drawer will be opened at first fragment only.

Will try to push PR by eod today.

[2021-09-20 06:56] fredhersch opened #791 "Import records using bulk import API"
**Is your feature request related to a problem? Please describe.**

Where there is existing patient records on a FHIR server, the process of doing the initial download over HTTP will likely lead to problems. We want to find an alternative approach to handling large initial downloads where we can optimise for low bandwidth and poor connectivity environments.

**Describe the solution you'd like**
**

[2021-09-20 10:23] joiskash commented on #650
https://jira.hl7.org/browse/FHIR-33675

[2021-09-21 05:39] santosh-pingle opened #794 "Convert SDC Implementation in Sdk google doc to mark down."
**Describe the Issue**

Converts SDC Implementation in Sdk google doc to mark down.

**Would you like to work on the issue?**

[2021-09-21 05:45] santosh-pingle commented on #794
Working on it.

[2021-09-22 06:45] Rishavgupta12345 commented on #782
i want to contribute to this . can you pls tell me how should I do soo

[2021-09-22 07:06] santosh-pingle commented on #794
In progress.

[2021-09-22 07:09] santosh-pingle commented on #701
Closing this issue, this issue is not seen anymore, it was already fixed in code repository.

[2021-09-22 07:09] #701 closed

[2021-09-22 10:46] santosh-pingle commented on #794
[final_sdc.md](https://github.com/google/android-fhir/files/7209994/final_sdc.md)

[2021-09-22 12:32] santosh-pingle commented on #794
@jingtang10 @fredhersch
*SDC implementation in sdk* google doc with github flavor markdown.
[sdc.md](https://github.com/google/android-fhir/files/7210601/sdc.md)

[2021-09-23 05:05] FikriMilano commented on #767
@kevinmost I wonder if the custom view approach should better to use weight or combine the prefix and title in one text view?

[2021-09-23 08:17] santosh-pingle opened #795 "Reference app get crashed on Add Patient submit action."
**Describe the bug**
1. Launch reference app.
2. Click on floating + action button. -> It launches Add Patient screen.
3. Fill all data in Add Patient form.
4. Click on Submit.
5. Application is crashed with below exception.

java.lang.reflect.InvocationTargetException
        at java.lang.reflect.Method.invoke(Native Method)
        at com.google.android.fhir.datacapture.mapping.ResourceMapperKt.

[2021-09-23 09:00] #719 closed

[2021-09-23 10:48] jingtang10 commented on #795
@trevorgowing is this the same crash you mentioned earlier?

[2021-09-23 10:50] trevorgowing commented on #795
@jingtang10 No. I was referring to #788.

Based on the description of this issue it doesn't sound to me like these are related.

[2021-09-24 05:07] santosh-pingle commented on #794
@jingtang10 @fredhersch
As it was suggested page is created, please see below link.
https://github.com/google/android-fhir/wiki/Android-FHIR-SDK-Data-Capture-API

[2021-09-24 06:14] epicadk commented on #795
FYI the underlying exception  (InvocationTargetException.getCause()) that I came across when I replicated this

org.hl7.fhir.exceptions.FHIRException: Unknown ContactPointSystem code `The phone number entered`

[2021-09-24 06:32] #644 closed

[2021-09-24 07:06] santosh-pingle opened #797 "Cleanup : Unify group type check in ResourceMapper extractField method."
**Describe the Issue**
Unify group type check which currently present twice in extractField method.

**Review Comment**
` i think this needs a bit of cleanup. line 233 and line 260 both check if the item is a group. can this logic be unified rather than scatted around in different places? `

https://github.com/google/android-fhir/pull/676/files#r713841089

**Would you like to work on the issue?**

[2021-09-24 07:07] santosh-pingle commented on #797
Working on it.

[2021-09-24 07:41] joiskash commented on #227
https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/instructions.20for.20rendering.20the.20responses.20by.20linkId

[2021-09-24 07:42] joiskash commented on #258
https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/instructions.20for.20rendering.20the.20responses.20by.20linkId

[2021-09-24 07:43] joiskash commented on #227
https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/instructions.20for.20rendering.20the.20responses.20by.20linkId

[2021-09-24 15:00] Tarun-Bhardwaj commented on #626
@jingtang10 , @fredhersch , changes have been merged in master for "Risk assessment generation display". Can we close this issue, make it part of Q3 release and create a new one for "Care plan generation" that can be worked on as part of Q4 release? CC: @jtournier23 , @santosh-pingle

[2021-09-27 06:20] santosh-pingle commented on #795
Working on it.

[2021-09-27 07:31] fredhersch commented on #227
<img width="412" alt="Review Answers (form-like)" src="https://user-images.githubusercontent.com/34733/134863761-c7f13339-f872-4a6d-a2e0-2c5ec290974c.png">

cc: @joiskash @jingtang10

[2021-09-27 08:00] bausmeier commented on #788
@trevorgowing Have you managed to take a look at this yet, or can I jump on it?

[2021-09-27 08:02] trevorgowing commented on #788
@bausmeier No, I have not tackled it yet. It is on my list but if it is blocking you, are you welcome to tackle it and then I can review and test it for you.

[2021-09-28 10:44] #673 closed

[2021-09-28 13:53] f-odhiambo opened #800 "Add location mapping widget"
**Is your feature request related to a problem? Please describe.**
Add a location widget that allows you to submit the location with GPS coordinates and location details as FHIR [Location](https://www.hl7.org/fhir/location.html) resources
**Describe the solution you'd like**
1. **ANC Usecase**
 In the ANC use case, add a location of a facility or a family residence or village during a family regis

[2021-09-29 06:17] #649 closed

[2021-09-29 07:52] fredhersch opened #802 "Support rich media content within questionnaire display item type"
**Is your feature request related to a problem? Please describe.**
When creating a questionnaire, there is a need to be able to show different media types (e.g. image, video) as a display item. Currently the display item type only allows for text.

**Describe the solution you'd like**
An extension to the display item type that will allow for a reference to an attachment of specific media types (im

[2021-09-29 08:08] fredhersch opened #803 "Support evaluation of FHIRPath expressions and calculation within Questionnaire"
**Is your feature request related to a problem? Please describe.**
There is a need to be able to evaluate expressions within a Questionnaire. This is currently not supported by the data-capture library

**Describe the solution you'd like**
Support for FHIRPath expressions

**Describe alternatives you've considered**
Other options include CQL.

**Additional context**
@maimoonak - can you provide so

[2021-09-29 08:11] jingtang10 commented on #800
What would the questionnaire response look like? It should be a response item to a single questionnaire item?

[2021-09-29 08:15] #715 closed

[2021-09-29 08:24] ekigamba commented on #802
@fredhersch
1. Can this be split into multiple issues? One handling images and the other videos?
2. Is there anyone assigned to issue? We also have a need for displaying an image on a questionnaire [here](https://github.com/opensrp/fhircore/issues/572) and we can collaborate on this issue and have it complete soon

[2021-09-29 08:55] santosh-pingle commented on #795
Will push PR for review by eod today.

[2021-09-29 09:00] jingtang10 commented on #626
We'll create another issue for care plan. The risk assessment generation is done and dusted.

[2021-09-29 09:00] #626 closed

[2021-09-29 12:51] fredhersch commented on #802
@ekigamba Thanks! It would be great if you can pick this up.

In our discussions we did want to see this as supporting other media types... I could imagine embedding a video or even an audio file... though these are definitely future requirements.

Two thoughts:

1. If we use the CPG extension, then yes, we could just define an additional extension for whatever media type we want to support in the

[2021-09-29 12:52] fredhersch commented on #802
@ekigamba are you happy to be assigned this issue?

[2021-09-29 13:15] ekigamba commented on #802
@fredhersch Kindly assign me

[2021-09-29 19:57] #612 closed

[2021-09-29 19:57] #613 closed

[2021-09-30 06:32] #794 closed

[2021-09-30 07:40] ekigamba commented on #802
## Scoping for `itemImage` extension support

1. The Android FHIR SDK should be able to support the following variations of attachments

Sample questionnaire #1

A url to the image(unsecured)
[code]

Sample questionnaire #2 (Priority support)
A url to the Binary resource. An Binary JSON example is [here](https://www.hl7.org/fhir/binary-f006.json.html). This enables us to have smaller questionnaire

[2021-09-30 08:31] ekigamba commented on #802
### Notes from the Android FHIR SDK Developers call
- How to fetch Binary resources linked in Attachment from FhirEngine?
  - Custom content provider to resolve attachments links eg. https://github.com/google/android-fhir/pull/754/
  - Probably don’t want to store images inline or as Binary(on database)
- How to fetch external images linked in Attachment?
  - Custom content provider to resolve att

[2021-09-30 10:00] #788 closed

[2021-09-30 10:56] #795 closed

[2021-10-01 06:59] #797 closed

[2021-10-01 10:07] #602 closed

[2021-10-04 10:13] aditya-07 opened #808 "Remove NpmPackage dependency from datacapture library."
**Describe the Issue**
`NpmPackage` along with `packages.fhir.org-hl7.fhir.r4.core-4.0.1.tgz` are currently used in datacapture library for Structure-Map based extraction and it bloats the library because of its large size.

As a solution to this we would like to:
1. Either remove `packages.fhir.org-hl7.fhir.r4.core-4.0.1.tgz` dependency altogether from the datacapture library.
2. Or Move the Stru

[2021-10-04 10:18] aditya-07 opened #809 "Refactor DataCaptureConfig to a more standard android way like Configuration Provider."
**Describe the Issue**
Based on the [#754 review comment](https://github.com/google/android-fhir/pull/754#pullrequestreview-767105098), make the DataCaptureConfig change to a provider like work manager.

**Would you like to work on the issue?**

Estimated effort: 2 days

[2021-10-04 17:06] shelaghm commented on #802
Hi @ekigamba @fredhersch

Attached an example of image embedded in the flow as a screenshot. This example is focused on measuring temperature. \ Also attached the illustration.

![Screen Shot 2021-10-04 at 10 01 46
<img width="340" alt="Temperature@2x" src="https://user-images.githubusercontent.com/86378921/135893748-dc13b6e0-7546-46ea-949e-08ef4f267380.png">
AM](https://user-images.githubusercont

[2021-10-04 17:06] shelaghm commented on #802
<img width="340" alt="Temperature@2x" src="https://user-images.githubusercontent.com/86378921/135893907-dfcbeb32-30d8-4f70-9928-5c27070e24a2.png">

[2021-10-04 20:39] pld commented on #258
Related discussion here, https://github.com/google/android-fhir/discussions/806

[2021-10-05 05:36] f-odhiambo opened #812 "Add support minValue and maxValue fields"
**Is your feature request related to a problem? Please describe.**
As a CHWI would like to collect the vital signs of a user but also be able to evaluate/validate the threshold of various observation details collected from a patient
**Describe the solution you'd like**
Add support minValue and maxValue fields in a questionnaire as currently not working. Allows one to define the   thresholds for ch

[2021-10-05 07:13] ekigamba commented on #802
Thanks @shelaghm

[2021-10-05 07:56] santosh-pingle opened #813 "While extracting data resource mapper map question item to incorrect question response item if one of them is not enabled."
**Describe the bug**
Consider Questionnaire has 1, 2, 3, 4 question items, and item 1, 2 are not enabled.
Now, while extracting data, resource mapper maps 1, 2 question item to 3, 4 response item as 1, and 2 response items are disabled.

**Expected behavior**
Question item should be mapped to relevant response item.

**Component**
SDC library

**To Reproduce**

**Screenshots**
If applicable, add s

[2021-10-05 07:57] santosh-pingle commented on #813
Will work on it.

[2021-10-05 10:14] maimoonak commented on #803
There are multiple requirements we figured out when working on Family Registration. These are broken down in branch ???????

### EnableWhen is not working fully - [FHIR Reference](http://build.fhir.org/ig/HL7/sdc/examples.html#using-enablewhen-enablebehavior-and-enablewhenexpression)
**EnableWhen on answerInteger (crashes when value input for integer field)**
kotlin.NotImplementedError: Enable whe

[2021-10-05 13:11] f-odhiambo commented on #812
@Tarun-Bhardwaj, @jingtang10 Can you assign @syedowaisali90 this issue?

[2021-10-05 15:04] jingtang10 commented on #384
@deepankarb

[2021-10-06 09:29] jingtang10 commented on #803
Thanks for this @maimoonak. I'll reply to these one separetely.

First, about the hidden extension - there is only an extension: http://build.fhir.org/ig/HL7/sdc/rendering.html#hidden I don't see the `hidden` field in the questionnaire definition. So I think the usage [here](https://github.com/google/android-fhir/blob/mssng-quest-feat/datacapturegallery/src/main/assets/sample_family_member_registr

[2021-10-06 12:23] santosh-pingle commented on #813
As per FHIR specs.
`QuestionnaireResponse does not require omitted items to be included and may have some items that repeat, so linkage based on position alone is not sufficient.`

[2021-10-06 21:01] kevinmost opened #816 "UX improvements for open-choice widget"
We should update this widget with Shelagh's really nice UX improvements. Eg, consider single-line for single-select "Other", and remove the "Other" checkbox altogether for multi-select (just have a button to add additional options).

---

From Shelagh:

Thanks for elaborating. I hear you on that it seems more clear to use the remove '-' button than to uncheck the other box if you want to unselect/

[2021-10-07 08:53] santosh-pingle opened #817 "Support readonly element in questionnaire."
**Describe the bug**

Read only element should not be edited.
http://build.fhir.org/ig/HL7/sdc/rendering.html#other

**This issue is a duplicate of https://github.com/google/android-fhir/issues/763**

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Read only element should no

[2021-10-07 12:11] jingtang10 opened #818 "Implement inequality operators (<, >, <=, >=) in the enable when statement"
**Is your feature request related to a problem? Please describe.**
See documentation for enable when operators: https://www.hl7.org/fhir/valueset-questionnaire-enable-operator.html

At the moment we support exists/eq/not eq but none of the inequality operators.

**Describe the solution you'd like**
Code change needs to be made here: https://github.com/google/android-fhir/blob/7351fecee6dea9b14ba6c

[2021-10-07 12:23] jingtang10 opened #819 "Support enableWhenExpression"
**Is your feature request related to a problem? Please describe.**
See enableWhenExpression mentioned in http://build.fhir.org/ig/HL7/sdc/expressions.html

**Describe the solution you'd like**
Probably use fhir path engine to evaluate the expression to assist enablement evaluation.

**Describe alternatives you've considered**
NA

**Additional context**
NA

**Would you like to work on the issue?**

[2021-10-07 12:25] ekigamba commented on #802
I made a proposal to change the `itemImage` extension to either `itemMedia` or `itemAttachment` here https://jira.hl7.org/browse/FHIR-34097 with Jing and Bryn's help.

[2021-10-08 16:55] epicadk opened #823 "spotless does not run on `LocalChangeUtils.kt`"
**Describe the bug**
A clear and concise description of what the bug is.

spotless does not format `LocalChangeUtils.kt` because it does not converge.

**Component**
Core library

**To Reproduce**
Steps to reproduce the behavior:
1. Run Spotless (./gradlew sA)
2. See log

**Expected behavior**
A clear and concise description of what you expected to happen.

Spotless should format the file

**Smart

[2021-10-09 05:01] epicadk opened #825 "Setup benchmark module"
This is really good work @epicadk! 🎉

Can we set up the benchmark module in a separate PR?

_Originally posted by @jingtang10 in https://github.com/google/android-fhir/pull/773#pullrequestreview-774805695_

[2021-10-11 13:03] #812 closed

[2021-10-12 05:43] santosh-pingle commented on #817
readonly changes for choice type widget is in progress.

[2021-10-12 07:54] maimoonak opened #828 "Slider Widget is not working"
**Describe the bug**
Slider Widget is not working and does not render integer type as slider control

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
See example [here](https://github.com/google/android-fhir/blob/mssng-quest-feat/datacapturegallery/src/main/assets/sample_family_member_registration_slider.json#L46) which should show the widget as slider control but it d

[2021-10-12 10:29] jingtang10 opened #829 "Wire up slider control"
**Describe the bug**
The slider control is implemented but the logic to select it is not wired up in the questionnaire item adapter.

**Component**
SDC library

**To Reproduce**
See https://github.com/google/android-fhir/blob/mssng-quest-feat/datacapturegallery/src/main/assets/sample_family_member_registration_slider.json#L46

**Expected behavior**
See slider control

**Screenshots**
NA

**Smartph

[2021-10-12 10:52] #829 closed

[2021-10-12 16:31] epicadk opened #831 "create new gradle task to run code-generation at build time"
so at the moment you need to run the `main` function in the `codegen` model manually to generate the new file? can you create a follow-up issue to handle the creation of the new gradle task?

_Originally posted by @jingtang10 in https://github.com/google/android-fhir/issues/773#issuecomment-939864223_

[2021-10-13 10:55] anita-vadverao opened #832 "Patient data is not reflecting on "Registered Patient" List when user add patient details with city as "nairobi" and country as "Ke" (Lowercase),"
**Describe the bug**
Patient data is not reflecting on "Registered Patient" List when user add patient details with city as "nairobi" and country as "Ke" (Lowercase),

**Component**
Core library, reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Reference app'
2. Click on '+' icon
3. Enter patient details: First name, full name, date of birth,Gender
4. Enter city as 'nairo

[2021-10-13 12:52] anita-vadverao opened #834 "In Add patient Questionnaire, text label for value set "female" and "male" is missing"
**Describe the bug**
In Add patient screen, It is showing "Female" and "male" option but Question label "Gender" is missing.

**Component**
SDC library, reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Reference App'
2. Click on '+' icon
3. Scroll down to 'Female' and 'male' option
4. Observe question label

**Expected behavior**
Question Label "Gender" should be there

*

[2021-10-13 13:30] anita-vadverao opened #835 "On Add patient screen, Able to select future date as date of birth while adding and editing patient"
**Describe the bug**
User is able to select future date as date of birth

**Component**
SDC library, reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Reference App'
2. Click on '+' icon to add patient details
3. Click on Date of birth calendar
4. Select future date
5. Observe behavior

**Expected behavior**
User should not be able to select future date

**Screenshots**
![

[2021-10-13 14:06] joiskash opened #836 "Crash while using the questionnaire response without disabled items generated by the SDK to resume form filling."
**Describe the bug**
After the decision to remove questionnaireResponse items which are not enabled from the Questionnaire Response (more details in #755) , the `validateQuestionnaireResponseItems` function in the  QuestionnaireViewModel had to be updated because it was initially written assuming that disabled questionnaireResponse Items would also be there in the QuestionnaireReponse with empty a

[2021-10-14 04:53] #752 closed

[2021-10-14 08:53] epicadk commented on #772
can bump this down to `low priority`

[2021-10-16 03:37] maanuanubhav999 opened #840 "Required field overlaps drop-down list arrow in sdc Gallery app"
**Describe the bug**
Required field marker/option overlaps drop-down list option arrow.

**Component**
 SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to data capture library
2. Click on "Hiv risk assessment"
3. Scroll down to question 3
4. See error

**Expected behavior**
Both the field should be displayed seperately.

**Screenshots**
If applicable, add screenshots to he

[2021-10-18 14:21] anita-vadverao opened #842 "On Add patient details, city and country is not mandatory but on Registered patient list is based on City and country"
**Describe the bug**
City and country field in add patient is not mandatory but after adding patient, it will display on registered patient list only if it has valid city and country

**Component**
Core library, SDC library, reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Reference App'
2. Click on '+' icon to add patient
3. Add all mandatory fields except city and count

[2021-10-18 14:54] anita-vadverao opened #843 "After submitting complete survey, it is not showing all details from complete survey on Patient card details screen"
**Describe the bug**
After submitting complete survey, it is not showing all details from complete survey on edit details screen

**Component**
SDC library, reference app

Precondition:
Patient should already added

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Reference App'
2. Search for Patient already added
3. Click on 'Complete survey'
4. Add all details and click on submit
5. O

[2021-10-19 14:33] f-odhiambo commented on #684
@maanuanubhav999 I also think this is not a bug and just how dark mode is supposed to work. You are supposed to define the theme/style for both Dark and Light modes. Thoughts are welcome

[2021-10-19 14:47] #524 closed

[2021-10-20 07:03] anita-vadverao opened #846 "Patient(s) count is not getting increased on Registered patient list after adding new patient"
**Describe the bug**
Patient(s) count is not getting increased on Registered patient list after adding new patient

**Component**
reference app
Precondition:
1. After App open , Note down current patient(s) count

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Reference App'
2. Click on '+' icon
3. Add patient details: First name, family name, Date of birth, Gender, Phone number, City

[2021-10-24 11:04] jingtang10 opened #849 "Not all build artifacts are uploaded and build reports are uploaded twice"
**Describe the Issue**

See https://github.com/google/android-fhir/blob/master/.github/workflows/ci.yml

At the moment we're uploading the build reports twice in step "Upload build reports" and "Upload build dir". This needs fixing.

Additionally, we're only uploading the build dir for the `engine` module. We should upload the build dirs for the other modules too.

**Would you like to work on the

[2021-10-25 09:02] jingtang10 opened #852 "Patient count showing 0"
**Describe the bug**
Patient count is 0:
`0 Patinet(s)`

**Component**
Reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Clear data and restart reference app

**Expected behavior**
Patient count should match the total number of patients before entering any query

**Screenshots**
![79SAikcBA5b5Sep](https://user-images.githubusercontent.com/28757340/138666660-5f5e5c04-18b5-4fce-933

[2021-10-25 09:39] santosh-pingle opened #853 "Reference app shows blank screen when first time launched."
**Describe the bug**
A clear and concise description of what the bug is.

**Component**
reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Install reference app first time.
2. Open reference app.
3. App shows blank screen with 0 patient data.
4. Check reference app log.
5. You will see data is syncing.
6. You will see sync status is successful.
7. Check local db, ResourceEntity wi

[2021-10-25 10:09] jingtang10 opened #854 "Add tests for `SearchParameterRepositryGenerated.kt`"
**Describe the Issue**

This file is generating a very low test coverage score for us:

<img width="1177" alt="Screen Shot 2021-10-25 at 10 15 54" src="https://user-images.githubusercontent.com/28757340/138676960-7c4fca1a-6533-480b-9e30-49644c878b10.png">

**Would you like to work on the issue?**
Maybe.

[2021-10-25 10:32] santosh-pingle opened #855 "Support patient resource deletion operation in reference app."
**Describe the bug**
As of now reference app does not support patient delete operation.

**Component**
Core library, reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help exp

[2021-10-25 10:37] aditya-07 opened #856 "Handle deleted resource in the engine"
**Describe the bug**
For fhir-engine, there is no way to purge a Fhir Resource like Patient that is already synced on to the device via engine and later deleted on the server (maybe by some other client).

**Component**
Core library

[2021-10-25 10:59] aditya-07 opened #857 "Add pagination to the patient list to show all the patients."
**Is your feature request related to a problem? Please describe.**
On the Patients List Page, we currently query database to only get first 100 entries to show. This blocks the user from seeing all the patients in the database.  The user should be able to scroll through all the patients that are in the database.

**Describe the solution you'd like**
The Reference app should implement Pagination on

[2021-10-25 11:15] santosh-pingle opened #858 "Reference app patient list page does not show scrolling indicator while scrolling patient list."
**Describe the bug**
In reference app, on patient list search page when user scrolls list of patient then it does not show scrolling indicator to know how much records are scrolled up and  down.

**Component**
reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Open reference app
2. It will show list of patients screen.
3. Try to scroll list up or down
4. While scrolling patient li

[2021-10-25 11:20] anita-vadverao opened #859 "After submitting complete survey, Questionnaire in observations is missing"
**Describe the bug**
After submitting complete survey, Questionnaire in observations is missing. It is only showing answer

**Component**
SDC library, reference app

Precondition:
Patient should already added

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to 'Reference App'
2. Search for Patient already added
3. Click on 'Complete survey'
4. Add all details and click on submit
5. Obser

[2021-10-25 11:30] aditya-07 opened #860 "Increase the page size of searchset for faster download of resources."
**Is your feature request related to a problem? Please describe.**
For Hapi fhir server, page size is determined by `_count` is 20 items and it can take a lot of requests to requests to fetch all the resources. GCP and other providers may have different default and max values. GCP has 100 as default and 1000 as max (which seems to be value for other providers as well).

**Describe the solution you

[2021-10-25 11:39] santosh-pingle opened #861 "Soft keyboard stays opened on screen in reference app."
**Describe the bug**
When Edittext box get clicked on screen such as patient list, create patient, edit patient screen, then soft keyboard get opened but once operation is done, then it still stays on screen.

**Component**
reference app, or SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Open reference app.
2. Click on search box
3. Give input to search patient,
4. Click on

[2021-10-25 11:56] aditya-07 opened #862 "Device goes OOM when downloading a lot of resources."
**Describe the bug**
Syncing a large number of resources causes OOM issue in the engine.

**Component**
Core library, SDC library, reference app, or SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Setup the server with a large set of data (some resources should atleast 50,000 in number)
2. Sync the resource data to the client.

**Expected behavior**
Data should sync and get s

[2021-10-25 12:30] santosh-pingle opened #863 "Reference/Gallery app get crashed when request focus get switched to bottom view."
**Describe the bug**
Reference/Gallery app get crashed when request focus get switched to bottom view.

**Component**
SDC library, reference app, or SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Open reference app
2. Click on patient record, it opens patient details screen
3. Click on edit icon, it opens patient edit screen.
4. Click on city edittext box
5. Click on next re

[2021-10-25 12:42] anita-vadverao opened #864 "Reference app crashed on launch"
**Describe the bug**
App is crashing after launched

**Component**
Core library, reference app

**To Reproduce**
Steps to reproduce the behavior:
In android-fhir-master project,
1. change the BASE_URL in HapiFhirService.kt file to http://<local:system:ip>:8080/fhir/ for a phone.
2. In FhirPeriodicSyncWorker.kt, remove NAIROBI so your sync-data looks like  mapOf("address-city" to "").Incase you nee

[2021-10-25 12:53] anita-vadverao opened #865 "On click sync button, It shows "Sync: Failed at <Date and time>" and showing sockettimeouterror"
**Describe the bug**
On click sync, It is failing
It is showing below three toast messages
Sync: Unkown state
Sync: In progress with patient
Sync: Failed sync at <date and time>

**Component**
Core library, reference app, or SDC gallery app

Precondition:
2 patients are added in reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Reference App'
2. Click on Menu on left hand

[2021-10-26 05:55] santosh-pingle opened #866 "Allows screener survey submission though risk factors form inputs are not answered."
**Describe the bug**
As per screener survey questionnaire, it is mandatory to provide input to risk factors questionnaire items.
Though, these questionnaire items are not answered and if user click on Submit button then survey get submitted.

**Component**
 reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Open reference app
2. Click on patient row item, it shows patient details

[2021-10-26 07:01] santosh-pingle opened #867 "Add unit test case when hidden extension is not present in questionnaire item."
**Describe the bug**
If questionnaire item does not have hidden extension, then item should not be hidden. It is good to add local unit test case to check this behaviour.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:

Add unit test case here `datacapture/src/test/java/com/google/android/fhir/datacapture/QuestionnaireViewModelTest.kt`

**Expected behavior**
It is ggo

[2021-10-26 07:11] #849 closed, assigned to nobody

[2021-10-26 07:47] anita-vadverao opened #868 "On Add patient, Phone number textbox accepting alphabets"
**Describe the bug**
On Add patient, Phone number textbox accepting alphabets, It should accepts only numbers and some special characters

**Component**
SDC library, reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Reference App'
2. Click on '+' icon to add patient
3. Enter First Name, family name, Date of birth
4. Tap on phone number, Observe keyboard
5. Enter Alphabets

[2021-10-26 08:16] aditya-07 opened #869 "Resource Indexer Exception in causes observations sync download to fail."
**Describe the bug**
Resource Indexer has issue extracting Temperature QuantityValue in the following Observation taken from the Synthea dataset.

[code]

**Exception:**

[code]

[2021-10-26 08:18] santosh-pingle opened #870 "Update wiki page with sdc api supports hidden extension."
**Describe the bug**
SDC library supports hidden extension, same is need to be updated in wiki page.

**Component**
wiki page

**To Reproduce**
Steps to reproduce the behavior:

1. Open wiki tab
2. Click on structure data capture library.
3. Go to the sdc extension, other extension, its shows hidden/wip

**Expected behavior**
Wiki page should be updated with hidden extension is supported by sdc li

[2021-10-26 08:54] jingtang10 opened #871 "Fix reference application name and icon"
**Is your feature request related to a problem? Please describe.**
The current launcher icon name of the reference application is: "Registered patients", and the reference app info shows the app name is "FHIR Engine Examples". This is inconsistent.

The app also doesn't have any icon.

**Describe the solution you'd like**
I think the app should be called: "FHIR Engine Sample App" (sample is shorte

[2021-10-26 09:43] aditya-07 opened #872 "Handle Sync work that may go on for time longer than permitted by regular workmanager."
**Is your feature request related to a problem? Please describe.**
First time sync may take a long time. So add support for long running sync worker so that OS doesn't kill it.

[Support for long-running workers](https://developer.android.com/topic/libraries/architecture/workmanager/advanced/long-running)

[2021-10-26 09:46] anita-vadverao opened #873 "Added patient on one device, it is not reflecting on other device"
**Describe the bug**
Patient is added on one device and it is not reflecting on other device

**Component**
Core library,reference app

Precondition:
One two devices reference app is installed with same Database ( local hapi server database)

**To Reproduce**
Steps to reproduce the behavior:
1. On device one, Go to 'Reference app'
2. Click on '+'
3. Enter all valid details and click on submit butt

[2021-10-26 12:42] santosh-pingle opened #875 "Android test for displayValidationResult in viewholder factory class."
**Describe the Issue**
Write android test for `QuestionnaireItemViewHolderDelegate.displayValidationResult(validationResult: ValidationResult)` in respective view holder factory class.
e.g QuestionnaireItemEditTextDecimalViewHolderFactoryInstrumentedTest.kt
QuestionnaireItemEditTextIntegerViewHolderFactoryInstrumentedTest.kt
QuestionnaireItemEditTextMultiLineViewHolderFactoryInstrumentedTest.kt
Qu

[2021-10-26 12:43] anita-vadverao opened #876 "After selecting Temperature unit as Fahrenheit, it is showing minimum and maximum range of Celsius"
**Describe the bug**
After selecting Temperature unit as Fahrenheit, it is showing minimum and maximum range of Celsius

**Component**
Core library, SDC library, reference app

**Precondition**
Patient is already added

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Reference App'
2. Search for patient already added in precondition
3. Tap On Patient name
4. On patient Card, Tap on

**

[2021-10-26 12:56] anita-vadverao opened #877 "Reference App crashed on search"
**Describe the bug**
Reference app is getting crashed on searching data

**Component**
Core library,reference app

Precondition:
In fhirEngine database, under ResourceEntity table, Update patient id in seralizedResource section

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Reference App'
2. Tap on search, enter patient name whose patient id is updated in precondition
3. Observe beha

[2021-10-26 13:44] jingtang10 opened #878 "Drop down down arrow overlaps with warning sign"
**Describe the bug**
The drop down button's down arrow overlaps with the red warning button for required field.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Open data capture gallery app
2. Click on General health assessment questionnaire

**Expected behavior**
drop down arrow doesn't overlap with required button

**Screenshots**
![Screenshot_20211026-140204](ht

[2021-10-26 17:56] #871 closed, assigned to nobody

[2021-10-27 06:58] aditya-07 opened #879 "Disallow setting of sort parameter as part of ResourceSyncParams"
**Describe the bug**
Since the sync logic depends on sort by `_lastUpdated` field, we should disallow clients to set sort param as it may cause issues with subsequent syncs.

**Component**
Core library

[2021-10-27 09:41] santosh-pingle opened #881 "Quantity type is not supported yet for minValue and MaxValue extension"
**Is your feature request related to a problem? Please describe.**
It gives error not implemented yet.

Implemented below unit test, but it had thrown quantity type is not implemented yet.

[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions

[2021-10-27 10:10] aditya-07 opened #883 "Reference app fetches data again after configuration change."
**Describe the bug**
Sync happens every time there is configuration change in the Reference app e.g. Orientation Change.

**Component**
Reference App

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Patient List page and let patients to load onto the screen.
2. Change orientation of the device.
3. Check device logs

**Expected behavior**
The ViewModel has all the data and list should be

[2021-10-27 11:12] anita-vadverao opened #886 "Add Sync patient Observation(complete survey) button on Patient Card screen"
**Is your feature request related to a problem? Please describe.**
When I add patient observations on device one and try to access on device two, it is not accessible because it syncing only patient data not observations

**Describe the solution you'd like**
To download all patient's observation on device may take more memory on device, so to avoid that we can add one button on Patient card to syn

[2021-10-27 12:47] anita-vadverao opened #888 "Last sync timestamp is always showing in 24 hrs format"
**Describe the bug**
Last sync timestamp is always showing in 24 hrs format

**Component**
reference app

Precondition:
Device current time is in 12 hrs format

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Reference App'
2. Click on Left menu icon
3. Observe Last syn timestamp format

**Expected behaviour**
It should be same as device current time format. For example, device has 12

[2021-10-27 14:05] #878 closed, assigned to jingtang10

[2021-10-28 07:12] #853 closed, assigned to aditya-07

[2021-10-28 07:12] #883 closed, assigned to aditya-07

[2021-10-28 09:28] #858 closed, assigned to nobody

[2021-10-28 12:22] #867 closed, assigned to santosh-pingle

[2021-10-28 17:55] jingtang10 opened #897 "Remove unit column in the quantity index table"
**Describe the Issue**
There is no need to create a separate database column in the quantity index table for the `unit` field in the quantity. This is because the quantity search matches on `code` or `unit` so we could simply generate another indexing record in the same table.

Consider if we're trying to index this quantity value in our quantity index table:

Quantity:
value: `10`
system: `http:/

[2021-10-29 07:19] jingtang10 opened #898 "Use ICU library to format date"
**Describe the Issue**
We use hardcoded date time format strings in the code, but we reall should use icu:

https://developer.android.com/guide/topics/resources/internationalization

**Would you like to work on the issue?**
NA

[2021-10-29 11:02] #897 closed, assigned to jingtang10

[2021-10-29 12:35] #852 closed, assigned to aditya-07

[2021-10-29 13:41] stevenckngaa opened #901 "Some operations in DatabaseImpl are not wrapped with RoomDatabase#withTransaction"
**Describe the Issue**
Some operations, for example `insertRemote`, in `DatabaseImpl` are not wrapped with `RoomDatabase#withTransaction`. Those operations will be executed in the callers' coroutine scope. Meaning that there is a risk of running those operations in UI thread if the caller is from UI scope.

**Would you like to work on the issue?**
Wrap all database operations with `RoomDatabase#wi

[2021-10-29 16:02] aditya-07 opened #903 "Search SQL issue with single Filter with single value and single or multiple filter with multiple values."
**Describe the bug**
A non compiling SQL query is generated for a search like below:

[code]

**Generated SQL**

[code]
**Component**
Core library

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screens