[2020-03-26 23:50] jingtang10 opened #2 "Add CI tools like travis for checking build is successful and that tests successfully run"
@jingtang10 could you add CI tools like travis for checking build is successful and that tests successfully run

_Originally posted by @githengi in https://github.com/jingtang10/fhir-engine/pull/1#issuecomment-603138532_

[2020-04-16 08:54] jingtang10 opened #13 "Improve FhirIndexerImplTest"

[2020-04-29 16:43] yigit opened #28 "move to room"
what title says, lets replace the custom cursor implementation w/ room.

[2020-04-29 16:44] yigit opened #29 "centralize dependencies"
lets create a central dependency file instead of hardcoding them
(similar to https://cs.android.com/androidx/platform/frameworks/support/+/androidx-master-dev:buildSrc/src/main/kotlin/androidx/build/dependencies/Dependencies.kt?q=Dependencies.kt)

[2020-04-29 16:45] yigit opened #30 "add spotless"
add the spotless plugin for code-style & copyright checks.
https://github.com/diffplug/spotless/tree/master/plugin-gradle

we can also remove idea files once it is merged.

[2020-04-29 17:24] yigit opened #31 "swap auto-value w/ kotlin data class if we go w/ kotlin"
we've not made the call yet but it would greatly simplify the code + ide experience.

the room PR already uses room but it is tiny so easy to move to java if we decide against kotlin.

lets keep the auto-value cleanup as a separate PR so that we can just revert.

[2020-04-29 17:28] yigit opened #32 "consider moving to instrumentation tests for android dependant stuff"
robolectric runs tests on main thread which becomes a problem w/ room.

The official recommendation for Room is to actually test on a device since different SQLite versions on devices have different issues and we probably need to support really old devices.

Until then, we'll need to allow main thread queries in room. If we decide to keep it, we should at least make it a test only option.

[2020-04-29 17:34] yigit opened #33 "Add indexing for missing types: URI, number, quantity, date"
we have some entities (StringIndex, ReferenceIndex) that seem to have the same structure that is driven from a generic structure in FHIR engine.
it might make sense to merge them into one so that wen can add any type of index easily.

I'm not fully sure why it is this way right now so just keeping this issue as a note. we may or may not want to do this.

[2020-04-29 17:48] yigit opened #34 "need to generate API files"
we need some tool to generate the API files so that if API changes, we can track what has changed.

We use metalava in AndroidX but it is probably useless by itself. I can check what is used in dropbox/store and just copy that one probably.

[2020-04-30 14:50] #2 closed, assigned to florina-muntenescu

[2020-05-04 21:07] #28 closed, assigned to nobody

[2020-05-06 16:44] jingtang10 opened #40 "Update Android Studio .idea config to use the the consistent kotlin style"
ktlintApplyToIdea updates the .idea config to have the same code style as we use in presubmit checks. In this issue we should do 2 things:

1) get the ktlintApplyToIdea command to work locally
2) add the step to the README file

[2020-05-06 21:04] #30 closed, assigned to jingtang10

[2020-05-07 11:05] jingtang10 opened #41 "Rewrite existing Java code in Kotlin"
This tasks is not top priority and would probably be the best if those who are not super familiar with Kotlin can contribute. Simply state what you're working on and send a PR and link it to this issue. Thanks all!

[2020-05-11 16:23] #31 closed, assigned to nobody

[2020-05-13 18:36] jingtang10 opened #48 "Make CI run tests"

[2020-05-14 09:54] #13 closed, assigned to nobody

[2020-05-14 16:17] jingtang10 opened #49 "Establish the API level"
We need to establish the min API level for the SDK.

1) testing on at least emulators to see if the sdk works on lower API levels
2) document this in the README file

[2020-05-15 11:58] jingtang10 opened #55 "HAPI FHIR structure lib cannot be used on Android SDK version 19 (kitkat)"
See issue #49.

While running master on API level 19, there's this error:

05-15 12:09:05.044 3357-3357/com.google.fhirengine.example E/AndroidRuntime: FATAL EXCEPTION: main
Process: com.google.fhirengine.example, PID: 3357
java.lang.VerifyError: org/apache/log4j/config/PropertySetter
at org.apache.log4j.PropertyConfigurator.parseAppender(PropertyConfigurator.java:805)
at org.apache.log4j.Property

[2020-05-19 15:07] #49 closed, assigned to jingtang10

[2020-06-02 15:24] jingtang10 opened #57 "[Backlog] Investigate using DSL in Kotlin for search"

[2020-06-09 14:48] jingtang10 opened #59 "Batch API for saving resources"
We have an API to store a single resource. We need another API to store resources in batch.

[2020-06-10 09:16] jingtang10 opened #60 "Add index name and path to all index tables"
https://github.com/jingtang10/fhir-engine/issues/33#issuecomment-638975619

[2020-06-10 09:25] jingtang10 opened #61 "Build search interface"

[2020-06-12 02:05] yigit opened #63 "spotless seems broken"
I clearly have a file w/o copyright and spotlessCheck does not give any error

[2020-06-12 02:07] #63 closed, assigned to nobody

[2020-06-12 15:17] deepankarb opened #65 "Add lastUpdated timestamp to Resource Table"
Each `Resource` in FHIR can have a `lastUpdated` timestamp to track when it last changed. We should add a column in `ResourceEntity` to support it. Ref [Resource](https://www.hl7.org/fhir/resource.html).

[2020-06-15 15:43] #48 closed, assigned to florina-muntenescu

[2020-06-17 16:10] #61 closed, assigned to jingtang10

[2020-06-17 16:46] deepankarb opened #67 "Update path splitting logic in FhirIndexerImpl"
We index search parameters in `FhirIndexerImpl.kt` by type. We extract the object instances by splitting the `path` in the `SearchParamDefinition` and walking the `Resource` members depth-first. With splitting the path by dot notation, e.g. `Observation.code.value` we are missing out on Search params which do not conform to this pattern. E.g. `SP_PHONE` in `Patient` is `Patient.telecom.where(syste

[2020-06-19 10:04] #59 closed, assigned to nobody

[2020-06-23 12:16] #60 closed, assigned to nobody

[2020-06-26 12:43] #33 closed, assigned to deepankarb

[2020-06-28 13:19] florina-muntenescu opened #71 "Implement periodic sync"

[2020-07-01 11:10] jingtang10 opened #73 "Integration test out of memory for API 29"
In recent github action runs for PRs, tests for API 29 consistently failed due to out of memory issue. e.g:

com.google.fhirengine.db.impl.DatabaseImplTest > select_invalidResourceType_shouldThrowIllegalArgumentException[test(AVD) - 10] FAILED
java.lang.OutOfMemoryError: OutOfMemoryError thrown while trying to throw an exception; no stack trace available

See trace: https://github.com/google/andro

[2020-07-01 16:25] jingtang10 opened #75 "Check the VerifiedBootStatus in all operations"
https://developer.android.com/training/articles/security-key-attestation#certificate_schema_verifiedbootstate

Only proceed with the operation if the VerifiedBootStatus is
- Verified

Will not proceed if the VerifiedBootStatus is
- SelfSigned
- Unverified, or
- Failed

[2020-07-01 16:37] jingtang10 opened #76 "Add lockscreen requirements"
Add lockscreen requirements in the SDK
https://developer.android.com/reference/android/app/KeyguardManager#isDeviceSecure()

Please note that this API is available from API level 23, and the SDK's min API level is 21. We can probably fall back to https://developer.android.com/reference/android/app/KeyguardManager#isKeyguardSecure() for API<23.

[2020-07-01 16:39] jingtang10 opened #77 "Mandate network security config"
https://developer.android.com/training/articles/security-config

[2020-07-10 09:21] jingtang10 opened #86 "Stop using AppCompatActivity in the reference app"
with our min sdk version 21, we probably don't need to use AppCompatActivity in the reference app

[2020-07-10 13:48] #41 closed, assigned to jingtang10

[2020-07-11 06:18] #65 closed, assigned to florina-muntenescu, deepankarb

[2020-07-21 08:23] deepankarb opened #92 "`Observation.effective` not available in Date Index"
We need to implement mapping of Search Parameters to the underlying data type of the property. Currently, we are assuming the accessors are named `getXXElement` for `date` and `getXX` for all other `SearchParamDefinition` types. For example `Patient.birthDate` has `getBirthDateElement()`. However, this is not universally true in HAPI FHIR. E.g. `Observation.effective` does not have a getEffectiveE

[2020-07-22 12:11] jingtang10 opened #96 "Duplicated patients from syncing with the server"
When syncing from the hapi test server, we use the id field from the patient object, it is of the form "baseurl/patient/id/history/historyid". What this means is that when there's a new version of patient we will treat it as a new  (duplicated) patient in the db.

The fix is to use the actual patient id (which is a number on hapi test server) rather than the URL. In the hapi structures lib it's pa

[2020-07-23 13:33] deepankarb opened #98 "Change Resource - Index foreign key to SQLite ID"
Since `resourceID + resourceType` are 1:1 with SQLite `ID`, it can be used as foreign key instead. This will save space in index tables.

[2020-07-28 11:34] jingtang10 opened #99 "java.lang.NoSuchMethodError: No static method"
When you try to launch MainActivity on master branch.

2020-07-28 12:30:33.190 8863-8863/com.google.fhirengine.example E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.google.fhirengine.example, PID: 8863
    java.lang.NoSuchMethodError: No static method create(Lcom/google/fhirengine/db/Database;)Lcom/google/fhirengine/cql/FhirEngineDataProvider; in class Lcom/google/fhirengine/cql/FhirEng

[2020-07-28 11:36] jingtang10 opened #100 "Making Fhir engine a singleton per process per db name"
Following discussions between @yigit @florina-muntenescu @jingtang10, we decided to make fhir engine a singleton per process + db name to avoid racing conditions when updating the db

- [x] Modify FhirEngine's API so that it's impossible to create another instance if there is already one (i.e. caching). At the moment in the referende app this is ensured by the initialization code in `FhirApplicati

[2020-07-28 11:37] jingtang10 opened #101 "Implement new local changes table"

[2020-07-28 11:37] jingtang10 opened #102 "Implement changes for remote resources table"

[2020-07-28 11:42] jingtang10 opened #103 "Disable simultaneous upload from multiple processes"
to avoid race condition between different processes

[2020-09-23 06:39] pankajkatoch opened #106 "Add helper to import JSON bundles as local Fhir resource objects"
One use case is:
To populate local db with sample Fhir objects for the Sample App to work in case hardcoded sync doesn't get back any objects from the external Hapi server.

[2020-09-23 07:59] pankajkatoch opened #107 "Sample App improvements to showcase local Fhir resources"
- [ ] Show search results for `Observations` referred by a given `Patient`
- [x] When no objects available from sync, import json bundle as local Fhir resources [Removed]
- [ ] Use the sync button in the toolbar to actually sync results from external Fhir Resources
- [x] Remove dependence on `CqlLoader` for firing the sync.
- [x] Remove `SamplePatients.kt` if it's no longer needed.

[2020-09-23 08:10] pankajkatoch opened #108 "Sample App UI Toolbar, Menu and Spinner fixes"
- [ ] Use a loading spinner instead of the Snackbar
- [x] Remove/fix `About` button functionality.
- [ ] Use Sync button in the toolbar correctly to sync with external hapi server

[2020-09-30 08:12] pankajkatoch opened #109 "Target 1.8 for kotlin and enable androidx.lifecycle ktx module"
Use [`androidx.lifecycle.observe`](https://developer.android.com/reference/kotlin/androidx/lifecycle/package-summary#(androidx.lifecycle.LiveData).observe(androidx.lifecycle.LifecycleOwner,%20kotlin.Function1)) instead of java observe.

[2020-09-30 08:17] pankajkatoch opened #110 "New Patients not seen while running an app from scratch"
Clarify the steps to take for loading patient list while starting from scratch or deleting local database.

[2020-11-11 09:16] pankajkatoch commented on #109
LiveData.observe() has itself been deprecated. [Deprecate LiveData.observe Kotlin extension](https://android-review.googlesource.com/c/platform/frameworks/support/+/1413815)

With move to Kotlin 1.4, Kotlin itself is able to convert the default observe() to lambada syntax.

[2020-11-30 09:30] jingtang10 opened #115 "Kotlin migration"
We want to remove all java code in the codebase and move fully to kotlin.

[2020-12-02 03:47] deepankarb commented on #73
Still seeing OOM failures on some branches.

[2020-12-02 07:52] pankajkatoch opened #118 "Upgrade Kotlin version to 1.4"

[2020-12-02 08:11] #118 closed

[2020-12-02 14:01] #115 closed

[2020-12-03 09:41] fredhersch commented on #110
2020-12-03 17:33:02.004 9502-9604/com.google.fhirengine.example D/OkHttp: --> GET http://hapi.fhir.org/baseR4?_getpages=51e4f072-c00d-417d-a239-2cdf673a15c0&_getpagesoffset=20&_count=20&_pretty=true&_bundletype=searchset
2020-12-03 17:33:02.004 9502-9604/com.google.fhirengine.example D/OkHttp: --> END GET
2020-12-03 17:33:02.007 9502-9604/com.google.fhirengine.example D/OkHttp: <-- HTTP FAILED: ja

[2020-12-09 00:01] pankajkatoch commented on #110
There seems to be a difference in ListActivity behaviour between API version 21 vs version 28.
Currently I'm not able to see Patient list on Ver 21, but works on Ver 28,
Trying to figure out more.

[2020-12-18 21:39] jingtang10 opened #125 "Prepare the view model asynchronously using the viewmodel scope."
not important now but we should probably do these preparations async using the viewmodel scope.
can be a followup

_Originally posted by @yigit in https://github.com/google/android-fhir/pull/97#discussion_r544811918_

[2020-12-22 21:28] pankajkatoch opened #128 "FHIR R4 Time Zone format requires Android API 24 or higher"
The timezone format currently supported by FHIR Search, FHIRPath etc. currently is a subset of ISO8601:

`yyyy-mm-ddThh:mm:ss[Z|(+|-)hh:mm]`

In Android [`SimpleDateFormat`](https://developer.android.com/reference/java/text/SimpleDateFormat) shows 'X' pattern for ISO 8601 only be supported in API Level 24+ (Nougat+) only.

This is required for Sync implementation to work correctly. Otherwise in AP

[2020-12-22 21:29] pankajkatoch opened #129 "FHIR R4 Time Zone format requires Android API 24 or later"
The timezone format currently supported by FHIR Search, FHIRPath etc. currently is a subset of ISO8601:

`yyyy-mm-ddThh:mm:ss[Z|(+|-)hh:mm]`

In Android [`SimpleDateFormat`](https://developer.android.com/reference/java/text/SimpleDateFormat) shows 'X' pattern for ISO 8601 only be supported in API Level 24+ (Nougat+) only.

This is required for Sync implementation to work correctly. Otherwise in AP

[2020-12-28 08:30] kashyapj2793 opened #131 "Submit button not visible when Questionnaire occupies more space than single screen"
Currently testing how the datacapture lib behaves when items in the sample questionnaire are duplicated. When the questionnaire view goes over one screen the submit but does not appear.

Refer to video in issue #132

[2020-12-28 08:42] kashyapj2793 opened #132 "datacapture : Bug in binding UI element to Questionnaire Item"
https://user-images.githubusercontent.com/48797364/103201704-8d14f080-4916-11eb-8338-1e1cf7cc68db.mp4

Sample questionnaire modified by duplicating items. linkid of each item is unique

[2020-12-28 12:26] jingtang10 commented on #132
Thanks Kashyap for creating this issue. Can you please push a branch with your code?

I think there's a real problem with the use of activityViewModels in QuestionnaireFragment.kt. I tested that passing different questionnaires to different questionnaire fragments will reuse the same view model which is definitely incorrect. We need to somehow change the scope of view models to fragment...

[2020-12-28 13:59] kashyapj2793 commented on #132
@jingtang10 Please check this branch [https://github.com/google/android-fhir/tree/kj/sdc-binding-bug](url)

[2020-12-28 18:24] jingtang10 commented on #132
@kashyapj2793, I created PR #134 and tested with your change which I think is working. To verify that on your end, please rebase your branch onto the jt/sdc-set-values branch.

The problem you encountered is very interesting. It's because recycler view reuses (and it's great to see that in action because it improves performance) the questionnaire item views. So if you have ticked a checkbox and sc

[2020-12-29 06:49] kashyapj2793 commented on #132
I have verified that PR #134 fixes this issue

[2020-12-29 10:38] jingtang10 commented on #132
Thanks Kashyap -- let's keep this open until that PR is merged into master.

[2020-12-29 10:56] kashyapj2793 commented on #131
@jingtang10 Can you please review the latest changes in the kj/sdc-binding-bug branch. I have added the submit button as part of the recycler view. It will be the last member in the view. It solves this problem

[2020-12-30 14:03] kashyapj2793 commented on #132
I have reset the tip of this branch to the first commit without the fix from the jt/sdc-set-values branch. This is so that until the PR is merged to master, the issue can be reproduced using this branch.

[2021-01-03 21:23] jingtang10 commented on #131
@fredhersch can you please comment on what the UI should be in the case where the questionnaire is long and need scrolling? should the submit button always be at the bottom of the screen, or only appears when the user scrolls to the bottom of the screen?

[2021-01-05 12:26] fredhersch commented on #131
I suggest we position the save button in the toolbar in the top right. See this sample here

![Register patient](https://user-images.githubusercontent.com/34733/103646208-45383e00-4f94-11eb-8e27-37ed02999de3.jpg)

[2021-01-06 07:50] kashyapj2793 commented on #131
I have positioned the button on the top right as suggested by Fred. I Changed the questionnaire_fragment linearLayout to a constraintLayout to do this. One thing to note is that since this is a fragment which is a part of the datacapturegallery activity the submit button is just below the app label but is in line with the Questionnaire title
![Submit_button_top_right](https://user-images.githubuse

[2021-01-07 15:08] jingtang10 commented on #132
Sorry I didn't mean to close this.

Kashyap -- can you please verify this is indeed fixed for you (rebasing your branch onto master).

[2021-01-08 08:44] kashyapj2793 commented on #132
No problem jing! Yes I have verified that this is fixed!

[2021-01-08 08:44] #132 closed

[2021-01-08 10:09] kashyapj2793 opened #140 "Add edit text integer support in the sdc library"
Numeric input which is a whole number.  Note that some validation will be needed to make sure that it is indeed a whole number that is being typed in

[2021-01-11 10:10] jingtang10 commented on #129
this is a duplication of #128

[2021-01-11 10:10] #129 closed

[2021-01-11 10:13] jingtang10 commented on #128
have you looked into java8's time library? https://developer.android.com/studio/write/java8-support-table

[2021-01-11 10:15] jingtang10 commented on #128
We already use java8 here: https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDatePickerViewHolderFactory.kt

[2021-01-11 15:55] jingtang10 opened #143 "Create a questionnaire list page in the questionnaire gallery app"

[2021-01-11 15:55] jingtang10 commented on #143
FYI @kashyapj2793 @pankajkatoch I'm working on this

[2021-01-13 11:38] kashyapj2793 opened #147 "SDC application crashes when phone is rotated"

[2021-01-14 11:53] kashyapj2793 opened #149 "AndroidTest failling"
The changes made by using material design in the xml layouts resulted in the Android Unit tests failing

[2021-01-14 12:25] #149 closed

[2021-01-15 10:12] jingtang10 opened #151 "Allow custom style by developers"
This is different from the rendering standards in the SDC specs. This should be something the developers can do to make the questionnaire look and feel like part of their application.

[2021-01-15 10:14] jingtang10 opened #152 "Add radio button support in the sdc library"
This should make use of the item control extension: http://hl7.org/fhir/uv/sdc/2019May/rendering.html#control-appearance

[2021-01-15 10:15] jingtang10 opened #153 "Add dropdown list support in the sdc library"
This should make use of the extension item control: http://hl7.org/fhir/uv/sdc/2019May/rendering.html#control-appearance

[2021-01-15 14:24] #125 closed

[2021-01-15 14:25] #147 closed

[2021-01-15 17:11] jingtang10 opened #154 "Use navigation library for the sdc gallery app"
https://developer.android.com/guide/navigation/navigation-getting-started

[2021-01-15 18:45] jingtang10 commented on #128
@pankajkatoch can you confirm if this is fixed by PR #136?

[2021-01-15 19:26] jingtang10 opened #155 "Add a Client (patient) Registration Questionnaire Example"
The following json is provided by @fredhersch:

[code]

There are some extensions the library does't support yet. So part of this is figuring out what needs to be built and create and triage new issues.

[2021-01-18 17:04] #143 closed

[2021-01-18 21:24] pankajkatoch commented on #128
@jingtang10 PR #136 was still raising an exception in both API 21 and API 28: `java.time.temporal.UnsupportedTemporalTypeException: Unsupported field: YearOfEra`

It required a Time Zone Id to work.
Raised PR #156

[2021-01-19 10:45] jingtang10 commented on #131
@kashyapj2793 with the change made to the main activity now, will you be able to rebase this and move the submit button to the app bar?

[2021-01-19 10:47] kashyapj2793 commented on #131
Sure Ill rebase and work on this :)

[2021-01-19 10:47] jingtang10 commented on #131
thanks :) something like this may work: https://material.io/components/app-bars-top/android#regular-top-app-bar?

[2021-01-19 17:50] jingtang10 opened #158 "Use FHIR protos for sdc lib"

[2021-01-20 18:51] #151 closed

[2021-01-20 19:31] #110 closed

[2021-01-20 19:31] #128 closed

[2021-01-21 11:51] kashyapj2793 commented on #131
![Screenshot_20210121-172017.jpg](https://user-images.githubusercontent.com/48797364/105347506-04cff580-5c0d-11eb-9ee8-7178cefe42ca.jpg) @fredhersch @jingtang10

[2021-01-21 13:13] jingtang10 opened #161 "Add the openhie hiv ig case report questionnaire to the gallery app"
https://openhie.github.io/hiv-ig/Questionnaire-hiv-case-report-questionnaire.json.html

[2021-01-21 14:29] #131 closed

[2021-01-21 16:52] litlfred commented on #161
Noting that this questionnaire does not yet have the SDC definition based extract information in it.   Will you need this for the gallery app?

[2021-01-21 17:01] jingtang10 commented on #161
@litlfred Not for now. We're yet to prototype extraction. So this should be sufficient.

[2021-01-22 08:00] fredhersch commented on #155
Note: The Gender field should use an HL7 ValueSet. The codes for this are not within the questionnaire. I will take a look at this.

[2021-01-22 08:04] fredhersch commented on #131
@kashyapj2793 This looks good to me. Is it possible to show the submit button with different styling (just border outline for example) to see how it sits on the toolbar? Thanks!

[2021-01-22 09:47] fredhersch opened #163 "Make submit button a different colour to the toolbar"
In the questionnaire with submit button on toolbar. Can we show the submit button with different styling (just border outline for example).

[2021-01-22 12:52] kashyapj2793 commented on #131
Sorry @fredhersch this automatically got closed after I merged the pull request linked to the issue, but I see that you have created another issue to address the comment above. Just linking it here for reference #163

[2021-01-22 13:03] kashyapj2793 commented on #153
Suppose there is not item-control extension, would this be the default widget for choice questions?

[2021-01-22 14:53] jingtang10 opened #164 "Support minValue maxValue in the sdc library"
See http://build.fhir.org/ig/HL7/sdc/behavior.html

cqf-calculatedValue support is out of scope

[2021-01-22 14:54] jingtang10 opened #165 "Support enableWhen in the sdc library"
http://build.fhir.org/ig/HL7/sdc/behavior.html#other-control

[2021-01-22 15:21] #140 closed

[2021-01-22 18:59] #158 closed

[2021-01-22 23:40] jingtang10 opened #169 "Support text type in the sdc library"

[2021-01-23 17:55] jingtang10 commented on #153
I think it makes sense for this to be default as opposed to radio button. We can also define a heuristic that says if the number of items is less than 3 or 4 we use radio button instead. But we don't have to do that now. Default to this is fine. FYI @fredhersch .

[2021-01-23 17:56] jingtang10 commented on #153
Perhaps use this as an example as well: https://www.hl7.org/fhir/questionnaire-example-bluebook.html

It's a good exmaple becuase it doesn't use valuesets for the choices questions.

[2021-01-24 14:05] #169 closed

[2021-01-24 14:06] #155 closed

[2021-01-24 14:24] jingtang10 opened #172 "Support DECIMAL question type in the sdc library"

[2021-01-24 14:25] jingtang10 opened #173 "Support DATE_TIME question type in the sdc library"

[2021-01-24 14:30] jingtang10 opened #174 "Invalid JSON element for number: "8""
To reproduce:

Click Patient registration example.

Error:

2021-01-24 14:26:56.251 13762-13762/com.google.android.fhir.datacapture.gallery E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.google.android.fhir.datacapture.gallery, PID: 13762
    java.lang.RuntimeException: An exception happened in constructor of class com.google.android.fhir.datacapture.QuestionnaireViewModel
        at and

[2021-01-24 14:33] jingtang10 commented on #174
It seems that the problem is that the "valueInteger" fields in the patient registration questionnaire are string types.

It's working for me after I changed:

[code]

to

[code]

in the patient-registration.json file (there're 6 occurences).

@fredhersch maybe this is a bug from the tool you used to generate the questionnaire -- maybe worth filing a bug to them?

Meanwhile I'll send a PR to fix th

[2021-01-24 15:16] jingtang10 opened #176 "Prototype definition based extraction"
http://build.fhir.org/ig/HL7/sdc/extraction.html#definition-based-extraction

[2021-01-24 15:17] jingtang10 commented on #161
@litlfred Carl -- when it's ready can you post it to this issue I just created: https://github.com/google/android-fhir/issues/176?

Thanks!

[2021-01-25 06:11] fredhersch opened #177 "Add NSW Health Neonate Health Record Questionnaire to the gallery app"
https://www.hl7.org/fhir/questionnaire-example-bluebook.json.html

Notes:
- Includes some basic skip logic (enableWhen)
- Provides answerOptions in place of ValueSet for drop downs (for Sex and Vitamin K given questions)

[2021-01-25 06:33] fredhersch opened #178 "Add AdministrativeGender ValueSet to be used by Patient Registration Questionnaire in gallery app"
The expanded CodeSystem for the AdministrativeGender ValueSet used by the Patient Registration Questionnaire: https://www.hl7.org/fhir/codesystem-administrative-gender.json.html

[2021-01-25 09:12] jingtang10 commented on #174
Hi @fredhersch -- can you please close this after verifying how the questionnaire was generated? thanks!

[2021-01-25 09:15] jingtang10 commented on #177
The questionnaire has been added to the application in the PR linked above (#171).

But trying to render it will crash the app because of the lack of support for CHOICE type questions.

[2021-01-25 09:42] jingtang10 commented on #176
Tagging @litlfred here. He will provide information on the definition-based extaction for the openhie HIV case reporting questionnaire.

[2021-01-25 16:17] jingtang10 commented on #174
@fredhersch I checked the spec http://build.fhir.org/ig/HL7/sdc/behavior.html and I'm pretty sure that we shouldn't be using an extension for max length -- because it's actully a core element already defined on questionnaire item https://www.hl7.org/fhir/questionnaire-definitions.html#Questionnaire.item.maxLength

Additionally, judging by the min length extension (which *IS* an extension rather th

[2021-01-25 16:24] jingtang10 opened #180 "Add support for value sets to be used as answers for CHOICE type questions"
As an example please see https://openhie.github.io/hiv-ig/ and go to Implementation > downloads to download the IG's contents.

In it the HIV questionnarie (which we have already added as an example https://github.com/google/android-fhir/blob/master/datacapturegallery/src/main/assets/openhie-hiv-case-report.json) refers to value sets which in turn refer to code systems, all of which packaged in th

[2021-01-25 18:49] litlfred commented on #176
@jingtang10 I don't think we have those mappings yet for HIV (will check with Jose) but we do have some initial mappings for the Covid Case Report form (which uses the same data pipeline) if you are eager to look at something.  Those are here:
  https://docs.google.com/spreadsheets/d/162-dTdpdEQjtt8Q-GXUVEqdC0lLAdp9-zqvFHxUPDlI/edit#gid=0
and Elliot will pull them into the Covid questionnaire soon

[2021-01-26 08:03] #174 closed

[2021-01-26 09:53] jingtang10 opened #184 "Add integration tests for the QuestionnaireFragment in the datacapture module"
https://github.com/google/android-fhir/issues/184#issue-794091744

[2021-01-26 10:15] jingtang10 opened #185 "Support max length and min length"
In our views for different question types, we need to validate the lengths of the answers by respecting the min and max length constraints.

The max length constraint is part of the `Questionnaire` resource in FHIR: https://www.hl7.org/fhir/questionnaire-definitions.html#Questionnaire.item.maxLength
The min length constarint is part of the structured data capture implementation guide (SDC IG): htt

[2021-01-26 10:22] #172 closed

[2021-01-26 13:10] jingtang10 opened #186 "Questionnaire pagination"
Use the `page` value in here: http://build.fhir.org/codesystem-questionnaire-item-control.html#questionnaire-item-control-page

[2021-01-26 16:20] deepankarb opened #187 "Tests for LocalChangeUtils"
i think one of the benefits of having this static class is that the tests can be written very independently.

_Originally posted by @jingtang10 in https://github.com/google/android-fhir/pull/146#r564426060_

[2021-01-27 19:50] jingtang10 opened #189 "Prefill the questionnaire with an optional questionnaire response as an argument to the questionnaire fragment"
This can be used to pre-fill the questionnaire while generating the UI.

[2021-01-27 22:04] jingtang10 opened #190 "Add the pain management questionnaire to the sdc gallery app"
[code]

[2021-01-27 22:07] jingtang10 commented on #190
@brynrhodes

[2021-01-28 10:33] jingtang10 commented on #164
@kunjan8794 are you interested in taking this?

[2021-01-28 10:47] kunjan8794 commented on #164
Surely, I'll take this up. Thanks 👍🏻

[2021-01-28 12:00] jingtang10 commented on #164
Awesome :) There are a few different data types to support (see comment above) but you can certainly start with one type (e.g. integer) and send a pr.

[2021-01-28 14:07] fredhersch opened #192 "Add COVID case report form from openHIE to SDC Gallery"
https://openhie.github.io/covid-ig/Questionnaire-WhoCrQuestionnaireCovid19Surveillance.json.html

[2021-01-28 17:57] jingtang10 commented on #190
This seems to be from here: https://github.com/cqframework/cds4cpm-mypain/blob/master/src/content/mypain-questionnaire.json

[2021-01-28 22:03] jingtang10 opened #194 "Integration tests failing on github Error: The process '/bin/sh' failed with exit code 127"
we have been seeing this consistent failure with connectedCheck:

[code]

[2021-01-28 22:03] #194 closed

[2021-01-28 23:06] jingtang10 opened #195 "Use maven publish plugin for release"
https://docs.gradle.org/current/userguide/publishing_maven.html

[2021-01-29 00:23] #152 closed

[2021-01-29 00:42] jingtang10 opened #197 "Support DISPLAY type in sdc library"
https://www.hl7.org/fhir/valueset-item-type.html

Lvl | Code | Display | Definition
0 | display | Display | Text for display that will not capture an answer or have child items.

[2021-01-29 00:56] jingtang10 commented on #180
Following discussions with @litlfred @brynrhodes @costateixeira it appears we're reaching an agreement that the right way to go about this is to have an _executable_ questionnaire that contains expanded value sets that may have been inlined in questions.

Also see https://github.com/HL7/fhir-ig-publisher/issues/225.

If this is indeed the direction this issue can be closed.

[2021-01-29 00:56] #180 closed

[2021-01-29 00:59] jingtang10 commented on #178
Duplicate of #180

[2021-01-29 00:59] #178 closed

[2021-01-31 09:29] fredhersch commented on #186
@jingtang10 This looks right for pagination, that is, authors need to 'group' the items and specify the page attribute. Is that correct?

[2021-01-31 09:33] fredhersch commented on #186
@jingtang10 I can see in issue #161 (HIV IG case report) the items are nicely grouped already. Can we treat each group as a page by default? And work on rendering that way?

[2021-01-31 18:36] jingtang10 opened #201 "Add slider control"
See http://hl7.org/fhir/R4/valueset-questionnaire-item-control.html for slider

[2021-01-31 18:48] jingtang10 opened #202 "Display prefixes in questions"
See the pain management questionnaire https://github.com/google/android-fhir/pull/196

Spec: https://www.hl7.org/fhir/questionnaire-definitions.html#Questionnaire.item.prefix

At the moment the prefixes are not displayed at all, this causes confusion in some questions where the prefix includes critical information.

[2021-02-01 12:18] joiskash opened #203 "Add HIV-Risk assessment questionnaire developed by IPRD and WITS"
Machine-Guided HIV Risk Subjective Assessment based on 30 questions (current version, initial version had 26 questions) developed in collaboration
with WITS RHI, WHO guidelines, and literature reviews on HIV risk factors. This questionnaire was converted to a FHIR questionnaire using the [LHC Form builder tool](https://lhcformbuilder.nlm.nih.gov/) . Minor adjustments were made to the original form

[2021-02-01 12:33] #192 closed

[2021-02-01 12:36] #190 closed

[2021-02-01 12:54] joiskash commented on #203
![custumUiquestion](https://user-images.githubusercontent.com/48797364/106461411-bd722080-64ba-11eb-8430-9b1a6b996afd.JPG)

[2021-02-01 13:41] joiskash commented on #203
[JSON_v1.0.1.txt](https://github.com/google/android-fhir/files/5904242/JSON_v1.0.1.txt)

[2021-02-01 18:04] jingtang10 commented on #177
enable when is going to be handled in #165
drop down with value set is handled in #153

closing this issue.

[2021-02-01 18:04] #177 closed

[2021-02-01 19:17] AliAkberAakash commented on #201
Hi, I'd like to contribute to this issue. Where do I have to add the slider?

[2021-02-01 19:25] jingtang10 commented on #201
Hi - thanks for your interest. Please refer to PR #191.

There are a few important things you'll need to do

- create a new layout file for the slider widget
- create a new factory class that will use the layout file to create the view holder
- change the `QuestionnaireItemAdapter.kt` file so that it uses the new factory for numbers
- add tests

please take a look at that PR and let me know if you

[2021-02-02 09:15] jingtang10 opened #208 "Fix bug with date and date time widgets where you cannot reenter without moving away"
User experience :
1. Open the date widget
2. Select date
3. Press ok
4. Try to open the date widget again. It Does not open
If some one makes a mistake entering the date/time, the have to enter the time/date and then only then are they able to reopen the date widget. Not sure why this is happening.

Also Looks like TextInputLayout remains highlighted if you click on a radio button / check box.

_O

[2021-02-02 11:30] #173 closed

[2021-02-02 11:31] varunvjha commented on #208
Can I work on this issue?

[2021-02-02 11:34] varunvjha commented on #163
Can I work on this issue?

[2021-02-02 11:50] jingtang10 commented on #201
Ali - may I ask you to download the repo and try to build the datacapturegallery module first. Once you've done that and you're clear what to do I can grant write access.

[2021-02-02 11:51] jingtang10 commented on #163
Hi Varun - thanks for your interest. Can you clone the repo locally and try to run the datacapturegallery app first. Once you've done that and you're clear what to do I can grant write access.

[2021-02-02 11:53] varunvjha commented on #163
Sure. I'd love to do that.

[2021-02-02 11:53] jingtang10 commented on #208
Hi Varun - same here - please try the app first and once we're clear on what to do I'll grant you write access! Thanks!

[2021-02-02 12:56] joiskash opened #210 "Fix bug with Radio Group widget which selects all radio buttons for a choice question"
To reproduce this error :
1. Select the HIV-Risk Assessment questionnaire
2. Select the any answer from the first question
3. Scroll down such that first question is completely out of view
4. Scroll back up, you will see all options selected

[2021-02-02 12:58] #203 closed

[2021-02-02 14:32] jingtang10 commented on #186
Yep that's right!

I think we should not treat groups as pages automatically. Reason being sometimes groups are used to logically group questions, or hide/show questions (using enableWhen). So we should only treat then as page if there's an extension that says this group should be treated as a page.

[2021-02-02 17:45] jingtang10 commented on #163
@fredhersch after reviewing https://material.io/components/app-bars-top/android#using-top-app-bars I could not find any example with an example of a button with a border in the top app bar. Do we definitely still want this?

Also, can you please share the original mock here for Varun's reference?

[2021-02-02 23:45] jingtang10 opened #214 "Implement quantity type questions"

[2021-02-03 08:18] fredhersch commented on #163
You are right @jingtang10 . The goal is to show the submit button in a different colour! That will be sufficient. I will update the issue.

[2021-02-03 08:19] fredhersch commented on #163
@varunvjha let's make the submit button #eee on the dark toolbar background. Thanks

[2021-02-03 09:40] #210 closed

[2021-02-04 09:53] joiskash opened #216 "Handle Questionnaire with item repeats to handle questions which can have more than one answer"
[Questionnaire.item.repeats](https://www.hl7.org/fhir/questionnaire-definitions.html#Questionnaire.item.repeats) is used to indicate that a particular question / group of questions can have multiple answers.

This issue is linked to the following:
- [ ] https://github.com/google/android-fhir/issues/606

[2021-02-04 10:58] joiskash commented on #202
For True/False answers rendered as a check box, where will the prefix come? Seems odd if it looks like "Q2 |   | Are you feeling happy?"
PS: |   | is a checkbox

[2021-02-04 13:17] jingtang10 commented on #163
@fredhersch I cannot see an example in the spec for the top action bar that has a button with a different background color. I wonder if we should use https://material.io/components/buttons-floating-action-button#usage for the submit button?

[2021-02-04 13:46] joiskash opened #218 "Write tests for "click" in view holder factories"
"click" event has to be tested for widgets like the date picker, drop down etc.

[2021-02-04 13:47] joiskash commented on #218
Initially reported by @jingtang10 [here](https://github.com/google/android-fhir/pull/209#discussion_r568944706)

[2021-02-08 14:07] #153 closed

[2021-02-08 19:18] #165 closed

[2021-02-09 10:15] joiskash opened #226 "Questions which have multiline text cannot be read completely in the dropdown and edittext widget"
Long questions cannot be read completely.

eg: "How much pain is the patient in,please select any of the options below?"

Appears as "How much pain is the patient in,please select any..."

Originally reported by @kumaakh

[2021-02-09 10:27] joiskash opened #227 "Add support to repopulate UI"
Use case: A questionnaire rendered by the SDK is filed up by a patient. Another phone using the SDK receives the Questionnaire Response. Now a doctor has to :

1. Review the answered questions i.e. read-only mode
2. Enter some answers i.e. edit mode

Originally raised by @kumaakh

[2021-02-09 10:54] kumaakh commented on #227
Another interesting case is to save a questionaire in draft state before submitting and then restarting the app/phone and now loading the questionnaire screen again... ideally it should not be required to re answer the questions which were already answered.
Two feature requests here:

1. The SDK should allow bringing the form GUI prefilled with the responses to quietionnaire items and
2. Allow the

[2021-02-09 11:34] joiskash commented on #189
#227

[2021-02-09 11:58] #195 closed

[2021-02-09 13:00] joiskash opened #228 "Make textfield view style uniform for all TextInputLayout"
The drop down is currently using FilledBox instead of OutlinedBox. Use the theme to set the style to OutlinedBox as default

Originally reported by @jingtang10

[2021-02-09 21:47] jingtang10 commented on #227
Hi @joiskash and @kumaakh, thanks for filing this issue.

#189 addresses this issue.

I will rename this issue to handle this case.

[2021-02-09 21:49] jingtang10 commented on #227
This item is only useful after #189 is addressed (there's no point having a read-only mode for an empty questionnaire).

[2021-02-09 22:06] jingtang10 commented on #227
Sorry @joiskash I just noticed you self-assigned this... I'm not sure which part in @kumaakh's comment you started working on. I'll move this back to To do and can you please self-assign and move #189 to in progress if that's what you're working on? Thanks.

[2021-02-10 11:57] jingtang10 commented on #226
@joiskash can you add a screenshot for this?

I think the solution is that we need to use a separate view (text view) for the question text. the hint field in the text input layout itself is too small. @fredhersch for input.

[2021-02-10 11:58] joiskash commented on #226
![Screenshot_20210209-164420.jpg](https://user-images.githubusercontent.com/48797364/107507298-5ee92880-6bc5-11eb-9752-d9acd3c910f4.jpg)

[2021-02-10 11:58] jingtang10 commented on #226
I don't think this is blocking the alpha01. @jtournier23 for comment. @joiskash does this block you from testing this lib?

[2021-02-10 12:00] jingtang10 commented on #228
@joiskash can you confirm if this is fixed by #229 ? thanks!

[2021-02-10 12:05] joiskash commented on #226
It does not block us from testing the library but it surely is a high priority task .

[2021-02-10 12:23] deepankarb opened #233 ">95% unit test code coverage"
* Jacoco
* Codecov?

[2021-02-10 17:33] joiskash commented on #228
Yup its fixed :)

[2021-02-11 14:23] #99 closed

[2021-02-11 14:34] deepankarb opened #235 "Add write support for remote (network) Resources"
* Remote owned `Resource`s should be distinguishable from locally created ones.
* Hence we need a different API, schema update and squashing logic fix for remote `Resource`s.

[2021-02-11 14:44] deepankarb commented on #29
See also #122

[2021-02-11 14:44] #29 closed

[2021-02-11 16:21] jingtang10 opened #236 "Support enablement operator EQUALS and NOT_EQUALS"
https://www.hl7.org/fhir/valueset-questionnaire-enable-operator.html

this code change needs to be in https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/enablement/EnablementEvaluator.kt

[2021-02-11 16:28] jingtang10 commented on #236
this is currently causing a crash in the covid questionnaire

[2021-02-12 05:04] fredhersch commented on #163
@jingtang10 What happens if you try and set the background of the button to a different colour? Not sure the FAB is the right component .. will have to do some research!

[2021-02-12 13:11] joiskash opened #238 "Storing answers of incomplete questionnaires after a fragment is exited / closed"
If a questionnaire is partially filled, and the fragment is destroyed, we lose all data. In the current system, after #189 is completed it will be up to the client application to maintain the partially filed form data. Should this be handled by the datacapture module ?

[2021-02-12 13:17] joiskash commented on #238
This would also directly relate to maintaining the [state](https://www.hl7.org/fhir/questionnaireresponse-definitions.html#QuestionnaireResponse.status) of the QuestionnaireResponse which is required field.

[2021-02-12 13:24] joiskash commented on #189
This allows us to assume that the QuestionnaireResponse structure will be corresponding to the Questionnaire from which it is derived. If there is a mismatch in the hierarchy the SDK will throw an error since in the context of SDC, the QuestionnaireResponse will always have a corresponding Questionnaire

[2021-02-12 14:26] joiskash commented on #189
@jingtang10 so the plan is to

1. Introduce `val questionnaireResponseJson` in the gallery\QuestionnaireViewModel
2. Pass the `questionnaireResponseJson` as `String?` since it is optional to the Fragment `arguments`
3. In datacapture\QuestionnaireViewModel introduce a `private fun Questionnaire.validateQuestionnaireResponse( questionnaireResponse : QuestionnaireResponse  )` which will check and ma

[2021-02-14 13:45] jingtang10 opened #240 "Support definition-based extraction for nested fields in the sdc lib"
Will this work for something like https://www.hl7.org/fhir/patient-definitions.html#Patient.contact.relationship ?

_Originally posted by @joiskash in https://github.com/google/android-fhir/pull/222#discussion_r575164051_

[2021-02-15 11:38] jingtang10 commented on #189
thanks @joiskash.

so in step 4 you will use the validate method if a questionnnaire response is provided right?

So basically, if there is a questionnaire respoonse provided, validate it, if not, create a new one mirroring the structure (existing code).

[2021-02-15 11:50] joiskash commented on #189
Yes that's right

[2021-02-15 11:58] joiskash commented on #189
@jingtang10  If the structure of the questionnaire response provided does not match the questionnaire then should the library throw an error? or just warn the user?
And what error should be thrown if any?

[2021-02-15 12:11] jingtang10 commented on #189
I would rather for the library to throw an illegal argument exception than to swallow that issue.

[2021-02-15 12:11] #197 closed

[2021-02-15 12:54] #176 closed

[2021-02-16 12:58] #214 closed

[2021-02-17 12:45] joiskash commented on #189
While validating is it fair to say that the order of the occurrence of item in the questionnaire will be the same in the questionnaire response?
eg if in the json string of the questionnaire linkid 1 is followed by 2 and in the json string of the questionnaire response linkid 2 is followed by 1.  Should this throw an error or is this acceptable?

[2021-02-17 16:14] jingtang10 commented on #226
@MuhammadSalman-7214 can you take a look at this please?

[2021-02-17 17:03] #236 closed

[2021-02-19 08:35] fredhersch opened #250 "Alpha release of Data Capture Library"

[2021-02-19 08:46] fredhersch opened #251 "Alpha release of Core SDK"
Push the first release of the Core SDK with support for:

[2021-02-19 08:48] fredhersch opened #252 "[Roadmap] CQL Library design"
Design the CQL Library as a stand-alone library

[2021-02-19 08:50] fredhersch opened #253 "Design for implementationGuide deployment (to SDK)"
Research and design the pattern for deploying a FHIR Implementation Guide to the SDK.

[2021-02-19 08:52] fredhersch opened #254 "[Roadmap] sdc-alpha-03 release | ERD 12-06-30"
This alpha-03 release of the data-capture library will add in the additional features:

- [x] Pagination #186
- [x] Language support #465
- [x] Validation API #374
- [x] Element extension (regex) #466
- [x] Element extension (min/max Length) #185
- [x] Handle required fields in questionnaires https://github.com/google/android-fhir/issues/470
- [x] Auto complete https://github.com/google/android-fh

[2021-02-19 08:55] fredhersch opened #255 "[Roadmap] logic library API signatures | ERD 31-05-21"
Provide design and initial implementation of API signatures for the logic library operations support:

- [ ] $measure-evaluate
- [ ]  $apply

These API's will provide access to the cql-evaluator library

[2021-02-19 09:10] fredhersch opened #256 "Beta release of SDC Library"
The beta release represents stable and tested libraries with accompanying documentation.

This release will provide:

* Beta release of the data capture library

[2021-02-19 09:12] fredhersch opened #257 "[Roadmap] Case reporting demo"
Demonstration of providing case reporting as part of reference application or demo

[2021-02-19 09:15] fredhersch opened #258 "Peer to peer sync capabilities"
Discrete R&D project to explore how to provide peer to peer sync capabilities which would augment and further strengthen the offline use cases where applications using the SDK are likely to be deployed

Outcomes of the project:
* Design of peer-to-peer sync approach
* Impact assessment on current core-sdk sync strategy
* Recommendations
* Proof of concept

[2021-02-19 14:04] fredhersch opened #259 "[Roadmap] Add support for FHIR profiles"
Define what support is required and identify the issues for adding this

[2021-02-19 14:04] fredhersch opened #260 "[Roadmap] Add ValueSet support"
Define the requirements for ValueSet support and the issues required to implement

[2021-02-19 14:06] fredhersch opened #261 "[Roadmap] ImplementationGuide deployment"
Implement the design pattern for deploying a FHIR ImplementationGuide to the SDK.

Need to consider the artefacts that are created as part of the ImplementationGuide and specify any constraints (e.g. only support for expanded ValueSets)

[2021-02-19 14:08] fredhersch opened #262 "[Roadmap] logic-alpha-01 release | ERD 30-09-21"
Alpha release of the logic library. The initial feature set of this library will provide support for CQL operations via the external cql-evaluator library including:

- [ ] $measure-evaluate operation #657
- [ ] $apply operation #656
- [ ] helper functions for using the logic library (requirements pending)

[2021-02-19 14:11] fredhersch opened #263 "[R&D] Sync strategy reference implementation"
The sync strategy is critical for real world implementation and defines what patient records are sync'd to a particular users device and why.

As part of a deployment there will be some basic server side requirements including sync strategy.

This project should define:
* Approaches to Syncing
* Different ways that patients can be grouped (using FHIR e.g.
Care Team, Location, Practitioner)
* Sampl

[2021-02-19 14:12] fredhersch opened #264 "[R&D] Proposal for supporting scheduling"

[2021-02-19 14:14] fredhersch opened #265 "[R&D] Care Plan definition and generation of relevant Activity types (tasks etc)"

[2021-02-19 14:14] fredhersch opened #266 "[R&D] Authentication design pattern definition"

[2021-02-19 14:38] jingtang10 commented on #189
I don't think this is acceptable. The order should be maintained too in the
questionnaire response structure.

Jing Tang |  Senior Software Engineer |  jingtang@google.com |  +44 (0)7872
645655

On Wed, 17 Feb 2021 at 12:45, Kashyap Jois <notifications@github.com> wrote:

[2021-02-20 17:11] utzcoz opened #268 "Update Spotless gradle link in README"
The Spotless changed its default branch to main from master.

[2021-02-20 21:33] #268 closed

[2021-02-22 11:43] MuhammadSalman-7214 commented on #226
We can also set hint to autoCompleteTextView rather than textInputLayout, because setting hint to autoCompleteTextView shows text completely no matter how long it is

[2021-02-22 11:59] MuhammadSalman-7214 opened #271 "Application is Crashing when Questionnaire.Item.TypeCode is qual to GROUP"
In MoreQuestionaireItemTypes Class that uses the function
 **fun Questionnaire.Item.EnableWhen.AnswerX.getValueForType(
    type: Questionnaire.Item.TypeCode
): Message**
when the passed input to function is **GROUP**, then the application crashes because GROUP case hasn't been handled yet and it throws exception as "Unsupported value type GROUP"

**Steps to Reproduce:**
Run the dataCapturegallery

[2021-02-22 13:02] MuhammadSalman-7214 commented on #226
Me and @jingtang10 decided to go with TextView as a Question and then the autoCompleteTextView below the question TextView for selecting the answer option. This way question will always be there with any length. @joiskash

[2021-02-22 13:40] joiskash commented on #226
Cool makes sense to me :)

[2021-02-22 13:46] MuhammadSalman-7214 commented on #226
great then

[2021-02-22 13:58] jingtang10 commented on #226
Thanks both. @MuhammadSalman-7214 will you please make sure to post a screenshot here of your prototype before sending out PR? Cheers.

[2021-02-22 14:15] MuhammadSalman-7214 commented on #226
your welcome, sure
![Screenshot_1614003197](https://user-images.githubusercontent.com/64642723/108720221-5dfbb380-7542-11eb-9403-a0e5fddc001d.png)

[2021-02-22 21:14] pld commented on #271
ah good catch, the `getValueForType` extension doesn't support the group type, here's a simple failing test for this, https://github.com/google/android-fhir/compare/enablement-group-type?expand=1

I'm not sure how `enableWhen` should handle group types, recur into contents?

[2021-02-23 03:57] mberg commented on #163
I don't think we want to go with a FAB for form submission.  Once we get paginated forms we'll want to make it super clear where the form ends and where you are supposed to submit!  With OpenSRP we went with an approach where we put submit in the top header and also as a button on the page.  Let me get Roger (lead designer on OpenSRP) added to the repo so he can weigh in.

[2021-02-23 04:00] mberg commented on #227
Wanted to flag the draft state raised @kumaakh is a really important point.  It would be key to be for a lot of different workflows to be able to jump in and out of a specific form (and between the same type of form between clients) before saving.

[2021-02-23 04:03] mberg opened #273 "Questionnaire population with another resource"
This is related to the draft stage suggestion in #227.

One of the things about SDC in FHIR is that a submission will not just create a questionnaire reponse but also potentially create corresponding resources.   We will need to figure out the logic to revert / cancel resources if a questionnaire is edited or potentially deleted.

[2021-02-23 09:52] jingtang10 commented on #273
Thanks @mberg for creating this. I want to break this down a little bit more. The workflow currently is as follows

1. You have a `Questionnaire` from somewhere (loaded from db, downloaded from a server, hardcoded in app, wherever you get it from)
2. You call the sdc lib to draw the form from the `Questionnaire`
3. The user fills out the form
4. You call the sdc lib or the user clicks some button

[2021-02-23 11:42] deepankarb commented on #235
Implemented in #241

[2021-02-23 11:42] #235 closed

[2021-02-23 11:43] jingtang10 commented on #271
Thanks @MuhammadSalman-7214 for creating the issue and adding the details.

@pld I think this is an actual bug. Here https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/enablement/EnablementEvaluator.kt#L71 we shouldn't be passing the type of the question whose enablement status is to be decided. The type there should be the type of the

[2021-02-23 11:45] MuhammadSalman-7214 commented on #271
your welcome @jingtang10

[2021-02-23 11:51] joiskash opened #274 "Nested items are tied to the answer of the parent item"
Based on the discussion [here](https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/Questionnaire.20Response.20example/near/227278538)

This is needed especially in the case of items which are repeatable and have nested items.

[2021-02-23 14:03] jingtang10 commented on #163
thanks @mberg - can you or Roger post some screenshots? I think we will probably end up having the option to have the button inside or outside.

[2021-02-23 14:57] jingtang10 commented on #227
From a UX perspective, do you want the read-only form to be looking the same but all the widgets disabled, or are we talking about a totally different UX?

I think for the sdc library the latter would be out-of-scope. The former makes sense to be a feature of the sdc lib.

[2021-02-23 18:29] jingtang10 commented on #274
also worth mentioning if questions are nested under group, their responses will be nested under group as you'd expect.

[2021-02-23 20:58] mberg opened #275 "[R&D] Ability to update APK and or FHIR resources without internet"
In the context of CHW program in Liberia, we may have users who work offline for months at a time.  In this context, the way they sync data is via P2P with a visiting supervisor who downloads new activity from their device which is then submitted to the server when the supervisor gains access to the Internet.

In this example, it would be ideal if we can do support 2 things.

1 - We would want to

[2021-02-24 11:40] jingtang10 commented on #226
thanks @MuhammadSalman-7214 for your work!

can you do the same for the edit text widget and then we can close this issue.

[2021-02-24 11:47] MuhammadSalman-7214 commented on #226
your welcome @jingtang10, can you please tell me what exactly is required for edit text widget?

[2021-02-24 12:00] jingtang10 commented on #226
See the below example for date (and same for date+time) and edit text widgets

![C7n5X2UcEckhqBB](https://user-images.githubusercontent.com/28757340/108997710-d58f2700-7697-11eb-9725-79b3b13500a2.png)

[2021-02-24 13:09] MuhammadSalman-7214 commented on #226
For date and edit text widgets, its done, but for date + time widgets, we are setting them in a horizontal linear layout which first takes date and then time, so do we want to change here as well as I am not seeing any example of date+time in the application @jingtang10 ?

[2021-02-25 04:33] joiskash commented on #226
@MuhammadSalman-7214 There is an example, check the second questionnaire, the Neonate record . After you select an option for the Vitamin K given question, a new question will show up of type date+time

[2021-02-25 05:55] MuhammadSalman-7214 commented on #226
Thanks @joikash

[2021-02-25 05:55] MuhammadSalman-7214 commented on #226
Thanks @joikash

[2021-02-25 13:45] jingtang10 opened #280 "Rewrite the indexing code using FhirPathEngine"
We have some indexing code in https://github.com/google/android-fhir/tree/master/core/src/main/java/com/google/android/fhir/index where we build indices using refletion. We should try to use https://hapifhir.io/hapi-fhir//apidocs/hapi-fhir-structures-r4/org/hl7/fhir/r4/utils/FHIRPathEngine.html instead to simplify our code.

[2021-02-25 18:46] jingtang10 commented on #67
i think this can be addresssed by #280. Closing this.

[2021-02-25 18:46] #67 closed

[2021-03-03 11:25] jingtang10 commented on #201
An example can be found here: http://build.fhir.org/ig/HL7/sdc/examples.html#using-sliderstepvalue

[2021-03-03 17:35] shoaibmushtaq25 commented on #271
As I understood, To resolve the issue, we need to pass type of questionaire response item from `questionnaireResponseItemRetriver` here https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/enablement/EnablementEvaluator.kt#L71 instead of passing the type of question `questionnaireItem.type`. Am I understood right? @jingtang10

[2021-03-04 09:50] jingtang10 commented on #271
@shoaibmushtaq25 yeah that's right. The only problem is that the questionnaire response item doesn't have a type. so maybe one thing you can do is to modify the retriever so it returns a pair of questionnaire item + questionnaire response item.

[2021-03-05 01:08] jingtang10 commented on #275
thanks matt!

1. can you share the p2p library you'll be using?
2. i don't think we ever want to update the sdk without updating the apk. so this really is a question of how to update apps. play store does some clever stuff but i don't know they are applicable in the offline setting where you probably just want to adb install. i think this item is out-of-scope for this codebase.

[2021-03-05 01:32] pld commented on #275
This is the p2p library OpenSRP currently uses, https://github.com/OpenSRP/android-p2p-sync

On (2) agree, oos

[2021-03-05 01:37] jingtang10 opened #282 "Improve ResourceIndexerTest.kt"
https://github.com/google/android-fhir/blob/master/core/src/test/java/com/google/android/fhir/index/impl/ResourceIndexerTest.kt

- It's really difficult to read the tests because the actual test resources are hidden away in json files in a different folder
- It would be good to really lock down the behavior by having exhaustive unit tests
- It might be useful to have some 'integration tests' where

[2021-03-05 01:44] jingtang10 opened #283 "Use integer or real as the data type for number index"
At the moment we use BigDecimal stored as strings in the database number index tables: https://github.com/google/android-fhir/blob/master/core/src/main/java/com/google/android/fhir/db/impl/DbTypeConverters.kt#L51

This defeats the point of having number index. We should change the underlying data type to be integer or real (sqlite data type for decimal). It's not clear to me if we should create a

[2021-03-05 01:46] pld commented on #233
Enforcing through CI could be part or follow-up of this

[2021-03-05 01:46] pld commented on #282
Related to the broader theme of code coverage mentioned here is this issue about tracking coverage and enforcing in CI, https://github.com/google/android-fhir/issues/233

[2021-03-05 02:09] jingtang10 opened #285 "Handle date search parameters when the data type isn't date"
the data type could be

- date
- dateTime
- instant
- Period
- Timing

See https://www.hl7.org/fhir/search.html#date. At the moment we only index the date values. We need to handle the other 4 types of values.

[2021-03-05 02:13] jingtang10 commented on #92
I believe this would be resolved by #281. @deepankarb can you verify please?

[2021-03-05 05:08] deepankarb commented on #92
Thanks @jingtang10 I am looking at #281.

[2021-03-05 06:35] joiskash opened #286 "Validate data type and item nesting within answers for repeated answers while prefilling UI with a Questionnaire response"
We need to validate the Questionnaire Response structure with that of the Questionnaire before prefilling the UI. This is to make sure that this particular questionnaire response has been generated by answering the current questionnaire.
Currently we only validate nesting of item within group and the linkId.

We will also have to add checks to make sure:

1. The data type of the questionnaire-item

[2021-03-05 12:08] joiskash opened #289 "Memory leak warning by Android studio in ViewHolderFactories"
**Describe the bug**
IDE warning :

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Open QuestionnaireItemCheckBoxViewHolderFactory and hover above the line `private lateinit var checkBox: CheckBox`

You will see the above warning,

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots t

[2021-03-05 12:15] jingtang10 commented on #289
Thanks for raising this @joiskash.

I must say I don't fully understand the warning. We create a new object for each view holder so I don't believe this is a static field. @yigit is this a misleading warning? Or are we actually risking leaks?

[2021-03-05 13:01] #226 closed

[2021-03-05 16:43] jingtang10 commented on #98
the index tables don't currently store the sqlite id directly. are you suggesting we add that as an additional column in each index table?

[2021-03-05 16:44] jingtang10 commented on #274
See this discussion on fhir chat: https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/Questionnaire.20Response.20example

[2021-03-08 08:58] jingtang10 commented on #73
A more recent run: https://github.com/google/android-fhir/runs/2054399134?check_suite_focus=true

This blocked code submission over the weekend. We should treat this as high-priority.

[2021-03-08 09:52] jingtang10 opened #290 "Use ktfmt"
Start using https://github.com/facebookincubator/ktfmt

Under this issue please do the following

- Research the pros and cons of using ktfmt (background: https://github.com/google/android-fhir/discussions/246#discussioncomment-431418) and document them in this issue
- Update the `build.gradle` file to use ktfmt (if we're going ahead with this) and potentially converting some existing code
- Updat

[2021-03-08 09:59] jingtang10 commented on #289
I have clicked "Provide feedback on this warning" and reported this as a false positive.

[2021-03-08 10:00] jingtang10 opened #291 "Convert all API methods to suspend functions"

[2021-03-08 10:48] jingtang10 commented on #73
Related issue: https://github.com/ReactiveCircus/android-emulator-runner/issues/131

[2021-03-08 17:12] jingtang10 commented on #290
FYI: @deepankarb @pankajkatoch @yigit @pld @MuhammadSalman-7214 @joiskash @kunjan8794

[2021-03-09 13:57] jingtang10 opened #292 "Handle composite search parameters in the indexing code"
https://github.com/google/android-fhir/pull/281#discussion_r589413068

https://www.hl7.org/fhir/search.html#composite

[2021-03-09 13:58] jingtang10 opened #293 "Handle location search parameters in the indexing code"
https://github.com/google/android-fhir/pull/281#discussion_r589413068

https://www.hl7.org/fhir/search.html#special

[2021-03-09 17:24] #92 closed

[2021-03-09 17:24] #280 closed

[2021-03-09 22:42] s-ayush2903 commented on #154
I would like to work on this issue(if allowed), I have knowledge of Jetpack navigation patterns and have implemented in some of mine mini applications. Also, do we have some mockups that I need to follow while implementing the navigation pattern.
Thanks

[2021-03-09 22:49] s-ayush2903 commented on #184
Are we going to follow the robot pattern for testing the activities and fragments(mostly UI testing), also what we'll use, UI automator or espresso?

[2021-03-09 22:53] s-ayush2903 commented on #218
How exactly is the "click" supposed to be unit-tested? If it were an instrumentation test then we could verify the nature of click via seeing if the corresponding dropdown occurs or not, but how is it going to be unit tested? Can you please throw some light on it, it would be very kind of you, thanks

[2021-03-09 23:27] s-ayush2903 commented on #290
@deepankarb Should I give this issue a shot if you haven't started working on it yet, because I want to acquaint myself with the project codebase and therefore finding some ways to contribute and learn

[2021-03-09 23:41] jingtang10 commented on #218
Thanks @s-ayush2903. I've updated the title of the issue. Will you be interested in taking this issue?

[2021-03-09 23:43] s-ayush2903 commented on #218
Yes, definitely. But I have a question, our automated testing architecture would be a/c to what, I mean we would be using espresso or UI automator along with robot pattern?

[2021-03-09 23:50] jingtang10 commented on #290
Apologies @deepankarb and @s-ayush2903... I was just finishing #294 which I just linked here.

I've compared ktfmt, ktlint, and diktat. One really cool thing about spotless which we use is that you can use multiple linters (it's a linter aggregator). So we can totally use ktlint and ktfmt as well as diktat all together to benefit from their different strengths.

As an example, I've discovered that

[2021-03-10 00:02] jingtang10 commented on #218
Yes I think we would be using espresso and/or UI automator. Will you be able to do some research and create a draft PR please?

[2021-03-10 00:06] jingtang10 commented on #154
if you want to take this issue, please first try the application in the module `datacapturegallery`. the navigation pattern is fairly simple (for now).

[2021-03-10 00:08] s-ayush2903 commented on #218
Yes

[2021-03-10 00:28] jingtang10 commented on #218
Please don't wait as that PR hasn't been approved yet. Also it's only a reformatting PR so although it will cause conflicts it should be easy to resolve. If you're rebasing please just make sure that you're using the version on your own branch and ignore the master's HEAD. that way the only thing you have to do after rebasing is to rerun `./gradlew spotlessApply`. I hope this makes sense.

[2021-03-10 01:37] deepankarb opened #295 "Not insert a local change row when the Resource diff is empty"
**Describe the bug**
A clear and concise description of what the bug is.

**Component**
Core library

**To Reproduce**
Steps to reproduce the behavior:
1. Insert a new `Resource`
2. Do not modify the `Resource` instance
3. Update the `Resource` with `FhirEngine.update(resource)`

**Expected behavior**
Since we didn't make any change and the JSON diff is an empty array : `[]`, no row should be inse

[2021-03-10 01:40] #289 closed

[2021-03-10 08:00] deepankarb opened #296 "Insert unqualified (logical) ids for resources instead of fully qualified ids"
**Describe the bug**
Upon sync, fully qualified IDs are being inserted into the database (in Resource, Index and Local change tables). This leads to crashes when deserialised resources are updated.

**Component**
Core library

**To Reproduce**
Steps to reproduce the behavior:
1. Sync resources from the HAPI FHIR server (happening automatically in the reference app.
2. Modify any resource property

[2021-03-10 08:39] deepankarb opened #299 "Data class for squashed local changes"
To avoid race conditions when deleting local changes the internal API returns a token (list of ids) paired to the squashed local change. This can be better encapsulated in another data class instead of the current `Pair` based implementation.

[2021-03-10 08:41] deepankarb opened #300 "Do not create local change when syncing resources"
Insert synced resources using `insertRemote()/insertAllRemote()`

[2021-03-10 09:08] jingtang10 commented on #296
Does this also address #96?

[2021-03-10 09:21] deepankarb commented on #296
Yes it should.

[2021-03-10 11:56] #290 closed

[2021-03-10 15:34] masterishaan19 commented on #163
Is this issue still open ?? Can I work on this ??

[2021-03-10 23:00] s-ayush2903 commented on #184
I'll take up this issue once it is clear/finalized what to use.

[2021-03-11 05:36] masterishaan19 commented on #271
Can I work on this issue ?? Is it still open for work ??

[2021-03-11 07:32] shoaibmushtaq25 commented on #271
Hey @masterishaan19 , I am working on it and it's about to complete.

[2021-03-11 08:57] epicadk commented on #291
Can I work on this issue?

[2021-03-11 08:58] s-ayush2903 commented on #291
@epicadk It already has a PR, see #304

[2021-03-11 08:59] epicadk commented on #291
Oh oops didn't see it cuz it wasn't linked. Thanks

[2021-03-11 09:42] Manikant25 commented on #185
Can I work on the issue?

[2021-03-11 09:56] pankajkatoch commented on #185
Hi Manikant,
If you have a context and background of this project, and have some knowledge of FHIR, then sure go ahead.
Otherwise I had planned to handle it next week.

Thanks.

[2021-03-11 10:02] s-ayush2903 commented on #185
@Manikant25 We already have a PR for this, see #224

[2021-03-11 10:03] Manikant25 commented on #185
No, I don't know much about the project if you are doing keep doing.
Thanks

[2021-03-11 10:04] Manikant25 commented on #185
@s-ayush2903 Thanks for informing me.

[2021-03-11 10:16] jingtang10 commented on #185
#224 is about min and max *value* rather than min and max *length*.

@pankajkatoch do you have an estimated date for this one?

thanks all!

[2021-03-11 10:18] jingtang10 commented on #184
oops sorry i forgot to add this link: https://developer.android.com/guide/fragments/test

[2021-03-11 10:19] epicadk commented on #216
can I work on this?

[2021-03-11 10:32] jingtang10 commented on #216
I believe @joiskash was gonna take this.

[2021-03-11 11:47] MuhammadSalman-7214 commented on #202
@jingtang10 where do we want to show prefixes in questions ? please specify. Thanks

[2021-03-11 11:59] joiskash commented on #216
Yup that's right :)

[2021-03-11 12:07] jingtang10 commented on #202
@MuhammadSalman-7214 yes that's the main focus of this issue. At the moment the prefixes are not handled/shown.

[2021-03-11 12:08] jingtang10 commented on #202
updated the description.

[2021-03-11 12:09] MuhammadSalman-7214 commented on #202
so, we want to show prefix for every question @jingtang10  or with only specific question @jingtang10 ?

[2021-03-11 12:14] jingtang10 commented on #202
I believe by default we should just show it for all questions. no reason to hide it for some questions. What do you think?

If you have doubts please feel free to use https://chat.fhir.org/#narrow/stream/179255-questionnaire to ask quesitons about the expecation of the standard itself.

What I'm not sure about is if we should use two different text views or concatenate the strings in one text view

[2021-03-11 12:19] jingtang10 commented on #163
this is open but i think we need to do some product and UX work here first.

[2021-03-11 12:19] MuhammadSalman-7214 commented on #202
One thing is if we want to show prefix for each questionnaire, then we have to add the code in all the factory classes to show prefix with question, right @jingtang10 ?

I think rather than two different textviews, we should concatenate the prefix before question text, it's advantage is that we do not have to change xml at all, only the code files will change

[2021-03-11 12:23] jingtang10 commented on #202
Yes this will touch all view types.

I'm not sure I necessarily agree we should simply do the easiest thing.

One important consideration is that if the prefix needs to be rendered different (e.g. different color, size, font) then having it in the same text view would not be able to achieve that. Do you know if there's ever an expectation that it might need to be rendered differently? Can you do s

[2021-03-11 12:25] MuhammadSalman-7214 commented on #202
I understand your point, but from where should I research or from where should I ask
https://chat.fhir.org/login/#narrow/stream/179255-questionnaire
should I ask on this link?

[2021-03-11 12:26] s-ayush2903 commented on #202
I have a question, why we don't want to change XML? I believe it can be done with a little more effort using the data binding and conditionally adding the prefixes to the text needed

[2021-03-11 12:40] MuhammadSalman-7214 commented on #202
it's not that we don't want to change the xml, currently we are discussing the solutions

[2021-03-11 13:05] s-ayush2903 opened #307 "Migrate Groovy gradle files to Kotlin scripts"
**Is your feature request related to a problem? Please describe.**
Currently the gradle files contain a lot of stuff which they do not need to handle indeed, such as storing the version numbers/ids, raw dependencies' names in strings. They can be cleaned up and via separating the functionalities, they'll be more readable and understandable.

**Describe the solution you'd like**
Conversion from gro

[2021-03-11 17:40] Manikant25 commented on #163
@jingtang10  Can I work on it?

[2021-03-11 18:13] epicadk opened #309 "Spelling mistake in QuestionnaireActivity.kt"
https://github.com/google/android-fhir/blob/b338ed4fdad4bf61fec751fc4a6a4001fb7d8c7f/datacapturegallery/src/main/java/com/google/android/fhir/datacapture/gallery/QuestionnaireActivity.kt#L82

https://github.com/google/android-fhir/blob/b338ed4fdad4bf61fec751fc4a6a4001fb7d8c7f/datacapturegallery/src/main/java/com/google/android/fhir/datacapture/gallery/QuestionnaireActivity.kt#L70

Spelling of Ques

[2021-03-11 18:23] epicadk commented on #309
Just for future reference I wanted to ask if contributors should wait till a maintainer validates the issue or can we just send it prs?

[2021-03-11 18:27] jingtang10 commented on #309
For spelling issues like this, you can just send a PR without creating an issue. But if it's a proper bug or a feature request please always create an issue and get the owners/maintainers to comment first.

Thanks!

[2021-03-11 21:30] Prakhar-Agarwal-byte commented on #163
@jingtang10 I want to work on this. Please assign it to me.

[2021-03-11 21:31] Prakhar-Agarwal-byte commented on #154
@jingtang10 I have tried the `datacapturegallery` application can I work on this issue, please?

[2021-03-12 08:50] MuhammadSalman-7214 commented on #202
so how are we going about it @jingtang10 ?

[2021-03-12 11:01] jingtang10 commented on #202
did you get a chance to ask the question in the zulip chat stream?

as i said i'm concerned about the customization of styling for prefix and the main question text. so having 2 different views gives more flexibility.

[2021-03-12 12:46] MuhammadSalman-7214 commented on #202
posted it just now in the zulip chat stream

so should I start to add text views in every factory class then @jingtang10 ?

[2021-03-12 13:59] epicadk opened #318 "Enable view binding in data capture gallery"
**Is your feature request related to a problem? Please describe.**

https://developer.android.com/topic/libraries/view-binding

I can work on this if it is approved.

[2021-03-12 14:11] s-ayush2903 opened #319 "Reference app crashes when asked for evaluation"
**Describe the bug**
Reference App in cql loading screen crashes when asked for evaluation

**Component**
Reference Application

**To Reproduce**
Steps to reproduce the behavior:
1. Click on `Load CQL Resources & Patients` from the menu at top right
2. Click evaluate button and witness the crash

The crash occurs irrespective of the arguments supplied, i.e., no matter whether those params are empt

[2021-03-12 16:06] Manikant25 opened #320 "Data Capture Gallery app crashes"
**Describe the bug**
When Covid-19 Case Report is clicked in Data Capture Gallery App, it crashes.

**Component**
 SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Click on `COVID-19 Case Report`

**Expected behavior**
No crash

**Screenshots**
[Error shown in logcat](https://github.com/Manikant25/Monster-Killer-Game/blob/master/Screenshot%20(531).png)

**Smartphone (please co

[2021-03-12 17:45] s-ayush2903 commented on #320
Already reported, see #271 & #308

[2021-03-12 17:50] Manikant25 commented on #320
Thanks for informing me.

[2021-03-12 17:50] #320 closed

[2021-03-13 12:59] maanuanubhav999 opened #322 "Add chat link in Contributions"
Chat links were not found on the **main page** and doing so could help in smoother communication with new users.

Also enabling new stream in zulip chatbox for android-fhir

ie. https://chat.fhir.org/#android-fhir

[2021-03-13 13:39] epicadk commented on #322
I think the zulip link you shared is for communications pertaining to the standard itself and not this project.

[2021-03-13 13:44] jingtang10 commented on #322
thanks both.

there is an existing stream on zulip (albeit quiet): https://chat.fhir.org/#narrow/stream/276344-android. so we should stick to that.

the zulip chat stream is for android in general and is not limited to this project. so i suggest it be listed as an addtional resource but it's not a chat for this repo.

[2021-03-13 13:48] maanuanubhav999 commented on #322
okay, closing issue.

[2021-03-13 13:50] jingtang10 commented on #322
i think it doesn't harm adding the chat link to the wiki pages by the way.

[2021-03-13 14:12] #309 closed

[2021-03-13 23:58] jingtang10 commented on #319
Thanks for creating this issue. The current plan is to remove this the `Load CQL Resources & Patients` from the reference application and place it in a separate reference application.

[2021-03-14 09:45] maanuanubhav999 commented on #322
@jingtang10  sure, should I add it under developer's guide or user's guide.

[2021-03-14 15:12] epicadk commented on #154
I have tried the `datacapturegallery` too. I can work on this.

[2021-03-14 16:19] s-ayush2903 commented on #154
@epicadk You should've atleast commented here before starting, I had uncommitted work for this issue since the day I commented here to work : (

[2021-03-14 16:41] epicadk commented on #154
Oops sorry. I'll thought since you didn't respond to @jingtang10 you weren't working on it. I had started a few hours before I commented but I was having connectivity issues where I stay. If you are done I'll close the pr it's WIP anyways . Sorry 😥.

[2021-03-14 16:42] s-ayush2903 commented on #186
I would like to work on this issue.

[2021-03-14 16:44] s-ayush2903 commented on #154
Nope don't close it, go ahead with your PR :v:

[2021-03-14 16:46] epicadk commented on #154
Thanks and sorry. I'll be sure to keep it in mind next time.

[2021-03-14 16:55] epicadk commented on #154
Okay I realize @Prakhar-Agarwal-byte was working on the issue too. I'll close it if you are working on it.

[2021-03-14 17:23] jingtang10 commented on #322
Thanks. I've done it.

[2021-03-14 17:23] #322 closed

[2021-03-14 17:41] jingtang10 commented on #154
Thanks everyone. Appreciate the participation.

With this issue since @epicadk has opened a PR I'm happy to assign this to @epicadk. But going forward please make sure to communicate your intention, any questions, the action plan, and critically any design considerations before starting working on a PR.

@s-ayush2903 and @Prakhar-Agarwal-byte if you already have done a bit of work but haven't sent

[2021-03-14 17:45] jingtang10 commented on #319
Actually @s-ayush2903, would it be possible to migrate your work to a different module. Maybe called `cqlreference`. Basically move that activity to a different app.

@fredhersch fyi

[2021-03-14 18:06] s-ayush2903 commented on #319
Yep, I'll do that!

[2021-03-15 13:17] epicadk commented on #184
@s-ayush2903 I noticed you are working on #186 . Are you working on this as well or can I take it up?

[2021-03-15 15:07] jingtang10 commented on #202
https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/Question.20Prefix

[2021-03-15 15:15] epicadk commented on #285
Can I work on this?

[2021-03-15 18:05] epicadk commented on #285
Btw are we not indexing the instant values as well?
 https://github.com/google/android-fhir/blob/85a4e853e597b0ec75c6f27bf467e3ec7789330a/core/src/main/java/com/google/android/fhir/index/ResourceIndexer.kt#L125-L134

[2021-03-16 09:45] jingtang10 opened #330 "Remove the cql demo from the main reference app"
Also remove the cql apis from the core lib.

- Remove `cql` package in the `core` module
- Remove the `evaluateCql` API form `FhirEngine`
- Move the cql demo to a separate reference app with hard-coded resources.

[2021-03-16 23:11] s-ayush2903 commented on #201
This has been solved in #287, Issue can be closed.

[2021-03-17 00:15] jingtang10 commented on #201
Thanks @s-ayush2903!

[2021-03-17 00:15] #201 closed

[2021-03-17 02:01] mberg commented on #263
Here are a couple of the sync scenarios we currently support with OpenSRP.

**Location Based**

In OpenSRP, we currently assign each patient a location.  This is defined typically by the location of their provider.  Access to the patient records is defined by the location level.

- CHW A is assigned to Village 1.  CHW A would have access to all patients in Village 1.
- CHW B is assigned to Village

[2021-03-17 14:10] jingtang10 commented on #307
Thanks for filing this - yes I believe this is a valid item. @yigit @kevinmost for any additional input.

[2021-03-18 05:15] Ana2k commented on #163
@jingtang10 if this issue is still open can you please assign this issue to me? I think I can fix this issue.

[2021-03-18 07:06] ayush1729cpp commented on #307
i would like towork upon this issue . reply if i can start?

[2021-03-18 07:25] epicadk commented on #307
I think @s-ayush2903 is working on this.

[2021-03-18 07:46] s-ayush2903 commented on #307
@ayush1729cpp, I'd be creating a pull request soon for this issue, you can take up some other ones.

[2021-03-18 16:19] Ana2k opened #336 "Gradle Sync Failure"
**Describe the bug**
Gradle Sync failure due to beta version

**To Reproduce**
Steps to reproduce the behaviour:
1. Fork the repo
2. Build the app in stable version of Android studio

**Expected behavior**
Succesful Gradle Snc and stable build of app.

**Screenshots**
![Screenshot from 2021-03-18 21-31-32](https://user-images.githubusercontent.com/54909114/111657576-9173ea00-8831-11eb-830a-b0e2e1d

[2021-03-18 16:20] Ana2k commented on #336
@jingtang10 I would like to work on this issue. Can you assign it to me please?

[2021-03-18 16:27] epicadk commented on #336
You can take a look at [this discussion](https://github.com/google/android-fhir/discussions/312)

[2021-03-18 20:04] epicadk commented on #282
Can I work on this? I have added some unit tests in #332 I'll setup the integration tests in a different folder.

[2021-03-18 20:14] Manikant25 opened #340 "Replace capitialize() with capitalize(Locale.ROOT)"
**Describe the bug**
This is a suggestion given by android studio to use capitalize(Locale.ROOT)
`Implicitly using the default locale is a common source of bugs: Use capitalize(Locale) instead. For strings meant to be internal use Locale.ROOT, otherwise Locale.getDefault().`

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Double click shift
2. Search for  `Reso

[2021-03-18 22:32] Manikant25 opened #342 "Redundant Namespace in XML"
**Describe the bug**
There is an extra namespace declaration in the child view.

**Component**
 SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to datacapure module
2. Click on res
3. Scroll down to 'layout'
4. click on questionnaire_item_radio_group_view.xml

**Expected behavior**
The parent view already has a namespace, so there is no need to declare again in child view.

[2021-03-19 06:20] deepankarb opened #346 "Add tests to prevent empty/no-op local changes"
The squashing algorithm works fine with empty changes. There's no API besides checking the table for row count change. Not sure how to test this reliably. I'll think a bit more about this.

_Originally posted by @deepankarb in https://github.com/google/android-fhir/issues/303#issuecomment-795444119_

[2021-03-19 10:52] Ana2k commented on #336
@epicadk I had resolved the issue and made a pr already.
 Thanks for the discussion thread link anyways!

[2021-03-19 10:57] Ana2k opened #349 "Add Pull Request Template"
**Is your feature request related to a problem? Please describe.**
Uniform template for making pull requests for all contributors.

**Describe the solution you'd like**
Creating a pull request template for this repository, using Github Docs.

**Describe alternatives you've considered**
Adding certain features to this templates required by codeReviewer

[2021-03-19 11:00] Ana2k commented on #349
@jingtang10 @deepankarb I would like to implement this issue.

[2021-03-19 11:11] Ana2k opened #350 "Add chore issue template"
**Is your feature request related to a problem? Please describe.**
Addition of Chore template for changes in documentation-workflow-dependency related code changes.
This will increase the clarity of issue type.

**Describe the solution you'd like**
Adding a separate issue template.

**Describe alternatives you've considered**
Making further issue template changes as required by code reviewers.

[2021-03-19 11:12] Ana2k commented on #350
@jingtang10 @deepankarb I would like to implement this feature.

[2021-03-19 11:51] jingtang10 commented on #340
We shouldn't make this change. The capitalization is used for reflection. The method name doesn't change depending on the user's locale. The current code is correct.

Instead, please add `@SuppressLint("DefaultLocale")`.

[2021-03-19 16:58] #154 closed

[2021-03-19 16:58] #318 closed

[2021-03-19 18:00] epicadk commented on #342
since #344 was merged this can be closed.

[2021-03-19 18:01] #342 closed

[2021-03-19 18:17] jingtang10 commented on #189
@joiskash can this be closed or is there something else you're still working on?

[2021-03-19 18:19] joiskash commented on #189
This can be closed thanks :)

[2021-03-19 18:20] jingtang10 commented on #189
thanks and well done for resolving this issue.

[2021-03-19 18:20] #189 closed

[2021-03-19 18:53] Ana2k opened #355 "Rename code-of-conduct.md to gsoc-guidelines.md"
Currently, the [code-of-conduct.md](https://github.com/google/android-fhir/blob/master/docs/code-of-conduct.md) file contains Google Open Source Community Guidelines.

So, it should be renamed to differentiate from another  file [CODE_OF_CONDUCT.md](https://github.com/google/android-fhir/blob/master/CODE_OF_CONDUCT.md) .

[2021-03-19 18:54] Ana2k commented on #355
@jingtang10 @deepankarb  I would like to work on this issue.

[2021-03-19 19:13] jingtang10 commented on #355
i see we have 2 code of conduct docs. we should merge them. but i don't understand why one of them needs to be renamed to gsoc-guidelines.

[2021-03-19 19:48] Ana2k opened #356 "Shift CODE_OF_CONDUCT.md to docs"
[CODE_OF_CONDUCT.md](https://github.com/google/android-fhir/blob/master/CODE_OF_CONDUCT.md)preferred to be kept in the docs folder.
Since its a documentation file, so as per convention it should be kept in the docs folder.

[2021-03-19 19:49] Ana2k commented on #356
@jingtang10 @deepankarb I would like to implement this.

[2021-03-20 09:03] s-ayush2903 commented on #184
@jingtang10 The spelling of _Questionnaire_ in the issue title is wrong :laughing: , change it before someone opens a PR for it 😝

[2021-03-20 09:28] epicadk commented on #184
😅

[2021-03-20 10:41] s-ayush2903 commented on #184
I didn't intend it specifically for someone, just had in my head that there were few PRs related to it :sweat_smile:. Apologies if it made you feel uneasy :disappointed:.

[2021-03-20 12:30] Manikant25 opened #359 "Minor code improvements"
**Describe the bug**
Some improvements to make the code more readable and clean.

**Component**
 reference app, SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
N/A

**Expected behavior**
Same behavior

**Screenshots**
N/A

**Additional context**
Add any other context about the problem here.

[2021-03-20 12:59] s-ayush2903 commented on #271
Can be closed in #308

[2021-03-20 13:03] epicadk commented on #184
No relax 😂.

[2021-03-20 17:26] epicadk commented on #282
I was making a few of my own FHIR resources for testing and I had a question. Should I only add resources marked as normative to the tests or will an [maturity level](https://www.hl7.org/fhir/versions.html#maturity) do?

[2021-03-20 17:36] Ana2k commented on #355
Ok sure I am creating a pr and merging them.
Thank you for the specifics.

[2021-03-20 17:41] Ana2k commented on #356
as per discussion in #355 I will merge both files and shift it to docs.

[2021-03-20 18:06] epicadk commented on #238
Can I work on this?

[2021-03-20 18:18] Ana2k opened #362 "Update issue templates"
Update Bug Report and Feature Report templates, to ask the issue creator whether they want to work on the issue they are creating.

[2021-03-21 05:33] epicadk commented on #292
I'd like to work on this.

[2021-03-22 07:23] epicadk commented on #293
I'd like to work on this.

[2021-03-22 08:08] sakets3010 commented on #185
@jingtang10 i would like to work upon this issue, if its still available.

[2021-03-22 08:41] sakets3010 commented on #163
@jingtang10 while you're at it, you might also wanna change the border colors (usually the secondary color in colors.xml) of outline styled text fields for dark mode. Attaching screenshots for reference (see how the edit text fields become visible when clicked upon but not other wise)

![1616401616010](https://user-images.githubusercontent.com/63781668/111962110-e9536f00-8b17-11eb-9ecc-5e462697c91

[2021-03-22 08:44] epicadk commented on #163
@sakets3010 please use the markdown `<img>` tag or `<table>` tag so that it is easier to view the images.

[2021-03-22 09:07] sakets3010 commented on #163
@epicadk thanks for pointing out,hope it looks better now.

[2021-03-22 09:36] kartikeysaran commented on #286
Can i work on this if available

[2021-03-22 09:46] jingtang10 commented on #355
did you see any instructions on creating gsoc-guidelines.md from gsoc?

[2021-03-22 09:49] #202 closed

[2021-03-22 09:59] s-ayush2903 commented on #57
I would like to work on this issue.

[2021-03-22 10:16] deepankarb opened #366 "Support for uploading resources to FHIR server"
**Is your feature request related to a problem? Please describe.**
The SDK supports downloading `Resources` from a FHIR server and making local modifications. There's no way to upload the modifications back to the server.

**Describe the solution you'd like**
Upload the changes back to the server in a FHIR-compliant way.

**Describe alternatives you've considered**
This is a core feature.

**Futur

[2021-03-22 10:21] deepankarb opened #367 "Integration tests for Resource sync"
@jingtang10 Individually both resource sync and local change management work fine.  Integration tests for resource sync are missing :)

_Originally posted by @deepankarb in https://github.com/google/android-fhir/issues/302#issuecomment-795363609_

We need to implement integration test for Resource sync.

[2021-03-22 10:26] s-ayush2903 commented on #367
So by integration test here, we mean instrumentation test which mean using real device? I can push a fix for it in which we'll be verifying if the sync actually takes place via observing the UI

[2021-03-22 11:34] shoaibmushtaq25 commented on #271
PR #308 around this issue has been merged, so closing the issue too.

[2021-03-22 11:34] #271 closed

[2021-03-22 12:17] jingtang10 commented on #163
Thanks for reporting this @sakets3010. Can you please create a separate issue with screenshots? By the way I'm not seeing this behavior on my device.

[2021-03-22 12:20] jingtang10 commented on #163
We have not had clear direction on this one. @fredhersch @rowo. Plus, the current look and feel is consisten with material guidelines. I'm going to close this. Please feel free to reopen with a mock. Thanks!

[2021-03-22 12:20] #163 closed

[2021-03-22 12:26] sakets3010 commented on #163
@jingtang10 sure,i will mention the device name in a separate issue.

[2021-03-22 12:50] sakets3010 opened #368 "Low border visibility for outline styled edit text fields when dark mode is enabled"
**Describe the bug**
As discussed with @jingtang10 in the comment ,https://github.com/google/android-fhir/issues/163#issuecomment-804018707, the borders of the material edit text fields are not visible for my device with dark mode enabled (screenshots 1 and 2 for reference, notice how the field borders are visible when clicked upon but not otherwise)

When tested after disabling dark mode, the bor

[2021-03-22 12:52] sakets3010 commented on #368
willing to add dark mode support for the app if required. Thanks!

[2021-03-22 16:03] #359 closed

[2021-03-22 16:22] jingtang10 commented on #184
@s-ayush2903 I've updated the title of this issue - the `QuestionnaireFragment` in question is the one in the `datacapture` module rather than the `datacapturegallery` module. Sorry if this wasn't clear.

[2021-03-22 17:16] s-ayush2903 commented on #184
Thanks for info! Then what to do with the linked PR, Probably create an issue that targets the test it proposes, thoughts?

[2021-03-22 17:51] jingtang10 commented on #336
Please see developer's guide here: https://github.com/google/android-fhir/wiki/Developer's-Guide which recommends using AS 4.2. I'm closing this issue and if your issue isn't resolved after upgrading to 4.2 please feel free to re-open with more details. Thanks!

[2021-03-22 17:51] #336 closed

[2021-03-22 19:06] #355 closed

[2021-03-22 19:06] #356 closed

[2021-03-22 19:47] #362 closed

[2021-03-22 19:58] jingtang10 commented on #282
@epicadk please feel free to send a pr

[2021-03-22 22:28] #349 closed

[2021-03-22 23:14] jingtang10 opened #372 "Implement initial value in questionnaire"
Implement the initial value as specified here:
https://www.hl7.org/fhir/questionnaire-definitions.html#Questionnaire.item.initial

[2021-03-23 08:13] #319 closed

[2021-03-23 08:13] #330 closed

[2021-03-23 09:09] jingtang10 opened #373 "Convert APIs to suspend functions"

[2021-03-23 09:09] #228 closed

[2021-03-23 09:27] jingtang10 commented on #368
I'm on a Pixel 4a
Android version: RQ2A.210405.005

[
![Screenshot_20210323-091831](https://user-images.githubusercontent.com/28757340/112123988-c5e10080-8bb9-11eb-8f4a-d1d9f1026243.png)
](url)

[2021-03-23 10:43] #295 closed

[2021-03-23 11:26] atm1504 commented on #336
@jingtang10 I was scrolling through the issue section and found this issue. Even, while building the app I faced the same issue. I went through the guidelines  https://github.com/google/android-fhir/wiki/Developer's-Guide and found that it asks to use 4.2+ version of the android studio which is the beta version currently.

I did as stated. I downloaded the latest beta release which is Android 4.Be

[2021-03-23 11:31] jingtang10 opened #374 "API for validation in the sdc lib"
Estimated effort: 3 days
Estimated date of completion: **18th June 2021**

We want to be able to validate the questionnaire response without necessarily saving the questionnaire response. This can be exposed as a new API in the sdc lib.

this would help https://github.com/OpenSRP/fhircore/issues/19#issuecomment-800180289:  `Validate details as entered by the user for data types and also mandatory/

[2021-03-23 11:40] jingtang10 opened #375 "Support date and date time in search"

[2021-03-23 11:40] jingtang10 commented on #375
https://github.com/OpenSRP/fhircore/issues/20

[2021-03-23 11:42] jingtang10 opened #376 "Support contains for string search"
related to https://github.com/OpenSRP/fhircore/issues/20 but this shoud not block it as the first version would target at simplest use case with exact match.

See spec https://www.hl7.org/fhir/search.html#modifiers

[2021-03-23 11:54] jingtang10 opened #377 "SDC Population"
See http://build.fhir.org/ig/HL7/sdc/populate.html

we need to design an API and implement this spec. probably the reverse of [`ResourceMapper.extract`](https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/mapping/ResourceMapper.kt#L58) so it would take a `Questionnaire` and `Base` and returns a `QuestionnaireResponse`.

[2021-03-23 15:54] #96 closed

[2021-03-23 15:54] #296 closed

[2021-03-23 16:03] deepankarb commented on #336
So downgrading is not possible and we are tied to `4.2-beta-02` currently. Till we hit a stable AS 4.2 here are some workarounds:

* Switch to your AGP version e.g. `4.2-beta-06` or whatever studio beta you are on by modifying `deps.gradle`. Cons: You have to be careful about not checking in your gradle version changes to `deps.gradle` (i.e. revert before commit or don't add `deps.gradle` to the i

[2021-03-23 16:28] #300 closed

[2021-03-23 17:24] Ana2k opened #379 "Migrate hardcoded strings to strings.xml value file"
**Is your feature request related to a problem? Please describe.**
Strings in value file, make for easy changes in UI, reusability etc.

**Describe the solution you'd like**
Migrate the hardcoded strings to strings.xml file.

**Describe alternatives you've considered**
N/A

**Additional context**
One example file includes:https://github.com/google/android-fhir/blob/master/core/src/main/java/com/go

[2021-03-23 17:52] Ana2k opened #380 "Add unit test for the Util.kt file in the core module"
**Describe the solution you'd like**
Add unit test for the Util.kt

**Additional context**
#233 issue number adds a similar point.

**Would you like to work on the issue?**
Yes.

[2021-03-23 17:53] epicadk commented on #379
Which context would you use to fetch the strings ?

[2021-03-23 17:58] Ana2k opened #381 "Add android test for FhirEngineImpl.kt"
**Describe the solution you'd like**
Add android test for FhirEngineImpl.kt

**Additional context**
#233 describes a similar issue.

**Would you like to work on the issue?**
Yes.

[2021-03-23 18:00] jingtang10 commented on #379
I don't think we typically do l10n or i18n on error messages. Is there any other example?

[2021-03-23 18:02] Ana2k commented on #187
@deepankarb @jingtang10 I have created similar issues(#380 and #381).
Can I take on this issue and make a PR ASAP?

[2021-03-23 18:06] Ana2k commented on #367
@jingtang10 @deepankarb
I kind of am working on this (issue number: #380 and #381)
If you don't mind I can take this up and make a PR ASAP.

[2021-03-23 18:14] Ana2k commented on #336
@deepankarb ,agreed with you and @joiskash 's  instructions on fix #337 helped immensely, but there is a bug I found here.

You need to explicitly install Android Sdk:29 to get the gradle to work.
Else, the gradle build fails.

[2021-03-23 19:06] jingtang10 commented on #380
why instrumentation rather than unit?

[2021-03-23 19:11] s-ayush2903 commented on #377
Seeking approval to add it to my list and push a fix.

[2021-03-23 23:28] jingtang10 commented on #263
Unlink so this issue isn't automatically closed once #365 is merged...

Anyway #365 is related because we're starting to index location.

[2021-03-23 23:48] jingtang10 opened #383 "Test HAPI's profile validation on Android"
This is really important high-priority research task we need to do. https://hapifhir.io/hapi-fhir/docs/validation/validation_support_modules.html

@fredhersch @pld

[2021-03-24 00:00] jingtang10 opened #384 "Research on switching from retrofit to hapi android client"

[2021-03-24 00:13] s-ayush2903 commented on #384
Okay, so we plan to remove our dependency from retrofit and bring it on hapi. So should we put the poc for impl here after proper research?

[2021-03-24 00:17] jingtang10 commented on #184
Thanks @s-ayush2903! I don't think testing the reference (gallery) application is a priority for us. In fact, I would go as far as saying it probably is a distraction. So I really would rather not work on this for now. Can you please close this PR and we can revisit if this becomes a priority? Thanks

[2021-03-24 00:24] jingtang10 opened #385 "Create a search panel in the patient list view in the reference app"

[2021-03-24 03:54] #340 closed

[2021-03-24 04:16] deepankarb commented on #384
Here's the android client webpage: https://hapifhir.io/hapi-fhir/docs/android/client.html.

An objective comparison - pros and cons of each - would be helpful.

E.g.

Retrofit | hapi-fhir-android
--------|------------------
Commonly used android lib hence easy to develop | Smaller community
Size cost xx mb | Size cost yy mb
Baseline | x% faster/slower per request than baseline
Minimal overhead for

[2021-03-24 04:24] deepankarb commented on #367
Not in UI - since the SDK doesn't have any. I think something like the medium tests mentioned here: https://developer.android.com/training/testing/fundamentals#medium-tests

From the above link:

[2021-03-24 04:25] Abhinavtdk commented on #385
Can I work on this?

[2021-03-24 04:26] deepankarb commented on #381
IMHO `FhirEngine` is too big to take a first shot at. I suggest you at the existing tests for any `Dao` or sync and send an improvement PR first.

[2021-03-24 09:15] #373 closed

[2021-03-24 10:55] jingtang10 commented on #385
This issue is not ready to be worked on yet.

Design discussion pending.

[2021-03-24 11:31] MuhammadSalman-7214 commented on #372
@jingtang10 I have some questions:
1. what and when we want to show initial value
2. We have initial values as list in the code so how do we want to show specific value
3. For which widgets we want to have initial values

can you please tell the answers? thanks

[2021-03-24 13:17] jingtang10 commented on #372
Hi @MuhammadSalman-7214

The initial values should be displayed if there isn't already an answer in the questionnaire response.

From the spec:

[code]

You may have multiple initial values for repeated questions. But I would not worry about that for now. Focus on single answer questions.

Probably all of them. But most importantly text inputs, checkboxes, radio buttons, drop down lists.

Thanks!

[2021-03-24 13:28] jingtang10 opened #388 "Expose a validation API for questionnaire and questionnaire response"

[2021-03-24 14:22] MuhammadSalman-7214 commented on #372
@jingtang10 initial values list is empty for checkboxes, radio buttons, drop downs, and edit texts as well except one edit text and that edit text too contains initial value as IntegerType[0] which I am not understanding, so how do I set the initial values for all these widgets? kindly advise. Thanks

[2021-03-24 16:44] jingtang10 commented on #350
I'm not sure "chore" is the language I would use here. I think there're the following issue types that might be worth adding:

- research: there're lots of research tasks we need to create and manage. things to write include background, goal, methodology
- code health: refactoring, improving testing infrastructure, documentation can probably fall into this category
- process: builds and releases,

[2021-03-24 16:46] #291 closed

[2021-03-24 16:50] jingtang10 commented on #218
is there more progress on this? thanks!

[2021-03-24 16:53] jingtang10 commented on #275
I'll close this and mark as duplicate of https://github.com/google/android-fhir/issues/258 where we should continue the discussion.

[2021-03-24 16:55] jingtang10 commented on #258
from @mberg in #275:

from @pld  in #275:

[2021-03-24 17:01] jingtang10 commented on #372
If the initial value list is empty that means there isn't an initial value set for the question. So you don't need to do anything.

[2021-03-24 22:44] s-ayush2903 commented on #218
Moving it up in my list :+1:

[2021-03-25 05:45] MuhammadSalman-7214 commented on #372
so that means we don't have to set initial value for checkboxes, radio buttons, and drop downs? because we don't have any one widget in the application among these that contain initial values.

[2021-03-25 09:05] vincent-karuri commented on #374
A few workflows can be supported here:

1. Validate fields on form submission
2. Validate fields when they lose focus e.g. when a user is done inputting text into a field
3. Validate fields as the user is typing into a field e.g. `onTextChanged`
4. In a multiple-step form, we might do validation when the user navigates to the next step/page

For multi-step forms, I don't think 1 with be a good UX.

[2021-03-25 09:20] joiskash commented on #374
The [status](https://www.hl7.org/fhir/questionnaireresponse-definitions.html#QuestionnaireResponse.status) is a property with the cardinality of 1..1 in the FHIR Spec. Since the SDC creates the Questionnaire Response, we will need to either

1. Explicitly let the developer know that we do not touch the "status" and it is the applications responsibility
2. Expose APIs to allow the application to ch

[2021-03-25 09:47] vincent-karuri opened #392 "Support encryption of sqllite DB with SQLCipher"
**Is your feature request related to a problem? Please describe.**
Due to the sensitive nature of medical data, we need to re-assure users of their data privacy. This issue seeks to address that by supporting encryption of data generated when using the SDK.

**Describe the solution you'd like**
We have a related discussion [here](https://github.com/OpenSRP/fhircore/issues/35#issuecomment-801774240

[2021-03-25 09:48] vincent-karuri commented on #392
Maybe a separate discussion is key management depending on the encryption strategy. And whether the option to encrypt can be exposed as an opt-in (configurable) feature to SDK users.

[2021-03-25 10:07] #275 closed

[2021-03-25 10:19] jingtang10 commented on #372
https://www.hl7.org/fhir/questionnaire-profile-example-ussg-fht.json.html has a question with intial value.

Can you also ask on the fhir chat for more examples?

I'm not sure what you mean by we don't have to set initial values. It's an optional field, so as I said you don't need to do anything if it's not there. Does this make sense?

Thanks.

[2021-03-25 10:23] MuhammadSalman-7214 commented on #372
I understand what you are saying that I don't have to set if there isn't any initial value, but what I am saying is currently in the json forms in the application, I don't have any initial optional value, and I want some to set and verify my implementation, are you getting my point now @jingtang10 ?

[2021-03-25 10:25] jingtang10 commented on #372
Thanks @MuhammadSalman-7214. Do you have a proposal how we can address that issue?

[2021-03-25 10:49] jingtang10 commented on #374
@vincent-karuri, I believe @kunjan8794's change is doing a mixture of 2 and 3. And 2 and 3 are probably what we should continue to do no matter what. I can also imagine adding some kind of configuration for the questionnaire fragment for this behavior (turn it on or off).

About 1: upon submission, this depends on how submission is done. At the moment the developer can read the questionnaire any t

[2021-03-25 10:52] MuhammadSalman-7214 commented on #372
Yes, if we can add the initial values in just one check box, radio button and spinner in any json form in the application, that will solve our problem @jingtang10. Thanks.

[2021-03-25 10:56] jingtang10 commented on #372
Please feel free to do that in a PR.

The only that I would say is some of these forms are examples we've taken from other projects for demo purposes. So it's important we keep them intact.

But you can change the patient registration example or feel free to add another example questionnaire to demonstrate initial values.

[2021-03-25 11:41] vincent-karuri commented on #374
@jingtang10 I think pagination can be a core feature. It's implicitly optional because one can always simply define a single page if they don't desire pagination? Unless you were referring to what happens when a page has errors and the user tries to navigate to a different page. Then, yes, I agree that what happens in that case can be made configurable for the implementing app.

[2021-03-25 12:03] MuhammadSalman-7214 commented on #372
Okay, thanks

[2021-03-25 16:48] maanuanubhav999 commented on #377
@s-ayush2903 can I work on this?  I am trying to contribute and get some insights of the project and I think this would be good start.  @jingtang10

[2021-03-25 17:56] Ana2k commented on #350
@jingtang10 I have updated the issue templates as instructed.
 Please have a look and let me know if further changes are required.

[2021-03-25 19:32] Ana2k commented on #379
I found quite a few hardcoded strings throughout the code base eg. Xml files, in snackbar etc.
I was thinking of making a PR migrating all I can find to string values file, and then you can suggest required changes?

Secondly, for illegalErrorExceptions in try-catch blocks, same message is written across different files.
Re-using that same string as value, will reduce redundancy for further added

[2021-03-26 17:03] jingtang10 commented on #379
I think we should use the XML files for user-facing strings. So snackbar -> yes, but exceptions -> no. What do you think?

[2021-03-27 10:24] Ana2k commented on #368
@sakets3010 its working on my phone<Samsung Galaxy M21>.
Have you tried updating you Android version to the latest ?

[2021-03-27 10:49] Ana2k opened #396 "Modify patient card UI in reference app"
**Is your feature request related to a problem? Please describe.**
Better visibility of patient info cards.
Without a horizontal border separating each card, the look gets very confusing.

**Describe the solution you'd like**
Card border around patient info cards.

**Describe alternatives you've considered**
---

**Additional context**
<table>
<tr >
<td><img src="https://user-images.githubusercont

[2021-03-27 13:49] Raghavarya2002 commented on #396
I want to work on this issue.

[2021-03-28 03:25] hk022 commented on #368
i can contribute in this Bugs.

[2021-03-28 06:57] sakets3010 commented on #368
@Ana2k yes i did, probably has something to do with MIUI because its working fine on other phones

[2021-03-28 17:32] #293 closed

[2021-03-28 20:30] jingtang10 commented on #233
@deepankarb why did you choose jacoco over codecov in your PR?

@pld do you have any particular recommendations? Thanks!

[2021-03-28 23:23] pld commented on #233
We user coveralls and we're pretty happy with it.

E.g. https://coveralls.io/github/OpenSRP/opensrp-client-core?branch=master

@rkodev not sure if you have any recs

[2021-03-29 10:36] pulkitgpt1234 commented on #396
I have mad e some changes in the UI as per the issue...
https://github.com/google/android-fhir/pull/399

[2021-03-29 11:39] jingtang10 opened #400 "Make string search case-insensitive by default"
**Is your feature request related to a problem? Please describe.**
String search is case-sensitive in the API by default.

**Describe the solution you'd like**
Make search case-insensitive by default. Probably should use `COLLATE NOCASE` in the SQL query.

This is releated to #376

**Describe alternatives you've considered**
NA

**Additional context**
https://www.hl7.org/fhir/search.html#string in

[2021-03-29 11:41] jingtang10 opened #401 "Make the string search match the beginning of the string by default"
**Is your feature request related to a problem? Please describe.**
We do an exact match right now.

**Describe the solution you'd like**
Probably use `LIKE` operator in the SQL query.

**Describe alternatives you've considered**
NA

**Additional context**
https://www.hl7.org/fhir/search.html#string

See ongoing work in #395

**Would you like to work on the issue?**
Good starter issue.

[2021-03-29 14:10] rkodev commented on #401
@jingtang10 If this issue is still open, I'd like to work on it.

[2021-03-29 14:37] maanuanubhav999 commented on #400
@jingtang10  i would like to work on this.

[2021-03-29 16:01] jingtang10 commented on #400
yeah this is probably a small PR to send. please feel free to raise one. but please write down your plan here. also you should probably wait until #395 is merged.

[2021-03-29 18:07] jingtang10 opened #403 "Create Java overload for search DSL"
we probably still need an overload that receives the class for java clients.

_Originally posted by @yigit in https://github.com/google/android-fhir/pull/395#r603420882_

[2021-03-29 21:43] maanuanubhav999 commented on #400
okay. Currently figuring out the API working and will be using the statement-level collation as asked above.

[2021-03-29 22:03] jingtang10 commented on #396
Thanks for creating this issue. This is low-priority. The UI of the reference app isn't something we want to spend a lot of time on.

[2021-03-29 22:05] jingtang10 commented on #101
@deepankarb can we close this?

[2021-03-29 22:23] #350 closed

[2021-03-29 23:30] jingtang10 opened #404 "Combine the single and batch insertion APIs in FHIR engine and db"
**Describe the Issue**
We have `FhirEngine.save`, `FhirEngine.saveAll`, `Database.insert`, `Database.insertAll`, `Database.insertRemote` and `Database.insertAllRemote`. They are redundant.

**Would you like to work on the issue?**
Use the Kotlin `varargs` keyword to combine them.

[2021-03-30 05:51] deepankarb commented on #101
Fixed with #146

[2021-03-30 05:51] #101 closed

[2021-03-30 05:57] deepankarb commented on #233
Jacoco generates the code coverage reports both offline and in CI runs.

Codecov will use the report to provide running coverage status and [various other useful features](https://docs.codecov.io/docs#top-5-codecov-features).

HAPI FHIR are [using codecov]()https://github.com/hapifhir/hapi-fhir#test-coverage.

[2021-03-30 07:13] #404 closed

[2021-03-30 07:33] Ana2k commented on #379
I have migrated almost all the user-visible strings I could find(mostly XML and snackbar)
Most exceptions message where relevant and function specific.

Except at one place I saw a bit of redundancy.
You can review it, and suggest further changes (like whether to keep it or drop it)?

[2021-03-30 10:13] Ana2k commented on #380
Yupp unit test. Sorry my mistake.

[2021-03-30 10:31] Ana2k opened #406 "Hardcoded Log tags"
**Describe the Issue**
Log tags have been hardcoded, individually in all log-tag statements. Instead, we should use, log-Tag with class names in every files, for all the log tags present in that file.
This can be done, by defining a log-tag , inside the class, So that it can be reused , in every log-statements of that file.

**Would you like to work on the issue?**
Yes

[2021-03-30 10:34] Ana2k opened #407 "Migrate hardcoded dimensions to dimens file"
**Describe the Issue**
While exploring the code I found, a lot of dimensions have been hardcoded in the XML files.
These values have been repeatedly used.
To reduce redundancy, and make the UI uniformly styled, we should migrate the dimensions to the dimens value file.

**Would you like to work on the issue?**
Yes

[2021-03-30 10:44] Ana2k opened #408 "Use Constant Files to store constants"
**Describe the Issue**
While exploring the code I found that there were some constants defined for every page.
Some of these constants like the URLs were defined repeatedly, across different files.

So we should have a constant.kt file which will store all the constant values used in the app.
This will enhance app integrity overall.

**Would you like to work on the issue?**
Yes

[2021-03-30 22:48] #307 closed

[2021-03-30 23:10] jingtang10 opened #410 "Use spotless for kotlin gradle"
**Describe the Issue**
Kotlin gradle files are not autoformatted right now.
Use this: https://github.com/diffplug/spotless/tree/main/plugin-gradle#kotlin

**Would you like to work on the issue?**
Yeah

[2021-03-30 23:24] #57 closed

[2021-03-31 08:02] s-ayush2903 opened #412 "Run Spotless in buildSrc as well"
**Describe the Issue**
Files that fall under `buildSrc` folder also should be formatted automatically via spotless

**Would you like to work on the issue?**
Yems

[2021-03-31 10:09] #410 closed

[2021-03-31 16:27] #164 closed

[2021-04-01 03:57] epicadk commented on #375
I'd like to work on this

[2021-04-01 08:33] jingtang10 opened #414 "Research Full-text search (FTS)"
**Describe the issue to be researched**
The usability and methodology of adding FTS support.

**Describe the goal of the research**
Produce:
- Use cases
- Potential technology sulution
- API changes
- Estimate of eng effort
- Performance implications

**Describe the methodology**
For implementers to provide details

**Would you like to work on the issue?**
No :)

[2021-04-01 08:57] jingtang10 commented on #372
Thanks @MuhammadSalman-7214.

I have a couple of questions

1. How do you deal with multiple initial values - I see that you use `initial[0]` to read the first value. Can you make it explicit either we're only copying 1 intial value (and throw exception if there're more intial values), or fix it for multiple intial values.
2. How does this play with pre-filled questionnaires. @joiskash

Thanks!

[2021-04-01 09:12] MuhammadSalman-7214 commented on #372
@jingtang10 for point 1, there should be only 1 initial value for any of the check boxes, radio buttons, edit texts and drop downs
as we should only set one answer as default in all of these, so I do add an exception for more than one values
for point 2, are you talking about pre-filled questionnaire responses for widgets with multiple initial values? or is it something else?
Thanks

[2021-04-01 09:27] joiskash commented on #372
Great points @jingtang10  sorry I missed out on it.

1.  So according to the [standard ](https://www.hl7.org/fhir/questionnaire-definitions.html#Questionnaire.item.initial) there are 2 rules that we need to worry about

2. It plays fine with prefilled questionnaires. I ran the code on my local system and tried it out. This is because the prefilling condition is a different else block in which `cre

[2021-04-01 09:38] MuhammadSalman-7214 commented on #372
@joiskash sure, let me test it on my end, and then after verifying, I'll show you the check and then will write the test cases

[2021-04-01 09:44] kunjan8794 opened #415 "Support minValue maxValue in the sdc library for Decimal, Date and DateTime values"
This issue is a followup issue for #164

[2021-04-01 13:02] jingtang10 commented on #372
Thanks @joiskash!

Is this the expected behavior for questionnaire response? For example, you have a questionnaire with some initial values, you also have a questionnaire response, if a particular question doesn't have an answer in the response, but has an initial value defined in the questionnaire, should we leave that question empty?

To me, this seems right. But I don't know the use cases too w

[2021-04-01 13:06] MuhammadSalman-7214 commented on #372
@jingtang10 haven't got it, now we are setting the questionnare response if we have initial value, then how that question will be empty? Can you please explain this? thanks

[2021-04-01 13:10] jingtang10 commented on #415
There's also `Date` and `DateTime` to handle. Happy for you to either update the title of this issue or create a new one.

[2021-04-01 13:42] joiskash commented on #372
Well I guess the [required](https://www.hl7.org/fhir/questionnaire-definitions.html#Questionnaire.item.required) field will also play a role in this. I am not too sure of the answer. We should probably ask the larger group.

But I agree to adding a unit test to make sure the behavior is as expected. i.e. the UI will be empty. Because if the Questionnaire response has been generated using the SDC l

[2021-04-01 13:47] joiskash commented on #372
@MuhammadSalman-7214 what he means is that when we pass a _questionnaire response_ to the fragment, the UI is automatically filled with the answers. Now if we have a questionnaire.item = "Where are you from?" with questionnaire.initial = "Kathamandu" but the corresponding questionnaireResponse.item is empty then should the UI be empty or should it have the initial value?

Currently the UI will be

[2021-04-01 14:14] MuhammadSalman-7214 commented on #372
@joiskash, but why the UI will be empty? once we set the initial value, then it is rendered to the UI and on response as well. It's up to the user whether he wants to change it or not.

[2021-04-01 14:24] joiskash commented on #372
If you have noticed, there are two ways of using the SDK. One is by passing only a questionnaire to the fragment and the other is by passing a quesitonnaire and a corresponding questionnaire reponse(with answers) we are talking about the second use case. If you look at the view model, in the second `init`  block you will see an if condition. This is where the different behaviors for the two modes

[2021-04-01 14:25] MuhammadSalman-7214 commented on #372
okay thanks

[2021-04-01 18:17] MuhammadSalman-7214 commented on #372
@joiskash and @jingtang10 I have added the test case for the above case when there is Initial value, but no corresponding Response Value in my latest push to verify the case. We can either set response as empty, or cannot set at all if the Question type is GROUP. You guys can check that. Thanks

[2021-04-01 18:20] jingtang10 commented on #408
Thanks for raising this issue.

I quite strongly disagree with the general approach of putting all constants in a single file per module. I don't understand the benefits of it. From a code readability perspective, you don't want to have to open up a different file every time you want to look up a constant value. It's too much cognitive burden and makes debugging more difficult. Keep things that ar

[2021-04-01 18:20] #408 closed

[2021-04-01 18:30] jingtang10 commented on #392
Related: https://github.com/sqlcipher/android-database-sqlcipher#using-sqlcipher-for-android-with-room

[2021-04-01 20:09] Ana2k commented on #407
@jingtang10 @deepankarb please review this. Thanks!

[2021-04-02 07:18] kunjan8794 commented on #415
@jingtang10 updated the title

[2021-04-02 14:06] maanuanubhav999 commented on #400
@jingtang10 I need help here. We need to make every String search case-insensitive. Before that, we will need to complete #376 am I correct?

[2021-04-02 15:10] Ana2k commented on #381
I was working on the small-medium test files in core module, and I guess you are right.
If I am not wrong this falls under the large-tests?
For now, I will work on getting better at writing larger test files?

PS: Thanks for the link on #367

[2021-04-02 15:13] s-ayush2903 commented on #266
Can you please mention where do we have backend API endpoints(and any sort of their documentation) where queries related to authentication and other fhir-related functionalities are to be made. Thanks

[2021-04-02 22:36] kevinmost commented on #283
There are two possible approaches here, each with their own pros and cons:

---

### Use REAL for numeric indices

Just change the `BigDecimal` <> `String` conversion to a `BigDecimal` <> `Double` conversion.

Pros:
- Super-simple change, easy to maintain
- More performant

Cons:
- Numeric range is lost (minor issue, as Double.MAX_VALUE is quite large)
- Accuracy is lost
  - In particular, this is

[2021-04-03 12:58] Syed-Affan-Hameed commented on #400
Hi! @jingtang10 is this issue still open can I work on this 2/8 tasks are still incomplete.

[2021-04-03 12:59] Syed-Affan-Hameed commented on #107
Hi @jingtang10 please assign me this issue, I would like to work on it ASAP..

[2021-04-03 18:05] maanuanubhav999 commented on #400
hello, @Syed-Affan-Hameed issue is completed, all it needed was some check. thanks.

[2021-04-03 18:09] Syed-Affan-Hameed commented on #400
@maanuanubhav999 Can you suggest me some open issues?

[2021-04-03 21:46] #400 closed

[2021-04-04 05:10] Ana2k commented on #238
@jingtang10 @joiskash seems like we will need shared preferences here. Is this issue a priority and still open?

[2021-04-04 09:52] jingtang10 commented on #283
@brynrhodes @pld FYI

[2021-04-05 07:55] kunjan8794 opened #425 "Datacapturegallery - date value gets minus by one month upon selecting time value in dateTime input type"
**Description**
If the questionnaireItem type is dateTime, there will be two editTexts, one for selecting a date and other one for selecting time. If we select 2021-04-05 as date, and the go on selecting the time, after time is selected, the month value in the date editText gets substracted by one. i.e if I have selected date as 2021-04-05 , it becomes 2021-03-05 as soon as we select time. The app

[2021-04-05 09:02] epicadk commented on #376
Related to #414. We can still support contains without full text search however according to the accepted answer on this [question](https://stackoverflow.com/questions/14290857/sql-select-where-field-contains-words) the full text search is faster

[2021-04-05 11:17] jingtang10 commented on #425
Thanks for filing this @kunjan8794.

In the fix  to the month value here needs to be incremented by 1: https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDateTimePickerViewHolderFactory.kt#L103

[2021-04-05 11:46] jingtang10 commented on #425
and this is why we need better integration tests.

[2021-04-05 11:46] jingtang10 commented on #425
#305

[2021-04-05 18:25] jingtang10 opened #428 "Seperate synchronization APIs from data access APIs"
**Describe the issue to be researched**
The APIs for local resources and sync are quite tightly coupled at the moment. The `FhirEngine` interface definitely doesn't follow the single-responsibility principle.

**Describe the goal of the research**
Find out if there's a way to decouple the core storage APIs and sync APIs.

**Describe the methodology**
Prototyping. Researching other similar codebase

[2021-04-06 08:31] vincent-karuri commented on #415
@jingtang10 I can help here

[2021-04-06 09:18] jingtang10 commented on #283
Just one minor correction: the int+string approach still have an upper bound of range - it's `10^(2^63-1)` because the int has an upper bound of `2^63-1`.

A third approach is to use one string field to encode the numbers lexigraphically while maintaining order: https://www.zanopha.com/docs/elen.pdf

[2021-04-06 09:29] jingtang10 commented on #283
Looking at these different approaches, I think personally I have a slight preference for using REAL for its simplicity.

If we change our mind in the future, we can always write a db migration.

How do others feel?

[2021-04-06 09:33] jingtang10 commented on #415
@kunjan8794 is there a way to divide this issue to parallelise?

[2021-04-06 13:59] fredhersch commented on #161
@jingtang10 Here is updated questionnaire with vietnamese translations (using google translate)

[Questionnaire-case-reporting-questionnaire-vn.zip](https://github.com/google/android-fhir/files/6265171/Questionnaire-case-reporting-questionnaire-vn.zip)

[2021-04-06 15:56] #425 closed

[2021-04-06 16:32] epicadk opened #431 "Support search for token types"
**Is your feature request related to a problem? Please describe.**

Currently we only support search for reference and string types

**Describe the solution you'd like**

Add Support for token types

**Describe alternatives you've considered**

NA

**Additional context**

https://www.hl7.org/fhir/search.html

**Would you like to work on the issue?**

Yes

[2021-04-07 14:17] #366 closed

[2021-04-07 14:17] #299 closed

[2021-04-07 15:27] jingtang10 opened #433 "Rethink indexing date time with precision"
**Describe the issue to be researched**
Currently the in date index table we index the start and end datetime values as well as the precision.

**Describe the goal of the research**
Decide if the precision column is actually useful. I have the feeling that we probably should just index different start/end values depending on the precision at the point of indexing resources. Rather than keeping the

[2021-04-07 15:27] jingtang10 commented on #433
@deepankarb fyi

[2021-04-07 18:13] #285 closed

[2021-04-08 06:24] rkodev commented on #401
This issue is closed by pr https://github.com/google/android-fhir/issues/376

[2021-04-08 08:32] epicadk commented on #433
Yes instead of indexing the precision we should add the precision to ts_high. For instance, if the date is 2001-09-08 then we should index ts_high as 2001-09-09 and ts_low as 2001-09-08 as explained in the example given [here]( https://www.hl7.org/fhir/search.html#date). This probably should have been done in #332 but I guess I missed this 😓.

[2021-04-08 08:47] #372 closed

[2021-04-08 10:02] #412 closed

[2021-04-09 06:58] kunjan8794 commented on #185
@jingtang10 Should I take this up next?

[2021-04-09 11:02] epicadk commented on #431
Should we also index the display string of the codeable concept since it mentions [here in the docs](https://www.hl7.org/fhir/search.html#token)

[2021-04-09 13:46] epicadk commented on #433
Can I open a pr with what I have in mind? We can discuss further on the pr?

[2021-04-10 05:51] epicadk opened #435 "Support Search for Number Type"
**Is your feature request related to a problem? Please describe.**

Currently we do not support search for Number types

**Describe the solution you'd like**

Support Search for Number types

**Describe alternatives you've considered**

NA

**Additional context**

https://www.hl7.org/fhir/search.html#number

**Would you like to work on the issue?**

Yes

[2021-04-12 22:55] jingtang10 commented on #250
can we close this @fredhersch ?

[2021-04-13 10:14] rkodev commented on #292
@jingtang10 My thoughts

Referencing the FHIR [Spec](https://www.hl7.org/fhir/search.html#composite)

The composite search parameter needs are able to generate AND and OR parameters in any possible number of combinations essentially an NxM matrix of clauses

`/Patient?language=FR,NL` can either be represented as

A) union on 2 distinct queries i.e

`
SELECT resourceId FROM StringIndexEntity
WHERE

[2021-04-13 10:29] rkodev commented on #292
We can generate this statement

[code]

[2021-04-13 12:55] #407 closed

[2021-04-13 13:01] #379 closed

[2021-04-13 13:18] deepankarb opened #440 "Robust signals for upload operation outcome result"
We need a robust and consistent signal to determine the result of an upload operation. Current impl depends on `OperationOutcome` response from server which does not have a strong specified indicator of results esp. in case of success.

Cursory search on chat.fhir.org is indicative that the practice in community is to look at HTTP response codes to infer operation result and use `OperationOutcome`

[2021-04-13 13:21] pld commented on #273
It sounds like the SDK appropriate task here is populating a Questionnaire resources with another resource. Related to that is defining how the other resource maps to the Questionnaire resource.

@jingtang10 what do you think? does it makes sense to update/replace this issue with one more focused on that task?

[2021-04-13 14:38] vincent-karuri opened #441 "Natively support paging of data from the DB"
**Is your feature request related to a problem? Please describe.**
It would be nice to get paging supported natively within the SDK.

**Describe the solution you'd like**
Would this require a change in the DB queries to return `DataSource.Factory` that can the be used to create `PageList`s?

**Describe alternatives you've considered**
none

**Additional context**
none

**Would you like to work on

[2021-04-13 14:53] #441 closed

[2021-04-13 17:20] jingtang10 commented on #273
#377

[2021-04-13 17:23] jingtang10 commented on #377
Hi both - contribution is welcome but please write down your proposed solution and have a discussion before working on anything to avoid going down the wrong route. thanks.

[2021-04-13 17:23] jingtang10 commented on #377
marking this as duplication as #273

[2021-04-13 17:23] #377 closed

[2021-04-13 17:28] jingtang10 opened #442 "Rename module core to engine"
**Describe the Issue**
Discussed with @fredhersch @yigit @deepankarb @kevinmost we decided to name the `:core` module `:engine` while maintaining the namespace.

**Would you like to work on the issue?**
Yep will send out a PR soon.

[2021-04-13 19:43] jingtang10 opened #443 "CLEARTEXT communication to hapi.fhir.org not permitted by network security policy"
**Describe the bug**
2021-04-13 20:10:11.431 13895-13935/com.google.android.fhir.reference D/OkHttp: <-- HTTP FAILED: java.net.UnknownServiceException: CLEARTEXT communication to hapi.fhir.org not permitted by network security policy

**Component**
Reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Run the reference app

**Expected behavior**
Should load patients from HAPI test se

[2021-04-13 20:18] #443 closed

[2021-04-13 21:26] #442 closed

[2021-04-14 21:56] jingtang10 commented on #292
Thanks @rkodev for the udpate. As you rightly pointed out, approach B is not going to work for filters on different index tables. So I think we should focus on approach A.

However, I'm not entirely convinced we need to design something totally generic which allows many levels of filters combined by `and` or `or`. In fact, I think we can maintain expressiveness by restricting the form to be an con

[2021-04-17 05:52] epicadk commented on #400
@jingtang10 the current solution will only work for ASCII text. Do we not plan on support other encodings?

[2021-04-17 06:55] epicadk commented on #414
Sql cannot use an index if the argument to like starts with a wildcard.  The full text search would help here.
However the obvious drawback of FTS is the increased size of the index.
The use case is the string contains modifier used in string searches (don't really see any other use case). FTS can be enabled like [this](https://developer.android.com/reference/androidx/room/Fts4). We could just cha

[2021-04-17 12:34] epicadk commented on #414
We would also need to update the roboelectric dependency because the current one has some issue in creating the FTS table

[2021-04-19 11:15] #433 closed

[2021-04-19 12:17] jingtang10 opened #447 "Allow custom implementation of views in the sdc lib"
**Is your feature request related to a problem? Please describe.**
At the moment the sdc library will render any questionnaire item based on the questionnaire item type (also taking into consideration the item control extension if present). But there're cases where developers might need custom rendering of specific widgets. We should allow this.

**Describe the solution you'd like**
The adapter ht

[2021-04-19 22:34] jingtang10 commented on #218
more work to address these issues in the first comment.

[2021-04-20 10:08] rkodev opened #450 "Some values in StringIndexEntity table is recorded as a ClassName@MemoryLocation"
**Describe the bug**
Some values in the `StringIndexEntity` table e.g Patient.name and Patient.address value are stored as the dafault Java `toString()`  value i.e a ClassName@MemoryLocation

**Component**
Core library,

**To Reproduce**
Steps to reproduce the behavior:
1. Sync data using Data Capture Gallery
2. View data stored in `fhirEngine` database `StringIndexEntity`  `index_path` = `Patient

[2021-04-21 11:24] rkodev opened #452 "Fetch resource by Id"
**Is your feature request related to a problem? Please describe.**
Add ability to find or fetch a resource by Id

**Describe the solution you'd like**
Load a resource from the local data source by the resource Id. This can either return the resource from the local database or either `null` or an Optional<*> object

**Describe alternatives you've considered**
N/A

**Additional context**
This is use

[2021-04-22 07:41] jingtang10 commented on #452
The current API is here: https://github.com/google/android-fhir/blob/master/engine/src/main/java/com/google/android/fhir/FhirEngine.kt#L49

[code]

Is there anything else you need here?

[2021-04-22 08:58] fredhersch opened #453 "Milestone link - https://github.com/google/android-fhir/milestone/2"

[2021-04-22 09:08] epicadk commented on #450
Can you update the issue so that it reflects a similar issue with Patient.address?

[2021-04-22 09:11] dubdabasoduba commented on #263
**Sync using Teams**
![care team ](https://user-images.githubusercontent.com/4817531/115687881-46368500-a363-11eb-9bdb-d6fa962896da.png)

**Takes the following flows**

1. Have an organizational hierarchy this is achieved by the `partOf` attribute in the organizations
2. The Care team is assigned to the least organisation. Mostly this will represent the health facilities
3. Patients will then be a

[2021-04-22 09:15] rkodev commented on #452
@jingtang10 This works

[2021-04-22 09:15] #452 closed

[2021-04-22 09:18] dubdabasoduba commented on #263
**Sync using location**
![sync by location](https://user-images.githubusercontent.com/4817531/115688605-f86e4c80-a363-11eb-86f1-7b0a652c6e9d.png)

**Takes the following flow**

- Have an organizational hierarchy which is achieved by the `partOf` attribute in the organizations
- Have a location hierarchy which is achieved by the `partOf` attribute in the organizations
- A location is then assigned

[2021-04-22 09:26] dubdabasoduba commented on #263
**Sync using structures**
![Screenshot from 2021-04-22 12-19-40](https://user-images.githubusercontent.com/4817531/115689747-0a042400-a365-11eb-8010-98a167aea338.png)
Takes the following flow

- Have an organizational hierarchy which is achieved by the `partOf` attribute in the organizations
- Have a location hierarchy which is achieved by the `partOf` attribute in the organizations
- Structures a

[2021-04-22 09:29] dubdabasoduba commented on #263
The three scenarios above help us solve the following sync situations.

1. Syncing via team -- Used by most of the OpenSRP apps
2. Syncing via structures -- used in reveal.  This is where we get all the patients tied to a specific structure
3. Syncing via location -- Where we want to get all patients in a specific location e.g a Health Facility

[2021-04-22 11:14] rkodev commented on #450
@epicadk done

[2021-04-22 15:00] pld commented on #263
What are examples of the uses for the different layers in the organizational hierarchy?

[2021-04-22 16:20] epicadk commented on #450
Thanks @rkodev , are you working on this? It's related to an issue I am working on so if you aren't I could fix this.

[2021-04-23 06:08] MuhammadSalman-7214 opened #455 "Answer selected by user changes automatically in Radio Button"
**Describe the bug**
Radio Button answer selected by user changes to some other radio button options. For example you have one radio button with different options and you select any of the option as answer, and similarly you have another radio button with multiple options as well. You select second option as an answer to first radio button and select fourth option to second radio button. Now chang

[2021-04-27 07:47] fredhersch commented on #186
Goal(s): Provide the ability to render a multi-page form based on the definition in the FHIR Questionnaire. Manage data when moving through the pages (of the rendered form) and if there are validation errors on submission

Key points:
1. Given a FHIR questionnaire that specifies the 'page' attribute, show the grouped items on a separate page
2. On the first page show only the 'next' page option
3.

[2021-04-28 08:01] jingtang10 commented on #455
Thanks for creating this issue!

Can you do an `adb shell screenrecord` and upload the video here? Thanks!

@joiskash

[2021-04-28 12:21] MuhammadSalman-7214 commented on #455
https://user-images.githubusercontent.com/64642723/116402614-10533e00-a846-11eb-9114-91e5eef168e4.mp4

[2021-04-29 07:08] rkodev opened #458 "Add support for count operation in Search"
**Is your feature request related to a problem? Please describe.**
Adding ability to return results such as count based on a query without returning all the records from the query

**Describe the solution you'd like**
Return the number of Resources based on a search/filter parameter

**Describe alternatives you've considered**
Possible but with a massive performance penalty, return all objects fro

[2021-04-29 07:54] joiskash commented on #455
Hi @MuhammadSalman-7214 please have a look at #459 . Pull the branch and check if the issue is fixed for you. I have tested it on my side. Thanks!

[2021-04-30 13:01] vincent-karuri commented on #186
This is going to be an important and high priority feature for us. Is it possible to see how we can align on this?

[2021-05-04 13:52] #274 closed

[2021-05-05 06:04] Rkareko commented on #273
@jingtang10 the proposed strategy is to use [Expression-based Population](http://build.fhir.org/ig/HL7/sdc/populate.html#expression-based-population) as defined in the SDC spec. We shall be using FHIR path to set the initial value of a Questionnaire item an example of which is given on [this article](https://developer.commure.com/docs/apis/sdc/examples/#using-a-fhir-path-to-set-the-initial-value-o

[2021-05-05 08:29] vincent-karuri commented on #447
@jingtang10 I could pick this up. I see it's marked as low priority.

[2021-05-05 08:47] fredhersch commented on #186
@vincent-karuri Sounds good. Should we discuss this on the developers call tomorrow?

[2021-05-05 08:58] vincent-karuri commented on #186
yep, thanks @fredhersch

[2021-05-06 06:57] dubdabasoduba commented on #263
**New proposal for sync by Location**
![Screenshot from 2021-05-06 09-56-37](https://user-images.githubusercontent.com/4817531/117254698-5ebd9980-ae51-11eb-8d58-7e11f53dcc7b.png)

[2021-05-06 07:08] dubdabasoduba commented on #263
**Current sync options**
**Sync by the team**
- represented by https://github.com/google/android-fhir/issues/263#issuecomment-824676661
- This means we will fetch the patient groups using the team Id of the Care team that the logged-in practitioner is assigned to.

**Sync by location**
-  represented by https://github.com/google/android-fhir/issues/263#issuecomment-833278080
- This means we will f

[2021-05-06 07:12] dubdabasoduba commented on #263
**A use case for this would be**
- With the current Tunisia immunization app, we have a dashboard that should only be accessible to the regional officers.  These officers do not provide any health services to patients they only want to view the recorded data.
- We would then assign them to the different organisations depending on the scope of data they need to view.  In this case, they will end up

[2021-05-06 07:23] f-odhiambo commented on #263
From the above options i.e Option 4 (Sync by Team) and Option 5 (Sync by Location) we can be able to solve any clinical workflows as opposed to where we have structures.

**Suggestion for implementation as a starting point**
We can choose to start implementation on Option 4 (Sync by Team) while also trying to accommodate any limitations of Option 5 (Sync by Location).

**Open Questions for discuss

[2021-05-06 08:18] fredhersch commented on #186
Discussed three approaches:

1. Controls outside the Questionnaire Fragment
2. Controls within the Questionnaire Fragment
3. Implementing 1, but with defaults in place that can be overridden

Decision:

- Aim to start with 2. Questionnaire drives the pagination
- Implications of this: controls are within Questionnaire
- Will revisit extending this in the future to add additional customisation

[2021-05-06 09:14] jingtang10 commented on #458
@rkodev is it preferable to modify the existing api to include a result count or something like that? a bit like bundle in FHIR.

[2021-05-06 09:15] #453 closed

[2021-05-06 09:23] fredhersch commented on #447
**User story:** As a developer I can define my own UI elements for Questionnaire items in the Questionnaire that can then be rendered by the SDC Library

Please review the draft PR #127 as a reference for earlier prototype implementation

[2021-05-06 09:30] jingtang10 commented on #428
I will continue to work on the draft PR but instead of creating a separate module to host the synchronization APIs, we will keep them in FHIR engine but make sure they are decoupled from the database access APIs.

[2021-05-06 09:36] fredhersch commented on #414
- [ ] Determine if FTS is required
- [ ] If so, what is the priority
- [ ] What are the approaches and pros and cons

[2021-05-06 09:37] jingtang10 commented on #406
Hi @Ana2k - thanks for creating this issue this is great! Please feel free to send a PR!

[2021-05-06 12:53] rkodev commented on #458
@jingtang10 Yes implementing a bundle can be helpful in paging requests and showing the number of pages.

[2021-05-06 13:20] epicadk commented on #431
@fredhersch @jingtang10 I think @rkodev is working on this. A pr has been opened as well.

[2021-05-06 13:37] pld commented on #263
1. This does seem unnecessary, I think the reason is `Location`'s naturally attached to `Organization`, via `OrganizationAffiliation`. If think that's the only reason? If so, then the question is to we value using the existing link enough to add this extra complexity, or can we extend `CareTeam` with a location extension? I guess downside of this is the `CareTeam` can only be in a single location,

[2021-05-06 15:03] #282 closed

[2021-05-06 15:04] pld commented on #263
2. Yea I think it's worth thinking through what type of query we'd have to run especially if we're running this w/$measure-evaluate on device we'll need it to have reasonable joins (or maybe we'd survive w/ a cache strategy). Looks like it'd be join `Location` to an `OrganizationAffiliation`, join `OrganizationAffiliation` to an `Organization`, join `Organization` to many `CareTeam`s, join `CareTe

[2021-05-06 19:53] #283 closed

[2021-05-07 05:16] #455 closed

[2021-05-10 06:24] fredhersch commented on #392
@vincent-karuri Assiged us to work on this together. I'll take a first pass at sketching out the requirements. Will be good to get your technical input. Thanks

[2021-05-10 06:26] fredhersch commented on #375
@jingtang10 is this pending PR review?

[2021-05-10 06:47] epicadk commented on #375
Solving conflicts.

[2021-05-10 08:43] vincent-karuri commented on #392
np

[2021-05-10 14:01] jingtang10 commented on #186
@vincent-karuri @kevinmost will you two be able to collaborate on this (and bringing in @s-ayush2903 where poss)? Thanks!

[2021-05-10 14:52] jingtang10 commented on #186
Note that the positions of the prev/next buttons will be different from the mocks @fredhersch posted now that we're going with option 2 in https://github.com/google/android-fhir/issues/186#issuecomment-833329895.

Also see https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/Paging.20behavior for some past discussions.

[2021-05-11 07:58] fredhersch opened #465 "Render questionnaire in different language using language extension"
**Is your feature request related to a problem? Please describe.**
Support for language extensions within a FHIR questionnaire

**Describe the solution you'd like**
- [x] When given a Questionnaire with different language extensions, be able to render in the appropriate language based on the Android language settings
- [x] If no language extension is available for the local language, show the defa

[2021-05-11 08:10] fredhersch opened #466 "Add support for element extension: regex"
**Is your feature request related to a problem? Please describe.**
As a questionnaire developer I can add in regex expressions for item validation

**Describe the solution you'd like**
- [ ] Given a regex expression within a valid FHIR Questionnaire, use the expression to validate the input field when moving to the next field
- [ ] If there is a validation error, display the error message in-line

[2021-05-11 08:34] jingtang10 commented on #32
I believe this has been done by @deepankarb moving tests to `/androidTest`. @yigit @deepankarb can you please confirm and close if appropriate.

[2021-05-11 08:40] #40 closed

[2021-05-11 08:41] #55 closed, assigned to nobody

[2021-05-11 08:43] jingtang10 commented on #71
The periodic sync is done through a number of PRs. @deepankarb please make sure to create any follow-ups.

[2021-05-11 08:43] #71 closed, assigned to florina-muntenescu

[2021-05-11 08:44] jingtang10 commented on #73
This has not been happening - let's close for now and reopen if recurs.

[2021-05-11 08:56] #102 closed

[2021-05-11 08:59] jingtang10 commented on #106
Don't think we still want to do this.

[2021-05-11 08:59] #106 closed, assigned to nobody

[2021-05-11 09:10] jingtang10 commented on #184
@s-ayush2903 please comment on if you want to work on this? and unassign if appropriate.

[2021-05-11 09:18] jingtang10 commented on #185
@sakets3010 will you be able to work on this? @kunjan8794 might be able to help since he implemented the validator framework.

[2021-05-11 09:23] jingtang10 commented on #218
we need to test the click event for the date picker and date time picker still.

[2021-05-11 09:28] jingtang10 commented on #238
@yigit

[2021-05-11 09:31] jingtang10 commented on #240
This is related to #326 which @ekigamba and @shoaibmushtaq25 are working on.

[2021-05-11 12:11] vincent-karuri commented on #447
@jingtang10  don't think I have permissions to open a pr

[2021-05-11 12:18] #109 closed, assigned to jingtang10

[2021-05-11 12:44] fredhersch opened #468 "Logic library design with API signatures"
Complete the initial design of the logic library with signatures for the initial APIs that will be supported.

- [ ] design of the library
- [ ] measure-evaluate API signature
- [ ] apply API signature

Note: This has a dependency on the cql-evaluator library. Working closely with @brynrhodes and his team

[2021-05-11 14:59] fredhersch commented on #465
See this issue #166 for discussion about implementing language support

[2021-05-11 15:05] fredhersch opened #469 "Add autoComplete UI control item for inlined answerOptions [draft]"
**Is your feature request related to a problem? Please describe.**
As a user when looking up a value in a selection list I should be able to find matches based on text entered

**Describe the solution you'd like**
- [ ] For a valid FHIR questionnaire with answerOption options, when a user starts to type the list of options is filtered
- [ ] Selecting the option populates the relevant field with th

[2021-05-11 15:14] #32 closed

[2021-05-12 05:17] sakets3010 commented on #185
Hi @jingtang10 , I wont be able to work on this immediately. Pleases feel free to reassign. Apologies.

[2021-05-12 07:01] joiskash commented on #216
There are two main requirements as defined in the [FHIR spec](https://www.hl7.org/fhir/questionnaire-definitions.html#Questionnaire.item.repeats)

1. Multiple answers for questions
2. Multiple sets of answers for groups.

@jingtang10 @fredhersch just wanted your views on the comment above.

que-6 | Rule | Required and repeat aren't permitted for display items | type!='display' or (required.empty()

[2021-05-12 10:47] jingtang10 commented on #216
I didn't know that a group can be repeated too. Interesting. It makes sense. I guess that could be handled in a separate PR or even in a separate issue if you prefer.

About the text you quoted, I think it depends on type of answer and whether nested items exist. For example, multiple choices questions with checkboxes probably don't need to repeat the question. But questions with nested items migh

[2021-05-12 10:50] epicadk commented on #184
++ I can't get them working on my device either.

[2021-05-12 11:19] jingtang10 commented on #184
What I found on my machine is that I have to right click the folder containing the instrumentation tests and select run... Not sure if this helps you.

[2021-05-12 11:37] kunjan8794 commented on #185
@jingtang10 In that case, should I take this up next?

[2021-05-12 13:09] jingtang10 opened #470 "Handle required fields in questionnaires"
**Is your feature request related to a problem? Please describe.**
Handle the required field in the questionnaires: https://www.hl7.org/fhir/questionnaire-definitions.html#Questionnaire.item.required

**Describe the solution you'd like**
Add a validator so that if a required field is not filled in display some kind of warning.

**Describe alternatives you've considered**
NA

**Additional context**

[2021-05-12 13:13] #415 closed

[2021-05-12 13:54] epicadk commented on #184
Thanks this works. Any idea why this happens?

[2021-05-12 14:38] fredhersch opened #471 "Soft delete within the data access layer"
**Describe the issue to be researched**
Within healthcare apps, resources (like observations etc) are often considered immutable. Most relevant resources (like Observations) do not have a 'status'. If there is a desire to delete data, should we provide the option to do a soft delete.

Currently within the SDK, resources can be DELETED (using the data-access API).

To support SOFT DELETE, we would

[2021-05-12 14:48] jingtang10 commented on #471
I think this issue is somewhat ameliorated by the fact that FHIR servers might implement soft delete, e.g., https://smilecdr.com/docs/fhir_repository/deleting_data.html. So if a resource is originated from the server side, deleting it on device will not remove the physical record on the server (although it won't show up in the search results from the server any more, you can still access the histo

[2021-05-12 14:50] epicadk commented on #450
Continuing [this discussion](https://github.com/google/android-fhir/pull/464#discussion_r630950722) here. I think it won't make sense to join the name as one string. We could rather index the name part by part i.e. add each prefix , given , family name to the index separately.

This can be improved further because the given and family names of a patient are indexed separately (patient.name.given &

[2021-05-12 15:11] fredhersch commented on #471
Thanks @jingtang10. @joiskash , @pld or anyone else - any thoughts on this? Thanks.

[2021-05-12 15:26] fredhersch opened #472 "Design & handing data conflicts in database on syncing"
**Describe the issue to be researched**
If there are data conflicts in the database - mostly due to sync issues - what are the patterns that we have (or should) implement to handle these? Specifically, if there are sync related issues, should these be able to be surfaced on the mobile device (i.e. via sync API).

Currently the approach is:
[code]

**Describe the goal of the research**
- Validate t

[2021-05-12 16:25] jingtang10 commented on #450
@epicadk We already have the separate indices e.g. `given` or `family`. But we also need this `patient.name` index because the user might search for a string and that could be in the given or family name. It'll be unnecessary to require the user to compose a search query by using `patient.given` and `patient.family` when `patient.name` suffices.

[2021-05-12 16:44] jingtang10 commented on #286
@kartikeysaran can you briefly describe what's needed to be done and your plan here? thanks!

[2021-05-12 17:08] joiskash commented on #471
It will be a good feature to have and there is a current requirement to support soft delete in one of our projects. The project has a very simple uni-directional data flow. So to prevent the application from taking up too much space on the client phone we are implementing a soft delete. Just FYI we are not using the android SDK for this project.

[2021-05-12 19:33] #450 closed

[2021-05-12 20:59] epicadk commented on #450
I was suggesting something like

    fun StringFilter.query(type: ResourceType): SearchQuery {
      if (parameter == Patient.NAME){
       return SearchQuery("SELECT resourceId From StringIndexEntity where resourceType = ? AND (index_name = ? or index_name = ? ) AND index_value like '%' || ? COLLATE NOCASE",
              listOf(type.name,Patient.GIVEN,Patient.FAMILY,value!!))
      }
    // Hand

[2021-05-12 21:20] epicadk commented on #450
If we use the current approach which is to store then as a concatenated string, we would have to make use of wildcards both at the beginning and the end of the query (something like `index_name LIKE '%eve%'` however this cannot make use of the indexes so the query may take longer.

[2021-05-13 05:11] joiskash commented on #216
ok got it. Yea that makes sense and is a good starting point for this PR. Thanks @jingtang10

[2021-05-13 06:53] rkodev commented on #471
@jingtang10 One of the case where enabling a soft delete even when sync to the server has not happened would be in case where [Peer to Peer sync](https://github.com/google/android-fhir/issues/258) is enabled.
A soft delete, will be required in order to propergate the delete action to the server and eventually to any device that may have offline shared data.
If we iallow for P2P then a soft delete

[2021-05-13 06:56] FikriMilano commented on #470
Hello @jingtang10 , this is my first appearance in this community. If you don't mind, can I give this issue a try? I have been searching issue with "good first issue" tag on it and finally found one 😄

[2021-05-13 12:32] vincent-karuri commented on #186
[code]

Is this how we want to mark a group as a page?

[2021-05-13 12:37] vincent-karuri commented on #186
also from the chat

1.  Do we only need to mark one group (most intuitively the first) as a page and from then on treat all other subsequent groups as pages?
2. Do we validate that there's no mixing of groups and non-groups in a Questionnaire when the page extension is specified?
3. Related to 2, is the assumption that we have a well-authored Questionnaire that only contains groups when pagination

[2021-05-13 16:47] kevinmost commented on #186
Per Lloyd in the chat, I believe all pages should be marked as pages.

At least for an initial implementation, let's assume that we have a well-formed questionnaire, which means that either all groups or no groups are marked as pages.

[2021-05-13 17:01] jingtang10 commented on #186
Agreed. I think these two assumptions should suffice:
1. A page must be a top-level item of the questionnaire.
2. A sibling of a page must be a page.

[2021-05-13 18:04] jingtang10 commented on #450
Thanks @epicadk for the comments. For a full name search, for example "Aditya Kurkure", the search API should return a result. If we store everything entirely separately, it's more difficult (still possible, but the SQL query would be far more complex) to return the right result.

I do think name search would probably be often used in conjunction with "contains" rather than default match (match th

[2021-05-13 18:13] epicadk commented on #450
Actually I tried this on the hapi fhir server and it doesn't. It only matches to given, ,family ,prefixes, suffixes, text individually. It does not use any concatenation.
For example, If the given name was Aditya and the family name was Kurkure then searching for Aditya kurkure would not match.

I agree the issues are not evident during indexing but you can see them while implementing string searc

[2021-05-14 08:08] jingtang10 commented on #450
Interesting. The spec does say it's: A *server defined* search that may match any of the string fields in the HumanName, including family, give, prefix, suffix, suffix, and/or text...

Regardless of HAPI's implementation, if you're a developer using the search API and using the `Patient.NAME` param, what would you expectation be?

[2021-05-14 08:18] jingtang10 commented on #450
Will comment in that PR but I don't think we have reached a concensus on this so to keep the PR simple I'd suggest not including this change.

[2021-05-14 08:58] jingtang10 commented on #184
I'm not sure sorry. @deepankarb @yigit @florina-muntenescu @kevinmost not sure if anyone else knows why this is happening and if this is a bug worth filing to android studio.

[2021-05-14 09:04] jingtang10 opened #473 "Update room version to 2.3.0"
**Describe the Issue**
https://developer.android.com/jetpack/androidx/releases/room#version_230_3

**Would you like to work on the issue?**
:)

[2021-05-14 10:35] aditya-07 commented on #473
Yes Sure :)

[2021-05-14 15:44] yigit commented on #473
I was seeking the code to find what i was referring to but just found another issue, these Transaction annotations are no op:
https://github.com/google/android-fhir/blob/1992c7a03e13f71a88bff72177901bc048237729/engine/src/main/java/com/google/android/fhir/db/impl/DatabaseImpl.kt#L64

Because that is not a class Room parses. Transaction annotation only works on Room DAO's so this code needs to use

[2021-05-14 17:58] jingtang10 opened #474 "Support prefixes in search: eq, ne, gt, lt, ge, le"
**Is your feature request related to a problem? Please describe.**
https://www.hl7.org/fhir/search.html#prefix

**Describe the solution you'd like**
Design and implement the change to the search API

**Describe alternatives you've considered**
NA

**Additional context**
NA

**Would you like to work on the issue?**
No

[2021-05-14 19:41] #376 closed

[2021-05-15 07:43] epicadk commented on #474
#436 & #419 add these prefixes for number and date. Is this what you had in mind or it is something else?

[2021-05-16 05:48] epicadk opened #475 "Support location search"
**Is your feature request related to a problem? Please describe.**

Currently we do not support search for locations

**Describe the solution you'd like**

Support search for location

**Describe alternatives you've considered**

 --
**Additional context**

https://www.hl7.org/fhir/search.html#special

**Would you like to work on the issue?**

yes

[2021-05-17 11:41] joiskash commented on #216
Points to keep in mind  for questionnaire items that can have more than one answer,:

1. The ViewHolder has to initialize correctly i.e. if answers already exist , they should be displayed.

[2021-05-17 11:46] joiskash commented on #216
Points to keep in mind  for questionnaire items that can have more than one answer,:

1. The ViewHolder has to initialize correctly i.e. if answers already exist , they should be displayed.
2. The ViewHolder must be able to add new answers . Each ViewHolder must have its own mechanism to add new answers from UI. In the case of checkbox it is simple but in the case of an integer question with a sli

[2021-05-17 12:31] jingtang10 commented on #470
Sorry @FikriMilano we assigned this item to @kunjan8794. Please take another look at the open issues. thanks!

[2021-05-17 13:08] aditya-07 opened #477 "Data Capture Gallery App crashes when configuration is changed (eg: language or orientation change)"
**Describe the bug**

Data Capture Gallery App crashes when device configuration changes (eg:  language is changed and user comes back to the app or Orientation is changed) while user is on Questionnaire Fragment.

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Patient Registration page in the SDC gallery app
2. Press home and go to the Language Setting

[2021-05-17 16:46] jingtang10 commented on #216
@fredhersch on 2) and 3).

A plus icon sounds reasonable to me. Rather than a dustbin icon, can we do a minus icon? Simpler. Also can we try to use material icons?

[2021-05-17 18:31] aditya-07 commented on #161
Updated the json with ` "answerOption": [
                {
                  "valueString": "Positive",
                  "valueCoding": {
                    "code": "Positive"
                  }
                },
                {
                  "valueString": "Negative",
                  "valueCoding": {
                    "code": "Negative"
                  }
                }

[2021-05-17 20:11] epicadk opened #479 "Bug/Feat : improving string search or indexing for Human Name and Address"
**Is your feature request related to a problem? Please describe.**

The current way to index Human names and Addresses is to concatenate them using a separator.
https://github.com/google/android-fhir/blob/4a2c5d593b2806cb5fa89140d51795d17700e56d/engine/src/main/java/com/google/android/fhir/index/ResourceIndexer.kt#L171-L197

The issue arises when we look at the search implementation. According to

[2021-05-17 20:14] epicadk commented on #479
Not sure whether to classify this as a bug or a feature : /. I'm leaning more towards bug.
I am happy to take this up once/if we've decided this needs to be address and have reached a consensus on whether the indexing code needs to change or the search code.

[2021-05-17 23:10] FikriMilano commented on #470
That's alright @jingtang10 , I will find one eventually. Best of luck @kunjan8794 👍

[2021-05-18 09:52] epicadk opened #481 "Support search parameter common for all resources"
**Is your feature request related to a problem? Please describe.**

Currently we do not support  Search parameter for all resources

**Describe the solution you'd like**

Support  Search parameter for all resources
**Additional context**

https://www.hl7.org/fhir/search.html#all

**Would you like to work on the issue?**

Yes

[2021-05-18 12:19] joiskash commented on #216
Sure I will use material design.

As discussed with Jing, I will be going ahead with the following design:
I will extract an interface on top of QuestionnaireItemViewHolder. This interface will have functions such as addAnswer, removeAnswer, updateAnswer(?) which will be implemented by each ViewHolderFactory. eg: In the case of check boxes, addAnswer removeAnswer simply means allowing multiple ans

[2021-05-18 13:41] fredhersch commented on #472
Discussed on WHO technical WG2 call.

Discussed experience with different use cases from implementer's:

From @pld:
- General conflict issues don't happen very often with syncing between mobile and server
- Have had some experience with merging patient records which is related but different - would be worth creating a new issue on de-duplicating / merging issues

@litlfred Do you have some use cas

[2021-05-18 13:45] fredhersch commented on #472
[SCD Type 2](https://docs.oracle.com/cd/E41507_01/epm91pbr3/eng/epm/phcw/concept_UnderstandingSlowlyChangingDimensions-405719.html) was proposed as an idea to look at:

[2021-05-18 13:48] fredhersch commented on #472
@kaapstorm: suggested looking at Command Query Separation pattern. Changes are logged on the device and then replayed on the server which then creates the authoritative version. Please add additional comments

[2021-05-18 13:53] fredhersch opened #483 "De-duplicating / merging issues"
**Describe the issue to be researched**
How to handle the scenario when duplicate records are identified and merged on the server.

**Describe the goal of the research**
- Describe the use cases
- Identify specific requirements or policy
- Align on priority for any requirements

**Describe the methodology**
We will get input from the community of implementer's who are best placed to help inform th

[2021-05-18 13:53] fredhersch commented on #483
@pld Can you kick this off by describing the issue and how you have handled this. Ty

[2021-05-18 14:22] fredhersch opened #484 "Search requirements"
**Describe the issue to be researched**
Search requirements for the SDK to support

**Describe the goal of the research**

1. Capture all of the common search use cases that the FHIR SDK needs to support for implementers to develop solutions
2. Gap analysis of existing search features (completed or on roadmap). Update roadmap accordingly
3. Identify edge cases and prioritise these on the roadmap

[2021-05-18 15:49] kaapstorm commented on #472
Thanks @fredhersch (More context on [CQRS here](https://martinfowler.com/bliki/CQRS.html).)

I think a big consideration with this approach is its server-side requirements. I'm not sure these expectations would be practical.

Another issue that was raised about this approach is whether to trust device timestamps. An alternative is to use server timestamps at sync-time. That forfeits the ability to

[2021-05-18 18:02] kunjan8794 commented on #470
@jingtang10 Do we need to display a warning when the user is filling the questionnaire, or essentially only after user clicks on the SUBMIT button?

[2021-05-18 18:16] jingtang10 commented on #470
I think it makes sense to display a warning when the item loses focus (in the case of an edit text at least).

In the case of radio button or other types, it's harder. I agree we might need to reply on validation upon page change or upon submission. But that can be left to do in a follow-up.

[2021-05-19 04:01] epicadk commented on #475
I'm still trying to work out the math. There are a few methods to find the distance between two points on the earth however I am not sure how we can use indexes with them. All the methods I've come across would require a Full table scan.

[2021-05-19 10:24] jingtang10 opened #485 "Use proper transactions in the db code (instead of @Transaction)"
I was seeking the code to find what i was referring to but just found another issue, these Transaction annotations are no op:
https://github.com/google/android-fhir/blob/1992c7a03e13f71a88bff72177901bc048237729/engine/src/main/java/com/google/android/fhir/db/impl/DatabaseImpl.kt#L64

Because that is not a class Room parses. Transaction annotation only works on Room DAO's so this code needs to use

[2021-05-19 11:15] aditya-07 commented on #477
The code was replacing the `QuestionnaireContainerFragment#arguments` with a new `Bundle`. This caused issue after `QuestionnaireContainerFragment#arguments` was recreated because of orientation / language change as the navagrs now couldn't get the same data from Bundle as the keys were not there anymore.
Fixing this issue by adding data `QuestionnaireContainerFragment#arguments` Bundle instead of

[2021-05-19 13:51] #477 closed

[2021-05-19 14:08] FikriMilano commented on #485
@jingtang10 just to clarify.
We have to change the use of @Transaction annotation to `db.withTransaction {}`

Is that right?
If yes, then can I give it a try?

[2021-05-19 14:23] #401 closed

[2021-05-19 17:35] stevenckngaa opened #487 "Handle repeated answers in questionnaire validation"
The [validation framework](https://github.com/google/android-fhir/tree/master/datacapture/src/main/java/com/google/android/fhir/datacapture/validation): only validates the first answer from QuestionnaireResponseItemComponent. Suggest to validate all answers.

[2021-05-19 17:38] jingtang10 commented on #485
Yes!

[2021-05-20 07:56] fredhersch commented on #470
I think we will need to look at how to support custom error messages and translations
- Is there an extension for validation error messages that can be used with translations?
- Alternatively may need to implement something with the SDK for common validation messages and use of the strings.xml for languages

[2021-05-20 08:21] fredhersch commented on #465
@jingtang10 can we update this questionnaire in the SDC Gallery app and see this working?

[2021-05-20 14:41] pld commented on #472
For reference, OpenSRP handles conflicts in a number of ways, but it always stores a history of all versions and assumes the version with the greatest of an ordering field is the most recent version. In some deployments this ordering field is the server timestamp (eg assigned on sync). This is certainly not a good strategy if we are expecting conflicts, but they have been exceptionally rare.

We h

[2021-05-21 03:26] fredhersch commented on #484
Current set of use cases surfaced have been [documented here](https://docs.google.com/document/d/1p4otLZQBye8EYaqG5TnKL1NVA-7Hf-OX-ewd4ypAEUM/edit?ts=60a4bc57)

@pld @f-odhiambo @kunjan8794 PTAL

[2021-05-21 03:27] fredhersch commented on #484
If there are additional use cases that have not been covered. Please add to this thread. Thanks

[2021-05-21 07:17] aditya-07 commented on #465
@fredhersch I have already added the questionnaire in the SDC Gallery app and its available for everyone to checkout.

[2021-05-23 05:11] epicadk commented on #479
@jingtang10 can you share your thoughts here?

[2021-05-24 09:40] #240 closed

[2021-05-24 11:31] jingtang10 opened #492 "Use dependency management improvements in Gradle 7.0"
**Describe the Issue**

for future reference, gradle 7.0 adds a much nicer way to define dependencies:

https://docs.gradle.org/7.0/release-notes.html#dependency-management-improvements

_Originally posted by @yigit in https://github.com/google/android-fhir/pull/482#discussion_r636529647_

**Would you like to work on the issue?**
Maybe...

[2021-05-24 12:26] fredhersch opened #493 "Build dynamic demo for generating metrics using $measure-evaluate"

[2021-05-24 13:55] #485 closed

[2021-05-24 23:09] FikriMilano commented on #485
Thank you for your trust!

[2021-05-25 11:27] Tarun-Bhardwaj commented on #481
@epicadk , could you please provide the target date for closing this issue and the estimated effort pending on this?

[2021-05-25 11:42] epicadk commented on #481
I've linked a pr. It's pending review.

[2021-05-25 12:47] Tarun-Bhardwaj opened #495 "DUMMY - For testing - Please ignore"

[2021-05-25 17:04] #473 closed

[2021-05-26 09:24] jingtang10 opened #498 "Adopt "Squash and Merge" strategy"
**Describe the Issue**
There are [3 merge strategies](https://docs.github.com/en/github/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/about-pull-request-merges#squash-and-merge-your-pull-request-commits) we can use on GitHub.

- Create a merge commit
- Squash and merge
- Rebase and merge

We have been using the first one for all PRs as far as I know.

@kevinmost raised

[2021-05-26 09:54] aditya-07 commented on #385
@jingtang10 Can you please provide a mockup for the search.

[2021-05-26 10:23] jingtang10 commented on #465
This isn't done yet as per @fredhersch's requirements:

- [ ] Show related controls using the local language (from strings.xml) e.g. list selection options, back/forward (for multi-step questionnaire)

Might create a new issue for that instead.

@pld raised a question about custom locale rather than using android system locale. After testing I realized you can set it by using `Locale.setLocale' AP

[2021-05-26 10:23] #465 closed

[2021-05-26 10:23] Tarun-Bhardwaj commented on #475
@epicadk , have you been able to move ahead with this?

[2021-05-26 10:25] jingtang10 opened #499 "Show related controls using the local language"
**Is your feature request related to a problem? Please describe.**
Show related controls using the local language e.g. prev / next buttons for pagination

**Describe the solution you'd like**
We might need to provide these translations

**Describe alternatives you've considered**
NA

**Additional context**
#465

**Would you like to work on the issue?**
NA

[2021-05-26 10:45] Tarun-Bhardwaj commented on #406
@Ana2k , any ETA to create  a pull request for the changes?

[2021-05-26 11:17] epicadk commented on #475
Not really, I still can't figure out a way that provides high accuracy and would make use of the index. I will open a pr today with what I've tried so far

[2021-05-26 11:26] jingtang10 commented on #161
@aditya-07 to merge the new questionnaire into the existing `openhie-hiv-case-report` with the new translations. I think the questionnaire @fredhersch provided also stops at section 12 and is missing the later sections.

[2021-05-26 13:16] jingtang10 commented on #498
@pld @joiskash @ekigamba @Ana2k @epicadk @yigit @s-ayush2903 @shoaibmushtaq25 @rkodev @vincent-karuri

[2021-05-26 13:17] jingtang10 commented on #498
@kunjan8794

[2021-05-26 13:17] epicadk commented on #498
Yup. I agree. We should squash and merge.

[2021-05-26 13:41] jingtang10 opened #501 "Create examples of custom style in the sdc gallery application"
**Is your feature request related to a problem? Please describe.**
We should create examples in the sdc gallery app to show how implementers can change the color/style/text appearance of the questionnaire to match their application.

**Describe the solution you'd like**
NA

**Describe alternatives you've considered**
This could be hard-coded for certain questionnaires, or maybe we can even have a

[2021-05-26 14:11] deepankarb commented on #498
Thanks Kevin and Jing. I went through the second article and thought about it and why we should not do this. I couldn't think of any downside :) Let's switch to squash and merge. You have my axe!

[2021-05-26 14:28] FikriMilano commented on #498
Definitely agree, the commit will become kind of a summary of the change

[2021-05-26 14:40] jingtang10 commented on #498
Thanks all -- seems we have pretty unanimous support.

[2021-05-26 14:40] #498 closed

[2021-05-26 15:03] FikriMilano commented on #501
@jingtang10 so we are going to add a theming feature that can change:
- Colour
- View Style
- Text Appearance

...for each questionnaire?
(1 control panel for each questionnaire)

Or the whole app?
(1 control panel in questionnaire list that applies to all questionnaire)

For the control panel, how about we use Bottom Sheet or do you have something to suggest?

[2021-05-26 19:15] epicadk commented on #475
I tried adding the tests and realized what I'd done wasn't correct. I'll still try working on this but unassigning myself so that if someone has a better idea they can send a pr.

[2021-05-27 02:45] fredhersch opened #503 "Set locale from within app: support multi language app"
**Is your feature request related to a problem? Please describe.**
Currently can't set the locale from within a client app. Need to use the system settings. This makes it difficult to support multi-languages within an application

**Describe the solution you'd like**

- Ability to set the language from within the client app itself
- This would then render any questionnaires with the available loca

[2021-05-27 02:47] fredhersch commented on #465
@jingtang10 @aditya-07 I opened a new issue here - #503 503

[2021-05-27 08:39] ekigamba opened #504 "Definition-based extraction: extracting multiple resources from a single questionnaire"
As of https://github.com/google/android-fhir/tree/4892adbddf78f4fdef40d3f95bd5e2bb19424fdf, the ResourceMapper supports definition-based extraction only for a single Resource. The [FHIR SDC extraction](http://build.fhir.org/ig/HL7/sdc/extraction.html) defines three mechanisms for extraction. Based on the specification, definition-based is insufficient for the real-world use-cases as sampled from t

[2021-05-27 09:54] #431 closed

[2021-05-27 10:13] jingtang10 commented on #216
@fredhersch how is "nested items" and "multiple items selected" different from the other items?

[2021-05-27 14:32] ekigamba commented on #504
@jingtang10 I think we can have the discussion here to get a solution

[2021-05-27 14:48] jingtang10 commented on #479
Thanks so much for raising this.

I think, with the implementation of the `:contains`, this issue is somewhat less of a problem. I think I would be content with the fact that anyone can search for "John" with `:contains` using `Patient.name`, and if they want to have the exact match of first name `John` they can always use `John` with `Patient.given` search param.

It seems to me this is only real

[2021-05-27 14:58] epicadk commented on #479
@jingtang10 Thanks. I believe what you said here also applies to #488 and it's corresponding issue.

[2021-05-27 15:15] jingtang10 opened #505 "Use android navigation library for the reference app"
**Is your feature request related to a problem? Please describe.**
Use android navigation library for the reference app

**Describe the solution you'd like**
https://developer.android.com/jetpack/androidx/releases/navigation

**Describe alternatives you've considered**
NA

**Additional context**
See this https://github.com/google/android-fhir/issues/154 for a similar task done for the sdc gallery

[2021-05-27 15:16] jingtang10 commented on #504
Thanks for the excellent write-up @ekigamba!

This is definitely a limitation. To get around this, the application would either pre-determine the IDs and prepopulate the questionnaire (or use hidden questions and hidden answers in the questionnaire) or post-process the result of extraction. Not pretty, but workable.

According to the spec: `If creating, then for each occurrence of each item assert

[2021-05-27 15:20] jingtang10 commented on #216
- [ ] Set of checkboxes
- [ ] Multi-select dropdown with checkboxes
- [ ] Edit text
- [ ] Groups (of questions)

[2021-05-27 15:21] jingtang10 commented on #216
I think the most important of these is the set of checkboxes. The rest will be good to have but probably not critical (yet). But this issue should be kept open for record keeping.

[2021-05-27 16:09] jingtang10 opened #506 "Use retry strategy properly for synchronization with server"
where is this used?

_Originally posted by @yigit in https://github.com/google/android-fhir/pull/482#discussion_r639405734_

[2021-05-27 16:11] jingtang10 opened #507 "Handle cancellation in synchronization code"
you should avoid catching CancelationException here. it would be also good to have a test that we handle cancelation properly (coroutine cancelation happens via CancelationExceptions)

_Originally posted by @yigit in https://github.com/google/android-fhir/pull/482#discussion_r639406155_

[2021-05-28 02:46] fredhersch opened #508 "[Roadmap] fhirengine-alpha-02 release: ERD 04-06-21"
This alpha-02 release of the fhirengine library addresses a dependency issue that was causing an error when trying to build from maven and API change related to Sync.

- [x] Remove CQL dependency in fhirengine: https://github.com/google/android-fhir/pull/454
- [x] Rework sync API to be separate form data access API: https://github.com/google/android-fhir/pull/482

Release checklist:
- [x] Have run

[2021-05-28 02:47] fredhersch opened #509 "[Roadmap] fhirengine-alpha-03 | ERD 30-06-21"
FHIR engine alpha 03 release. Adds additional features across search, sync and data-access:

Search:
- [x] modifiers with :contains #426
- [x] modifiers with :exact #426
- [x] multiple search criteria joined by AND operator
- [x] search by number type #435
- [x] search by token type #461
- [x] search by date #375

Sync:
- [x] Retry functionality https://github.com/google/android-fhir/issues/535

D

[2021-05-28 02:55] fredhersch opened #510 "Review database failure model design+implementation (exceptions, failure mode, transaction)"
**Is your feature request related to a problem? Please describe.**
Current implementation needs to be reviewed. Related to this discussion https://github.com/google/android-fhir/pull/482#discussion_r636532906

**Describe the solution you'd like**
- Review current design and implementation
- Review existing thread
- Make any necessary outstanding changes
- Identify any additional requirements and p

[2021-05-28 10:58] ekigamba opened #512 "Update ResourceMapper to match spec v4.0.1"
Update the context extension supported to match the latest spec http://build.fhir.org/ig/HL7/sdc/extraction.html

[2021-05-28 10:59] ekigamba opened #513 "Update ResourceMapper to support IdType"

[2021-05-28 11:24] MuhammadSalman-7214 commented on #273
@jingtang10 how can we set an answer after retrieving the value using Fhir Path. To give you an idea, I have a hashMap containing all the answers. Following is the code

answer =
              mutableListOf(
                QuestionnaireResponse.QuestionnaireResponseItemAnswerComponent().apply {
                  value = retrievedAnswer as Type?
                }
              )

              whe

[2021-05-28 12:38] maanuanubhav999 commented on #86
I would like to work on this @jingtang10 @fredhersch @epicadk

[2021-05-28 23:39] maanuanubhav999 commented on #86
Will it be beneficial if I am removing AppCompactActivity and adding FragmentActivity.

[2021-05-29 08:11] maanuanubhav999 opened #514 "Regarding android-fhir client"
**Describe the Issue**
[https://github.com/google/android-fhir/wiki/GSoC-Project-Ideas#android-fhir-client](url)

**There are few doubts regarding the project.**
1. I think the project will act as a combination of reference app and dc gallery app? am I correct here. How should we get started with it?
2. Should we make a sample design for the app.

[2021-05-29 09:43] Manikant25 commented on #514
@maanuanubhav999  I have the same doubts. My mentor told me he is waiting for someone from the organization before we start with the project. I guess we must wait for some time and do other stuff.

[2021-05-29 14:02] maanuanubhav999 commented on #514
okay, thanks @Manikant25

[2021-05-29 21:23] maanuanubhav999 opened #515 "Enable view binding in reference"
**Is your feature request related to a problem? Please describe.**
https://developer.android.com/topic/libraries/view-binding

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
As we have already added view binding to sdc Gallery app it may be required here too.
#318

**Would you like to work on the issue?**
yes

[2021-05-29 21:28] epicadk commented on #515
Since compose will be stable by July (as mentioned at Google-IO) do you think it would make sense to use compose instead?

[2021-05-29 21:45] maanuanubhav999 commented on #515
Yes, sure. But when should we start shifting towards Compose?

[2021-05-30 14:11] Tarun-Bhardwaj commented on #509
It would be good to have milestones listed for each epic, just like we have one for this particular Epic. If we also list milestones for each issue in the epic, it would help us determine the weakest link (critical path) in the set of issues that are listed under the epic.

[2021-05-31 10:16] epicadk commented on #515
I think if @jingtang10 agrees we can start working on it immediately

[2021-05-31 11:35] fredhersch commented on #471
Thanks all for your comments. From reviewing the thread, we are proposing to mark this as a **'nice to have'** feature for the planned beta release (Q4 '21).

It will be good to flesh this out a bit further. Plan will be to create a new issue for this, specify the requirements and the prioritise for the post beta release roadmap.

I'm going to close the issue for now. If there are major objections

[2021-05-31 11:40] fredhersch opened #516 "Add soft delete to data access layer"
**Is your feature request related to a problem? Please describe.**
Add SOFT DELETE for local database resources. See research issue #471

**Describe the solution you'd like**
Within healthcare apps, resources (like observations etc) are often considered immutable. Most relevant resources (like Observations) do not have a 'status'. If there is a desire to delete data, should we provide the option t

[2021-05-31 11:40] #471 closed

[2021-05-31 11:45] fredhersch commented on #472
@pld When you say, ..'On the implementer side, keeping track of a merge conflicts metric seems like a good way to monitor this issue's priority' .. do you mean having access to an method in the SDK to return information about data conflicts?

[2021-05-31 11:56] fredhersch commented on #414
We are trying to get to some level of resolution for this. As it stands today, we can't see a need for implementing FTS. The search use cases and implementation of the FHIR search specification is documented here #484

Current thinking is to keep FTS on the backlog for now and we can revisit if there is a clear use case / need from the community.

Please let me know if there are strong objections

[2021-05-31 12:07] fredhersch commented on #263
Bringing this back to the sync options.

[2021-05-31 12:41] FikriMilano commented on #515
Honestly I don't think shifting to compose is necessary for us right now

[2021-05-31 12:52] epicadk commented on #515
Why not? I think compose will be very popular and would be the way to build UI components going forward. Wouldn't hurt to use it in sample apps to show the SDK's usage.

[2021-05-31 13:03] FikriMilano commented on #515
Yes it didn't hurt to use it and compose is the way to build UI components in the future. And we definitely need to add sample apps for our SDK using it.

But for now, I think we should focus in the issues that we have right now.

[2021-05-31 13:06] FikriMilano commented on #515
@jingtang10 @Manikant25 @kunjan8794

[2021-05-31 13:38] ekigamba commented on #514
@Manikant25 @maanuanubhav999 We can try and define the scope for this during our next call. I think the design should come after we decide on the scope of the reference app(s)

[2021-05-31 13:41] maanuanubhav999 commented on #515
@FikriMilano you have a point but as @epicadk, I also think shifting to compose will be needed, Soon we will be working on the **android-fhir client** and if compose is used for it, future adoptable will be much simpler and also redoing the UI part could be reduced.

[2021-05-31 13:51] maanuanubhav999 commented on #514
Sure @ekigamba I agree with you.

[2021-05-31 14:36] FikriMilano commented on #515
True, @epicadk has a point too.
Sooner or later we will use compose, might as well use it now.

We just have to wait for @jingtang10 's approval.

[2021-05-31 23:12] FikriMilano commented on #492
@jingtang10 can I work on this?

[2021-06-01 02:44] FikriMilano commented on #492
https://docs.gradle.org/7.0/userguide/upgrading_version_6.html#changes_7.0
https://docs.gradle.org/7.0/userguide/variant_attributes.html#sub:jvm_default_attributes

[2021-06-01 06:02] fredhersch commented on #375
@epicadk how are you doing on this? any updates?

[2021-06-01 06:11] epicadk commented on #375
@fredhersch PR is pending review

[2021-06-01 08:01] fredhersch opened #520 "autoComplete (filter forward based on inlined answer Options)"
**Is your feature request related to a problem? Please describe.**
For a selection list where there are many options, be able to filter forward to narrow down the option to select

**Describe the solution you'd like**

- Implement an autoComplete item control from the FHIR specification. This provides the ability to provide filter foward based on a set of inlined answer options (initially).
- Futu

[2021-06-01 11:50] fredhersch opened #521 "[Roadmap] workflow-alpha-01 release | ERD 09-08-21"
Alpha release of the workflow library with initial support for $measure-evaluate operation

Included in this release:

* #657

[2021-06-01 11:53] fredhersch opened #522 "[Roadmap] workflow API requirements complete | ERD: 30-06-21"

[2021-06-01 11:55] fredhersch opened #523 "[Roadmap] sdc-alpha-04 release | ERD 23-08-21"

[2021-06-01 12:00] fredhersch commented on #216
I think adding multi-select dropdown with checkboxes is a priority given the mobile surface we are supporting. The rest can be nice to haves for now.
cc: @joiskash @jingtang10

[2021-06-01 12:56] pld commented on #472
I think this is out of scope for the SDK, I was thinking along the lines of what data should I bring to the community to make the argument the SDK needs more robust handling of merge conflicts?

telling a story like

seems like an informative data point

[2021-06-01 13:05] fredhersch opened #524 "[Roadmap] fhirengine-alpha-04 release | ERD 30-09-21"
This alpha-04 release of the fhirengine library includes feature updates, new features and addresses existing issues:

**Search**
- [x] #474
- [x] #611
- [x] #292
- [x] #474

**Sync**

- [x] #554

**Addresses the following issues:**
- [x] #100

**New features**
- [ ] #392

[2021-06-01 13:15] fredhersch opened #525 "[R&D] codeGenerator from an IG"
From an IG, be able to generate end-points for transaction operations - see discussion with Carl L

[2021-06-01 13:15] jingtang10 commented on #525
@litlfred

[2021-06-01 13:31] jingtang10 commented on #525
Generating kotlin APIs from an IG's definition of operations for developers so that developers don't need to reimplement the operations for each IG.

[2021-06-01 14:00] fredhersch commented on #472
@pld currently the SDK doesn't provide any information about conflicts .. it just handles them. Would you be expecting a log or something simple like that?

[2021-06-01 14:13] pld commented on #472
I think this is all out of scope for the SDK

[2021-06-01 17:34] aditya-07 commented on #108
These issues are not present in the current codebase.

[2021-06-01 23:13] maanuanubhav999 opened #527 "Data Capture Gallery crashes when entering age in "COVID-19 Case Report""
**Describe the bug**
Data capture gallery crash when trying to input age in "Covid-19 Case Report"

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'COVID-19 Case Report' page in the sdc gallery app'
2. Click on 'Age under Patient Information(section 1)'
3. Enter some value

**Expected behavior**
The app should not crash on data input

**Screenshots**
If a

[2021-06-02 04:20] dubdabasoduba commented on #263
In Option 5. The group represents a family. A family is assigned a certain structure in the case or Reveal. The location extension on the group is the structure.

[2021-06-02 08:14] jingtang10 opened #528 "Stop leaking db extraction in the sync api"
**Describe the Issue**

https://github.com/google/android-fhir/pull/482#discussion_r635027418

**Would you like to work on the issue?**

Yes

[2021-06-02 15:35] fredhersch commented on #472
Thanks. Based on the discussion, the approach that the FHIR SDK takes is reasonable and should support the common use cases. Noted that  handling conflicts is more of an operational issue. Might be worth us adding something here in terms of 'best practices' to avoid conflicts etc ... or shared lessons from the field.

I'm going to close this issue for now.

[2021-06-02 15:36] #472 closed

[2021-06-02 15:39] #161 closed

[2021-06-02 15:52] ekigamba commented on #527
@maanuanubhav999 The cause of the bug is correct. The feature with the bug is https://github.com/google/android-fhir/issues/164 which validates immediately a value is entered. Is it clear how to test the initial feature and probably fix this and other cases that cause the crash?

Does it validate incomplete values? Is it supposed to validate incomplete values?

[2021-06-02 17:01] Tarun-Bhardwaj commented on #374
Hi @vincent-karuri , are there any updates on this issue? Is there any ETA or the pending effort that you can provide?

[2021-06-02 17:11] #495 closed

[2021-06-02 18:21] maanuanubhav999 commented on #527
@ekigamba thanks, I understood that.

[2021-06-03 00:53] maanuanubhav999 commented on #527
@ekigamba , yes the feature you have mentioned is working fine as it was supposed to and there is no issue with the questionnaire. Sure I will try to fix this.

[2021-06-03 08:06] jingtang10 commented on #273
You need to try to figure out what the type is and set the right value. Do not use `value = `, use something like `booleanValue = ` etc.

Can you try to do something like this: https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/mapping/ResourceMapper.kt#L203
or this: https://github.com/google/android-fhir/blob/master/datacapture/src/mai

[2021-06-03 08:22] #512 closed

[2021-06-03 08:22] #513 closed

[2021-06-03 08:37] joiskash opened #530 "Nested items are still revealed after deselecting / removing the answer for the parent item"
**Describe the bug**
The SDC has a feature which hides nested items until the parent item has been answered. On removing the answer/ deselecting the option , the nested items are still visible and do not go back to the hidden state.

**Component**
 SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Go to datacapturegallery app.
2. Click on Neonate record from New South Wales, Austra

[2021-06-03 08:42] MuhammadSalman-7214 commented on #273
okay, thanks @jingtang10

[2021-06-03 09:01] fredhersch opened #531 "[R&D] Explore transforming a Questionnaire into an XForm structure for rendering in a webView (as a pathway to supporting PWAs)"
add https://github.com/roboton

[2021-06-03 09:02] jingtang10 commented on #374
@Tarun-Bhardwaj we need to find someone to work on this issue.

[2021-06-03 09:03] jingtang10 commented on #515
@epicadk can you please open an issue to track the work to use jetpack compose.

@maanuanubhav999 please feel free to open a PR for view binding.

[2021-06-03 09:04] fredhersch opened #532 "[R&D] How do we support PWA architecture with the FHIR SDK data access library"

[2021-06-03 09:16] roboton commented on #532
Currently the Medic Mobile CHT architecture is:

XLSForm gets turned into an XForm which is rendered into html by Enketo and presented to the UI via AngularJS
There's a client-side, offline resilient PouchDB (javascript implementation of CouchDB, a NoSQL document oriented DB) that stores these XLSForms and their saved instances as json objects and syncs them with a server-side CouchDB when online.

[2021-06-03 09:21] maanuanubhav999 commented on #515
Sure.

[2021-06-03 09:22] syedowaisali90 commented on #504
Hi @jingtang10 here is a sample patient registration questionnaire [json](https://github.com/opensrp/fhircore/blob/issue-184/android/app/src/main/assets/patient-registration.json) with two sections one is [Patient](https://www.hl7.org/fhir/patient.html) and the other is [RelatedPerson](https://www.hl7.org/fhir/relatedperson.html). Actually, need to find a proper way to get the multiple resources f

[2021-06-03 09:38] #385 closed

[2021-06-03 09:51] ekigamba commented on #504
@jingtang10 Could you add your suggestions on achieving multiple resource extraction with referencing for the sample form in the comment above :arrow_up:? The questionnaire json has been linked

Initially, I assumed that the  `questionnaire-initialExpression`, `questionnaire-calculatedExpression` in combination with the FHIR queries and FHIRPath expressions would help auto-generate the UUID and po

[2021-06-03 11:46] Tarun-Bhardwaj commented on #374
@joiskash, would you like to pick up this high priority issue for Q2 release? I will create a separate thread between you, Jing and myself to discuss the details.

[2021-06-03 11:53] joiskash commented on #374
Sure @Tarun-Bhardwaj  i can pick this up as my next task

[2021-06-03 13:26] jingtang10 commented on #504
In the sdc spec for definition based extraction http://build.fhir.org/ig/HL7/sdc/extraction.html#definition-based-extraction:

So I think what needs to happen in that json is to add `questionnaire-itemExtractionContext` to the group containing questions for a different type of resource. How's that?

[2021-06-03 13:28] Kigamba commented on #504
@jingtang10 Yea, that's right. What about the referencing? I remember you had an elaborate idea around that