[2022-09-16 07:09] delcroip commented on #1595
Ref to HL7 lib https://github.com/hapifhir/org.hl7.fhir.core/issues/791

[2022-09-16 10:09] #1524 closed

[2022-09-19 05:05] PallaviGanorkar commented on #1607
Few data types are not implemented for Search Parameter Type, Details are available here,

<google-sheets-html-origin><style type="text/css"></style>

Supported Data Types | Implemented
-- | --
Number
integer | Yes
dcimal | Yes
  |  
Date
date | Yes
dateTime | Yes
instant | Yes
Period | Yes
Timing | Yes
string | Yes
  |  
String
HumanName | Yes
Address | Yes
contact details / phone numbers |  
  |

[2022-09-19 06:20] santosh-pingle commented on #1514
Issue is reproducible.
Me and @aurangzaibumer  already had discussion on it.
He already proposed draft, which he supposed to share with @f-odhiambo as per offline discussion with Umer.

[2022-09-19 10:18] maimoonak commented on #1579
Done in PR #1610 . The validator would not perform any validation on hidden fields.

[2022-09-19 12:28] PallaviGanorkar commented on #1526
@shelaghm Informative UI for skip logic behavior at the bottom of screen, It will be the part of app or need to add component in SDC?

[2022-09-19 22:52] shelaghm commented on #1526
@PallaviGanorkar the informative UI was intended to show up in the SDC Catalog app, but not in deployment apps. The idea behind the grey box is to help visualize the skip behavior that's "invisible" on screen, but can be found in the code. In the library itself the skip logic informative UI would not be displayed.

@jingtang10 Curious to hear your thoughts?

[2022-09-20 09:23] santosh-pingle opened #1612 "Integrate Help button use case in catalog app."
**Is your feature request related to a problem? Please describe.**
As Help button feature will be part of sdc module, it will be good to integrate same in any one of the existing screen of the catalog app.

@shelaghm Can you please suggest use case in catalog app where help button can be shown.

#1528

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2022-09-20 10:09] #1575 closed

[2022-09-20 10:15] jingtang10 commented on #1526
yeah i agree this grey box can be a thing in the catalog app.

no need to implement it in the sdc lib.

[2022-09-20 10:24] jingtang10 commented on #1526
for 2. releated ticket: https://github.com/google/android-fhir/issues/1528 but i don't think they're the same now...

[2022-09-20 11:40] f-odhiambo opened #1613 "Create a local release based on latest merged library artifacts on Android FHIR SDK"
Document steps on how to publish a `local` and `hosted` Sonatype release for latest merged library artifacts on Android FHIR SDK
for either

1. Data Capture Library
2. FHIR Engine Library
3. Workflow Library

Disclaimer - Credentials will be  required when we need to publish remotely so that everyone can use the artifact

[2022-09-20 11:41] f-odhiambo commented on #1613
Wrong repo

[2022-09-20 11:41] #1613 closed

[2022-09-20 11:57] fredhersch opened #1614 "Support for answerOptions as images/icons"
**Is your feature request related to a problem? Please describe.**
Be able to use images (e.g icons) for radio buttons

**Describe the solution you'd like**
As a developer I can use images to represent radio button options. These should work as radio button itemControls

See an example of using the "answerOption and rendering-xhtml" from the SDC spec [here](https://build.fhir.org/ig/HL7/sdc/exampl

[2022-09-20 11:58] fredhersch commented on #1614
@shelaghm can you add an example UI for this control. Ty.

[2022-09-20 17:58] shelaghm commented on #1612
<img width="1256" alt="Screen Shot 2022-09-20 at 10 49 34" src="https://user-images.githubusercontent.com/86378921/191328835-589231bd-fe03-40de-9f81-bc508c34f095.png">

I suggest we add a new component in SDC Catalog app to show this use case.
- Icon added (shared on chat)
- See figma for specifics for the grey background box behind the help text. This shouldn't be a drawable, but rather a respons

[2022-09-20 22:31] shelaghm commented on #1597
@KhumboLihonga Great suggestions, I agree with all of these recommendations.

Another challenge with the auto complete component is that you cannot see a list of options (if it were a dropdown you could see the list of all the options similarly to how https://github.com/google/android-fhir/issues/764 is described )

@KhumboLihonga What's the use case you're using auto complete for? Is seeing a lis

[2022-09-20 23:50] shelaghm commented on #1614
<img width="981" alt="Screen Shot 2022-09-20 at 16 45 02" src="https://user-images.githubusercontent.com/86378921/191383980-f80e4c58-b44f-46d3-a53f-e6696fd31291.png">

I have two options for this, do you have a preference for showing the "radio checkbox" or not?
I like both options :)

[2022-09-21 00:18] shelaghm commented on #764
@joiskash @kumaakh
Here are some design mocks for this. Please share your feedback.

<img width="959" alt="Screen Shot 2022-09-20 at 17 15 40" src="https://user-images.githubusercontent.com/86378921/191387021-50034df2-cbf3-405b-88a1-96c74c1eebbc.png">

1. Auto pop up the keyboard and show the cursor in the dropdown box after the user presses the dropdown box. Question: Is this the desired behavior

[2022-09-21 11:17] aditya-07 commented on #1476
@anshul90 Are you still facing the issue?

[2022-09-21 11:23] anshul90 commented on #1476
Nobody responded so I removed this library from my project.

On Wed, Sep 21, 2022 at 4:47 PM aditya-07 ***@***.***> wrote:

--
Regards,

Anshul Tyagi,
email: ***@***.***
cell: +91 9654361294

[2022-09-21 19:31] #1040 closed

[2022-09-21 22:07] shelaghm commented on #1526
@jingtang10
Yes, this is the same grey box as the `help text box`. We don't need to use the icon for this box, so can remove that if it adds a lot of complexity
Yes, I suggest we use terminology that aligns with FHIR, so lets update this component to `enable when` as you suggested

[2022-09-21 22:51] shelaghm opened #1619 "SDC Catalog app: Date validation missing for Date / DateTime picker"
**Describe the bug**
Date validation functionality missing for DatePicker and DateTime picker

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Date Picker in SDC catalog app
2. Enter any random numbers and no error messages show up

**Expected behavior**
An error message will show up if it doesn't match the date format

**Hotlist**
Needed for usability tes

[2022-09-21 22:59] shelaghm opened #1620 "SDC Catalog app: nothing happens when tapping the text field box of Time entry"
**Describe the bug**
nothing happens when you press the text field box of Time entry, only when you press the time icon does the time widget open

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to DateTime picker in SDC catalog app
2. Tap on text field box
3. Wait for nothing to happen and press again
4. Tap on the time icon and widget opens, then press the

[2022-09-22 02:09] PallaviGanorkar commented on #1589
@shelaghm If date field have "required": true attribute, in this case both error messages are displayed like,
"Missing answer for required field"
"Date format needs to be dd/mm/yy"

out of these which message should be displayed in UI on priority?

[2022-09-22 06:25] santosh-pingle commented on #1477
in progress.

[2022-09-22 06:32] KhumboLihonga commented on #1597
@shelaghm We have multiple places where we will use this. One of them is selecting a single practitioner out of a list of practitioners. These practitioners could be over a hundred names for some facilities so scrolling through that list can be a pain. Being able to quickly filter the names based on the initial input would really speed up the process.

With regards to https://github.com/google/and

[2022-09-22 07:11] #1607 closed

[2022-09-22 07:37] shoaibmushtaq25 commented on #608
I did POC on using the https://www.sqlite.org/spellfix1.html extension into an android app and I am able to run it on the android app and use the spellfix1 table as a virtual table for spell correction search with SQLite
For this POC, I had to do the following steps.
- Install and configure NDK
- load spellfix1 as a native c module to use it for spell correction
- POC is using https://github.com/r

[2022-09-22 08:09] fredhersch opened #1621 "Add support for Attachment itemControl type"
**Is your feature request related to a problem? Please describe.**
As a user, I want to add an image to a patient record as part of an encounter (e.g. attaching image of a consent signature to a record)

**Describe the solution you'd like**
Provide support for the item-type-attachment within the SDC Library of the SDK.

- This would create an button that allows a user to select a file OR capture a

[2022-09-22 09:04] KhumboLihonga opened #1622 "Apply hidden extension to a page"
**Is your feature request related to a problem? Please describe.**
Be able to hide a page

**Describe the solution you'd like**
Using the hidden extension should hide the page as shown below. Currently, it just renders a blank page. This implementation would be similar to how a page is hidden when using an enable when in https://github.com/google/android-fhir/pull/1532.

[code]

**Use case**
There

[2022-09-22 09:45] jingtang10 commented on #1576
can you please share the questionnaire? @Itskiprotich

thanks

[2022-09-22 09:50] jingtang10 commented on #544
@Manikant25 thanks for raising this - this is now an urgent need from two implementers.

@Manikant25 please feel free to send a pr asap - if you don't have time @santosh-pingle will work on this.

[2022-09-22 09:56] joiskash commented on #764
This looks great! Yes this is the desired behavior, I think we can decide the show the keyboard if the answer option size is greater than what can be shown on the screen with the keyboard out. This will be useful for devices of different size eg: phone vs tablet.

[2022-09-22 10:03] Manikant25 commented on #544
sure, I will try to send the PR by the end of this weekend.

[2022-09-22 10:21] santosh-pingle commented on #1516
@PallaviGanorkar
Flyover text is missing from below screenshot.
<img width="434" alt="Screen Shot 2022-09-22 at 3 46 43 PM" src="https://user-images.githubusercontent.com/86107848/191721980-029e72bd-0330-4e97-9065-f57ee0c1b53d.png">

You can refer Dropdown component workflow to get expected workflow, where flyover text is shown.
Just attaching screenshot for reference.

<img width="422" alt="Scree

[2022-09-22 13:08] #1483 closed

[2022-09-22 13:18] fredhersch commented on #1614
I think this might be better achieved using the [itemAnswerMedia Extension](http://build.fhir.org/ig/HL7/sdc/StructureDefinition-sdc-questionnaire-itemAnswerMedia.html)

This is similar to the [ItemMedia Extension](http://build.fhir.org/ig/HL7/sdc/StructureDefinition-sdc-questionnaire-itemMedia.html) implemented

Both are currently DRAFT

cc: @jingtang10

[2022-09-22 14:03] santosh-pingle commented on #1477
@shelaghm

Can you please share radio button drawable icon which has left padding 18dp for both selected and unselected state, so that I can try these drawable icons.
(root cause is when button drawable get drawn on canvas it assigns zero value to the left bound, therefore it appears very close to left edge.)

[2022-09-22 14:36] KhumboLihonga opened #1623 "Entry format extension has no effect on a date item"
**Describe the bug**
Setting the entry format on a date item has no effect.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Open the catalog app
2. Select date picker
3. The format on the UI is shown as 'dd/MM/y'
4. But the item in the [questionnaire](https://github.com/google/android-fhir/blob/7c964fa9108eac37b8d40488fcf61d40055dd52e/catalog/src/main/assets/date_p

[2022-09-22 14:46] Gental-Giant commented on #1623
@f-odhiambo Kindly take a look.

[2022-09-22 22:40] shelaghm commented on #1477
Shared icons on chat. Icons are exported so they are all 24px. You'll notice there's slight white space around the icons, this is so that it is consistent across the whole icon set.
This means the padding is 16px, not 18px. See visual below and hopefully this works for you?
<img width="752" alt="Screen Shot 2022-09-22 at 15 35 39" src="https://user-images.githubusercontent.com/86378921/191863633-5

[2022-09-22 22:46] shelaghm commented on #1623
Is this because the device date format overrides the extension? what do you think @jingtang10?

[2022-09-22 22:54] shelaghm commented on #1597
Thanks @KhumboLihonga Understanding your use case is very helpful. Sounds like https://github.com/google/android-fhir/issues/764 would be better since you don't need to select multiple options from the list. I would recommend we prioritize building https://github.com/google/android-fhir/issues/764 so you can use that component instead.

[2022-09-22 22:58] shelaghm commented on #764
Thanks for the feedback @joiskash. This issue could solve https://github.com/google/android-fhir/issues/1597 and be a more useful component than the current autocomplete functionality. I suggest we prioritize building this component instead of fixing auto complete.

[2022-09-22 23:02] shelaghm commented on #1589
@PallaviGanorkar Prioritize the date format "Date format needs to be dd/mm/yy" No need to show missing answer.

If nothing has been entered, then can show "missing answer" instead? I'm not sure if this is possible to show different error messages based on if anything has been typed in the box or not?

[2022-09-23 06:26] KhumboLihonga commented on #1597
@shelaghm I agree.

[2022-09-23 07:00] santosh-pingle commented on #1477
@shelaghm
16/18 dp left padding is not present in shared icons.
Can you please share icons which has 16/18 dp left padding in icon itself.
May be you have to design new icons such way that it will have left padding in it.

16/18 dp left padding is missing from icon.
<img width="422" alt="Screen Shot 2022-09-23 at 12 21 53 PM" src="https://user-images.githubusercontent.com/86107848/191906505-db820e

[2022-09-23 07:41] PallaviGanorkar commented on #1516
@shelaghm I have added "Health conditions" as flyover text for open choice component in Catalog app. Please let me know if you have other thoughts. Thanks!

[2022-09-23 07:59] santosh-pingle commented on #1619
#1589

[2022-09-23 08:03] santosh-pingle commented on #1619
@shelaghm
please refer issue #1589
If item is marked as `required : true` in questionnaire.json then it starts showing error message.
If item in questionnaire json does not have `require : true` then it does not show error message, its behavior.

In catalog app to check the error message you need to click on gear icon -> show error -> then it start showing error for invalid dates once user start i

[2022-09-23 09:11] santosh-pingle commented on #1260
looking into it.

[2022-09-23 11:21] jingtang10 commented on #1576
@Itskiprotich The reason that we do not show all these validation errors is because we do not want to spam the user when they first open the questionnaire. We discussed this with @mberg @f-odhiambo @shelaghm. Showing all these validation errors at the same time when the user first open the questionnaire is considered as an unhelpful pattern.

Unless there's a differernt solution, I will just mark

[2022-09-23 11:23] jingtang10 commented on #544
@shelaghm can you please comment on the UX design of this issue?

[2022-09-23 12:02] santosh-pingle commented on #1260
@shelaghm
Can you please provide more details on `the usability of the slider is enhanced by pairing the slider with a text field`, what are the use case you would like to implement here?
Use cases like
-  Show current slider value in the input text field?

[2022-09-23 12:07] fredhersch commented on #1260
Will put this on hold until after Ux testing to determine prioritisation.
cc: @santosh-pingle @shelaghm

[2022-09-23 12:36] fredhersch commented on #1568
@LZRS Is this still an open issue OR does the comment / feedback provided address it? Thanks

[2022-09-23 12:42] fredhersch commented on #1614
@FikriMilano Are you interested in picking this up as it is very similar to the itemMedia Extension, but for answerOptions.

cc: @f-odhiambo

[2022-09-23 13:56] LZRS commented on #1568
@fredhersch Yes, the feedback provided was sufficient enough to address the issue

[2022-09-23 16:49] jingtang10 opened #1627 "HAPI Structures, Java11, and Android API levels"
This is an issue @vitorpamplona raised in the process of implementing #1403.

PR #1603 introduces new dependencies such as CQL evalutor, CQL engine, and CQL translator. They use HAPI version 6.0.1 which is compiled using Java11. There are certain Java11 APIs that are not available on older Android versions, especially pre Android API 26. For example, `java.lang.reflect.Method.getParameterCount()`.

[2022-09-23 16:54] jingtang10 commented on #1627
See related issue: https://github.com/hapifhir/hapi-fhir/issues/3690

Under this issue, let's create a PR to diverge the Engine and SDC API level from workflow API level.

[2022-09-23 17:06] shelaghm commented on #1477
@santosh-pingle Does the 16px padding need to be on the icons? In the code can you specify the 16px padding around the icon? I think that's how it is typically done.

[2022-09-23 17:15] shelaghm commented on #1260
Thanks @fredhersch for the prioritization.

@santosh-pingle the primary use case for adding the slider text box is for accessibility best practises. Sliders are hard to interact with for people who are visually impaired and who use screen readers, it is also challenging for anyone who has motor control limitations. Having the text box also makes it easier for other people who know what number they

[2022-09-23 17:56] vitorpamplona commented on #1627
A few more learnings from this process are below.

### Issues that can be resolved with current Desugaring lib

Uses of `java.time` by this project, by HAPI 6, and by Caffeine require MinSDK 26 or Desugaring w/ 24, which provides a workable subset of `java.time` and a fixed `ConcurrentHashMap` for caching solutions.

The version of Kotlin's Stdlib must match the desugaring + minSDK strategy as wel

[2022-09-23 18:38] jingtang10 opened #1628 "Support Android Min API Level 24"
We have not been testing API level 21 consistently in our testing matrix: https://github.com/google/android-fhir/blob/master/.github/workflows/device-tests.yml#L40

We should consider raising the min api level to 24 (released aug 2016) as we already do not guarantee support for anything lower than 24 due to our lack of tests.

[2022-09-23 18:42] jingtang10 commented on #1627
thansk for the excellent write-up vitor. i've created #1628.

[2022-09-23 18:59] shelaghm commented on #544
This makes sense to me. I assume it will also be important to pair the astericks `*` with instructions that say `required question`. We are planning to test this in an upcoming usability study to learn if people are familiar with what `*` means.

From a UX perspective I recommend making the `*` the same color as the question text. In an error state it can be red to indicate that a response is miss

[2022-09-23 19:45] jingtang10 commented on #1628
Discussed with @joiskash @pld offline.

FYI also @fredhersch @f-odhiambo @mberg @ekigamba @maimoonak @kunjan8794 since this is an important change

[2022-09-23 19:45] jingtang10 commented on #1628
@vitorpamplona

[2022-09-25 15:42] vitorpamplona commented on #1627
After some deeper analysis, I can say that the HAPI dependencies (base + structures + validators + resources) we use are fully compliant with SDK 26

They are not compliant with 24, even with desugaring on.

Here are the problems:
[code]

[2022-09-25 22:30] vitorpamplona commented on #1627
PRs to assert compliance to 26 were sent to:

- https://github.com/cqframework/clinical_quality_language/pull/810
- https://github.com/DBCG/cql_engine/pull/613
- https://github.com/DBCG/cql-evaluator/pull/157

[2022-09-26 05:49] santosh-pingle commented on #1477
@shelaghm
My understanding was the same.
But in radio button/checkbox when you give padding, it get applied around the text. Icons always get drawn with `zero left padding/ start bound `.
Therefore, it is required to apply left padding/start bound on icons itself.

[2022-09-26 06:05] santosh-pingle commented on #544
@Manikant25 Any updates would you like to share on it?

[2022-09-26 06:39] santosh-pingle commented on #1260
Sure.
I will not create PR for local changes of slider-step extension implementation, until this issue get prioritised.
Once issue get prioritised then start working on use case which @shelaghm has asked regarding textfield paring to slider.

I will create PR for temporary change to hide slider component workflow in catalog app.

[2022-09-26 10:00] jingtang10 commented on #1628
Have discussed this offline with @pld, @joiskash and no concern is raised.

[2022-09-26 10:04] jingtang10 commented on #1628
See #1627 for more details and background regarding api level change for the workflow library

[2022-09-26 11:44] f-odhiambo commented on #1621
@FikriMilano you can check out this ticket and give some feedback on the implementation plan and LOE

CC @Tarun-Bhardwaj @fredhersch

[2022-09-26 11:45] f-odhiambo commented on #1621
@fredhersch what should happen if the file is > 1MB? Should we restrict the file type also to jpg, png, .mp3, .mp4, pdf?

[2022-09-26 11:46] f-odhiambo commented on #1621
@shelaghm can you share  a UX/UI for this flow?

[2022-09-26 18:26] #1628 closed

[2022-09-26 22:25] shelaghm commented on #1477
@Santosh Pingle ah, got it. I added new icons with padding included. Shared on chat.

[2022-09-26 23:29] shelaghm commented on #1621
@fredhersch @f-odhiambo @FikriMilano

UX designs for this flow. Let me know your feedback
1. I suggest having two buttons, one for `take photo` and one for `select file` as we can open the corresponding native UI based on this initial selection.
2. `Take photo` opens the Android native camera UI. If it is their first time using the camera in this app, they'll also need to grant the application per

[2022-09-26 23:42] shelaghm commented on #1516
@PallaviGanorkar Looks good to me

[2022-09-27 04:37] shelaghm commented on #1526
@PallaviGanorkar will look into if we can use dynamic text to replace the `Help` header text. If that's not possible, then we use a simpler text box such as option 1 described by Jing above.

[2022-09-27 04:38] shelaghm commented on #1526
Skip logic text in box: "If Yes is selected, a follow-up question is displayed. If No is selected, no follow-up questions are displayed."

[2022-09-27 10:23] jingtang10 commented on #1476
for others: please see https://github.com/google/android-fhir/wiki/FHIR-Engine-Library#getting-started to get started. it's not clear how fhir engine is used. seems to me the source code is being copied because the gradle dependency doesn't include fhir engine at al.

closing. anshul - please feel free to reopen if you need this in the future.

[2022-09-27 10:23] #1476 closed

[2022-09-27 14:33] KhumboLihonga commented on #1543
@sevenreup could you check this out?

[2022-09-27 14:33] FikriMilano commented on #1621
Thanks @shelaghm, cool design.

@fredhersch @f-odhiambo
1. When a user finishes taking a photo and it's shown in the thumbnail, does that photo also get saved into the app as a file?
2. For `Select a file` opens the Android native camera roll. That does make sense if the expected attachment is an image.
3. Perhaps, the case where `Select a file` opens `file folders` is when the expected attachment

[2022-09-27 15:20] jingtang10 commented on #1608
Thanks for raising this @dubdabasoduba.

Let me clarify - This dialog is triggered when the user tries to navigate away from the questionnaire screen in the `demo` app. The dialog is part of the `demo` app. It's not part of the SDC library.

If you would like to save a draft questionnaire response, you can simply get a questionnaire response from the sdc library, and set the status to draft. This

[2022-09-27 15:21] jingtang10 commented on #1608
can you please try this approach and update here? thanks!

[2022-09-27 16:41] jingtang10 opened #1633 "SDC crash: org.hl7.fhir.exceptions.FHIRException: Type mismatch"
**Describe the bug**
[code]

**Component**
SDC library

**To Reproduce**
Use this questionnaire:

[code]

and this response:

[code]

And then change the answer of the first question

**Expected behavior**
No crash

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information):**
 - Device: Pixel 6
 - Android version: Any
 -

[2022-09-27 16:56] jingtang10 commented on #1633
This issue was originally raised by Parth Panchal from Argusoft.

[2022-09-27 21:14] williamito opened #1635 "Change "Show/hide error state" setting to clearer UI, e.g. toggle"
**Is your feature request related to a problem? Please describe.**
It's not super clear whether show error state is turned on or off in the current UI. Given it has 2 states, using a toggle would be less ambiguous.

**Describe the solution you'd like**
Change UI from a button with changing text to an on/off toggle.

**Describe alternatives you've considered**
Any other unambiguous ui would work, e

[2022-09-27 21:25] williamito opened #1636 "Open choice UI hides "Add another answer" button, the text of which is misleading"
**Describe the bug**
With the current UI, the **Other** option just looks like one of the multi-choice options. There's no visible sign that the user needs to take additional action to actually provide an answer, nor that they have to scroll if the list of options already fills the screen. Also the text of "Add another answer" implies I've already provided at least one. If all I've selected is "Ot

[2022-09-27 21:54] williamito opened #1637 ""String" type item allows entry of new lines, but UI does not handle them"
**Describe the bug**
The definition of the "String" type and the UI implemented for it strongly implies it should only be a single line of text, as the "Text" type exists for multi-line text. However, "String" accepts multi-line text input but does not accommodate it visually.

**Component**
SDC Library

**To Reproduce**
Steps to reproduce the behavior:
1. Open any Questionnaire with a "String" it

[2022-09-27 22:03] williamito opened #1638 "Date picker validation accepts nonsensical answers"
**Describe the bug**
I can type invalid dates into the Catalog app like `40/0/2` into the date picker with no validation error.

**Component**
SDC Library / Catalog

**To Reproduce**
Steps to reproduce the behavior:
1. Open a questionnaire with a datepicker, e.g. Catalog app which says it wants `M/d/yy`
2. Enter `40/0/2`

**Expected behavior**
Nonsense values should not pass validation

**Screensh

[2022-09-28 06:51] santosh-pingle commented on #544
Looking into it.

[2022-09-28 14:04] ndegwamartin commented on #1621
I think it might be worthwhile exploring the impact of image compression on the UX.

We can have a workflow such that the app accepts the various image formats but internally converts the image to a [WEBP format ](https://developer.android.com/reference/android/graphics/Bitmap.CompressFormat#WEBP)which can either be a lossy or lossless compression. This format significantly reduces the file size f

[2022-09-28 16:17] jingtang10 commented on #1514
@aurangzaibumer do you have any update/ETA for this? thanks

[2022-09-28 16:25] jingtang10 commented on #1576
@Itskiprotich can you confirm if you can use the submit button provided by the library (which uses the fragment results API)? rather than calling the `getQuestionnaireResponse` API?

Discussed with @aditya-07 and @shelaghm. It remains a question what the questionnaire behavior should be when there are either validation errors on the last page, or previous pages (in the case of random entry mode, y

[2022-09-28 16:30] jingtang10 commented on #1620
discussed with @santosh-pingle @shelaghm, the current behavior is working as intended. but it would be good if we can open the pop-up (shown in the screenshot above) if the user pressese the text input for time, and open the pop-up with the clock face for inputting time if the user clicks the clock icon at the end of the text input.

not entirely clear to me if material widget allows that. but we

[2022-09-28 17:20] nsabale7 opened #1640 "SDC: Single Choice question unselects the selected answer"
**Describe the bug**
Question with type as single choice unselects its answer when switched between two same answer options.
This is similar to #1521.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
 1. Open Catalog app
 2. Click on Single choice
 3. Select first answer option -> switch to second answer option -> switch again to first answer option -> switch again to

[2022-09-28 18:08] maimoonak commented on #1173
Done in #1328

[2022-09-28 19:38] williamito opened #1641 "Demo app - create patient does not work"
**Describe the bug**
When creating a patient, a toast appears saying the patient was created but it never shows up in the list.

**Component**
Reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Create a patient
2. Try to find the patient in the list

**Expected behavior**
The patient is in the list

**Screenshots**
If applicable, add screenshots to help explain your problem.

http

[2022-09-28 22:25] shelaghm commented on #1621
@FikriMilano Re: #4 Good point. I added a 3rd button in screenshot below. I suggest we have 3 different buttons developers can choose from, and that it will be up to them to select the appropriate buttons to display in their app depending on what users are uploading. I suspect that take photo and upload photo will be most common.

<img width="503" alt="Screen Shot 2022-09-28 at 15 23 09" src="http

[2022-09-28 23:04] shelaghm commented on #1605
Proposed changes for
DatePicker, DateTime Picker, Multiple choice, boolean choice, dropdown and slider (If we bring it back to life)  @santosh-pingle I'll post figma link on chat so you can copy directly

<img width="1387" alt="Screen Shot 2022-09-28 at 15 31 13" src="https://user-images.githubusercontent.com/86378921/192901150-2d0f57c6-7a6c-4be1-b35d-d9482a4fbb32.png">
<img width="1246" alt="Scre

[2022-09-28 23:31] shelaghm commented on #1576
I think a pop-up dialog that is displayed when a user presses "submit" can work well here because we want to alert people take action and fix the issues. There should also be error messages already displayed in the form if they haven't completed required questions or there's validation errors.

Screenshot w/ example
<img width="443" alt="Screen Shot 2022-09-28 at 16 25 27" src="https://user-images

[2022-09-29 06:33] FikriMilano commented on #1621
@shelaghm Thanks, that works.

[2022-09-29 07:46] #1633 closed

[2022-09-29 08:24] PallaviGanorkar commented on #1641
@williamito This is expected behavior of demo app, Patient created with City  "NAIROBI" are only appears in the demo app patient list on dashboard and also in search result.

[2022-09-29 10:30] #1477 closed

[2022-09-29 11:59] dubdabasoduba commented on #1608
Okay, will do so. Then revert. We can mark this issue as blocked for now.

[2022-09-29 12:31] #1528 closed

[2022-09-29 14:09] joiskash commented on #1640
cc: @jingtang10 Please have a look at this, I think its an important one

[2022-09-29 17:29] williamito commented on #1641
Why is this the intended behavior for the "New Patient" button of the demo app? A user without context like myself would just assume the demo/sdk is broken.

Can we hardcode the appropriate address block to new patients created in the demo so this works in a more expected way?

[code]

[2022-09-29 18:31] shelaghm commented on #1636
Related to [#816](https://github.com/google/android-fhir/issues/816)

[2022-09-29 21:48] shelaghm commented on #1635
Could we use a checkbox? Sometimes toggles are also confusing if they are on or off.
Screenshot below.
<img width="412" alt="Screen Shot 2022-09-29 at 14 47 06" src="https://user-images.githubusercontent.com/86378921/193148054-f93b383e-9b7c-4a46-b1f5-5a58cb3e8418.png">

[2022-09-30 07:43] shoaibmushtaq25 commented on #608
This issue has been divided into two parts to work on.
1. Optional support for Full-text search for Patient.name, PR for this is Ready for review #1569
2. Optional support for Fuzzy search for Patient.name, For this I will share the Implementation plan and related LOEs

cc: @f-odhiambo @jingtang10 @maimoonak

[2022-09-30 07:46] FikriMilano commented on #1621
@fredhersch @shelaghm @f-odhiambo

**Re: 3.** Yes, we need 3 buttons. It's another method suggested by @shelaghm which is to get a photo from the Android Native camera roll.

**Re: 4.** Perhaps showing the appropriate buttons depending on the expected Attachment is a better way to go instead of configuring it?

My suggestion is:
- If the expected Attachment is an image, then show the `Take Photo`,

[2022-09-30 09:46] FikriMilano commented on #1621
@fredhersch @f-odhiambo @ndegwamartin

I did some research on the image compression in Android.

I was able to compress a JPG image with a size of 2 MB, to WEBP image with the size of ~250 KB.
The difference is not noticeable.
It takes ~7 seconds.

Should we proceed with the compression?

[2022-09-30 09:56] joiskash commented on #1621
I think the application should be in control of compression.

[2022-09-30 10:56] vj-codes commented on #218
@Tarun-Bhardwaj hey is this issue still valid?

[2022-09-30 11:01] vj-codes commented on #1586
@shelaghm @Tarun-Bhardwaj hey can I work on this?

[2022-09-30 11:32] shoaibmushtaq25 commented on #608
For the implementation of  [part 2 of the comment above](https://github.com/google/android-fhir/issues/608#issuecomment-1263224374), here are the steps as mentioned above [here](https://github.com/google/android-fhir/issues/608#issuecomment-1254643930) as I did for POC of [spellfix](https://www.sqlite.org/spellfix1.html)

[2022-09-30 12:29] #1585 closed

[2022-09-30 13:39] PallaviGanorkar opened #1647 "Date acceptance and formatting issue in Date Picker and DataTime Picker"
**Describe the bug**
A clear and concise description of what the bug is.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Go to layout tab in catalog app
2. Click on default layout/ or paginated layout
3. enter invalid date for birth date. eg. month value greater than 12 or year as 00, etc
4. click on "Sumbit" button
5. see response, birth is parsed wrong in respons

[2022-09-30 17:03] jingtang10 commented on #1640
While toggling the single choice options, sometimes the `bind` function in the view holder will be called. This is not expected. When we update the answer the newly generated view items should be considered the same content as the old view items, and therefore the recycler view item does not need to be rebound.

I thought when we disabled item animator in recycler view this problem should have bee

[2022-09-30 17:06] jingtang10 commented on #1640
the comparison is here: https://github.com/google/android-fhir/blob/e878ad41e3e368d8da16307f229440db90c46807/datacapture/src/main/java/com/google/android/fhir/datacapture/QuestionnaireItemEditAdapter.kt#L198

[2022-09-30 18:11] jingtang10 commented on #1640
discussed with @yigit.

the issue is that when we skip binding of new data item because they're the same, recycler view is still only aware of the new item (it doesn't own the data at all) but the ui still has references to the old item.. so when we compare items again, the new item will be used.

this is an extremely tricky issue to solve with ui inputs. but what we should do is:

1. stop updatin

[2022-09-30 22:18] williamito commented on #1641
After more thought I do think the current design is confusing as it's easy for a new developer to not realize the default behavior, but I understand the correct instructions to make it work as expected is to put `Nairobi` in the City field and it will show up as expected in the patient list. In the interim I will add this detail to the wiki page for the Demo app.

[2022-09-30 22:33] williamito opened #1649 "Demo app - last sync time updates even when sync fails"
**Describe the bug**
The app is in a state where sync appears to fail 100% of the time. The "Last sync" timestamp in the menu updates after failure.

**Component**
Demo app

**To Reproduce**
Steps to reproduce the behavior:
1. Make sync fail. I did this by creating a patient on the server, syncing to the app, deleting the patient from the server, and editing the same patient on the app.
2. Open me

[2022-10-03 08:40] nsabale7 opened #1650 "SDC: Tests for ProgressBar in QuestionnaireFragment"
**Describe the Issue**
Write androidTest in sdc module to test progress bar feature in QuestionnaireFragment.

**Requires**
Setup QuestionnaireFragment test suite in sdc module.

cc: @santosh-pingle

[2022-10-03 11:52] fredhersch commented on #1621
@joiskash interested in why you feel this way? Especially given the context, would

would it make sense to make this the default and then give application the option to override it?

Thanks @FikriMilano

- Is this lossy or lossless compression?
- When you say the difference is not noticeable .. what do you mean? for saving the image? or something else?

@joiskash can you elaborate? Would it make s

[2022-10-03 11:59] fredhersch commented on #915
@vitorpamplona Is this issue now resolved as we are able to compile and execute CQL. Is that correct?

cc: @jingtang10

[2022-10-03 11:59] fredhersch commented on #1189
@jingtang10 has this work started?

[2022-10-03 12:00] fredhersch commented on #1334
@vitorpamplona Is this still an open issue?

[2022-10-03 12:00] vitorpamplona commented on #915
We are just waiting for this PR to be merged https://github.com/google/android-fhir/pull/1603

[2022-10-03 12:02] fredhersch commented on #1038
@f-odhiambo any update on this issue? Is it being worked on currently?

[2022-10-03 12:02] joiskash commented on #1621
Yes If it is lossless compression then I do not have any problems. But in the case of lossy compression, it would be good to allow the application to have control. Eg: There are some 3rd party face recognition software that do not work very well with lossy compression.

[2022-10-03 12:04] fredhersch commented on #928
@jingtang10 My understanding was this is a small change. Is this still open?

[2022-10-03 13:41] #1593 closed

[2022-10-03 21:59] shelaghm commented on #1621
@fredhersch @FikriMilano
I assume the most common use cases would be to upload a photo or pick from camera roll. What other files do we imagine people would upload? I wouldn't want to optimize for a rare use case of uploading a pdf or audio file at the detriment of making it more challenging to upload a photo.

My hesitation with only having two buttons and using `Upload file` to replace `Upload p

[2022-10-04 07:19] aurangzaibumer commented on #1514
Have investigated the issue and there are two possibilities to solve this problem
1. to introduce/add a new field on questionnaireItemViewItem that checks if answers is either being modified/add/deleted by the caller. In that way we will able to apply check before calling clearAnswer method. If User has not updated/added/answer in that case we wouldn't call clearAnswer.

2. to make answers variabl

[2022-10-04 07:27] santosh-pingle commented on #544
@shelaghm
Does it require to show * in instructions if required field is true, as it is already being shown in question text?
if yes, also is it (* in instructions) required to show in red color if it's in error state?

[2022-10-04 11:37] f-odhiambo commented on #1038
This issue depends on PR #1480  being merged as it uses the choice column which is already done in PR #1480.
No WIP for this item at the moment  CC @fredhersch

[2022-10-04 13:58] #1579 closed

[2022-10-04 17:42] shelaghm commented on #544
I suggest we use words to explain what * means by adding`required question` in the instructions text field.

<img width="213" alt="Screen Shot 2022-10-04 at 10 37 57" src="https://user-images.githubusercontent.com/86378921/193888321-6cc80301-3a35-4e06-a678-15f6c7d5dbc2.png">

Error state should look something like this screenshot. I don't think the asterisk needs to be red in error state, only the

[2022-10-05 16:36] jingtang10 commented on #1619
I think the format valiation error should NOT be controlled by the "show error state" button in the "options" menu.

so the behavior should be:

in the date input widget -> if the user types a random number, an error message should be shown. but if the user clears the answer, we don't show the answer missing message.
in the date input widget with "show errors state" turned on -> if the user types

[2022-10-06 05:39] santosh-pingle commented on #544
@shelaghm
what about instructions which get defined in questionnaire form? currently existing implementation only shows instructions if it is defined in questionnaire form.

[2022-10-06 08:36] parthfloyd opened #1653 "SDC Initial Expression with CQL Support"
**Is your feature request related to a problem? Please describe.**
For now SDC supports initialExpression with FHIRPath, but for our project requirement we need to use CQL instead.

**Describe the solution you'd like**
Currently we are leveraging the `evaluateLibrary()` method of `FhirOperator.kt` from the Workflow Library and created a workaround for it. It will be great if it is supported by the

[2022-10-06 09:47] ellykits opened #1654 "Download fails to complete when exception is encountered"
**Describe the bug**
When an exception is occurs while downloading a resource, the `com.google.android.fhir.sync.download.DownloaderImpl` attempts to emit a `com.google.android.fhir.sync.DownloadState.Failure` failure in the `catch` block which results to a FATAL_EXCEPTION.

**Component**
Core library

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt downloading a resource that has an

[2022-10-06 09:51] ellykits commented on #1654
This exception when you run `SyncJob#run` method in a `try-catch` block. Also happens when you use the `catch` operator on each emitted flow state.

[code]

[2022-10-06 10:21] PallaviGanorkar commented on #1526
@shelaghm  I have used info icon from https://fonts.google.com/icons?selected=Material%20Icons%3Ainfo%3A
Please let me know if any change required in icon

[2022-10-06 10:26] PallaviGanorkar commented on #1526
@shelaghm Please find attached screenshot below, info grey box is displayed at the bottom of screen as other UI on the screen is rendered from SDC lib and i don't have reference to particular UI component from Catalog App

![Skip_Logic_info](https://user-images.githubusercontent.com/13957417/194289481-7f774ea6-e40a-47ff-94c8-3e3ad75dd708.png)

[2022-10-06 20:44] shelaghm commented on #1526
@PallaviGanorkar this looks good to me!

[2022-10-07 07:28] santosh-pingle commented on #1612
Working on it.

[2022-10-07 10:56] PallaviGanorkar commented on #1526
@shelaghm Setting icon on the right top of the screen, is there any functionality expected on click of this icon?

[2022-10-07 11:00] jingtang10 commented on #544
yeah agreeing with santosh we need to resolve this question: if there's already an instruction do we override it? or do we show both?

late to the party, but my experience as a user (i think mostly with html web forms) has been that the asterisk is always red. i think this is consistent with google forms too:

<img width="766" alt="Screenshot 2022-10-07 at 11 59 04" src="https://user-images.github

[2022-10-07 11:07] jingtang10 commented on #1586
@vj-codes sorry santosh had already started - please pick another unassigned issue tagged as ux (for example #1588)

@shelaghm i feel 4dp is not enough - please see santosh's screenshots in #1655.

[2022-10-07 11:14] jingtang10 commented on #1586
took another look with @santosh-pingle. it feels like for things like single choice, because there are multiple radio buttons, the error message should be a little bit further from them to make it look like it's for the entire question and not just the last item.

but i do understand that the error message is fairly close in the cases of text input (where that's just the default material behavior

[2022-10-07 16:37] maimoonak opened #1657 "Modify the way dynamic answerOptions are loaded"
**Is your feature request related to a problem? Please describe.**
The answerOptions loading is done via callback in `QuestionnaireItemViewItem`. There are 2 callbacks for resolving answerValueSet and resolveAnswerExpression. This should be updated to handle the dynamic answer option loading in a better way.
See comment in PR #1480

[2022-10-07 16:44] maimoonak opened #1658 "Enhance x-fhir-query to handle fhirpath expression"
**Is your feature request related to a problem? Please describe.**
Enhance x-fhir-query to handle fhirpath expression in query as defined in spec https://build.fhir.org/ig/HL7/sdc/expressions.html#x-fhir-query-enhancements

[2022-10-07 18:50] shelaghm commented on #1586
@jingtang10 @santosh-pingle I read https://github.com/google/android-fhir/pull/1655 and this issue in the wrong order. I'll go back an edit my other response.

Placement: I think the error message should be at the top of the list, in the field we call `instructions`. I elaborated on this in https://github.com/google/android-fhir/pull/1655
Spacing: @santosh-pingle what is the line spacing on the te

[2022-10-07 19:01] shelaghm commented on #544
1. I'm convinced, let's make the asterisk red
2. If there's already an instruction, I think we should show original instructions and display the error message below.

Rationale for #2 is an assumption that it will make it easier for users to know how to complete the question by showing the instructions and that we cannot rely on that the questionnaire builder to write an error message that will in

[2022-10-07 19:04] shelaghm commented on #1526
@PallaviGanorkar the settings/gear icon is used to display `error states`
I don't believe we want to show error states for this screen as skip logic is a behavior and there's no error state associated with it. We can remove the gear icon from this screen unless there's some other functionality we want to show under the gear icon?
@jingtang10 @santosh-pingle what do you think?

[2022-10-07 19:12] shelaghm commented on #1619
@jingtang10 @santosh-pingle One suggestion is for the button should say `required question` and not `show errors` since we will still show validation errors in both scenarios. Thoughts?

I prefer showing both widgets on one page as it is more discoverable than hiding the functionality under the gear icon. In that case, you can ignore my button name suggestion above.

[2022-10-10 09:09] PallaviGanorkar opened #1659 "Support different profile in SDC lib for definition based extraction"
**Is your feature request related to a problem? Please describe.**

add feature to load different profile in SDC lib
use it to extract resource conforming to these profile

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consi

[2022-10-10 11:32] santosh-pingle commented on #1586
@shelaghm
Error text uses `TextAppearance.Material3.BodySmall` typography style, and top margin is 4dp.
For screenshots, please refer below link
https://github.com/google/android-fhir/pull/1655#issuecomment-1271198931

[2022-10-10 14:44] #1403 closed

[2022-10-10 15:24] dubdabasoduba commented on #544
@jingtang10 @shelaghm @santosh-pingle I would advocate for the asterisk to also be in red. Most web forms and mobile forms use the red asterisk to denote required fields.

This would be easy to use for users since they are already used to it in the different apps and web forms they interact with.

[2022-10-10 15:35] vitorpamplona commented on #656
Fixed on https://github.com/google/android-fhir/pull/1603

[2022-10-10 15:35] #656 closed

[2022-10-10 15:36] vitorpamplona commented on #915
Fixed on https://github.com/google/android-fhir/pull/1603

[2022-10-10 15:36] #915 closed

[2022-10-10 15:36] #1365 closed

[2022-10-10 15:36] #1407 closed, assigned to nobody

[2022-10-10 15:36] vitorpamplona commented on #1423
Fixed on https://github.com/google/android-fhir/pull/1603

[2022-10-10 15:36] #1423 closed

[2022-10-10 15:38] vitorpamplona commented on #1334
Fixed on: https://github.com/google/android-fhir/pull/1603

[2022-10-10 15:38] #1334 closed

[2022-10-10 22:41] shelaghm commented on #544
@dubdabasoduba Thanks for your feedback, helpful to hear your experience! Red asterisk it is!

[2022-10-10 22:45] shelaghm commented on #1586
@santosh-pingle thanks for confirming the typography style. That is the correct one. I think we can mark the padding issue as resolved for this.

@jingtang10 @santosh-pingle what about error message **placement** for single/multiple/other choice? Happy to create a new issue if that's better.

[2022-10-11 04:49] shoaibmushtaq25 commented on #608
Had a call yesterday with @jingtang10 to review PR #1569 and after having some initial review, Jing felt like we need to have more discussion with @fredhersch to understand what we want to achieve with this issue. It looks like, we are not achieving much from this issue, so we may not even need to implement this in FHIR SDK.
Jing said we will also be discussing the upcoming Android FHIR SDK Develo

[2022-10-11 10:00] jingtang10 commented on #1586
thanks shelagh and santosh - i think we're clear now.

the error message below text input has always been fine (4px). the issue in this issue is with single choice (and the same problem with multiple choice).

what should the paddings be if the error is on top?

[2022-10-11 10:52] jingtang10 commented on #1586
Let's keep the discussion in the issue itself and only talk about actual implementation in the PR 1655.

Shelagh - a couple of questions:

1. if we move this error message above the radio buttons for single choice widget (and assuming that's the same for multiple choice and boolean choice widgets since the layouts are very similar), there is a potential inconcsistency of the location of the error

[2022-10-11 17:45] #1260 closed

[2022-10-11 17:53] parthfloyd opened #1664 "SDC | Unexpected behaviour on saving a questionnaire after loading it using a filled QR."
**Describe the bug**
The Questionnaire Response generated on save after rendering a Questionnaire with QR is erroneous.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Render a questionnaire in SDC
2. Fill the form and save the Questionnaire Response
3. Render again using same questionnaire and saved QR.
4. Now save the questionnaire response again, this will be er

[2022-10-11 17:53] parthfloyd commented on #1664
cc: @jingtang10

[2022-10-11 22:06] shelaghm commented on #1586
@santosh-pingle @jingtang10 I think the 4dp padding looks good on the radio button. It is consistent with M3 guidelines, so let's keep this as Santosh has implemented and not make further adjustments on the padding.

1. Very valid point on the inconsistency. As you mentioned in 1655, there's two different widget types and I recommend we keep error messages as is for text based entry as these are s

[2022-10-12 17:04] jingtang10 commented on #1664
can you please post the questionnaire and questionnaire responses please?

[2022-10-12 17:16] parthfloyd commented on #1664
Questionnaire:
[mvp-questionnaire-enable-when.txt](https://github.com/google/android-fhir/files/9767270/mvp-questionnaire-enable-when.txt)

Questionnaire Response on first save: [questionnaire_response_first_save.txt](https://github.com/google/android-fhir/files/9767261/questionnaire_response_first_save.txt)

Questionnaire Response on second save:
[questionnaire_response_second_save.txt](https://g

[2022-10-12 17:31] #971 closed

[2022-10-12 17:51] #1664 closed

[2022-10-13 06:30] santosh-pingle commented on #1636
looking into it.

[2022-10-13 06:32] santosh-pingle commented on #1636
It requires to make `Add another answer` button visible on clicking other option.

[2022-10-13 06:51] Itskiprotich commented on #1576
Sorry for the delay.

Attached is the questionnaire I'm using.
[baby-monitoring.zip](https://github.com/google/android-fhir/files/9771570/baby-monitoring.zip)

[2022-10-13 10:26] #1592 closed

[2022-10-13 10:59] Tarun-Bhardwaj commented on #1173
Closing the issue as per discussion with Maimoona.

[2022-10-13 10:59] #1173 closed

[2022-10-13 15:40] shelaghm commented on #1636
When I interact with this the button is visible if you have to scroll down to see it, but it isn't discoverable to the user because there's no indication that the button is now there.

[2022-10-14 05:05] Tarun-Bhardwaj commented on #1039
As per chat with @maimoonak , closing the issue as it is resolved.

[2022-10-14 05:05] #1039 closed

[2022-10-14 08:04] Tarun-Bhardwaj commented on #1621
@FikriMilano , could you please advise an ETA by when the PR can be ready for review?

[2022-10-14 13:38] jingtang10 commented on #1526
@shelaghm sgtm! thanks.

just to summarise - we are putting this in the catalog app (instead of using the help item control and rewrite the questionnaire) because of the "skip logic" title in the grey box. if we want to just reuse the help item control, the title would not be configurable to "skip logic".

pallavi has already done this in her latest udpate for the pr.

and the gear icon has been r

[2022-10-14 16:12] jingtang10 commented on #1619
hi @PallaviGanorkar does your pr #1626 fix this?

[2022-10-14 16:28] jingtang10 commented on #1623
@PallaviGanorkar can you please take a look at this?

[2022-10-14 17:11] rajeshvelicheti commented on #1649
FhirSynchronizer

private suspend fun setSyncState(result: Result): Result {

    datastoreUtil.writeLastSyncTimestamp(result.timestamp)

    when (result) {
      is Result.Success -> setSyncState(State.Finished(result))
      is Result.Error -> setSyncState(State.Failed(result))
    }

    return result
  }

[2022-10-14 17:44] shelaghm commented on #1526
Sounds good. Thanks for the update!

[2022-10-15 02:21] PallaviGanorkar opened #1667 "App crash on text input for age on Calculated expression screen"
**Describe the bug**
A clear and concise description of what the bug is.

**Component**
SDC library,  SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Behavior -> calculated expression in Catalog app.'
2. Enter text text in Age input box
3. See error : app crash with java.lang.NumberFormatException

**Expected behavior**
App should not crash

**Screenshots**
logs are ar

[2022-10-15 02:22] PallaviGanorkar commented on #1667
2022-10-15 07:42:33.485 32704-32704/com.google.android.fhir.catalog E/InputEventSender: Exception dispatching finished signal for seq=8
2022-10-15 07:42:33.485 32704-32704/com.google.android.fhir.catalog E/MessageQueue-JNI: Exception in MessageQueue callback: handleReceiveCallback
2022-10-15 07:42:33.490 32704-32704/com.google.android.fhir.catalog E/MessageQueue-JNI: java.lang.NumberFormatExceptio

[2022-10-15 05:21] rajeshvelicheti commented on #1635
fragment_model_bottom_sheet.xml

[2022-10-16 18:52] #1526 closed

[2022-10-17 01:56] FikriMilano commented on #1621
@Tarun-Bhardwaj PR will be ready in 2 weeks.

Sorry, I was on exam leave for the past 2 weeks.

[2022-10-17 07:26] santosh-pingle opened #1668 "Ux testing build"
**Describe the Issue**

**Would you like to work on the issue?**

[2022-10-17 07:28] santosh-pingle commented on #1668
@shelaghm
Prefix is missing from given questionnaire form, I am adding number prefix to every question item. e.g 1. 2. 3. and so on.

[2022-10-17 08:06] santosh-pingle commented on #1668
Prefix is missing from given questionnaire form.
I am adding number prefix to every question item.
e.g 1.  2.  3.  ...

[2022-10-17 08:17] santosh-pingle commented on #1668
Sdc module is not able to render the instructions from shared questionnaire form.
It is required to edit the shared questionnaire form to update the instructions as per instructions code.

Attaching screenshots for reference
<img width="855" alt="Screen Shot 2022-10-17 at 1 45 39 PM" src="https://user-images.githubusercontent.com/86107848/196124913-8d419566-e1c1-4553-8a66-368ee6345b0e.png">

[2022-10-17 09:43] jingtang10 commented on #1658
@maimoonak and @f-odhiambo can you share some use cases and give us an indication of the urgency/priority of this issue?

[2022-10-17 09:49] fredhersch commented on #1658
@maimoonak If this is an important issue (see Jing's comment), is this one you are interested/able to pick up?

cc: @f-odhiambo @pld

[2022-10-17 10:01] santosh-pingle commented on #1668
For Q.2 and Q.3 app get crashed, as these question has type quantity and uses min and max extension, where it throws exception ``` java.lang.IllegalArgumentException: Cannot compare different data types: Quantity and integer
        at com.google.android.fhir.MoreTypesKt.compareTo(MoreTypes.kt:49) ```

Integer type is updated for Q.2, Q.3

[2022-10-17 11:21] santosh-pingle commented on #1668
Q5(What city does the client live in?) to use the "Autocomplete" widget
Working on it.

[2022-10-17 11:45] santosh-pingle commented on #1668
Q11 to be the "slider" widget.
Working on it.

[2022-10-17 11:54] santosh-pingle commented on #1668
@shelaghm
Would you like to add instructions to instruct the user to input the value in the range of 1900 -2022 for question "What year were they born?"

<img width="1417" alt="Screen Shot 2022-10-17 at 5 19 56 PM" src="https://user-images.githubusercontent.com/86107848/196170577-af5d2846-6219-4b37-aa9d-dee4bd902df0.png">

[2022-10-17 12:09] santosh-pingle commented on #1668
@shelaghm
Would you like to modify below instructions

- Type the name “Orange Flower”  => Type the name e.g “Orange Flower”
-  Type the phone number “98 87 76 65 => Type the phone number e.g “98 87 76 65"
-  Select 4 May 2020 => e.g 4 May 2020

[2022-10-17 12:10] santosh-pingle commented on #1668
Q. 9 "Does the client have any of the following symptoms?" is not rendered as open choice view.
=> modifying extension in questionnaire json.

[2022-10-17 15:14] jingtang10 commented on #1667
i don't think we need to go out of our way to accept `.5` or `1,000`. this is because these ways of input are highly locale dependent and i worry that if we get into the business of trying to fix the format or second guess the intended value we'll end up doing the job of the icu library.

so, if we can find a library that accepts these values, it would be nice. but if not, we should fix the crash

[2022-10-17 22:41] shelaghm commented on #1668
@santosh-pingle leave these instructions as is. For this specific usability test we want participants to enter these specific names and numbers, so they don't accidentally enter anyone's real names or phone number

[2022-10-17 22:42] shelaghm commented on #1668
@santosh-pingle can you also make it a paginated questionnaire? Thank you!

[2022-10-18 04:07] PallaviGanorkar commented on #1667
@shelaghm  Could you please provide error message to displayin case the user has entered value starts with dot(.) eg .5 or comma(,) in between.

[2022-10-18 04:11] shelaghm commented on #1667
@PallaviGanorkar  Maybe something like this:
No commas (,) or negative numbers (eg. -1) allowed.
Period (.) can only be used after a number (eg. 1.5, but not .5)

I know it is long, but I think because it is so specific we need to explain it thoroughly.

[2022-10-18 07:37] Tarun-Bhardwaj commented on #1668
@santosh-pingle , is this issue only for testing or does it include any development as well?

[2022-10-18 07:50] Tarun-Bhardwaj commented on #1649
@jingtang10, any thoughts if this change should be included in the backlog?

[2022-10-18 07:52] Tarun-Bhardwaj commented on #1647
@jingtang10 , do we need to include this issue in the backlog or should this be closed?

[2022-10-18 07:55] aditya-07 commented on #1641
@williamito @jingtang10 Would it make more sense to remove city filer from the Patients Page in the Demo app?

[2022-10-18 08:03] Tarun-Bhardwaj commented on #1627
@vitorpamplona , can this issue be closed since the related PR is already merged?
CC: @jingtang10

[2022-10-18 08:08] Tarun-Bhardwaj commented on #1608
@dubdabasoduba have you been able to progress with this issue?

[2022-10-18 08:38] santosh-pingle commented on #1668
@Tarun-Bhardwaj
Questionnaire json changes are only for ux testing build, these changes will not be part of sdc code repository.

[2022-10-18 08:50] santosh-pingle commented on #1668
@shelaghm
I will make changes to support the paginated layout as well.

[2022-10-18 12:15] vitorpamplona commented on #1627
Yep. This was solved

[2022-10-18 12:54] santosh-pingle commented on #1668
@shelaghm
shared ux testing build which supports questionnaire in default and pagination layout.

[2022-10-18 14:58] #1523 closed

[2022-10-18 17:38] #1589 closed

[2022-10-18 17:49] #1619 closed

[2022-10-18 18:03] shelaghm commented on #1668
amazing, thanks so much @santosh-pingle

[2022-10-19 04:12] FikriMilano opened #1674 "Add mimeType extension support"
**Is your feature request related to a problem? Please describe.**
This feature is needed for the Attachment widget (https://github.com/google/android-fhir/issues/1621).
The mimeType will allow a QuestionnaireItem to decide the expected file type to upload e.g. image/jpg, application/pdf.

**Describe the solution you'd like**
Implement the mimeType extension support from FHIR.

**Describe alternat

[2022-10-19 04:13] FikriMilano commented on #1674
@Tarun-Bhardwaj @f-odhiambo

[2022-10-19 04:23] FikriMilano opened #1675 "Add maxSize extension support"
**Is your feature request related to a problem? Please describe.**
This feature is needed for the Attachment widget (https://github.com/google/android-fhir/issues/1621).
The maxSize will allow a QuestionnaireItem to decide the file size limit to upload.

**Describe the solution you'd like**
Implement the maxSize extension support from FHIR.
The unit is in bytes. I could not found the FHIR document

[2022-10-19 04:26] FikriMilano commented on #1675
@Tarun-Bhardwaj @f-odhiambo

[2022-10-19 04:28] FikriMilano commented on #1621
Separate tickets to track mimeType and maxSize:
- mimeType https://github.com/google/android-fhir/issues/1674
- maxSize https://github.com/google/android-fhir/issues/1675

[2022-10-19 04:41] PallaviGanorkar commented on #1525
This feature is implemented in PR #1380 . So, closing this issue

[2022-10-19 04:43] PallaviGanorkar commented on #1525
info is not displayed in grey box, So need to confirm with owner before closing issue

[2022-10-19 04:50] PallaviGanorkar commented on #1659
Prototype is ready demonstrated in yesterday's(Tuesday's) WG2 call but waiting fo Forge tool installation to figure out few thing to finalize code base and raise PR

[2022-10-19 04:53] PallaviGanorkar commented on #1623
Sure @jingtang10

[2022-10-19 05:41] PallaviGanorkar commented on #1623
@jingtang10  As per current implementation, Date entry format hint is displayed from locale date format, entry format defined in Questionnaire is not considered. Please confirm, what is expected behavior?

[2022-10-19 12:32] KhumboLihonga opened #1677 "Inconsistencies when using the skipping pages and review functionality"
**Describe the bug**
When using the skipping pages [functionality](https://github.com/google/android-fhir/pull/1532) together with the review [functionality](https://github.com/google/android-fhir/pull/1310), there are inconsistencies occurring.

In this specific case, there is a questionnaire with multiple pages that are hidden by default. To enable the pages, a Boolean item needs to be answered.

[2022-10-19 12:32] jingtang10 commented on #1623
Thanks @KhumboLihonga for creating this issue. @PallaviGanorkar yes that's right - we do not consider the entry format extension right now.

The issue with the entry format extension, however, is that it's not really "computable". In the spec (https://build.fhir.org/ig/HL7/sdc/rendering.html#entryFormat) it says this:

[code]

The keyword here is "guide". the entry format extension is guiding the

[2022-10-19 16:30] shelaghm commented on #764
Some more info on this UI element from [material.io](https://m3.material.io/components/menus/guidelines#73531839-5ef8-46cd-9a5e-223f32912edb)

[2022-10-19 17:06] #1640 closed

[2022-10-20 05:45] FikriMilano commented on #1675
For the bytes value.

Should the value be treated as Bytes decimal or Bytes binary?

Here's what I mean:

<img width="985" alt="Screen Shot 2022-10-20 at 12 39 20" src="https://user-images.githubusercontent.com/62053304/196865487-ea043554-09f3-4ce5-8354-d7b14e16e21c.png">

[2022-10-20 09:20] KhumboLihonga commented on #1623
@jingtang10 Thanks for clarifying this. I assumed it was being used because it is included in the catalog app date picker [questionnaire](https://github.com/google/android-fhir/blob/6956c79f1d63581fe616ff1d41b41a08800e0468/catalog/src/main/assets/component_date_picker.json#L8). I think it would be good to remove the extension from there to avoid further confusion.

Well, the reason I shared this i

[2022-10-20 09:43] parthfloyd opened #1681 "Workflow | evaluateLibrary not working on android as in the test case."
**Describe the bug**
The evaluateLibrary functions keeps running forever and not returning the results in the android app, however it is working fine in the test case.

**Component**
Core library, SDC library, reference app, or SDC gallery app

**To Reproduce**
Clone the repository [Android-fhir-fork for workflow-eval-library](https://github.com/parthfloyd/android-fhir/tree/workflow-eval-library)

[2022-10-20 09:45] parthfloyd commented on #1681
Commit which contains the changes done to the demo app & workflow test to evaluate the library: https://github.com/google/android-fhir/commit/d5166216906b84fd4cfc89df17c43ca984a0838a

[2022-10-20 12:48] PallaviGanorkar commented on #1623
@KhumboLihonga  Have you changed your device locale by any chance?

[2022-10-20 13:09] FikriMilano commented on #1675
@jingtang10 I couldn't found the library you suggest to convert bytes.
Do you have any links?

[2022-10-20 13:21] KhumboLihonga opened #1682 "Review button doesn't validate the last page of a paginated questionnaire"
**Describe the bug**
In a paginated questionnaire that uses the entryMode [extension](http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire-entryMode) set to `prior-edit`, the active page needs to be valid before moving to the next page. When used in conjunction with the review [functionality](https://github.com/google/android-fhir/pull/1310), the next button turns into a review button

[2022-10-20 13:43] KhumboLihonga commented on #1623
@PallaviGanorkar No, I haven't. These two screenshots is me switching from the catalog app to our app. Also, the language of the phone is set to English (United Kingdom) so I expect the catalog app format i.e. `dd/MM/y` to be used.

[2022-10-21 08:00] Gental-Giant commented on #1682
@f-odhiambo Can you take a look and advice?

[2022-10-21 09:11] PallaviGanorkar commented on #1623
@KhumboLihonga Which SDC lib version you are using?

[2022-10-21 09:48] KhumboLihonga commented on #1623
1. In our gradle, we are using `org.smartregister:data-capture:0.1.0-beta05-preview-SNAPSHOT` in the FHIR Core [app](https://github.com/opensrp/fhircore)
2. When trying to edit the date, the format is `m/d/yy` which is incorrect

@f-odhiambo @Gental-Giant could this issue be FHIR Core related?

[2022-10-21 11:08] santosh-pingle opened #1683 "click on option of one boolean view select/unselect the option of another boolean view."
**Describe the bug**
List has more boolean views.
Select/unselect on option of the one boolean view  select/unselect option of another boolean view.

https://user-images.githubusercontent.com/86107848/197182237-4ecd7c47-59a1-42fe-bdbb-777350d180e7.mov

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See erro

[2022-10-21 11:11] santosh-pingle commented on #1683
#1640

[2022-10-21 12:23] PallaviGanorkar commented on #1623
As Discussed @KhumboLihonga , Both date Picker and Input box hint show same date format i.e. US locale format though device Setting has UK locale which is incorrect. On other hand catalog app shows correct UK local date format.
So, @KhumboLihonga  could you please conform, other app is not setting locale at app level?

[2022-10-21 12:39] KhumboLihonga commented on #1623
@PallaviGanorkar Thank you for your assistance. Yes, it's being set at the application level. I'll close this issue.

[2022-10-21 12:39] #1623 closed

[2022-10-21 22:25] williamito opened #1685 "Help using "has" in FHIR Engine search"
I was experimenting with FHIR search but couldn't get a small test to work as expected. In the code below I create a patient, and a RelatedPerson that references the patient, then I try searching using `has` with and without a filter. Finally I try to search for RelatedPerson directly using a filter. Is there a mistake in my approach or is there something not supported by the SDC Library?

[code]

[2022-10-22 20:20] aditya-07 commented on #1685
@williamito The `RelatedPerson` is supposed to have a `reference` to the `Patient`. See https://www.hl7.org/fhir/relatedperson.html#resource
`RelatedPerson` created as shown below  should have a non-empty revinclude results.
[code]

[2022-10-24 17:01] omarismail94 commented on #1638
I can take a look at this!

[2022-10-24 18:34] omarismail94 commented on #1638
@shelaghm @williamito proposed fix in PR #1687

Copied the description from the PR below as to what the issue was:
By default, the [DateFormat.parse](https://developer.android.com/reference/java/text/DateFormat#parse(java.lang.String,%20java.text.ParsePosition)) method parsing is lenient: If the input is not in the form used by this object's format method but can still be parsed as a date, then th

[2022-10-24 20:50] williamito commented on #1685
It did work when I used `patient.reference` but I'm not sure why, as the `patient.resource = patient1` version appears to produce an identical `RelatedPerson` resource.

[code]

[code]

Do you know why this doesn't work?

Also if this is WAI, what's the best way to set a reference field without hardcoding the value?

[2022-10-25 10:01] f-odhiambo opened #1689 "Add the ability to show more info for each Questionnaire item"
**Is your feature request related to a problem? Please describe.**
Add the ability to show the info button(this triggers a popup/hint to show more info) in forms

**Describe the solution you'd like**
On click, we should have a pop-up with more information about the field or form being populated

**Describe alternatives you've considered**
N/A

**Additional context**
1. This should only be text and

[2022-10-25 15:41] shelaghm commented on #1689
@f-odhiambo Thanks for your request. We have a very similar functionality with the help questionnaire item control https://github.com/google/android-fhir/issues/1528 do you think this could work for your use case?

[2022-10-25 20:46] williamito opened #1690 "QuantityParamFilterCriterion "unit" field name is confusing"
**Is your feature request related to a problem? Please describe.**
The [`unit`](https://github.com/google/android-fhir/blob/master/engine/src/main/java/com/google/android/fhir/search/filter/QuantityParamFilterCriterion.kt#L36) field name is confusing since (1) search appears to actually check the `code` field of the [FHIR Quantity](https://www.hl7.org/fhir/datatypes.html#Quantity) datatype based o

[2022-10-27 10:57] #1667 closed

[2022-10-27 12:51] jingtang10 commented on #1681
can you share info on the environment in which you're running the test case? android api level, device info (emulator vs real) etc.

[2022-10-27 12:53] jingtang10 commented on #1682
@KhumboLihonga which version of the sdc lib are you using?

[2022-10-27 13:19] parthfloyd commented on #1681
- tested in both pixel 5 emulator (API 31) & Samsung A53 device.

[2022-10-27 13:22] parthfloyd commented on #1681
Line where the app's getting stuck.
[AddPatientViewModel.kt (Line:2003)](https://github.com/parthfloyd/android-fhir/blob/d5166216906b84fd4cfc89df17c43ca984a0838a/demo/src/main/java/com/google/android/fhir/demo/AddPatientViewModel.kt#L2003)

@jingtang10 @omarismail94

[2022-10-28 11:49] delcroip opened #1692 "enableWhenExpression logic based on empty item disply issue"
[questionnaire-emcare.b23.classification.txt](https://github.com/google/android-fhir/files/9888116/questionnaire-emcare.b23.classification.txt)
**Describe the bug**
I have an Item with an enableWhenExpression based on an other item (hidden, value will come from initialExpression), the item is well hidden BUT its choice are not

**Component**
demo app

**To Reproduce**
Steps to reproduce the behavi

[2022-10-31 15:37] f-odhiambo commented on #1608
Closing this as this will be implemented on FHIR Core  CC @dubdabasoduba

[2022-11-01 10:04] #1683 closed

[2022-11-01 11:10] shoaibmushtaq25 commented on #608
For FTS MATCH OR/AND set operations, there are two approaches to implement this

1. Using UNION and INTERSECT between subqueries of MATCH
[code]
2. Using MATCH OR/AND in the same FTS MATCH query
[code]

Right now, the first approach(UNION/INTERSECT) has been implemented in [this commit](https://github.com/google/android-fhir/pull/1569/commits/077f7409f49e13b6047a253dd8894e28babc070a) but as per di

[2022-11-01 11:45] aditya-07 opened #1695 "Add UI tests for the different views that we have."
@aditya-07  I am working on writing a test to load questionnaires from JSON similar to how the catalog app works. Can you create an Issue to add UI tests for the different views that we have?

_Originally posted by @omarismail94 in https://github.com/google/android-fhir/pull/1691#pullrequestreview-1162614527_

[2022-11-01 12:44] delcroip commented on #1550
Dear,

I made a change that add the support of the extension when saving the answer (I need that for proper mapping and calculatedExpression) BUT this is my first Kotlin development AND I am not happy where I added to unit but the item object in not accessible anymore when the new answer is added/set

`Index: datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemView

[2022-11-01 13:17] aditya-07 commented on #1681
@parthfloyd The issue is that the `FhirOperator` functions are getting called on the main thread causing ANR and crash.
We would make some changes to the `FhirOperator` to fix it.
 In the mean while, you can  use the attached `.patch` file to get it working.
[1681_issue.patch.zip](https://github.com/google/android-fhir/files/9910141/1681_issue.patch.zip)

[2022-11-01 14:06] KhumboLihonga commented on #1682
@jingtang10  `org.smartregister:data-capture:0.1.0-beta05-preview4-SNAPSHOT`

[2022-11-01 14:46] HenryRae commented on #1689
@shelaghm possible to have the help button next to the "question" rather than 'instructions' text field in #1528. For cases where the question doesn't have instructions?

[2022-11-01 17:00] #1638 closed

[2022-11-02 06:46] santosh-pingle commented on #1612
looking into it.

[2022-11-02 09:12] aditya-07 commented on #1685
@williamito The way to dynamically set reference would be to concat fhirType and id of the resource.

[code]

Regarding the identical `RelatedPerson`, this could be the way `jsonParser` here is encoding the resource. The comment on the `setResource` api also suggests :
     `Note that the resource itself is not a part of the FHIR "wire format" and is never transmitted or receieved inline, but this

[2022-11-02 12:25] jingtang10 commented on #1692
Hey @delcroip - thanks for raising this. I took a look at the questionnaire but am not sure what's going on. You have the following questions (link ids):

- "timestamp"
- "Severe Pneumonia or Very Severe Disease"
- "EmCare.B23.DE03"
- "Pneumonia"
- "EmCare.B23.DE06"

The first two are hidden. The third depends on the second. The fourth is shown and the fifth depends on the fourth.

Which question

[2022-11-02 12:39] delcroip commented on #1692
This was the simpler version of the questionnaire... Normally nothing is displayed because the "'code" linkid shoud be displayed based on the "description" linkid that have initial Expression (as it was not working, it should be null)

But you can see the answers without the label

[2022-11-02 15:46] jingtang10 commented on #1692
thanks patrick - i understand this questionnaire might have already been simplified. but it's still confusing to debug as there're 5 questions and i'm not certain which ones i'm looking at - can you please create a minimal questionnaire that has just enough information to highlight the problem being raised here.

can you clarify in link-id terms which questions are not behaving as expected? there'

[2022-11-02 16:16] delcroip commented on #1692
I think I found the issue ...  I am really sorry it 100% on my side ... I assume the yes/know where from the yes/no question BUT the app shows boolean as Yes/ No too

the question with text as id should be hidden and it was not the case

[2022-11-02 16:16] #1692 closed

[2022-11-02 18:14] shelaghm commented on #1689
@HenryRae Yes, that's an option. We're hoping to have one location that can stay consistent across so it is easier to implement. See screenshot below with options. Option 1 could still work if there's no instructions as it will just display the help button below the question.
Do you have a perspective on which option you'd prefer between 1 and 2 in screenshot below?
I find option 3 (fixed location

[2022-11-03 08:37] HenryRae commented on #1689
@shelaghm I think a user can easily relate the info action to a question with option 2.

[2022-11-03 09:57] #1525 closed

[2022-11-03 11:42] jingtang10 commented on #1514
similar to https://github.com/google/android-fhir/blob/4e88f68e1d586d9ad423951cc86d3957fb891c2b/datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemEditTextViewHolderFactory.kt#L108

i think what you need to do is to make sure if the answer is not validated you don't show any error.

[2022-11-03 12:06] jingtang10 commented on #1692
no problem - glad this is resolved patrick. please don't hold back from raising issues here in the future.

[2022-11-03 12:13] jingtang10 commented on #1550
thanks patrick for this draft code snippet - we'll create a pr for this

[2022-11-03 18:50] vitorpamplona opened #1699 "Should FhirEngineProviderTestRule be part of the SDK?"
**Is your feature request related to a problem? Please describe.**
Applications that use the SDK will need to set up unit testing schemes involving the local database. Utility classes for testing purposes can help users structure their testing needs. [FhirEngineProviderTestRule](https://github.com/google/android-fhir/blob/4e88f68e1d586d9ad423951cc86d3957fb891c2b/testing/src/main/java/com/google/an

[2022-11-04 10:04] #1636 closed

[2022-11-04 10:32] aditya-07 commented on #1685
@williamito Can we close this issue now?

[2022-11-04 10:35] #1677 closed

[2022-11-04 13:27] jingtang10 commented on #1612
@shelaghm @santosh-pingle This is slightly different from what I had in mind as "components". For me, the component tab loosely corresponds to the different types of questions and how they are rendered depending on the item control extension: http://build.fhir.org/valueset-questionnaire-item-control.html.

So strictly speaking, I think this can be in a separaate tab, perhaps a "Misc" tab next to c

[2022-11-07 08:44] santosh-pingle commented on #1620
looking into it.

[2022-11-07 10:45] jingtang10 commented on #1681
@parthfloyd have you tried aditya's fix? is this working for you now?

[2022-11-07 10:49] parthfloyd commented on #1681
@jingtang10 Yes I had integrated Aditya's fix and it is working!

[2022-11-07 11:09] jingtang10 commented on #1681
thanks for the update

[2022-11-07 16:24] jingtang10 commented on #1520
@aditya-07 has a fix for this and will create a pr

[2022-11-07 21:12] #1685 closed

[2022-11-08 10:23] divyaramnath-13 opened #1701 "Difficulty using Github artifacts as local maven"
**Describe the Issue**
The github artifacts don't have the same format (missing build number) as described in https://github.com/google/android-fhir/wiki/Contributing#use-unreleased-github-build-for-developmenttesting-only.
This causes issues when using local maven artifacts

**Would you like to work on the issue?**
Please assign the issue accordingly

[2022-11-08 11:24] #1586 closed

[2022-11-08 22:28] shelaghm commented on #1612
@jingtang10 I hear your concern.

Those are some good ideas. As usual I mocked it up so we can see what the different options can look like.
Option 1: place misc components below the item control components and add a subheader. I think this works. The term components is general enough that I think we can place features like help or instructions inside.
Option 2: Many of the misc components relate

[2022-11-09 01:01] shelaghm commented on #1689
@HenryRae Thanks for your feedback.

[2022-11-09 10:41] jingtang10 opened #1704 "Read-only summary/review page"
**Is your feature request related to a problem? Please describe.**
The review page currently has an "EDIT" button that allows the user to go back to the questionnaire. But there is a need for just having a read-only review/summary page in certain use cases.

**Describe the solution you'd like**
Create a new setting to allow for the review/summary mode to be readonly

**Describe alternatives you've

[2022-11-09 11:08] aditya-07 opened #1705 "Decouple modules from each other."
DataCapture has a direct dependency on FhirEngine. We should decouple them so that application users can use DataCapture independent of FhirEngine as well.
Maybe same for workflow module as well.

**Would you like to work on the issue?**

[2022-11-09 11:53] HenryRae commented on #1689
maybe another thing to consider is if we can include beyond text in them i.e maybe show images in them as well. what are your thoughts on that @shelaghm

[2022-11-09 16:41] omarismail94 opened #1706 "Support different FHIR versions in the FHIR Engine lib"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Support different FHIR versions in the FHIR Engine lib

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Ability to deploy an app that uses the FHIR Engine using R5 resources

**Describe alt

[2022-11-09 20:03] omarismail94 commented on #1701
@divyaramnath-13 fix will be live when the PR linked gets merged

[2022-11-09 20:05] shelaghm commented on #1689
@HenryRae Oh, interesting idea. What's an example of when you'd like to include an image? Do you include images in your apps today?

I imagine it could be really useful for showing visual instructions, especially if it isn't something they do very often. Hearing your specific examples will be really helpful.

[2022-11-10 04:27] divyaramnath-13 commented on #1701
Got it, thank you!

[2022-11-10 10:10] jingtang10 commented on #1682
i see this is opensrp's fork. can you try depending on beta06 of the sdc lib?

[2022-11-10 10:21] jingtang10 commented on #1704
Hi @shelaghm do you have any input regarding this?

[2022-11-10 11:35] #1701 closed

[2022-11-10 12:19] KhumboLihonga commented on #1682
@LZRS Could you look into updating this

[2022-11-10 22:35] shelaghm commented on #1704
Some questions:
- How would someone access the read-only/summary page? Is something they land on after completing the questionnaire? OR something they can see after a questionnaire is completed and they access the completed questionnaire from the patient card?

Some suggestions:
1. I agree to visualize in a similar dense layout as the review page, not render the normal questionnaire. This is easie

[2022-11-11 12:27] jingtang10 commented on #1704
thanks @shelaghm - the mocks look great.

i think the read-only thing may just be a totally different mode for questionnaire. because if it's read-only then there's no point taking the user through the actual questionnaire. so basically when the user opens the questionnaire the library will decide to do the following.

1. normal questionnaire (which will take the user through the pages, with an op

[2022-11-11 12:31] jingtang10 commented on #726
@kevinmost thanks so much for landing the PR for repeated group! this is great!

reopen to handle deletion. let me know when there's pr kevin :)

[2022-11-11 13:47] jingtang10 commented on #544
@aditya-07 commented that when there's no question text, having an asterisk is very strange. i think @shelaghm and @santosh-pingle agree.

@shelaghm please advise how to proceed - we could either use flyover when there's no question text. or we can just add another line (maybe similar to the instructions) to explicitly say "Required".

[2022-11-11 15:48] jingtang10 commented on #726
@shelaghm also can you please provide an icon for releated group in the catalog app? thanks!

[2022-11-11 23:24] shelaghm commented on #544
I recommend using the `flyover/ label text` field to display the asterisk. Ideally also include *required in the `help field/entry format` field below the text box. This follows the [Material design recommendations.](https://m3.material.io/components/text-fields/guidelines#6c36a812-273d-4f5d-9102-2f00386c9145)

<img width="639" alt="Screen Shot 2022-11-11 at 15 21 17" src="https://user-images.gith

[2022-11-11 23:28] shelaghm commented on #1704
That makes sense to me @jingtang10

@joiskash @nsabale7 @f-odhiambo It would be helpful to hear about your use case for using read-only so we can make this this component is meeting your needs. Do you have any context to add? Thanks!

[2022-11-11 23:44] shelaghm commented on #726
I recommend we use [this icon](https://fonts.google.com/icons?selected=Material%20Symbols%20Outlined%3Acopy_all%3AFILL%400%3Bwght%40400%3BGRAD%400%3Bopsz%4048)! Will paste link on our internal chat where it is the right color and size.

[2022-11-12 08:51] LCB2021029-Badri opened #1712 "No "other" category in gender section in "Add Patient""
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-12 08:59] Smarshal21 commented on #1712
noice issue

[2022-11-12 09:00] Smarshal21 commented on #1712
@LCB2021029-Badri can i work on this ???

[2022-11-14 06:18] santosh-pingle commented on #1712
@LCB2021029-Badri

Could you please provide more details to reproduce the issue?

-  steps to reproduce the issue
-  screenshot or video as reference

[2022-11-14 06:27] santosh-pingle commented on #1712
@aditya-07 @omarismail94 @jingtang10
Could please update project of this issue to [Android FHIR SDK](https://github.com/orgs/google/projects/6)

[2022-11-14 06:27] santosh-pingle commented on #1706
@omarismail94
Could please update project of this issue to [Android FHIR SDK](https://github.com/orgs/google/projects/6)

[2022-11-14 06:35] LCB2021029-Badri commented on #1712
@fredhersch @pld @mberg @aditya-07 @omarismail94 @jingtang10  could you please assign this issues to me i would like to work on this issue

[2022-11-14 08:28] LCB2021029-Badri commented on #1712
https://user-images.githubusercontent.com/96579549/201611569-755d919d-98f8-4b79-ab98-67fe6f0c93d4.mp4

[2022-11-14 08:44] maimoonak opened #1713 "QuestionnaireResponse Validator should not throw exception when questionnaire url is null"
**Describe the bug**
QuestionnaireResponse validator [asserts condition](https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/validation/QuestionnaireResponseValidator.kt#L61) where it is expected that questionnaire.url = questionnaireResonse.questionnaire. This condition is not covering all use cases and throws exception needlessly where

[2022-11-14 09:08] santosh-pingle commented on #1712
@LCB2021029-Badri
Please feel free to work on this issue.

[2022-11-14 09:33] santosh-pingle opened #1714 "If number of answer options are more then answers are always shown in the dialog over questionnaire item control code."
**Describe the bug**

- Questionnaire item type is choice.
- Number of answer options are more than 10.
- Item-control code value is checkbox.
- Issue : it shows answer options in the dialog over checkbox.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
If type is choice, an

[2022-11-14 09:51] santosh-pingle opened #1715 "Slider max value should be updated from the questionnaire."
**Describe the bug**
Slider max value is always shown 100.
It does not updates the max value limit as per value mentioned in the questionnaire.

**Component**
SDC library

**Expected behavior**
Max value of the slider should be read from the questionnaire.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information):**
 - D

[2022-11-14 10:02] santosh-pingle opened #1716 "Reduce font size of question title in the review mode."
**Describe the bug**
Font size of question title is need to be changed as per ux design request.
It need to be updated to title medium.

**Component**
SDC library

**Expected behavior**
Title medium font should be applied to question title in the review mode.

**Screenshots**
If applicable, add screenshots to help explain your problem.

<img width="399" alt="Screen Shot 2022-11-14 at 3 28 36 PM" s

[2022-11-14 13:44] PallaviGanorkar commented on #1614
@shelaghm @jingtang10
Out of above 2 options for UI, which is final for implementation, whether to show the "radio checkbox" or not?

[2022-11-14 14:00] santosh-pingle commented on #1714
SDC does not support item control system url "http://hl7.org/fhir/ValueSet/questionnaire-item-control", instead updated "http://hl7.org/fhir/questionnaire-item-control".

[2022-11-14 16:33] shelaghm commented on #1715
@jingtang10 We'll need this fixed this week for UX testing

[2022-11-14 18:07] shelaghm commented on #1614
@PallaviGanorkar I think we should show the radio checkbox, because it makes it clear what type of a selection it is.

[2022-11-14 21:41] williamito opened #1718 "Catalog: Integer field deletes itself after 11th digit"
**Describe the bug**
While typing into "ID number" which is an integer field, once you type the 11th number the field auto-deletes all the contents.

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Select "Text field" in catalog app
2. Select "ID number" field
3. Enter an 11 digit number

**Expected behavior**
Field does not delete itself.

**Screenshots**

http

[2022-11-14 22:23] shelaghm commented on #1716
Thanks @santosh-pingle!

[2022-11-15 04:52] PallaviGanorkar commented on #1614
Yes, Thanks @shelaghm

[2022-11-15 05:24] santosh-pingle commented on #1715
looking into it.

[2022-11-15 07:07] parthfloyd commented on #1704
@shelaghm For Em Care we are going to use read-only mode questionnaires to show users previously filled questionnaires of closed consultations (Hence user may only require to see the questionnaire view similar to review mode without the option to edit it)

[2022-11-15 07:46] joiskash commented on #1704
@shelaghm we currently do not have a use case that requires this. But the conversation above seems reasonable to me.  I have nothing more to add

[2022-11-15 07:56] joiskash opened #1719 "Questionnaire Progress does not work as exepcted after coming back to edit mode from review mode."
**Describe the bug**
The progress bar of the questionnaire glitches after you navigate back to edit mode from review mode

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Open questionnaire
2. Go to review mode
3. Go back to edit mode
4. Navigate the questionnaire and look at the progress bar

**Expected behavior**
Progress bar should work as expected.

**Screenshot

[2022-11-15 08:49] KhumboLihonga commented on #1682
@jingtang10 we tried using beta06 as per https://github.com/opensrp/fhircore/pull/1836 but it's still not working as shown in the video below.

https://user-images.githubusercontent.com/90775548/201872774-fa4a34fb-ba08-4799-88de-0edf4734d7c1.mp4

[2022-11-15 09:17] joiskash opened #1720 "Prepopulate front slash while entering date"
**Is your feature request related to a problem? Please describe.**
While entering the date in typing mode, the current edit text field allows typing dates like 021222 even though an error pops up.

**Describe the solution you'd like**
A request from the field workers is to automatically add the / at the right place. eg: When the user type 02 a / should be added automatically such that the user is

[2022-11-15 09:31] joiskash opened #1721 "Language settings in phone for appropriate date format display"
**Describe the issue to be researched**
The date picker in the SDC library is using the default language of the phone to display the date format prompt eg:

English US will display date as m/d/yy
English Nigeria will display date as d/m/yy

Some phones have very limited language selection settings as shown in the screen shots below.

Language set to English US
![US_English](https://user-images.git

[2022-11-15 12:04] aditya-07 commented on #1682
@KhumboLihonga @jingtang10 [PR-1671](https://github.com/google/android-fhir/pull/1671) would solve this issue. Its not merged yet.

[2022-11-15 12:55] #1520 closed, assigned to aditya-07

[2022-11-15 17:03] shelaghm commented on #1689
@HenryRae that is clear. Yes, I think for some CHWs if they are doing the same task everyday it is likely that they don't need to always see the visual instructions, and hiding it inside the `help` button can make it available to reference when needed without cluttering the page for all users.

@jingtang10 are there any engineering constraints for embedding images inside the `help` component?

[2022-11-16 05:42] PallaviGanorkar opened #1725 "Add/Edit patient screen UI broken in demo app"
**Describe the bug**
Add/Edit patient screen UI broken in demo app, there gap between UI item is increased

**Component**
SDC library, rSDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1.. Launch'Demo'
2. Click on '+' to add new patient / select any patient from patient list to and click on edit
3. Scroll up and down
4. See error : 1. Space is more in label and the edit box for s

[2022-11-16 06:04] PallaviGanorkar commented on #1721
@joiskash  Please provide more details about android device, android version, SDC lib version used.

[2022-11-16 06:14] joiskash commented on #1721
Device - Infinix Hot 11 play X688B Made in India
Android Version - 11
OS - XOS Dolphin v7.6.0
SDC lib - sdc-0.1.0-beta06

[2022-11-16 13:45] jingtang10 commented on #1614
can we focus on using the item answer media extension?

not sure how well the xhtml extension will work on andorid - maybe we should do a little bit more exploration there. but for now, let's get the item answer media extension working with the data field (in its examples they're using the url field).

[2022-11-16 13:58] jingtang10 commented on #1612
amazing. thanks @shelaghm.

likewise i prefer one. let's call the existing components "widgets"? so under "components" we have "widgets" and "misc"?

[2022-11-16 16:22] jingtang10 commented on #1720
hi @joiskash do people use the text input directly (without clicking the calendar icon and press the pencil icon)?

we can probably do something there.

but in this dialog there's not much we can do as this is a material dialog.

[2022-11-16 16:29] shelaghm commented on #1721
@williamito is this something you can help add some documentation on our wiki?

[2022-11-16 16:31] jingtang10 commented on #1721
Hi @joiskash in the languages settings in android you can set the order of different language+locale. i think the first one becomes the system's default for applications.

in my testing, i have English UK and English US as the top 2 languages, reordering them would result in different entry format strings in the sdc catalog app. notice if you're testing this you might need to kill and restart the

[2022-11-16 19:03] #1622 closed

[2022-11-16 19:12] joiskash commented on #1721
Yes that's what we have done in the screenshots above. We have changed the language and it has resulted in the appropriate date format.
The main issue that I want to bring up is that this particular phone does not have English (India).
Similarly they do not have English (Nigeria).
A samsung phone purchased in India and Nigeria does have the appropriate locale. So we cannot guarantee that a phone p

[2022-11-16 21:46] shelaghm commented on #1704
Thanks for the feedback @parthfloyd and @joiskash. Very helpful

[2022-11-16 21:49] shelaghm commented on #1612
@jingtang10 Sounds good.

@santosh-pingle this is ready for you to implement in the catalog app. We're going for option 1 with two sections. Top section is called `widgets` which has most of the existing widgets. Bottom section is called `Misc` which contains things like Help, Instructions etc.

[2022-11-17 04:54] #1715 closed

[2022-11-17 07:58] joiskash commented on #1720
People use the input text directly

[2022-11-17 18:30] jingtang10 commented on #967
another possible solution is to make prefix and the label flow inline. so that a long perfix wouldn't squeeze the main question into a narrow column.

[2022-11-21 08:19] f-odhiambo commented on #1082
This ticket may have been completed by @aditya-07, we can perhaps close it for now CC @Tarun-Bhardwaj @FikriMilano

[2022-11-21 12:05] santosh-pingle commented on #1725
Issue is reproducible on catalog app as well.
@PallaviGanorkar  thanks for raising this issue.

[2022-11-21 12:29] santosh-pingle commented on #1612
@shelaghm
Is it possible to share the figma link to check the top and bottom margin for the header section `widgets` and `Misc componnets` for above screenshots?

As of now I am adding 16dp as top margin  and 8dp as bottom margin.

[2022-11-21 14:33] jingtang10 commented on #1721
Just to clarify that the issue is that in some phones certain locales don't seem to be available so the device cannot be configured to the same locale as other devices used for the same programme. So the solution being proposed here is that we use the entry format string defined in the questionnaire to override the system defined date/time format string for the locale.

[2022-11-22 02:02] FikriMilano commented on #1718
This needs to be fixed first, in order to fix https://github.com/google/android-fhir/issues/1594

[2022-11-22 02:04] FikriMilano commented on #1718
The reason this happens because integer type has an upper limit of `2,147,483,647` (10 digits)
https://build.fhir.org/datatypes.html#integer

[2022-11-22 02:04] FikriMilano commented on #1594
Blocked by https://github.com/google/android-fhir/issues/1718

[2022-11-22 03:32] FikriMilano commented on #1718
@shelaghm what's your preferred behavior for this case?
Show error when limit is exceeded and/or show the max integer value instead or something else.

[2022-11-22 06:03] santosh-pingle commented on #1725
looking into it.

[2022-11-22 16:20] jingtang10 commented on #1576
i think in the V1 we should have "complete fields" and "submit anyway" buttons in the dialog just because in some cases the healthworker might want to save a draft questionnaire

[2022-11-22 17:07] jingtang10 commented on #1576
@shelaghm i think the text in the dialog needs to be more generic. "complete all required fields" doesn't cover the cases where validation is failing for other reasons, e.g., value too large/small, text too long/short etc.

[2022-11-23 09:39] santosh-pingle commented on #1716
looking into it.

[2022-11-23 10:38] ktarasenko opened #1729 "Implement KnowledgeManager module"
**Is your feature request related to a problem? Please describe.**
Load implementation guide and execute Knowledge artifacts from them.
Solve the problem of storing bigger FHIR resources

[2022-11-24 01:11] williamito opened #1733 "Workflow library alpha02 crashes when PlanDefinition has an .action.condition?"
**Describe the bug**
I am able to generate a care plan using a minimal Plan Definition. When I add a `condition` to the plan definition, the app crashes instead with

[code]

**Component**
Workflow Library

**To Reproduce**
See https://github.com/williamito/fhir-engine-test/blob/main/app/src/main/java/com/example/enginetest/MainActivity.kt

It works with

[code]

And crashes with

[code]

I also t

[2022-11-24 02:01] williamito commented on #1733
In case it helps, the actual intent of the condition expression was to check `Patient.gender = 'female'` which has the same crash. I ended up trying `true` to make sure I wasn't messing up the use of fhirpath.

[2022-11-24 11:38] PallaviGanorkar commented on #1614
@shelaghm I have 2 queries for display image for item answerOptions
1. change in shape of given image required?
2.  Change in color to match app there is required?
Please find the find the screen shot below for more details, here I am rendering binary data as BitmapDrawable.(FYI, its all dummy data  i am using here)
![itemAnswerMedia](https://user-images.githubusercontent.com/13957417/203775211-1e

[2022-11-25 13:42] FikriMilano commented on #1621
I will be on exam leave for some weeks, will continue the work after I come back.
@f-odhiambo @jingtang10

[2022-11-25 13:42] FikriMilano commented on #1675
I will be on exam leave for some weeks, will continue the work after I come back.
@f-odhiambo @jingtang10

[2022-11-25 13:43] FikriMilano commented on #802
I will be on exam leave for some weeks, will continue the work after I come back.
@f-odhiambo @jingtang10 @Tarun-Bhardwaj

[2022-11-25 13:44] FikriMilano commented on #1718
I will be on exam leave for some weeks, will continue the work after I come back.
@f-odhiambo @jingtang10

[2022-11-28 15:51] jingtang10 commented on #1733
Bryn's suggestion: try the `type text/cql-expression`

can you plz try william?

[2022-11-28 16:05] williamito commented on #1733
This is the result of using `"language": "text/cql-expression"` -

[code]

[2022-11-29 08:42] KhumboLihonga opened #1735 "Initial and initial expression not working on dropdown items with the type 'reference'"
**Describe the bug**
When using a dropdown item with the type 'reference', the initial value set always defaults to 'Not Answered'. In addition, when trying to select an option from the list, the selected option resets to 'Not Answered' as shown in the video below.

**Component**
SDC library

**To Reproduce**
N/A

**Expected behavior**
I expect the initial value set to be selected by default

**Sc

[2022-11-29 09:24] santosh-pingle commented on #1668
Ux testing build is delivered, so closing the ticket.

[2022-11-29 09:24] #1668 closed

[2022-11-29 20:37] williamito commented on #1733
It looks like Vitor's fix was reverted: https://github.com/hapifhir/org.hl7.fhir.core/pull/1017

I'm not sure why, I don't see any discussion on github other than it was reverted by request of Grahame Grieve.

This bug does significantly hamper care plan generation, as encoding the conditional logic in FHIR is a primary value. I'm not sure what the timeline is for the fix to trickle down to the wo

[2022-11-29 20:47] vitorpamplona commented on #1733
They are debating if that is the way it should be or not.

The bug should only happen in FhirPath expressions. CQL expressions should work.

[2022-11-29 20:50] williamito commented on #1733
It seems to also happen with CQL expressions though: please see crash in https://github.com/google/android-fhir/issues/1733#issuecomment-1329351816

[2022-11-29 20:54] vitorpamplona commented on #1733
Different error, though. I didn't get there yet.

[2022-11-29 21:48] shelaghm commented on #1718
@FikriMilano My suggestion is to show an error message such as `Maximum 11 numbers` and adjust the error message based on the maximum # allowed. This let's people know how to fix the issue.

I'm not sure what the best term to use is and if `number` is the right one to use in this context, but I'm assuming integer and digit are less familiar terms for frontline health workers? If anyone has thought

[2022-11-29 21:54] shelaghm commented on #1614
@PallaviGanorkar

1. Can you say more about what you mean about change shape? The shape of it being a square or do you mean something else?
2. Changing color to app default is a nice to have. This would only be relevant when developers are uploading BitmapDrawable, so for icons and vector graphics that is a nice feature. But I also imagine developers would upload jpgs/pngs where that functionality

[2022-11-29 21:57] shelaghm commented on #1720
We tested this in our usability testing and are seeing similar challenges with the date picker. We are looking into better options for entering dates. Will let you know when we have something more to share.

[2022-11-29 21:59] williamito commented on #1718
@shelaghm The actual issue isn't the number of digits but the value; any number larger than `2,147,483,647` will break things, so a 10 digit number like `2,147,483,648` can also fail. It was a coincidence that the test case `1,234,567,890` is smaller than the magic number.

I'm not sure what a good error message would be though, "value must be smaller than 2,147,483,648"  is a little awkward.

[2022-11-29 22:21] vitorpamplona commented on #1733
The CQL/expression error is fixed on the CQL Evaluator 2.3. I am making a PR to upgrade the workflow

[2022-11-29 22:34] shelaghm commented on #1718
@williamito @FikriMilano Ohhh, got it. Thanks for clarifying. In that case I think we should explain it as `number must be smaller than 2,147,483,648` so that it is more clear what the constraints are.

[2022-11-29 23:26] shelaghm commented on #1612
@santosh-pingle I will share figma link with you.
For widgets, since the top bar adds a lot of white space, change 32dp to 24dp. change 8dp -> 12dp
32dp as top margin looks good on misc components. change 8dp -> 12dp so there's a but more breathing room.

[2022-11-29 23:54] shelaghm commented on #1576
@jingtang10 How about some of these options? Is `incomplete questionnaire` generic enough? I was thinking it could cover both the scenario of missing questions or that there are errors causing the questionnaire to be incomplete. Another option is to describe all of it as "errors" without making a distinction of what kind of error it is. Thoughts?

<img width="1424" alt="Screen Shot 2022-11-29 at 1

[2022-11-30 05:42] santosh-pingle commented on #1716
@shelaghm
Review mode was also showing help button if it was present in questionnaire json, in my opinion it is not required so removed it.

[2022-11-30 05:47] santosh-pingle commented on #1716
looking into it
In review mode if question item is not answered, then it is shown `No answer`. There is suggestion to show this text in red color and add error icon.
For more details see link https://github.com/google/android-fhir/pull/1737#issuecomment-1331343726

[2022-11-30 13:22] omarismail94 commented on #1735
Thanks @KhumboLihonga ! Will take a look at this and triage to the right person. This was never working before right? Just want to make sure this is an uncaught issue vs a regression

[2022-11-30 13:51] jingtang10 commented on #1614
discussed with @PallaviGanorkar. just really quickly: 1) i think we might need to scale the image whilst preserving the aspect ratio. 2) we should do some testing to see if it's possible for the questionnaire to provide an icon with transparent background so it works with different application theme and style.

[2022-11-30 14:50] KhumboLihonga commented on #1735
@omarismail94 This was my first time attempting to do this so I'm not sure. I would think its an uncaught issue since using the reference type was only recently included.

[2022-11-30 15:56] PallaviGanorkar commented on #1614
@shelaghm I am using 48x48 image size here, Please let me know if you have other opinion about it

[2022-11-30 16:00] shelaghm commented on #1614
48x48 is a good size @PallaviGanorkar

[2022-11-30 22:36] omarismail94 commented on #1735
@KhumboLihonga  I have a PR #1740  ready for review to fix the issue

 Here is a video showing the fix:

https://user-images.githubusercontent.com/44980219/204923047-345896a9-58bc-4ac6-a949-b469afe8ad3a.mp4