[2021-10-29 18:36] epicadk commented on #881
The `notImplementedError` thrown may be confusing. Maybe we could replace that with an `IllegalArgumentException`? Apart from that I agree.

[2021-10-30 13:59] aditya-07 commented on #903
Added it.

[2021-10-30 15:03] epicadk commented on #869
https://github.com/FHIR/Ucum-java/issues/26

[2021-11-01 06:26] #875 closed

[2021-11-01 11:06] #901 closed

[2021-11-01 15:59] epicadk commented on #864
Can you share the log?

[2021-11-02 04:00] #831 closed

[2021-11-02 09:16] #903 closed

[2021-11-02 14:44] aditya-07 opened #908 "Update the search query to use AND/OR exclusively instead of a mix of AND/OR and UNION/INTERSECT ."
**Describe the Issue**
In our search query, multiple values in a filter are joined by UNION/INTERSECT and multiple filters as such are joined with AND/OR.
For better readability and code health, use AND/OR exclusively.

**Would you like to work on the issue?**

[2021-11-03 05:37] #888 closed

[2021-11-03 10:25] joiskash opened #910 "Allow rendering of complex questions with repeated answers and nested items, repeated groups and nested items"
**Is your feature request related to a problem? Please describe.**
Currently the SDC library supports repeated answers, but not items nested in answers that can repeat. Also full support for repeated answers is not yet available in the SDC library

**Describe the solution you'd like**
To support the spec completely we need to be able to handle all the questionnaireItem types that are shown in the

[2021-11-03 18:34] epicadk opened #911 "Support rxjava , kotlin flow and livedata return types for the database."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently we don't use any of the wrappers  ( i.e. rxjava, kotlin flow, livedata etc.)

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Add support for these because they'll make developmen

[2021-11-05 06:49] maimoonak opened #912 "QuestionnaireResponse validator not consider missing items and answers"
**Describe the bug**
QuestionnaireResponse validator assumes that questionnaire and response items has 1-1 mapping in [validator](https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/validation/QuestionnaireResponseValidator.kt#L42). This leads to validating question item X against response item Y

[code]

**Component**
Data Capture

**To

[2021-11-05 13:27] epicadk commented on #857
Are you working on this? If not I can take this up?

[2021-11-05 14:27] maimoonak opened #913 "Validation with display only question item crashing as it has no answer"
**Describe the Issue**

Validation with display only question item crashing as it has no answer
QuestionnaireResponseValidator -> line -> validate(questionnaireItem.item, questionnaireResponseItem.answer[0].item, context)

[code]

**Would you like to work on the issue?**

[2021-11-06 12:11] #750 closed

[2021-11-06 12:11] #758 closed

[2021-11-06 15:11] f-odhiambo opened #914 "[Apple Silicon] Cannot connect to SQLite datasource on M1"
**Describe the bug**
Issues around SQLite loaders while trying to run apps on M1 based macs. No native library to support

**Component**
Reference app or SDC gallery app

**To Reproduce**
Steps to reproduce the behaviour:
1. Try to build and run the Android FHIR SDK sample apps on M1 silicon
2. See error

[code]
**Suggested behavior**

Open `build.gradle.kts` in engine
Add
 ` kapt("org.xerial:sqli

[2021-11-07 10:08] Mehul-Bisht commented on #766
@deepankarb is this issue still open?

[2021-11-09 09:48] fredhersch commented on #802
@ekigamba This has been added to the spec as ItemMedia - https://build.fhir.org/ig/HL7/sdc/StructureDefinition-sdc-questionnaire-itemMedia.html

cc: @jingtang10

[2021-11-09 16:50] litlfred opened #915 "SDK to allow evaluation of CQL against a FHIR resource"
In application logic, it would be desirable expose and API to allow execute a CQL expression against a FHIR resource.

General Workflow:
 * A) (optional) application refreshes cache of FHIR Library resources containing CQL from a remote server.
 * B) application populates a FHIR library resource with required data fields
 * C) application executes a CQL expression or Library resource against the c

[2021-11-10 09:38] Tarun-Bhardwaj commented on #872
Blocked on sync strategy review.

[2021-11-10 09:46] jingtang10 commented on #857
blocked by #911

[2021-11-10 09:49] Tarun-Bhardwaj commented on #855
Closing the issue as this feature is not needed.

[2021-11-10 09:49] #855 closed

[2021-11-10 10:40] jingtang10 commented on #818
linking #847 which was done to prepare for this change

[2021-11-10 11:20] fredhersch commented on #915
@pld Are you able to share more details about the CQL use case you had. We are trying to understand if there is a generic operation that could be developed for CQL evaluation and estimate effort

[2021-11-10 11:25] stevenckngaa opened #916 "Allow pre-filled questionnaire response to be supplied by URI on top of JSON string"
**Is your feature request related to a problem? Please describe.**
If app developers supply a large questionnaire response, the binder limit can be reached. See [this similar](https://github.com/google/android-fhir/issues/672) issue.

**Describe the solution you'd like**
Allow pre-filled questionnaire response to be supplied by URI on top of JSON string

**Describe alternatives you've considered**

[2021-11-10 12:06] mberg opened #917 "Read only view in questions/forms too light"
**Describe the bug**

The read only view on questions are a bit too gray (from my perspective) making them hard to read. I expect this to be an issue with quite a few of our users who may have poor eyesight.  I'm not sure if this is the Android default but I'd recommend we go with a much darker version of gray if possible.

**Component**

SDC library

**To Reproduce**
Steps to reproduce the behavi

[2021-11-10 13:07] ekigamba opened #918 "Population for questions nested in non-group questions not working"
**Describe the bug**
`sdc-questionnaire-initialExpression` does not work when used in Questionnaire items nested inside non-group questions, questions that are not of type `group`.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Author a form with a text question. Add a nested text question inside it  and set `initialExpression` extension with a relevant expression

[2021-11-10 13:19] pld commented on #915
Sure, there are some details in this discussion https://github.com/opensrp/fhircore/discussions/659, and specifically this comment relates to a pipeline with a CQL step, https://github.com/opensrp/fhircore/discussions/659#discussioncomment-1548255

[2021-11-10 13:54] djritz commented on #915
Hi all -- I'm not sure if it is applicable to the use cases Carl described, but there is a javascript implementation of a CQL engine that has been developed by Mitre. It is found, here: https://www.npmjs.com/package/encender

[2021-11-10 14:41] maanuanubhav999 commented on #898
Hey, @jingtang10  Can I work on this issue?

[2021-11-10 20:40] #808 closed

[2021-11-11 10:14] epicadk opened #921 "Handle Insurance-plan name in indexing"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
https://github.com/google/android-fhir/pull/905#discussion_r746935852

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Handle insurance-plan in the indexing.

**Describe alternatives you've c

[2021-11-11 11:35] #854 closed

[2021-11-11 12:09] mberg commented on #917
![Screenshot_1636632533](https://user-images.githubusercontent.com/57921/141295611-4ac7f0c7-0304-424f-8c5e-6d1770646b76.png)

[2021-11-11 12:21] jingtang10 commented on #917
@santosh-pingle

[2021-11-11 12:21] jingtang10 commented on #917
@shelaghm

[2021-11-11 12:22] jingtang10 commented on #917
i agree with you here @mberg it's too light... we're just doing the default thing here... but may need to change that... thanks so much for the feedback!

does material have support for this type of stuff @shelaghm?

[2021-11-12 09:21] #861 closed

[2021-11-15 13:56] shelaghm commented on #917
@jingtang10 @mberg @santosh-pingle
Yes, the contrast does seem very low, which makes this text not accessible/legible. Looking at the Material guidelines, they use 38% opacity for disabled text. @jingtang10 can you check what is implemented? From looking at colors in figma it looks like our implementation is a bit lighter than what's specified.

I recommend we use 38% Opacity of #000000 or 9E9E9E

[2021-11-17 09:43] Tarun-Bhardwaj commented on #917
@santosh-pingle , please upload a screen shot once the changes are complete.

[2021-11-17 11:31] #672 closed

[2021-11-17 14:01] #568 closed

[2021-11-18 10:17] Tarun-Bhardwaj commented on #817
Closing this issue as this is a duplicate of #763

[2021-11-18 10:17] #817 closed

[2021-11-18 11:10] #918 closed

[2021-11-18 11:53] jingtang10 commented on #921
@epicadk have you raised an issue to fix the standard?

[2021-11-18 12:54] ndegwamartin opened #928 "SDC library does not render valueSet widgets on the Questionnaire"
**Describe the bug**
For Open Choice items configured with the answer format value sets i.e. _answerValueSet_, the widgets _Do Not_ render successfully on the Questionnaire. This can be observed with the  HIV Case Report questionnaire **Occupation** form field.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the _Data Capture Gallery_ home page
2. Click on _H

[2021-11-18 13:13] ndegwamartin opened #929 "Internationalisation for the Questionnaire answerOption item using Translation Extensions"
**Is your feature request related to a problem? Please describe.**
We currently do not have internationalisation for the [Questionnaire item answer options](https://www.hl7.org/fhir/questionnaire-definitions.html#Questionnaire.item.answerOption)

**Describe the solution you'd like**
Support for multiple translations can be added using _Extensions_ by implementing the [HL7 FHIR spec here](http://hl

[2021-11-19 02:11] mberg commented on #917
Thanks @shelaghm I think that looks a lot better!  I think having the eye in every field may be a bit more then what we want to go for.

For a bit of context, we'll probably be using this as an interim hack to view filled out forms for now.  I realize there are better UX approaches for that but that's an initial way I think people will be using it.

@jingtang10 do we have thoughts on a version of

[2021-11-19 06:09] epicadk commented on #921
We should still merge the fix till the issue is solved right?

[2021-11-19 09:58] anita-vadverao opened #931 "On Date Of birth Text-box ,not able to open calendar once click on cancel button on Calendar"
**Describe the bug**
On Date Of birth Text-box ,not able to open calendar once click on cancel button on Calendar

**Component**
reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Reference App'
2. Click on '+' icon
3. Tap On Date of birth
4. On calendar, click on Cancel button
5. Again Tap on Date Of Birth
6. Observe behavior

**Expected behavior**
User should be able to o

[2021-11-19 13:46] anita-vadverao commented on #931
https://user-images.githubusercontent.com/64417713/142632731-eadd3961-f757-4e78-a024-b679f9940e22.mp4

[2021-11-19 14:08] anita-vadverao opened #934 "On phone number text-box, on click next on keyboard, it is still entering data in phone number place"
**Describe the bug**
On phone number text-box, on click next on keyboard, it is still entering data in phone number place

**Component**
 reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Reference App'
2. Click on '+'
3. Tap On Phone number and enter details
4. tap on next on keyboard
5. Observe behavior

**Expected behavior**
User should be able to enter data in city tex

[2021-11-22 03:34] fredhersch commented on #915
@jingtang10 can you comment on this one. Thanks

[2021-11-22 06:28] MUzairS15 commented on #934
Hey I would like to work on this issue?

[2021-11-22 10:33] jingtang10 commented on #921
actua

yes - but please add a comment in the code to link the jira issue.

[2021-11-22 12:08] #763 closed

[2021-11-22 13:25] jingtang10 commented on #915
@litlfred @fredhersch yeah you can depend on the CQL engine java library in the app and we had a demo actually: https://github.com/google/android-fhir/tree/f871788b18e35bcd20b1c4f3d9b02daeed9082cf/cqlreference

I think in the issue @pld linked above there are some updates on using this approach.

The point of the workflow library is to support operations wrt workflows such as evaluate measure, suc

[2021-11-22 18:29] MUzairS15 commented on #934
Hello @anita-vadverao, new to this community, was setting up the reference app and getting the following error pls help
warning: default scripting plugin is disabled: The provided plugin org.jetbrains.kotlin.scripting.compiler.plugin.ScriptingCompilerConfigurationComponentRegistrar is not compatible with this version of compiler
error: unable to evaluate script, no scripting plugin loaded

[2021-11-23 06:20] #921 closed

[2021-11-23 09:35] jingtang10 commented on #917
hey matt - not totally sure of the requirement here. do you mean like a summary table after the questionnaire is filled out?

[2021-11-23 10:18] FikriMilano opened #936 "Add safe call in validateQuestionnaireResponseItems to handle custom widget"
**Is your feature request related to a problem? Please describe.**
When validating a custom questionnaire widget which has null item type it will throw an NPE.
For example:
[code]
Related problem: https://github.com/opensrp/fhircore/issues/761

**Describe the solution you'd like**
Add safe call on this part https://github.com/google/android-fhir/blob/817a5617161a1a0e62b371fbbfbfbd684c41389a/dataca

[2021-11-23 13:05] jingtang10 commented on #936
this is not a valid questionnaire item. see https://www.hl7.org/fhir/questionnaire-definitions.html#Questionnaire.item.type. type is mandatory.

[2021-11-23 13:19] FikriMilano commented on #936
is there a possible work around for this?

[2021-11-23 17:57] msubham193 commented on #931
Hii @anita-vadverao  can i work on this issue

[2021-11-23 20:30] ekigamba commented on #936
1. That's correct, no such question type exists on the spec. Could we swap the check to prevent NPEs?

i.e.
[code]

2. Support for custom widget types was added and it seems that this is how such a question is authored. The link is for the example on the Android FHIR SDK `datacapturegallery`

https://github.com/google/android-fhir/blob/master/datacapturegallery/src/main/assets/hl7-questionnaire-ex

[2021-11-24 03:48] joiskash commented on #936
I think according to the spec we should be using the attachment type for storing images as answers.

https://www.hl7.org/fhir/codesystem-item-type.html#item-type-attachment

[2021-11-24 04:52] anita-vadverao commented on #934
@MUzairS15 Please follow this document: https://github.com/google/android-fhir/wiki/Developer's-Guide

[2021-11-24 10:19] FikriMilano commented on #936
For giving example of questionnaires that has custom widget in it.
Have you considered using both valid item `type` and `extension` so that it will still show the correct custom widget while also preventing this NPE error?
@jingtang10 @joiskash

[2021-11-24 10:24] santosh-pingle commented on #917
@jingtang10

readOnly view state (text and the outline of the text box when state is disabled/enabled) are implemented for edit text view.
Created PR https://github.com/google/android-fhir/pull/939 for proposed solution, could you please check once?

Also, there are other views such as `autoComplete view, checkbox group view, radio group view, datetime picker view, time picker view... and many mor

[2021-11-24 11:17] joiskash commented on #936
Well Im not sure if its the responsibility of the datacapture library to check if questionnaire item has a type or not for custom widgets. I am surprised that HAPI FHIR is not throwing an error due to missing type, since that is the library that we are using to parse the questionnaire JSON.

In the case of canonical widgets , if item.type is missing , the datacapture library throws a `kotlin.NotIm

[2021-11-24 12:16] #828 closed

[2021-11-24 17:13] jingtang10 commented on #931
@msubham193 please feel free to send a pr

[2021-11-24 17:27] jingtang10 commented on #928
@wantingzhang77 will work on this

[2021-11-24 18:12] #530 closed

[2021-11-24 19:55] #733 closed

[2021-11-25 09:21] maanuanubhav999 opened #940 "Add an empty option for DropDown Widget"
**Is your feature request related to a problem? Please describe.**
Error correction for the [DropDown Widget](https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/views/QuestionnaireItemDropDownViewHolderFactory.kt)

**Describe the solution you'd like**
I was planning to have something similar to #781 so that clicking on the drop-down cho

[2021-11-25 09:27] maanuanubhav999 commented on #940
Hey @shelaghm
Do you have any input on the UX/UI for the drop-down error correction

CC @jingtang10

[2021-11-25 09:30] maanuanubhav999 opened #941 "Add error correction to RadioGroup"
**Is your feature request related to a problem? Please describe.**
Error correction for the RadioGroup Widget

**Describe the solution you'd like**
I was planning to have something similar to #781, clicking again on a particular radio button would remove the selection.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consi

[2021-11-25 11:04] MUzairS15 commented on #934
@anita-vadverao The build failure I am facing is not mentioned in the doc, I checked the zulip server and repo for additional details but couldn't find on
<img width="1424" alt="Screenshot 2021-11-25 at 4 32 26 PM" src="https://user-images.githubusercontent.com/79860504/143430168-5961b0f2-3dfc-4730-9214-1314c2b01559.png">
e.

[2021-11-25 12:44] #818 closed

[2021-11-25 14:50] jingtang10 commented on #936
To summarise our discussion today, every questionnaire item needs to have a type. Custom widget doesn't mean custom data type. So you could define a custom widget to collect data in a custom way (for example, you might tap the screen to increment an integer and collect that integer rather than typing in an integer) but the answer you collect still needs to be one of the defined fhir questionnaire

[2021-11-25 16:08] jingtang10 opened #942 "Exclude contrib packages from code coverage report"
**Describe the Issue**

We are adding code to the contrib package in the sdc lib which will decrease the test coverage. We should exclude such packagesin the jacoco report.

**Would you like to work on the issue?**

no thanks but happy to guide

[2021-11-26 07:42] maimoonak opened #943 "Handle inherited properties of Resource into questionnaire when doing extraction via ResourceMapper"
**Describe the bug**
Fhirpath mapping into questionnaire allow mapping definition like below
 "definition": "http://hl7.org/fhir/StructureDefinition/Patient#Patient.name.given"

ResourceMapper processes it an automatically maps the questionnaire-response answer to mapping value. But this work only for declared properties. For inherited properties (from DomainResource, and REsource like tag, extens

[2021-11-26 10:35] jingtang10 commented on #503
Discussed with @fredhersch @f-odhiambo and @ndegwamartin. Multiple language translation is a feature the data capture library already supports: if the questionnaire resource has translation information, namely questions and text fields have the FHIR translation extension, they will be displayed if the language matches the system language. For example if a questionnaire is in English and French, if

[2021-11-26 10:35] #503 closed

[2021-11-29 22:08] #392 closed

[2021-11-29 22:17] stevenckngaa opened #944 "Investigate if FHIR library can request users to enter screen lock challenge"
**Describe the issue to be researched**
Include any background information and available resources.
This [PR](https://github.com/google/android-fhir/pull/787) introduced sqlcipher to encrypt FHIR resources database. To further secure devices using apps built upon FHIR SDK, we should
* [P0] at least require the user to setup a lock screen.
* [P1] on request, the user must enter a screen lock challe

[2021-11-29 22:18] stevenckngaa opened #945 "Add documentation for using FHIR database encryption"
**Describe the Issue**
This [PR](https://github.com/google/android-fhir/pull/787) introduced sqlcipher to encrypt FHIR resources database. Let's document the way to enable it, potential errors etc.

**Would you like to work on the issue?**
Yes

[2021-11-29 22:20] stevenckngaa opened #946 "Add documentation for using questionnaire URI"
**Describe the Issue**
This [PR](https://github.com/google/android-fhir/pull/745#pullrequestreview-808464441) introduces a new extra which accepts questionnaire URI. We should document when the API should be used, its limitation and the relationship of this API v.s. the questionnaire json string API.

**Would you like to work on the issue?**
Yes

[2021-11-29 22:31] stevenckngaa opened #947 "Use datastore 1.0.0 library instead of 1.0.0-rc02"
**Describe the Issue**
The latest version of datastore library is [1.0.0](https://developer.android.com/topic/libraries/architecture/datastore#datastore-typed). Let's use that instead of 1.0.0-rc02

**Would you like to work on the issue?**
Yes

[2021-11-29 22:49] stevenckngaa commented on #946
Updated https://github.com/google/android-fhir/wiki/Structured-Data-Capture-Library#add-a-questionnairefragment

[2021-11-29 22:49] #946 closed

[2021-11-30 05:50] anita-vadverao opened #950 "Not able to build android-FHIR engine project"
Getting below error
<img width="1424" alt="143430168-5961b0f2-3dfc-4730-9214-1314c2b01559" src="https://user-images.githubusercontent.com/64417713/143992831-52ba7911-d047-4640-8f74-e6068555f88f.png">
:

[2021-11-30 05:52] anita-vadverao commented on #934
Raised reference issue: [https://github.com/google/android-fhir/issues/950](url)

[2021-11-30 10:13] #947 closed

[2021-11-30 12:41] #547 closed

[2021-11-30 13:38] jingtang10 commented on #702
@bausmeier @trevorgowing this is related to p2p sync as we discussed

[2021-11-30 13:53] bausmeier commented on #702
@jingtang10 I'm not actually sure if this will be useful to us now that we know that any of the devices should be able to sync to the server: https://github.com/opensrp/fhircore/issues/281#issuecomment-981735626.

[2021-11-30 16:52] vitorpamplona commented on #915
Hi all!

Thanks for the tips!

Is anyone working on a better implementation to convert CQL to ELM on Android? On my tests, it's taking at least 2 seconds to convert using [cql2elm](https://github.com/DBCG/cql-evaluator/), sometimes more than 4s.  :(

I am starting to wonder if I should make the conversion on a Server and only load ELM files directly on Android

Full app is here if anyone wants to

[2021-11-30 17:04] citizenrich commented on #915
Hi, if you don't mind a lurker's opinion... The FHIR Library resources types are meant to be quite portable and should not contain sensitive information. So, I would anticipate that on-device CQL->ELM conversion can be unnecessary and sharing Libraries can be in centralized datastores would not compromise PII.

[2021-11-30 17:12] jingtang10 opened #951 "URI filter in the search API"
**Is your feature request related to a problem? Please describe.**
The search API at the moment misses the URI filters.

**Describe the solution you'd like**
Add the URI filters which is similar to the string filters we already have: https://github.com/google/android-fhir/blob/master/engine/src/main/java/com/google/android/fhir/search/filter/StringParamFilterCriterion.kt

**Describe alternatives y

[2021-11-30 17:23] pld commented on #915
Very cool, thanks for sharing the link! Pre-computing makes sense to me too. If you don't want to do server-side, you could memoize cql2elm and keep it warm by calling it for any CQL that arrives on device, to it stays out of the user interaction loop

We haven't gotten to this optimization yet, but pretty sure we'd want to do something like this as well, 2-4s is quite a delay

[2021-11-30 17:41] litlfred commented on #915
I believe that the ideal intent is to pre-compile CQL to ELM and put that in the Library.  Sorry if I confused matters in this regard.

From: Vitor Pamplona ***@***.***>
Sent: Tuesday, November 30, 2021 11:53 AM
To: google/android-fhir ***@***.***>
Cc: Carl Leitner ***@***.***>; Mention ***@***.***>
Subject: Re: [google/android-fhir] SDK to allow evaluation of CQL against a FHIR resource (Issue #9

[2021-12-01 05:17] wantingzhang77 commented on #928
@jingtang10 I am looking at this issue and just have a few questions:
Currently our library can't handle all Questionnaire.Items with attribute "type: choice" and attribute "answerValueSet" correctly.
![image](https://user-images.githubusercontent.com/30681022/144174674-d978fcf3-1378-4f0a-8519-8adff363e5d2.png)

(1) in QuestionnaireItemAdapter.kt, `getChoiceViewHolderType()` is the function used t

[2021-12-01 09:10] jingtang10 commented on #950
thanks for creating this. can you add who reported this issue and more details on their setup?

[2021-12-01 09:12] jingtang10 commented on #944
please also see #76 - can you merge these two issues?

[2021-12-01 10:20] anita-vadverao commented on #950
@MUzairS15 Can you please provide more details about setup and failure?

[2021-12-01 11:38] stevenckngaa commented on #944
Thanks Jing. Didn't know there is already an existing issue. I have closed this and assigned #76 to myself.

[2021-12-01 13:21] santosh-pingle commented on #877
There are two fatal exceptions.
1. As per the attached log, exception is dataformat exception which was caused at the time of json parsing, because of corrupted json string.

2.  If you update the patient resource id to the new value which is not present in existing database in resource entity table under the serialized resource section, and when you click on patient item which has old value then

[2021-12-01 13:33] santosh-pingle commented on #864
@anita-vadverao
Can you please check whether issue is still reproducible at your end and also can you please share the log?
Actually, I am trying to reproduce it but do not see any crash..

[2021-12-01 17:05] jingtang10 commented on #877
thanks @santosh-pingle for looking into this. 1) which json string is corrupt? can you post the json itself? 2) how can you update the patient id in the app?

[2021-12-02 04:46] MUzairS15 commented on #950
Android Studio: 2020.3.1
Gradle Version: 7.2
JDK: 16.0.1
OS: MacOS BigSur,
Machine: ARM based
java.lang.IllegalAccessError: class org.jetbrains.kotlin.kapt3.base.KaptContext (in unnamed module @0x434946a1) cannot access class com.sun.tools.javac.util.Context (in module jdk.compiler) because module jdk.compiler does not export com.sun.tools.javac.util to unnamed module @0x434946a1
<img width="1280"

[2021-12-02 04:46] MUzairS15 commented on #950
Pls, let me know if anything else is required.

[2021-12-02 05:20] santosh-pingle commented on #877
@jingtang10
It was already mentioned in the issue under the **precondition** section that you have to modify/edit patient id in application local database in ResourceEntity table.

1. In application local database through database inspector remove entity separator `,`
   something like
[code]

2. You have to modify application local database ResourceEntity table seralizedResource  column using app

[2021-12-02 06:49] #951 closed

[2021-12-03 05:36] maanuanubhav999 commented on #941
The issue I faced while working on the implementation
1. For grouping multiple radio buttons we use **radio group**, which uses **setOnCheckedListerner** which will not invoke if we are clicking the same radio button again.
2. I tried using setOnClickListerner but that doesn't seem to work with the radio group (let me know if I am wrong here)

Is there anything else I might have missed here?

**Po

[2021-12-03 12:57] santosh-pingle commented on #877
As per offline discussion with @jingtang10, we should not modify local resources, if we modify it then app will start behaving inconsistently.
Therefore we are closing it .

[2021-12-03 12:57] #877 closed

[2021-12-03 17:19] #917 closed

[2021-12-05 23:38] #936 closed

[2021-12-06 13:18] jingtang10 opened #955 "Create workflow module"
**Is your feature request related to a problem? Please describe.**
Create a new workflow module and APIs to support evaluate measure.

**Describe the solution you'd like**
NA

**Describe alternatives you've considered**
NA

**Additional context**
See https://github.com/DBCG/CqlEvaluatorSampleApp

**Would you like to work on the issue?**
Yes

[2021-12-06 20:18] #955 closed

[2021-12-06 20:52] jingtang10 commented on #929
Can you provide some questionnaire examples with answer options with translation?

The only one I found is here: https://build.fhir.org/ig/HL7/fhir-ips/StructureDefinition-Coding-uv-ips.html

and according to this it seems the translation is on the `display` field rather than the `Coding` itself.

[2021-12-07 12:22] santosh-pingle commented on #863
Basically, this issue is reproducible when inputEdittext box which is hidden behind the soft keyboard at the time when focus is transferred to it.

[2021-12-07 15:42] #710 closed

[2021-12-08 00:39] #684 closed

[2021-12-08 04:46] epicadk commented on #911
I ran benchmarks and it seems that flow and live data actually perform better than the standard List<Resource> return type, although I did use an emulator with unlocked clocks so this may not be entirely accurate (I do not have access to a physical device at the time). Also, even if adding flows/livedata does slightly affect the performance I think the tradeoff would definitely be worth it. cc @f-

[2021-12-08 09:51] jingtang10 commented on #931
i think we've seen similar issues before - the pop-up only gets opened when the text box *gains* focus, but if you cancel the pop-up the text box maintains in focus, therefore clicking it again doesn't open the popup.

so we need to maybe use a different listener.

[2021-12-08 10:03] jingtang10 commented on #868
I think this is a duplicate of #650. Closing.

[2021-12-08 10:03] #868 closed

[2021-12-08 18:17] jingtang10 commented on #928
@wantingzhang77 thanks for looking into this. You're right `answerValueSet` is the field that contains the answers to be rendered. Please see more info here https://www.hl7.org/fhir/questionnaire-definitions.html#Questionnaire.item.answerValueSet

The URL in the answer value set does not necessarily correspond to a real URL. It can just be a unique identifier for the value set.

Looking at this im

[2021-12-08 18:44] jingtang10 commented on #881
yeah i don't undrestand why shouldn't the min/max value validation support quantity - i kinda feel like we should propose a change to the standard. can you do that please @epicadk (if you agree)?

i kinda think we should at least try to compare on a best-effort basis and in this case the unit test shouldn't throw exception.

[2021-12-08 18:49] wantingzhang77 commented on #928
@jingtang10 I found this webpage: [https://openhie.github.io/hiv-ig/ValueSet-vs-key-population.html](https://openhie.github.io/hiv-ig/ValueSet-vs-key-population.html). Looks like it contains answers that may corresponding to the hiv-population questionnaire.Item. Just not sure if this is the right way to go.
If it is, is that the URL incorrect for this questions item? How should we get the answerV

[2021-12-08 20:25] costateixeira commented on #928
Hi @wantingzhang77 Can you please point to where you found the reference to vs-key-population? I can only find the hiv-population and it may be an incomplete rename... I think indeed that the ValueSet is vs-key-population

As @jingtang10 says, the URL is not always expected to resolve. When it doesn't resolve, the ImplementationGuide that contains the Questionnaire should also contain the expanhtt

[2021-12-09 08:48] jingtang10 commented on #911
@yigit @florina-muntenescu @kevinmost @stevenckngaa

Wonder if this is something that you expected - and if you have any general advice on this

[2021-12-09 08:56] yigit commented on #911
I would prefer to avoid this until we have a client blocked by it.

Crafting these wrappers is not an easy API work and requires constant maintenance going forward. For cases were it is straightforward, there are compatibility artifacts that can be used by clients.

[2021-12-09 09:07] jingtang10 commented on #840
#878

[2021-12-09 16:25] jingtang10 commented on #928
@costateixeira, we took the questionnaire from the URL: https://openhie.github.io/hiv-ig/Questionnaire-hiv-case-report-questionnaire.json.html but I think I'm getting 404 now so assuming it's been moved, but not have had luck finding it now in the artifact index on the IG home page.

What's important in this issue for us to verify is just that there *IS* a way to render these quetions with the ans

[2021-12-09 16:49] costateixeira commented on #928
@jingtang10 if you want to use a questionnaire sample, you can use this one:
https://openhie.github.io/case-reporting/Questionnaire-case-reporting-questionnaire.html
(also at the end of that page you have notes about the several ways a ValueSet may appear - these were actually created for you to have some test cases): https://openhie.github.io/case-reporting/Questionnaire-case-reporting-questionna

[2021-12-09 16:54] jingtang10 commented on #881
please see http://build.fhir.org/ig/HL7/sdc/behavior.html

[2021-12-09 17:01] epicadk commented on #881
that's interesting, so we probably want to  support `minQuantity` and `maxQuantity` extensions. I would be open to working on this.

[2021-12-09 17:13] stevenckngaa opened #958 "Add a workflow to validate the size of FHIR library doesn't exceed a predefined threshold."
**Is your feature request related to a problem? Please describe.**
We would like to catch PR which introduce a huge increase in the SDK size. This is a previous [example](https://github.com/google/android-fhir/pull/566).

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
The apk diff workflow should analyze the change in apk size for both data capture

[2021-12-09 17:23] wantingzhang77 commented on #934
@anita-vadverao @jingtang10
Hi, I tried it and wasn't able to duplicate the bug on my device:

https://user-images.githubusercontent.com/30681022/145445018-c7710a22-b83b-4c0b-b8c5-ba687aeca47d.mp4

My device is a Pixel 4a(5G) mobile phone.
@anita-vadverao Could you double check if this bug still exist?

[2021-12-09 19:02] maanuanubhav999 commented on #940
![sample screenshot](https://user-images.githubusercontent.com/26630009/145459023-3c56c256-0a32-4448-91cd-76e7cc51618f.jpg)

Maybe we can make it more intuitive by adding None instead of adding an empty option? @jingtang10

[2021-12-09 20:08] jingtang10 commented on #881
@epicadk you already have a few things on your plate. If you don't mind let's let @juanchazo work on this and for you for focus on the other issues? Thanks

[2021-12-09 20:09] jingtang10 commented on #840
Closing since this was resolved in #878

[2021-12-09 20:10] epicadk commented on #881
Oh sure

[2021-12-09 20:17] jingtang10 commented on #940
Thanks for the screenshot @maanuanubhav999!

I would rather not use the word "none". Reason being I would love to avoid having another string to translate...

I think either empty or a "-" is good. @shelaghm  @fredhersch fyi

Also can we have this as the first option rather than last please?

[2021-12-09 23:34] #840 closed

[2021-12-09 23:39] #823 closed

[2021-12-10 04:43] maanuanubhav999 commented on #940
@jingtang10 sure

[2021-12-10 08:41] maanuanubhav999 opened #960 "Adapt Patient card color according to dark/light theme"
**Is your feature request related to a problem? Please describe.**
The patient card color concept needs to be adaptable in light/dark themes in the reference app

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**

[2021-12-10 13:45] jingtang10 commented on #928
Thanks Jose.

So this does sound like a data issue with the previous version of the questionnaire. With @shelaghm working on revamping the demo app, I'm tempted to say let's not spend time on this questionnaire itself.

@wantingzhang77 - but I still think it's worth testing that the flow actually works, if you want to do some local testing to see the newer version of the questionnaire Jose provide

[2021-12-10 13:59] jingtang10 opened #962 "Investigate instance validation"
**Describe the issue to be researched**
We are doing a lot of validation work on the questionnaire and questionnaire response. e.g. #926 and https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/validation/QuestionnaireResponseValidator.kt

But it's not clear to me if and how https://hapifhir.io/hapi-fhir/docs/validation/instance_validator

[2021-12-10 14:03] maimoonak commented on #803
@jingtang10 I could not figure out **calculated-expression and variable** - [FHIR Reference](http://build.fhir.org/ig/HL7/sdc/examples.html#using-calculatedexpression-and-variable) that this issue is tracking into roadmap [here](https://github.com/google/android-fhir/wiki/Structured-Data-Capture-Library-Developer's-Guide). Could you please guide which point reflects this and if this is under progr

[2021-12-10 14:04] jingtang10 commented on #898
@maanuanubhav999 given you're working on a number of other issues i'm going to try to assign this to vvikramraj@.

thanks for volunteering. once you're done with the current prs let's find you something else to do.

[2021-12-10 18:53] #809 closed

[2021-12-11 10:22] jingtang10 commented on #934
@wantingzhang77 it looks like after you've done with the phone number and clicked the "->" button in the soft keyboard the focus didn't go directly to the next input box, but you had to click the input text box for city. do you think this is something we should change to make the flow a bit better?

I would say so!

@shelaghm fyi

[2021-12-11 10:25] jingtang10 commented on #934
https://developer.android.com/training/keyboard-input/navigation

[2021-12-13 05:47] anita-vadverao opened #964 "In "Real-world lifelines questionnaire" under data capture library, it is showing number picker without any question name"
**Describe the bug**
In "Real-world lifelines questionnaire" under data capture library, it is showing number picker without any question name

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Data Capture Gallery'
2. Click on 'Real-world lifelines questionnaire'
3. Observe number picker below Marital status question

**Expected behavior**
It should have q

[2021-12-13 15:23] delcroip opened #965 "Feat: support displaying FHIR query result as a choice list"
**Is your feature request related to a problem? Please describe.**
I want to document the person that is bringing the child to the health facility, to avoid data duplication I need to use a reference to a RelatedPerson (to pick one of the parents or other previously registered RelatedPersons) but I don't see how I can do that with FHIR questionnaire

This could be useful whenever a reference need

[2021-12-13 20:41] shelaghm commented on #940
Agreed to make this first option. One more idea is to do "- Select -" instead of "-" to make the action more obvious?

Screenshot from eBay below that uses this pattern.
![Screen Shot 2021-12-13 at 12 35 54](https://user-images.githubusercontent.com/86378921/145885023-63b38df9-9512-4335-885c-8527d7228607.png)

[2021-12-14 05:51] anita-vadverao opened #966 "In data capture gallery app, in Questionnaire there is no place for user to provide answer"
**Describe the bug**
In data capture gallery app, in Questionnaire there is no place for user to provide answer

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Data Capture Gallery'
2. Click on 'HIV Case Report'
3. in Personal information section, for "Gender" there is no place to provide answer
4. Please see attached screenshots

**Expected behavior**
E

[2021-12-14 06:33] anita-vadverao opened #967 "White space in Questionnaire form in data capture gallery app"
**Describe the bug**
White space in Questionnaire form in data capture gallery app

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Data Capture gallery'
2. Click on 'MyPAIN' form
3. Scroll down to 'About My Treatments' section
4. Observe white space

**Expected behavior**
Large White space should not be there between question and answer

**Screenshots**

[2021-12-14 06:37] anita-vadverao opened #968 "In some Questionnaire form, instead of link it shows html code"
**Describe the bug**
In some Questionnaire form, instead of link it shows html code

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Data Capture Gallery'
2. Click on 'MyPAIN'
3. Scroll down to 'Managing Chronic Pain'
4. Observe link

**Expected behavior**
In some Questionnaire form, instead of link it shows html code

**Screenshots**
![Screenshot_2021-12

[2021-12-14 06:58] Tarun-Bhardwaj commented on #593
Discussed with @jingtang10 offline that this issue does not reflect the latest status of reference app. Hence closing this issue.
CC: @fredhersch

[2021-12-14 06:58] #593 closed

[2021-12-14 07:01] santosh-pingle commented on #642
I tried above mentioned steps on android api 24, 23 and 21 with Pixel4XL emulator with 86_64 system image, but it was not crashed.
Also selected random questionnaire from the questionnaire list and opened  and submitted the form without crash.

[2021-12-14 07:15] anita-vadverao opened #969 "In Questionnaire form, Some Questions are bold in text and some are normal in text, Unique format for questionnaire is not there"
**Describe the bug**
In Questionnaire form, Some Questions are bold in text and some are normal in text, Unique format for questionnaire is not there

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Data Capture Gallery'
2. Click on 'General Health Assessment Questionnaire'
3. Observe questionnaire text format

**Expected behavior**
Unique format for all

[2021-12-14 07:45] Tarun-Bhardwaj commented on #714
Closing this issue as per discussion with @jingtang10 as it will not be part of Android FHIR SDK.
CC: @fredhersch

[2021-12-14 07:45] #714 closed

[2021-12-14 17:42] maanuanubhav999 commented on #940
thanks @shelaghm will do the same.

[2021-12-14 23:51] Manikant25 commented on #866
@santosh-pingle Can I take this?

[2021-12-15 09:22] jingtang10 commented on #960
With @shelaghm working on updated design, we need to think about dark/light theme for the entire app and not just the patient cards. Let's put this on the backlog until the new design is finalized before we start the work.

[2021-12-15 09:25] Tarun-Bhardwaj commented on #950
@anita-vadverao , @aditya-07 is there any update/next step identified for this issue?

[2021-12-15 09:42] anita-vadverao opened #970 "Instrumentation test fails on API level 21 with exception: android.view.InflateException"
**Describe the bug**
Instrumentation test fails on API level 21 with exception: android.view.InflateException

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Nexus 5(API level 21) emulator
2. Run Data Capture gallery instrumentation tests on Nexus 5 device
3. Observe report

**Expected behavior**
All tests should get passed without any exception

**Scree

[2021-12-15 09:43] jingtang10 commented on #965
Thanks for creating this issue @delcroip!

For this issue I think there're 2 questions:

1. Does this process need to be in the questionnaire? If it's about pulling a list of related resources and putting them in a choice list the developers can do that with the search api and display without even using the SDC library.
2. If this is indeed part of the questionnaire, what mechanisms are there to p

[2021-12-15 09:59] delcroip commented on #965
Thanks for the answer

The idea of the smart guidline is to able to run on the sdk without code change (at least it is my understanding), therefore we should avoid relying on code/api.

The populate need to run before the questionnaire is displayed therefore it cannot takes current questionnaire answers into account, meaning that we need to have more 1-question questionnaire instead of a single co

[2021-12-15 10:15] anita-vadverao commented on #970
[Test Results - Tests_in_'com_google_android_fhir_datacapture-Android-Test-API21'.html.zip](https://github.com/google/android-fhir/files/7718359/Test.Results.-.Tests_in_.com_google_android_fhir_datacapture-Android-Test-API21.html.zip)

[2021-12-15 10:40] jingtang10 commented on #642
This problem was resolved in #844

[2021-12-15 10:40] #642 closed

[2021-12-15 10:51] jingtang10 commented on #803
@maimoonak - given that all the other issues are being tracked/closed i'm goign to close this bug. For the issue with enable when expressions let's continue the discussion in #819

[2021-12-15 10:51] #803 closed

[2021-12-15 10:57] jingtang10 opened #971 "Support calculatedExpression"
**Is your feature request related to a problem? Please describe.**
See #803

See example of calculatedExpression and variable: http://build.fhir.org/ig/HL7/sdc/examples.html#using-calculatedexpression-and-variable

@maimoonak provided this example where we want to take age OR birthdate as input and calculate the other from one which was input: https://github.com/google/android-fhir/blob/mssng-ques

[2021-12-15 10:57] santosh-pingle commented on #866
Just check with @jingtang10 before to start working on it, in case if Jing has any plan.

[2021-12-15 10:59] jingtang10 commented on #971
@maimoonak @f-odhiambo can you please comment on the priority of this issue and if you have any bandwidth to take this on? thanks!

[2021-12-15 11:04] santosh-pingle commented on #859
@anita-vadverao
Can you please provide more details with example what is missing and expected?

[2021-12-15 11:19] anita-vadverao commented on #859
In attached screenshot, It shows "Yes" but what is the question for which it is showing "Yes" is missing.
Also it is showing "ValueQuantity" text
![138685996-9c849182-ec12-48c3-a31c-35af791aa814](https://user-images.githubusercontent.com/64417713/146177395-96031aa0-fcf0-4abc-a2e7-7f456fca0636.jpeg)
.

[2021-12-15 12:09] aditya-07 commented on #970
**Stack trace:**

[code]

[2021-12-15 15:55] jingtang10 opened #973 "Data input widget always open if it's the first input of the page"
This is a good fix! Another issue I have noticed is with the Date and time widget. Please have a look at the video that I have attached. I think you can add some similar check which will prevent this from happening. It happens with the drop down too.

https://user-images.githubusercontent.com/48797364/145559102-660a992a-36d7-49f2-9ced-de6b570f59ad.mp4

.

_Originally posted by @joiskash in https:/

[2021-12-15 15:55] jingtang10 commented on #973
@joiskash: There is no crash, but the date widget pops up every time the cursor is on the first widget and the page is changed. Its a bug. The date widget should not pop-up unless clicked on.

[2021-12-15 17:39] jingtang10 opened #974 "Follow up for #952"
apologies this got merged after @aditya-07 approved this because I turned on auto-merge... will put this into my next pr (and tag you)

_Originally posted by @jingtang10 in https://github.com/google/android-fhir/pull/952#discussion_r762624924_

[2021-12-15 17:42] #836 closed

[2021-12-15 17:42] #912 closed

[2021-12-15 23:30] shelaghm commented on #960
Thanks for looping me in @jingtang10, I'll add dark/light theme to the UX request list.

[2021-12-16 00:21] jingtang10 commented on #967
this is the question in the questionnaire:

[code]

The prefix is very long in this question. This has caused the prefix text view to take up the entire horizontal space, leaving no room to render the actual text which is quite short. This has caused the UI to misbehave.

However, reading the FHIR spec for this field: http://www.hl7.org/fhir/questionnaire-definitions.html#Questionnaire.item.prefix

[2021-12-16 00:29] jingtang10 commented on #964
This number picker is a custom widget and doesn't have a text view that displays the question. This is not a bug of the sdc lib, but an issue with the reference app.

[2021-12-16 00:32] jingtang10 commented on #966
There is an issue with this particular questionnaire. We will address this in: #928

[2021-12-16 00:32] #966 closed

[2021-12-16 01:04] jingtang10 opened #976 "Multi select widget displays error incorrectly"
**Describe the bug**
The multi select widget displays errors incorrectly. See screenshots below. This is likely caused by setting the error on the edit text instead of the text input layout.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Open SDC Gallary app
2. Go to General Health Assessment Questionnaire

**Expected behavior**
Expect:
![Screenshot (16 Dec 2021 0

[2021-12-16 01:20] jingtang10 opened #978 "Auto complete widget behaves strangely"
**Describe the bug**

The auto complete widget has two problems

1. It's very difficult to focus on it, you have to click the very left side of it
2. Once you've input a chip, the text box disappears, which looks very odd

**Component**
Core library, SDC library, reference app, or SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to SDC gallary app
2. Click on General Health

[2021-12-16 02:03] #970 closed

[2021-12-16 08:46] #969 closed

[2021-12-16 08:58] f-odhiambo opened #979 "Add Country-State-City Drop down support in SDC"
**Is your feature request related to a problem? Please describe.**
At the moment a user has to type in a Country and City manually and this can be an issue  saving data with inaccurate data due to user typos

**Describe the solution you'd like**
Add the ability to select Country, State and City  from a dropdown filter list as opposed to filling an input test

**Describe alternatives you've conside

[2021-12-16 09:39] jingtang10 commented on #978
Uploading autocomplete.mp4…

[2021-12-16 09:55] anita-vadverao commented on #672
Tested on Different devices by adding large questionnaire mention in above issue. App crash not observed.

[2021-12-16 10:39] santosh-pingle commented on #859
@anita-vadverao
Regarding `No ValueQuantity` text, some observations does not have value, the only have code.
e.g symptoms, medical history, risk factors.
In that case as per existing code we are showing `No ValueQuantity`.

do you think, we should show something else if observation does not have value.

[2021-12-16 11:06] #863 closed

[2021-12-16 13:47] #976 closed

[2021-12-16 17:07] wantingzhang77 commented on #934
@anita-vadverao Tried this again and can't reproduce the bug. Could you verify?

https://user-images.githubusercontent.com/30681022/146416628-c85668da-1c27-47ee-940c-c90334ec9d92.mp4

[2021-12-16 21:23] jingtang10 opened #980 "Investigate performance issue with hapi fhir structures context creation"

[2021-12-17 08:53] anita-vadverao opened #981 "In complete survey, if temperature unit is not selected then after submitting complete survey, it shows "null" as unit for temperature"
**Describe the bug**
In complete survey, if temperature unit is not selected then after submitting complete survey, it shows "null" as unit for temperature

**Component**
reference app

**Precondition**
Patient already added

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Reference App'
2. Click on 'Search' and search fr already added patient
3. Click on patient name from search resul

[2021-12-17 08:54] santosh-pingle commented on #859
If you see a risk factor questionnaire answer options, some of them have display value either yes or no.
e.g
[code]

This answer option is the code for creating an Observation resource.
On the Patient details card, Observation display text  is shown.

Just for reference
With Observation, the focus is only on the meaning of the answer, not what question was asked (assuming a question was even asked

[2021-12-17 09:02] santosh-pingle commented on #859
One of the approaches is to modify the questionnaire such that the answerOption valueCoding display element will contain short version of question text along with answer.

[2021-12-17 09:02] santosh-pingle commented on #859
cc @jingtang10

[2021-12-17 10:21] jingtang10 commented on #859
@shelaghm

[2021-12-18 18:23] puranjayK commented on #800
Hi @f-odhiambo, I would like to work on this issue
Could you please assign it to me

[2021-12-19 21:49] f-odhiambo commented on #800
Kindly tag me to the PR or leave a comment once a PR has been raised for this

[2021-12-21 20:50] puranjayK opened #987 "Wrong temperature limit"
**Describe the bug**
When the patient temperature is being saved, it shows a warning that maximum value allowed is 45.0. However in Fahrenheit scale the body temperature is in 90s. Similarly for minimum value as minimum body temperature in Celsius and in Fahrenheit vary greatly

**Component**
Reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any registered patient
2. Click

[2021-12-21 21:19] puranjayK commented on #800
@f-odhiambo @jingtang10  could you please help me with the questionnaire of the Location widget.

[2021-12-22 12:48] epicadk commented on #987
Duplicate of https://github.com/google/android-fhir/issues/876 ?

[2021-12-23 06:52] santosh-pingle opened #988 "SDC demo app landing page."
**Is your feature request related to a problem? Please describe.**
1. Show Bottom navigation bar with Components and Layouts menus.
2. On components menu click show component landing page.
3. On layouts menu click show layout landing page.
4. On components landing page, show SDC supported components
5. On layout landing page, show layout items.

**Describe the solution you'd like**
A clear and con

[2021-12-23 06:55] santosh-pingle commented on #988
In progress.

[2021-12-24 13:24] santosh-pingle commented on #988
@shelaghm
We need single drawable image for below icons, so that it can be set to the view.

Components :
Single choice, Open choice, Text field, Date Picker, Time picker, Modal, Slider, drop down, Image, Date Of birth, Date Range Picker, Unit options.

Layouts:
Default, Rea Only, Review, Paginated

We can refer bottom navigation menu icons as reference.

[2021-12-24 15:21] f-odhiambo commented on #800
Here you go http://turn-fhir.smartregister.org/fhir/Questionnaire/1922

[2021-12-28 07:25] #943 closed

[2021-12-28 07:53] lakki0 opened #990 "Aa"
**Describe the bug**
A clear and concise description of what the bug is.

**Component**
Core library, SDC library, reference app, or SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scree

[2021-12-28 10:44] santosh-pingle opened #992 "Sdc gallery app boolean choice component workflow"
**Is your feature request related to a problem? Please describe.**
1. Design boolean choice questionnaire json  without required fields. (error message will not be shown as field is not mandatory)
2. Api to retrieve single choice questionnaire json from model view.
3. Handle single choice item click
4. Implement questionnaire fragment and model view to show questionnaire json
5. Show action bar, u

[2021-12-28 12:15] #501 closed

[2021-12-28 22:46] shelaghm commented on #988
@santosh-pingle Done. I've sent you a message with link to Drive folder with svg files for each icon.

[2021-12-28 23:20] #990 closed

[2021-12-31 07:47] #286 closed

[2021-12-31 12:03] #869 closed

[2021-12-31 12:03] #974 closed

[2022-01-03 05:36] santosh-pingle commented on #988
Icons are updated with vectors drawables. Thanks!

[2022-01-03 05:39] santosh-pingle commented on #992
Continuing implementation ...

[2022-01-04 02:58] santosh-pingle opened #996 "Sdc gallery app, show gear menu icon in actionbar."
**Is your feature request related to a problem? Please describe.**
1. Show gear menu icon in action bar for all questionnaire screen when user navigate from landing page to questionnaire.
2. Hide gear icon from action bar, when user navigate back to the landing page.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've co

[2022-01-04 03:03] santosh-pingle opened #997 "Sdc gallery app, show bottom sheet."
**Is your feature request related to a problem? Please describe.**
1. Show bottom sheet when user click on gear icon.
2. Show selection options on bottom sheet.  e.g show errors.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you'v

[2022-01-04 10:54] santosh-pingle commented on #992
@shelaghm
Sdc library has two views which support a single choice component (radio button).

- **QuestionnaireItemRadioGroupViewHolderFactory** : type is choice as per fhir specification, which can have a number of radio button options, and the user can select one out of them.

- **QuestionnaireItemBooleanTypePickerViewHolderFactory** : type is boolean as per fhir specification, which will have tw

[2022-01-04 11:05] delcroip commented on #965
Actually it is supported by FHIR http://build.fhir.org/ig/HL7/sdc/examples.html#using-candidateexpression

is it supported by the android fhir sdk ?

br

[2022-01-04 18:56] #657 closed

[2022-01-04 20:35] shelaghm commented on #992
@santosh-pingle this makes sense to me to show both options as separate components. Please create a new githib issue and tag me.

Based on this I'll create a new icon for the Boolean choice and will use different example content for the two different components. I'll update the figma file to reflect this.

[2022-01-05 00:12] shelaghm commented on #996
@santosh-pingle do you have a separate issue for what happens when a user taps the gear icon?

1. First time a user taps on a component, the user sees a "hint" to press the gear icon. See screenshot below. Only show this once.
![Screen Shot 2022-01-04 at 16 11 04](https://user-images.githubusercontent.com/86378921/148140829-34430c8f-f5d2-4b3f-90ea-aa7356cf6e64.png)

[2022-01-05 00:16] shelaghm commented on #988
I've added the Boolean svg to the drive folder. @santosh-pingle

[2022-01-05 05:15] santosh-pingle commented on #992
@shelaghm
Thanks for sharing color palette!
Can you please also share color PrimaryVariant and color SecondaryVariant color hex code.

[2022-01-05 06:01] shelaghm commented on #992
@santosh-pingle Decided we will not use PrimaryVariant and color SecondaryVariant color. Just posting it here so we close the loop on the decision.

[2022-01-05 08:22] f-odhiambo commented on #800
Hey, @puranjayK Any progress update on this ? Perhaps we can link up on this sometime this week if available for more details. Let me know

[2022-01-05 09:07] jingtang10 commented on #980
Let's use this also to establish some performance benchmarks.

[2022-01-05 09:13] fredhersch commented on #979
@f-odhiambo - just to clarify are you talking about dynamically populating the lists based on the selection.

So for example: If country is USA, then populate the State lists with ValueSet of states from USA and then City etc. This sounds like an example of answerExpression using FHIRPath (or CQL).

Alternatively, have you considered using a series of enableWhen options

[2022-01-05 09:16] Tarun-Bhardwaj commented on #978
@aditya-07 , could you pleaes provide an effort estimate to fix this issue?

[2022-01-05 09:24] jingtang10 commented on #979
Related #965

[2022-01-05 09:32] jingtang10 commented on #950
@MUzairS15 have you been able to solve the issue? sorry for the delay

[2022-01-05 10:45] f-odhiambo commented on #979
Yes this is accurate. Will also review @jingtang10 related issue

[2022-01-05 11:10] maimoonak commented on #971
Rightnow this issue is not a blocker for us. However, many of the forms we have seen in previous apps included the calculated expressions to make forms concise and self dependent and also accommodate simple decisions for Health workers. A very common example is deriving risk factor for patient OR calculate next followup date. I would rate this 4/5 on priority.
This issue seems complex and might ne

[2022-01-05 12:19] maimoonak opened #1001 "Response validation occurs before data entry"
**Describe the bug**
Questionnaire Response validation happens on form init before any data entry. This marks the whole form in red validation errors.

Validation happen on com/google/android/fhir/datacapture/QuestionnaireViewModel.kt init around line 56->validateQuestionnaireResponseItems

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Open any form that has valid

[2022-01-05 17:25] jingtang10 opened #1002 "Reconsider the foreign keys of database tables"
**Describe the Issue**

At the moment, in the FHIR Engine library, we store FHIR resources as JSON blobs in the resources table in the SQLite database, and then, we have index tables (e.g. string index table) that have index records referencing the FHIR resources.

At the moment the foreign key of these index tables are always resource type + resource id. However, it's not clear to me this is the

[2022-01-05 18:03] stevenckngaa commented on #945
I have only written the usage part but not yet the key generation and storage.

[2022-01-06 08:57] epicadk commented on #700
@Tarun-Bhardwaj this can be marked as done in the FHIR engine library project right?

[2022-01-06 09:58] jingtang10 opened #1005 "Public releases cannot be used due to internal dependency issue"
**Describe the bug**
Depending on our public libraries in an android app throws a build error.

[code]

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new android project
2. Add dependency on the data capture lib: `implementation("com.google.android.fhir:data-capture:0.1.0-beta01")`
3. Build app

**Expected behavior**
App should build.

**Screenshots**
If

[2022-01-06 10:38] jingtang10 commented on #964
this is working as intended. the widget itself is a custom widget. and we will be removing the questionnaire in @santosh-pingle and @shelaghm's work on the catalog app.

[2022-01-06 10:38] #964 closed

[2022-01-06 10:44] jingtang10 commented on #914
are you still experiencing this issue?

i'm not sure if apple silicon or m1 is the issue. it's probably more likely the android sdk in android studio. can you please share your gradle jdk setup and the project structure set up in android studio?

[2022-01-06 10:47] jingtang10 commented on #866
I don't think we have a clear action plan for this issue.

The problem is that the submit button is entirely in the control of the app developer. So it's really up to the app to decide if they want to accept a questionnaire response even if the validation fails.

so i think this might be working as intended. but we should also explore different validation apis and options.

[2022-01-06 12:36] joiskash commented on #227
@nsable7 and I have add a quick discussion. He will be starting off with the following steps

1. Create a new fragment QuestionnaireResponseDisplayFragment
2. According to the image shared by fred, it looks like one single view holder type can be used to display questions and answers. We will call it SimpleQuestionAnswerDisplay
3. Create a new QuestionnaireResponseItemAdapter
4. Create a new viewM

[2022-01-06 12:37] jingtang10 commented on #1005
https://github.com/johnrengelman/shadow/issues/44

[2022-01-06 13:39] epicadk commented on #857
@aditya-07 @jingtang10 we could have two possible implementations.

1. We could add paging to the reference app by having the PagingSource Inside the reference app. Clients can then refer to this code if they want to add paging to their own use case.
2. Or we could create a module that would return a PagingSource containing the clients query. The client would then make a call similiar to the searc

[2022-01-06 13:58] jingtang10 commented on #1005
https://petrakeas.medium.com/publish-a-multi-module-java-android-library-to-maven-central-github-ci-automation-at-2021-4f98a311df2a

[2022-01-06 16:50] shelaghm commented on #227
I've simplified the UX design a little since the previous image was uploaded, so attaching a new screenshot (if relevant/helpful)
<img width="412" alt="Review Answers (one edit button)" src="https://user-images.githubusercontent.com/86378921/148419162-107c18e4-a850-461f-a2e2-c08b6500c2a5.png">

[2022-01-06 17:03] kevinmost commented on #534
I've looked into this pretty extensively, and it doesn't seem like there is any action we can take here.

Unfortunately, the AGP (Android Gradle Plugin) does not consider the `android.packagingOptions` of libraries/dependencies when assembling an application jar. So our `excludes`/`pickFirst` options don't get transitively picked up by the consuming app.

Since we aren't actually including these d

[2022-01-06 17:03] #534 closed

[2022-01-06 17:58] kumaakh commented on #227
Wouldn't it be better if "Edit" is achieved by tapping on the field which
the user intends to revise ? The generic "Edit" would make the user walk
through the whole wizard  again

On Thu, Jan 6, 2022 at 11:50 AM Shelagh McLellan ***@***.***>
wrote:

[2022-01-06 18:07] shelaghm commented on #227
@kumaakh Do you mean having multiple edit buttons, one for each field? I also have a design for that (see below.) Ideally this would enable the user to be taken to the correct place in the questionnaire.
<img width="412" alt="Review Answers (multiple)" src="https://user-images.githubusercontent.com/86378921/148429626-a0e2462d-63cc-4c56-a2ad-d63f264d63d6.png">

[2022-01-06 18:10] kumaakh commented on #227
Yes, I'd prefer the second design,

Also from a visual POV: may be the large edit button can be changed to a
small pencil icon (No text, that's language dependent) without borders.

-Akhil
https://www.linkedin.com/in/akhilk
Ph: +91 9845495104

On Thu, Jan 6, 2022 at 1:08 PM Shelagh McLellan ***@***.***>
wrote:

[2022-01-06 18:16] shelaghm commented on #227
From a usability lens, having only an icon is less clear than having the icon combined with text. Especially for an icon like the pencil where it is not necessarily universally known that pencil = edit. If space is a concern, another option is using just the text "edit" or "change" and not the icon.

[2022-01-06 18:31] #687 closed

[2022-01-06 21:06] jingtang10 commented on #1005
Discussed this with @yigit. Mainly focused on 2 approaches (I think approach 3 is a no-go):

1. Create a new common library and publish to maven
2. Use shading and create a jarjar (e.g. using the gradle java shadow plugin) to include the common utilities in the calling site

Approach 1
Pros
- how things are normally done according to @yigit
- no code duplication
Cons
- maintainance cost of maintai

[2022-01-06 22:25] yigit commented on #1005
for API tracking (which we kind of need now anyways), we can consider using:

https://github.com/Kotlin/binary-compatibility-validator

sample integration (a bit old though); https://github.com/dropbox/Store/pull/97

[2022-01-06 23:57] kumaakh commented on #227
Well space is a concern and also the awkwardness of seeing a repeating button on the screen... very distracting.

May be a two step process works: You click the global "Edit" button to show your intent to edit, which starts showing a grey broder arround each question to show that they accept a tap now... and tapping it takes you to the correct step in the questionnaire. in edit mode.

[2022-01-07 00:15] mberg commented on #227
With form editing the edit from my perspective needs to be a single
toggle.  We are editing a form and the form can have skip logic and things
like that so there may not even be items you want to edit that are
visible.  I think the second approach is to busy and doesn’t really follow
the pattern I’ve seen in any app.  So I think a single edit button is the
way to go.

On Thu, Jan 6, 2022 at 6:57 P

[2022-01-07 00:16] mberg commented on #227
Just to follow up when you are in edit mode everything needs to be in edit
mode from my perspective.  This is due to skip logic, in form calculations,
etc.  I don’t think you should have to click again to indicate you want to
edit.

On Thu, Jan 6, 2022 at 7:14 PM Matt Berg ***@***.***> wrote:

[2022-01-07 00:18] mberg commented on #227
Sorry the last point is depending on the app there might be quite a bit of
complexity on what we do when we save an edit. If we are editing a health
form it may have a knock on effect on say the patients risk status if we
change a property that relates to that.  We want to do the edit in a single
process.  With partial / incremental edits we wood need to process each
edit as a form edit in case th

[2022-01-07 00:24] kumaakh commented on #227
@mberg this means: In long forms users will have to click "next" multiple times to reach the answer which they are trying to edit, think of the last answer in the form.

Another option:
Should we go to full form editing only if the user clicks a calculated field or skipped field (due to skip logic). If they click a simple field it can directly go to that step.

[2022-01-07 00:34] mberg commented on #227
Maybe I’m misunderstanding the discussion.  Are we talking about how to
switch to an edit form or something else.  If the form was in edit mode
then we would go back into the data collection mode with data from the
submission prefilling each question.  Apologies if I’m misunderstanding
what this issue is about.

If this is form editing it would be worth to take a look at how odk does
it. That’s th

[2022-01-07 00:59] kumaakh commented on #227
@mberg yes we are talking about editing the form starting from the review page. I ran through ODK "edit form" functionality and they first land you to the "group view" on edit form action. So the navigation to the correct step becomes much simpler aka hiearchical.  e.g. the "All widgets" sample form in ODK has more than 50 steps grouped into 10 or so groups. So the user first selects one of the 10

[2022-01-07 03:14] joiskash commented on #227
@kumaakh  and @mberg  allowing the ability to edit a specific questionnaire item will be taken care of in future versions.

[2022-01-07 05:16] santosh-pingle opened #1006 "Catalog app, implement single choice workflow."
**Is your feature request related to a problem? Please describe.**
1. User click on single choice component.
2. It launches single choice screen with questionnaire, which demonstrate single choice uses.
3. click on navigation back key in action bar, it takes user back on landing page.

Design single choice questionnaire json.
Write api to fetch single choice questionnaire json file name.
Apply cus

[2022-01-07 14:22] epicadk commented on #608
https://www.sqlite.org/spellfix1.html
Although I'm not sure if android allows creation of virtual tables.

[2022-01-07 15:42] #908 closed

[2022-01-07 16:52] santosh-pingle opened #1007 "Datacapture, app custom style does not get applied to the single choice options."
**Describe the bug**

Custom style does not get applied to the single choice options when it is customised at application side.

Datacapture has class `QuestionnaireItemRadioGroupViewHolderFactory` which shows single choice options, but it does not use xml file to inflate the radio button options, it uses platform default RadioButton class to add options.

There are 2 approaches to fix this issue.

[2022-01-07 16:54] santosh-pingle commented on #1006
Datacapture, custom style does not get applied to the single choice options.
https://github.com/google/android-fhir/issues/1007

[2022-01-08 14:42] #968 closed

[2022-01-09 18:53] Manikant25 commented on #997
@santosh-pingle  Can I do that gear button and bottom sheet?

[2022-01-09 19:45] Manikant25 opened #1009 "SDC Catalog App Crashes"
**Describe the bug**
App crashes on clicking item "Neonate Record from New South Wales.."

**Component**
 SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'SDC App'
2. Click on 'Neonate Record from New South Wales..'
3. See error

**Expected behavior**
It should have open questionaire like other items.

**Screenshots**
Logs
<img width="1792" alt="Screenshot 2022-01-10 at

[2022-01-10 05:15] epicadk commented on #1009
The error is due to `Mismatching question type DATETIME and answer type dateTime for vitaminKDose1`

[2022-01-10 07:10] santosh-pingle commented on #997
@Manikant25
Sure, these are p2 task as of now, you can work on it, if possible also check with @jingtang10

[2022-01-10 07:22] santosh-pingle opened #1011 "Catalog app, multiple choice (check boxes) component workflow"
**Is your feature request related to a problem? Please describe.**
1. User click on multiple choice component.
2. It launches multiple choice screen with questionnaire, which demonstrate multiple choice uses.
3. click on navigation back key in action bar, it takes user back on landing page.

Design multiple choice questionnaire json.
Write api to fetch multi choice questionnaire json file name.
Ap

[2022-01-10 07:29] santosh-pingle opened #1012 "Add m3 dependency to the demo apps and data capture module."
**Is your feature request related to a problem? Please describe.**
1. Add m3 dependency to the reference apps and datacapture library.
2. Add material componnet dependency `com.google.android.material:material:1.5.0-alpha04` or later version.
3. Update android compile sdk version from 30 to 31
4. Update android target sdk version from 30 to 31

**Describe the solution you'd like**
A clear and conc

[2022-01-10 15:21] jingtang10 commented on #670
This is done in #1014

[2022-01-10 15:21] #670 closed

[2022-01-10 16:13] #1005 closed

[2022-01-11 09:59] santosh-pingle commented on #988
@shelaghm
We need to add auto complete component to the component list, could please share the icon?

[2022-01-11 16:23] santosh-pingle opened #1019 "Catalog app, implement modal workflow"
**Is your feature request related to a problem? Please describe.**
1. User click on modal component.
2. It launches modal screen with questionnaire, which demonstrate single choice uses.
3. click on navigation back key in action bar, it takes user back on landing page.

Design modal questionnaire json.
Write api to fetch modal questionnaire json file name.
Apply custom style at application side.

[2022-01-12 10:21] aditya-07 opened #1021 "Use Fhir Bundle type transaction for uploading the local changes to the server."
**Is your feature request related to a problem? Please describe.**
Multiple Resource changes can be uploaded to the server in a single request using Bundle compared to Multiple individual requests for each one.

**Describe the solution you'd like**
Use Bundle 'transaction' to upload the resources as Bundle 'batch' can't have resources with [interdependencies](https://hl7.org/implement/standards/fh

[2022-01-12 10:32] santosh-pingle commented on #1019
@shelaghm

To show the modal, it requires minimum 10 options. In figma it has only 6 options, could you please add 4 more options to the list?

[2022-01-12 11:09] santosh-pingle opened #1023 "Catalog app, implement open choice workflow"
**Is your feature request related to a problem? Please describe.**
1. User click on open choice component.
2. It launches open choice screen with questionnaire, which demonstrate open choice uses.
3. Click on navigation back key in action bar, it takes user back on landing page.
4. Design open choice questionnaire json.

Write api to fetch open choice questionnaire json file name.
Apply custom sty

[2022-01-12 11:12] santosh-pingle opened #1025 "Catalog app, implement dropdown component workflow."
**Is your feature request related to a problem? Please describe.**
1. User click on dropdown component.
2. It launches dropdown screen with questionnaire, which demonstrate dropdown uses.
3. click on navigation back key in action bar, it takes user back on landing page.

Design dropdown questionnaire json.
Write api to fetch dropdown questionnaire json file name.
Apply custom style at application

[2022-01-12 11:33] santosh-pingle commented on #1023
Currently, open-choice option is only present in modal.

[2022-01-12 14:41] santosh-pingle opened #1027 "Catalog app, custom style does not get applied to modal content."
**Describe the bug**
Below component gets shown on modal/dialog.
1. open-choice
2. radio buttons
3. check boxes
But none of above mentioned component accepts custom style in modal.

To fix this issue below changes are required
In `OptionSelectDialogFragment` use MaterialAlertDialogBuilder and pass attribute which reference themeOverlay of MaterialAlertDialog.

**Component**
SDC library, Catalog ap

[2022-01-12 14:42] santosh-pingle commented on #1027
#1026

[2022-01-12 14:52] joiskash opened #1028 "Mismatch between setting questionnaireResponse.questionnaire and validating it"
**Describe the bug**
In QuestionnaireResponseValidator.kt we check if questionnaire.url == questionnaireResponse.questionnaire whereas in the QuestionnaireViewModel we set  questionnaireResponse.questionnaire to questionnaire.id

**Component**
 SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Answer a questionnaire which has a different id and url
2. Save the questionnaire respons

[2022-01-12 14:53] joiskash commented on #1028
Work around is to set the url to be Questionnaire/"id"

[2022-01-12 15:06] jingtang10 commented on #1028
yes we should set the url rather than id when generating the questionnaire response.

see https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/Editing.20a.20questionnaire.20response/near/265556798.

[2022-01-12 15:43] aditya-07 opened #1029 "Editing Patient's name is causing Demo app to crash."
**Describe the bug**
Editing Patient's name is causing Demo app to crash because ResourceMapper throws exception while extracting the Patient resource.

[code]

**Component**
Core library, Demo

**To Reproduce**
1. Edit Patient name by going to Patient details page and hitting edit icon on top right.
2. Change first name or last name.
3. Save.

**Expected behavior**
Patient should get saved.

**Sc

[2022-01-12 15:53] epicadk commented on #846
We could move the count variable to the MainActivityViewModel so that every time a patient is added the count is refreshed. But then this would only solve the problem of the count, the added patient would not be reflected in the recycler view, so we would most likely have to move the patient list to the MainActivityViewModel as well.

Another approach would be to wait for #911. I prefer this way.

[2022-01-12 15:59] aditya-07 commented on #1029
Adding a new Patient in demo app causes the same issue as well.

[2022-01-12 16:21] #988 closed

[2022-01-13 04:36] shelaghm commented on #1019
I've updated the figma. Will send you link directly. Curious to learn more about why there's a minimum of 10 options for a modal? Since it reduces the amount of screen space, it seems a little surprising.

[2022-01-13 05:07] shelaghm commented on #988
Sent via PM, also shared updated icons for the icons that previously had shadows

[2022-01-13 05:40] Itskiprotich opened #1032 "Questionaire Responses"
**Describe the bug**
Updated both the Fhir Engine and the Datacapture libraries to the latest versions. Upon submiting a questionaire, the app crashes with the error as shown below

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Have the latest updates on libraries. Go to patient's details, complete a survey
2. Click on the submit button
3. Scroll down to logs and

[2022-01-13 08:37] Itskiprotich commented on #1029
Also when Submitting a questionaire same problem

[2022-01-13 09:42] f-odhiambo commented on #800
@puranjayK Any progress update on this?

[2022-01-13 09:49] #859 closed

[2022-01-13 10:16] fredhersch commented on #971
@maimoonak is 4/5 high or low priority? Thanks for the comments!

[2022-01-13 10:20] fredhersch commented on #915
@pld @vitorpamplona Checking in here. Has this issue been mostly resolved now? Is there further discussion about SDK API to enable general CQL evaluation?

[2022-01-13 10:39] fredhersch opened #1033 "initialExpression extension for advanced form behaviour"
**Is your feature request related to a problem? Please describe.**
When rendering a Questionnaire via the data capture library, I need to be able to use an expression to set an initial value - see [SDC Expressions](http://build.fhir.org/ig/HL7/sdc/expressions.html)

**Describe the solution you'd like**
SDC Library support for initialExpression extension using FHIRPath

For example:
* Set a value t

[2022-01-13 12:15] puranjayK commented on #800
Sorry I couldnt work on this, as the covid situation got worse in my country.
I am having issues on how to make this widget and how the questionnaire is to be used

[2022-01-13 12:23] santosh-pingle commented on #1025
@shelaghm
I am thinking not to have first field which is name(input type EditText) in the questionnaire screen, and just to add drop down questionnaire item which is relationship. As this workflow is mainly design for drop down questionnaire view.

Please let me know your input on it.

[2022-01-13 12:32] santosh-pingle commented on #1025
When item get clicked from drop down list, it shows blue color background on click. At this moment I tried to find the way to change it but not sure about the option, I need to look into it further.

[2022-01-13 13:33] santosh-pingle commented on #1027
#1019

[2022-01-13 15:50] santosh-pingle commented on #1019
<img width="438" alt="Screen Shot 2022-01-13 at 9 18 58 PM" src="https://user-images.githubusercontent.com/86107848/149362840-c3f2fdd0-0a14-4967-97cb-dc773e45cef1.png">

[2022-01-13 16:38] shelaghm commented on #1025
@santosh-pingle
1. Yes, let's remove text field above.
2. Can you upload a screenshot of what it looks like on click? If it is the default material blue background it might be okay.

[2022-01-14 03:50] fredhersch opened #1038 "Add candidateExpression extension"
**Is your feature request related to a problem? Please describe.**
When populating a Questionnaire via the data capture library, I want to be able to provide answer options (this is different from setting the initial value) from resources that are related to the context (e.g. filling out a questionnaire based on a specific patient)

**Describe the solution you'd like**
SDC Library support for cand

[2022-01-14 04:15] fredhersch opened #1039 "Support for answerExpression extension"
**Is your feature request related to a problem? Please describe.**
Issue: #979

When building a data collection questionnaire, there is often a need to filter the options in a drop down list based on the selected answer to an earlier list. For example: Country > State > City - see #979

**Describe the solution you'd like**
Enable dynamic filtering of answerOptions using answerExpression with FHIRP

[2022-01-14 13:00] f-odhiambo opened #1040 "Add ability to validate the min/max for Date on a FHIR Questionnaire"
**Is your feature request related to a problem? Please describe.**
Add ability to limit the date input values to either the minimum or maximum date allowed for a given use case e.g.
1. A task should not start before a certain date
2. When adding DOB, the DOB should be less than the current day/today
3. When scheduling you can validate when a given task should be done or assigned to a given practit

[2022-01-14 13:36] RaaziaTarique commented on #1040
@f-odhiambo, yes I can work on this issue.

[2022-01-14 21:31] #834 closed

[2022-01-17 09:51] santosh-pingle opened #1043 "Catalog, text field component workflow."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

1. User click on text field component.
2. It launches text field screen with questionnaire, which demonstrate text field uses.
3. Click on navigation back key in action bar, it takes user back on landing page.
4. Design text field question

[2022-01-17 10:00] santosh-pingle commented on #1043
To show a lable, helper text, icon in the edit-text-input is not supported yet by datacapture. These are feature request changes. Also, it is required to check how these generic values will be passed to the datacapture in questionnaire.

[2022-01-17 10:42] santosh-pingle commented on #1043
@shelaghm

Datacapture also provide text field view for type decimal, text. We also need to include those.

[2022-01-17 10:52] santosh-pingle commented on #1043
<img width="440" alt="Screen Shot 2022-01-17 at 4 18 35 PM" src="https://user-images.githubusercontent.com/86107848/149756532-f2c9ddf1-8e54-4d8f-833a-23aca838d7be.png">
<img width="436" alt="Screen Shot 2022-01-17 at 4 20 53 PM" src="https://user-images.githubusercontent.com/86107848/149756546-18bf73aa-c6c8-409f-9f20-cf5323d9d454.png">

[2022-01-17 12:26] jingtang10 commented on #973
with the changes being done in the catalog app - to reproduce this we need to change the navigation graph when building the catalog app

[2022-01-17 13:41] santosh-pingle opened #1045 "Catalog, date picker component workflow."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

1. User click on date picker component.
2. It launches date picker screen with questionnaire, which demonstrate date picker uses.
3. Click on navigation back key in action bar, it takes user back on landing page.
4. Design date picker ques

[2022-01-17 13:58] santosh-pingle commented on #1045
(Below items are feature changes in datacapture module in date picker view.)
1. Currently, there is no provision to show subtitle text (texts which are shown below question item text) e.g `First day of most recent period`.
2. Existing view does not support label. (date text on input text field)
3. It does not show helper text. (date format text below input text field)
4. It does not accept date as

[2022-01-17 14:20] Tarun-Bhardwaj commented on #1032
Closing this issue as it's a duplicate of #1029

[2022-01-17 14:20] #1032 closed

[2022-01-17 14:34] jingtang10 commented on #1027
the first thing to work out is if we want to provide a version of these widgets that are not in an modal dialog. @shelaghm @kevinmost until this is resolved i think this is blocked.

i think @shelaghm made an argument to not use modal dialogs for these widgets.

[2022-01-17 14:41] jingtang10 commented on #1001
Thanks for creating this issue @maimoonak.

While there probably exists an easier fix, I think we should also figure out if we want to create a validation configuration that developers can provide to change the validation behavior.

[2022-01-17 14:52] santosh-pingle commented on #1043
Existing edit text view expects below changes in the view component in the datacapture module, also it requires to pass these generic values in the questionnaire.

1. Currently, it does not support the label, helper, hint texts.

[2022-01-17 15:38] #1029 closed

[2022-01-17 17:21] #1009 closed

[2022-01-18 05:40] santosh-pingle opened #1047 "Catalog, update component icons with shadows."
**Describe the bug**
A clear and concise description of what the bug is.

Below component icons does not show shadow in the component list.

1. datepicker
2. defaultLayout
3. modal
4. paginatedLayout
5. rangePicker
6. readOnlyLayout
7. reviewLayout
8. timePicker.

**Component**
 reference app, or SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3

[2022-01-18 06:22] santosh-pingle commented on #1047
@shelaghm
Thanks for sharing icons.
But when I open these icons in the android studio, I am not sure whether I see shadow/elevation in the preview.
Can you please confirms once whether shared icon has shadow?

Just for reference I am attaching some screenshots of icons when they were opened in the android studio preview.

<img width="698" alt="Screen Shot 2022-01-18 at 11 38 02 AM" src="https://us

[2022-01-18 07:12] santosh-pingle opened #1048 "Datacapture, open choice input text field does not open soft keyboard on user click."
**Describe the bug**

1. Open that SDC Gallery app.
2. Click on General health assessment questionnaire item, it opens questionnaire/survey screen.
3. Click on `please select your gender`, it opens modal.
4. Click on other radio button option, it shows input text field with text `enter custom option`
5. Click on text input field, it does not show soft keyboard on click to enter the text as input.

[2022-01-18 07:13] santosh-pingle commented on #1048
@kevinmost

[2022-01-18 13:45] santosh-pingle opened #1049 "Catalog, implement default_layout layout workflow."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

1. User click on default_layout layout.
2. It launches default_layout screen with questionnaire.
3. Click on navigation back key in action bar, it takes user back to the landing page.

Design default_layout questionnaire json.
Write api to

[2022-01-18 22:57] shelaghm commented on #1047
@santosh-pingle I re-designed the icons so they no longer have any shadows. So these look correct. Thanks for checking with me.

[2022-01-18 23:09] shelaghm commented on #1043
@santosh-pingle What's an example of a decimal data type?

Feedback on screenshots:
The padding between elements should be 24px, so 24 pixels between the title and the text field, and 24px between each text field.

[2022-01-18 23:23] shelaghm commented on #1027
@jingtang10 @santosh-pingle @kevinmost

Yes, let's align on the use of modals for these widgets. My perspective is that the modal adds a step/click and that on small phones it can reduce the amount of choices we can display on the screen, so I recommend we move away from modals. Modals are great for decision dialogs, so we will likely want to still have a dialog/modal functionality, just not for t

[2022-01-18 23:54] shelaghm commented on #1045
@santosh-pingle Thanks for adding what's not possible to do yet.
1. I think the light blue color (looks like Blue 50, secondary color) on the top bar should be white (FFFFFF), with Grey 900 (#202124) text
2. The selected day circle should to be Blue 600 (#1A73E8) (primary color) with white text.
3. Is there a way to make this widget more full width, so that it only has 24px padding on each side?

[2022-01-19 02:03] fredhersch commented on #802
@ekigamba What's the status of this issue? Thanks

[2022-01-19 09:11] Tarun-Bhardwaj commented on #1047
Design has been updated by Shelagh hence closing the bug.

[2022-01-19 09:11] #1047 closed

[2022-01-19 09:16] jingtang10 commented on #1002
Duplicate of #98.

[2022-01-19 09:16] #1002 closed

[2022-01-19 14:28] santosh-pingle commented on #1049
cc @jingtang10

[2022-01-20 08:39] ekigamba commented on #802
@fredhersch the PR is up https://github.com/google/android-fhir/pull/807 so we should have it in once the changes and review is done

[2022-01-20 09:07] ndegwamartin commented on #929
@jingtang10 you're right, the implementation is now refactored to use translation extensions on the display field. See [PR#927](https://github.com/google/android-fhir/pull/927)

[2022-01-20 10:08] shoaibmushtaq25 opened #1051 "Hidden questionnaire items are not handled in the QuestionnaireResponseValidator"
**Describe the bug**
Hidden questionnaires are not handled in the QuestionnaireResponseValidator,
This issue was supposed to be fixed in https://github.com/google/android-fhir/issues/912 with PR https://github.com/google/android-fhir/pull/926 but looks like it was refactored later in this PR https://github.com/google/android-fhir/pull/982 , so the current implementation is not catering the hidden

[2022-01-20 14:15] elviasiv opened #1053 "FHIR parser parses Patient model that the backend doesn't accept"
I'm trying to push an update to my Patient model in the API.

The problem is that when I `GET` the patient using `Postman` I get the results I want to:

![image](https://user-images.githubusercontent.com/35890452/150353093-7d26293a-f5ff-4c3b-a70d-45c446b335f4.png)

but when I `GET` the patient from my app, it goes through parser and this is the result I get:

![image](https://user-images.githubuse

[2022-01-21 05:12] fredhersch opened #1054 "[Roadmap] fhirengine-beta-01 | ERD 31.01.22"
The beta release of the FHIREngine represents stable and tested library with accompanying documentation. Significant changes to API design are not planned, but may happen.

New features included:

* UUID refactoring #784
* PUT/POST approaches for sync #1021
* Add versioning for sync #806
* Service Oriented Architecture approach for FHIREngine (remove dependency on FHIR server) #702

[2022-01-21 05:17] fredhersch opened #1055 "[Roadmap] workflow-alpha-02"
The second release of the workflow library adds support for $apply operation:

* #656

Using $apply, it is possible to generate a CarePlan from a PlanDefinition for a given patient

[2022-01-21 05:28] fredhersch opened #1056 "[Roadmap] Design of CarePlan Management"
This milestone relates to the development of the requirements and technical design for implementing Workflow related features for:

* CarePlan Management and Tasking APIs
* Identification of specific widgets (for relevant cpg-activity-types)
* Associated helper functions (e.g. specific search queries)

[2022-01-21 05:31] fredhersch opened #1057 "[Roadmap] Implementation of P2P sync"
Initial implementation of P2P sync within the SDK. See #258 for discussion

[2022-01-21 05:34] fredhersch opened #1058 "[Roadmap] Partial SDC expression support via FHIRPath"
This set of issues relates to adding expression extensions to the data capture library - [see specification here](http://build.fhir.org/ig/HL7/sdc/expressions.html)

Current priority issues include:

* #1059
* #1033
* #1038
* #1039
* #971
* #819

[2022-01-21 05:50] fredhersch opened #1059 "Add variable Extension support"
**Is your feature request related to a problem? Please describe.**
Desire to use variable names to perform calculations via SDC.

For example, to calculate BMI: (weight_value/heigh_value*height_value)

* From the current Questionnaire, it is simpler to set a variable and then use that in the calculation. See [example here](http://build.fhir.org/ig/HL7/sdc/examples.html#calculatedexpression)

**Des

[2022-01-21 05:57] fredhersch opened #1060 "Library extension support"
Add support for the [Library extension](http://build.fhir.org/ig/HL7/sdc/expressions.html#other-extensions)

- Library allows queries, CQL and FHIRPath expressions to be maintained independently from the Questionnaires that use them.
- This means that the "programmatic" content of the Questionnaire can be updated and adjusted without revising the Questionnaire, which may be appropriate in certain

[2022-01-21 06:10] fredhersch opened #1061 "Add launchContext Extension"
Add support for LaunchContext expression Extension for advanced form behaviour - [see here](http://build.fhir.org/ig/HL7/sdc/expressions.html#other-extensions)

The launch context allows information to be passed into the execution environment based on the context in which the Questionnaire is being evaluated. For example, what patient, what encounter, what user, etc. is "in context" at the time th

[2022-01-21 06:23] fredhersch commented on #819
@jingtang10 updated the issue to reference the more recent specification page - http://build.fhir.org/ig/HL7/sdc/expressions.html

[2022-01-21 06:34] fredhersch opened #1062 "[Roadmap] workflow-alpha-03"
Initial implementation of CarePlan management and Tasking related features

[2022-01-21 06:36] fredhersch opened #1063 "[Roadmap] workflow-alpha-03"
Provide general CQL Engine integration

_May consider splitting into separate library depending on size and overlap with workflow library_

[2022-01-21 06:38] fredhersch opened #1064 "[Roadmap] Design for ImplementationGuide deployment"
Gather requirements and develop design documentation for IG deployment to SDK

This is a requirement for the emCare program

Related to: #253

[2022-01-21 06:42] fredhersch opened #1065 "[Roadmap] fhirengine-beta-02 | ERD 28.02.22"
This release provides support for manifest based sync.

[2022-01-21 06:45] fredhersch opened #1066 "[Roadmap] Bulk data import records"
#791

[2022-01-21 06:51] fredhersch opened #1067 "[Roadmap] workflow-alpha-05"
Extend workflow capabilities via the SDK. Includes support for WHO Smart Guidelines

[2022-01-21 06:52] fredhersch opened #1068 "[Roadmap] workflow-beta-01"
Beta release of the workflow library

[2022-01-21 06:54] fredhersch opened #1069 "[Roadmap] Review requirements for Smart Guidelines support"
Review of the emCare Smart Guidelines L3 content. Understand any current gaps for enabling this content via the SDK

[2022-01-21 06:55] fredhersch opened #1070 "[Roadmap] v1.0 release"

[2022-01-21 07:14] f-odhiambo opened #1071 "Passing a different subject other than test patient (Charity Otala) causes the measure reporting for Individual to crash on the $evaluate_meaasure API for Individual subject MeasureReport generation"
**Describe the bug**
Passing a different subject other than test patient (Charity Otala) causes the measure reporting for Individual to crash  on the $evaluate_meaasure API for  Individual subject MeasureReport generation

**Component**
Measure Reporting via $evaluate _module

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Test Class
2. Swap the patient ID charity-otala-1 to another Pa

[2022-01-21 11:49] santosh-pingle opened #1072 "Catalog, paginated layout workflow."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

1. User click on paginated  layout.
2. It launches paginated screen with questionnaire.
4. Design paginated questionnaire json.
5. Write api to fetch paginated questionnaire json file name.
6. Apply custom style at application side.

**Des

[2022-01-21 13:39] Tarun-Bhardwaj commented on #842
@aditya-07 , could you please review this PR created by Pallavi?

[2022-01-21 14:23] PallaviGanorkar commented on #973
@jingtang10 , As mentioned above, after changing navigation graph in the catalog app, I could not find Date and time widget for ANC ID field. Instead of Date and time widget there is TextView and only onclick action it opens Keyboard. Screenshot is attached for more details.

![Screenshot_1642774556](https://user-images.githubusercontent.com/13957417/150542954-8d1460e9-a19d-480c-a6a2-21cb1d10c464.

[2022-01-21 14:24] PallaviGanorkar commented on #973
![Screenshot_1642775078](https://user-images.githubusercontent.com/13957417/150543343-9f2e4956-e030-4027-96cb-baa6828f9348.png)

[2022-01-23 11:53] f-odhiambo opened #1075 "Implementation of $measure-evaluate API for Population/Practitioner Measure Reporting"
**User story**
As an implementer I can use the $measure-evaluate to generate a MeasureReport

Given a set of pre-loaded patients, run the $measure-evaluate operation to generate a MeasureReport
-- On a single patient, the $measure-evaluate will return a MeasureReport with a value of 1 or 0 - **DONE**
-- For a group of patients, the $measure-evaluate will return a MeasureReport - **PENDING/**, TODO

[2022-01-24 14:37] epicadk commented on #1053
If you also want to store the data on android you could use the [fhir engine](https://github.com/google/android-fhir/tree/master/engine). If not then this may be the wrong place for this issue. Try asking https://github.com/hapifhir/hapi-fhir or chat.fhir.org

[2022-01-25 00:01] shelaghm commented on #1049
For now we will display json code: example: http://www.hl7.org/fhir/questionnaireresponse-example.json
Screenshot:
![Screen Shot 2022-01-24 at 15 59 23](https://user-images.githubusercontent.com/86378921/150885298-0b959071-fe22-4edc-89b0-381789baa837.png)

In the future: would like to show the "review" screen here. It is not implemented yet. [#227](url)

[2022-01-25 03:49] santosh-pingle commented on #1072
@shelaghm

`Submit questionnaire' button is part of application, and not part of data capture library. But `previous and next ` buttons are part of data capture library.
There is limitation that Submit questionnaire button can not be renamed/replaced with next button.

Please see attached screenshot, as of now we are showing submit questionnaire button at the bottom of the screen.

<img width="429

[2022-01-25 03:53] santosh-pingle commented on #1049
<img width="430" alt="Screen Shot 2022-01-25 at 9 22 22 AM" src="https://user-images.githubusercontent.com/86107848/150907862-31fe0c87-ddeb-4b9f-b7f3-efa5534ea787.png">

[2022-01-25 05:58] Tarun-Bhardwaj commented on #723
Code changes merged with PR #827

[2022-01-25 05:58] #723 closed

[2022-01-25 06:33] santosh-pingle opened #1076 "Catalog, remove empty string check when all components workflows get updated."
**Describe the Issue**

As of now, when given component workflow is added, then it returns questionnaire json for that component.
There is list of components for which questionnaire json file need to be updated.
For not added component workflow, it is returning empty string.

Expectation : Remove all those empty string checkpoints, else condition once all components workflows are added.

e.g
[code

[2022-01-25 07:36] santosh-pingle opened #1077 "Catalog, slider component workflow."
**Is your feature request related to a problem? Please describe.**

1. User click on slider component.
2. It launches slider screen with questionnaire, which demonstrate slider uses.
3. Click on navigation back key in action bar, it takes user back on landing page.

Design slider questionnaire json.
Write api to fetch slider questionnaire json file name.
Apply custom style at application side.

**

[2022-01-25 11:27] jingtang10 commented on #581
this is done in https://github.com/google/android-fhir/wiki/Structured-Data-Capture-Library

[2022-01-25 11:27] #581 closed

[2022-01-25 11:41] santosh-pingle opened #1079 "Catalog, include file name field in component and layout enum."
**Describe the Issue**

Please refer below comment.
https://github.com/google/android-fhir/pull/998#discussion_r791433851

Basically, instead of returning individual questionnaire json file name, it is good to have it in component and layout.

**Would you like to work on the issue?**

[2022-01-25 13:29] #992 closed

[2022-01-25 16:14] #1028 closed

[2022-01-26 13:11] f-odhiambo commented on #1075
**Update**
Started looking into the codebase and discovered that the operation is there in the libs but we may need to debug/refactor is to work well

Some of the work has started with resolving some of the parameter input interface to allow nullable subject  - https://github.com/google/android-fhir/pull/1080

[2022-01-26 17:50] #256 closed

[2022-01-26 17:51] jingtang10 commented on #108
Obsolete

[2022-01-26 17:51] #108 closed

[2022-01-26 18:18] jingtang10 commented on #765
@joiskash i can't remember if this has been fixed? can you please double check? thanks!

[2022-01-27 04:44] wantingzhang77 commented on #98
Now ResourceType + ResourceID is used for foreign key of these index tables. But there may be some potential problems:
ResourceID is a UUID generated locally when resources are saved into the local database. However, this ID may not be unique for remote server as the resources are creating from multiple device and POST to the remote server.

A better way that be used is as following:
For the reaso

[2022-01-27 06:13] santosh-pingle opened #1081 "Catalog, implement workflow when submit questionnaire button get clicked."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

1. Click on Submit questionnaire button.
2. It opens screen with questionnaire response json string.
3. Click on Close button, it opens landing page screen.

Collect questionnaire response json string.
Design and implement fragment to show

[2022-01-27 08:33] epicadk commented on #846
@jingtang10 could you share your thoughts on this?

[2022-01-27 08:54] f-odhiambo commented on #1001
@Tarun-Bhardwaj can you assign https://github.com/aurangzaibumer to this ticket

CC @aurangzaibumer

[2022-01-27 09:10] jingtang10 opened #1082 "Remove dependency on flexbox layout"
**Describe the Issue**

As @FikriMilano demonstrated in PR https://github.com/google/android-fhir/pull/586 we can use constraint layout's flow for horizontal layout instead of flexbox. We should remove the dependency on flexbox in our widgets. https://github.com/google/android-fhir/search?q=flexbox&type=code

**Would you like to work on the issue?**

@FikriMilano ?

[2022-01-27 09:13] FikriMilano commented on #1082
Sure @jingtang10

[2022-01-27 09:40] jingtang10 commented on #1071
@f-odhiambo, thanks for raising this! The test loads specific artifacts such as the patient resource: https://github.com/google/android-fhir/blob/da168b420dba8fa12b357997834f968c38da5fa3/workflow/src/test/java/com/google/android/fhir/workflow/FhirOperatorTest.kt#L55

so changing the patient to another id would make the test fail - have you tried to load another patient in fhir engine?

[2022-01-27 10:10] nsabale7 commented on #227
Here is a screenshot of the prototype that we have created for this feature as per the design shared above.

![Sample-Questionnaire-Review](https://user-images.githubusercontent.com/82660329/151335558-915da61c-d60a-4318-8906-685499838df3.png)

[2022-01-27 10:50] #1006 closed

[2022-01-27 10:50] #1079 closed

[2022-01-27 11:08] jingtang10 commented on #1082
Thanks for your continued contribution! really appreciate it!

[2022-01-27 13:48] prajapati-chirag opened #1083 "Datacapture, date picker doesn't open after cancel date picker dialog on same field"
**Describe the bug**
When clicking on the date field like birthday, the date picker opens but when canceling dialog and clicking again then didn't open the date picker.

**Component**
SDC library, Demo app

**To Reproduce**
Steps to reproduce the behavior:
1. Open Demo app.
2. Click on the plus icon.
3. Click on Date of Birth.
4. Click on the cancel button of the dialog.
5. Again click on Date of

[2022-01-27 22:12] yigit commented on #98
I would actually recommend we go with a local UUID instead as the key (can even ignore resource type). We can have a server id in addition to that  to be used for server communications. FYI room 2.4 adds out of the box support for UUID (and saves it as a byte array). And for conflcits, we can simply ignore, it is super super unlikely to happen :)

Also, keep in mind, sqlite ID (which i assume it r

[2022-01-28 06:42] santosh-pingle opened #1085 "Catalog, date time picker component workflow."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

1. User click on date time picker component.
2. It launches date time picker screen with questionnaire, which demonstrate date time picker uses.
3. Click on navigation back key in action bar, it takes user back on landing page.

Design dat

[2022-01-28 07:00] santosh-pingle commented on #1085
@shelaghm
As of now, datacapture does not have time picker implementation, but it has implementation for date time picker (datetime type).As result, we are showing datetime picker component workflow instead of time picker workflow.
May be we need to change icon drawable and text in the component list.

cc @jingtang10

[2022-01-28 07:04] santosh-pingle commented on #1085
<img width="429" alt="Screen Shot 2022-01-28 at 12 32 37 PM" src="https://user-images.githubusercontent.com/86107848/151502405-14f4450c-75eb-44f5-8d01-d785fa82a00c.png">
<img width="427" alt="Screen Shot 2022-01-28 at 12 32 50 PM" src="https://user-images.githubusercontent.com/86107848/151502421-3b8d51b9-ce5f-41a8-b505-3693cbbc75b5.png">
<img width="430" alt="Screen Shot 2022-01-28 at 12 33 06 PM"

[2022-01-28 07:18] santosh-pingle opened #1087 "DataCapture, restrict the user from accepting value after decimal point in integer textfield widget."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Datacapture support decimal and integer type.
For decimal and integer input field, soft keyboard is shown with decimal point.
As decimal input textfield already allows user to provide value after decimal point, same should not be happened

[2022-01-28 07:20] santosh-pingle commented on #1043
#1087

[2022-01-28 07:23] santosh-pingle opened #1088 "Data capture, Submit questionnaire button at the bottom of the questionnaire (paginated and default)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

- Every questionnaire has a submit button at the end of the questionnaire (only on last page if it paginated)
- Dev can customize it by making it “gone”. Custom style attributes
- Part of data capture library

**Describe the solution you'd

[2022-01-28 07:24] santosh-pingle commented on #1072
#1088

[2022-01-28 07:25] santosh-pingle commented on #1049
#1088

[2022-01-28 07:25] santosh-pingle commented on #1081
#1088

[2022-01-28 10:05] #862 closed

[2022-01-28 12:49] #1011 closed

[2022-01-28 14:34] aditya-07 commented on #98
1. Local UUID does help engine in allowing users to save Resources created on the device without requiring ID. This is useful when Fhir server allows creating resources with POST only.
2. In the above case, server assigns an ID to the POSTed Resource and returns it in the response. As such, engine needs to update database with this new Id. PR #775 tackles this issue, but ends up doing multiple db

[2022-01-28 21:25] davegwatson commented on #981
Played around with this a bit more - it looks like none of the "required" fields are actually required to be filled out; you can just click 'next' repeatedly till you get to the end of the survey, at which time the demo app crashes.

[2022-01-31 09:43] PallaviGanorkar commented on #832
Search is done on city name using modifier as StringFilterModifier.MATCHES_EXACTLY and value is "NAIROBI".
So its strictly filtering as per hardcoded city value in capital letters.

To fix this , there are 2 more enum values in StringFilterModifier like STARTS_WITH and CONTAINS.
But, after using these values search result will contain any city name having "NAIROBI" as substring. which breaks requi

[2022-01-31 10:55] aditya-07 commented on #832
Fhir spec for string search specifies the three matching modifiers MATCHES_EXACTLY, STARTS_WITH and CONTAINS. We should use STARTS_WITH in this case. See http://www.hl7.org/fhir/search.html#string .

[2022-01-31 13:17] f-odhiambo opened #1091 "Update mechanism from PATCH to PUT or have a hybrid approach for P2P Sync on FHIR Engine and Sync API"
**Is your feature request related to a problem? Please describe.**
Peer-to-Peer  Sync support on SDK

- The biggest challenge around implementing P2P sync comes from the way that server sync has been implemented in the Android FHIR engine. Changes to resources are synced to the server using the patch interaction rather than the update interaction which means that when a peer is syncing to the serv

[2022-01-31 15:11] Tarun-Bhardwaj commented on #1051
Hi @shoaibmushtaq25, thanks for raising the issue. Would you have some bandwidth to pick this up and fix it?

[2022-01-31 16:04] f-odhiambo commented on #1071
@jingtang10 As mentioned in the Evaluation check in call , we were able to troubleshoot and add measure reporting for Individual and Population Measure Reporting . Will push my changes. I think will need some support from JP and Brynn to get test sample data, so testing  this is kinda blocked

CC @ellykits

[2022-02-01 07:33] #1023 closed

[2022-02-01 09:22] santosh-pingle commented on #1081
@shelaghm

In android default font style is `sans-serif`, and it is also called as `roboto`
https://stackoverflow.com/questions/34444616/how-to-use-roboto-in-xml-layout/34445295
But in the figma it is mentioned `Google sans` and at some places `Roboto`, are these sans-serif font family?

In the catalog app as of now we have kept android default font style `sans-serif`.
`<item name="android:fontFam

[2022-02-01 09:34] santosh-pingle commented on #1081
<img width="430" alt="Screen Shot 2022-02-01 at 3 02 18 PM" src="https://user-images.githubusercontent.com/86107848/151944147-3030dc33-5ac9-4d0b-8e7b-a7ac674df048.png">
<img width="426" alt="Screen Shot 2022-02-01 at 3 02 39 PM" src="https://user-images.githubusercontent.com/86107848/151944178-51f69d91-3bab-4b5b-8c4a-a39020aa8a06.png">

[2022-02-01 10:00] aditya-07 opened #1096 "Include resource version along with the SquashedLocalChange in the FhirEngine.syncUpload."
As I've been going through the current implementation of server sync, and thinking about approaches to peer-to-peer sync, I've come across a potential pitfall which I think needs to be highlighted.

The current FHIR engine implementation tracks local changes using [JSON Patch](https://datatracker.ietf.org/doc/html/rfc6902)es, and synchronises these with the server using the [FHIR `patch` interacti

[2022-02-01 12:08] jingtang10 commented on #1053
Thanks @elviasiv for raising this issue. can you share the actual error message when you say it doesn't accept the format?

what modifications have you made? if you fork the repo can you share your branch?

@aditya-07 @anita-vadverao fyi

[2022-02-01 13:00] KhumboLihonga opened #1098 "Use 'choice' widgets to save to fields besides those of type <code>"
**Is your feature request related to a problem? Please describe.**
As part of a registration form, I would like to save a patient's address and specifically, their country of origin. To reduce the chances of human error, I would like to use a 'choice' widget such as a drop-down as opposed to a 'string' widget. The drop-down takes an array of valueCoding objects as it's list of options. However, a

[2022-02-01 13:07] #1025 closed

[2022-02-01 14:00] f-odhiambo commented on #1075
PR  -  https://github.com/google/android-fhir/pull/1092

[2022-02-01 14:29] f-odhiambo opened #1099 "Performance profiling - Sync Optimization"
Explore the Sync API to be able to push an  enhancement for Sync Optimization

1. Reduce the time it takes to sync resources on the app
2. Define an appropriate sync filter for FHIR resources based on the config, user credentials or location hierarchy (Sync by Team or Sync by Location )

[2022-02-01 14:29] f-odhiambo opened #1100 "Performance profiling - QuestionnaireResponse Extraction optimization"
**Definition**
1. Optimize the structure map based extraction

 **Context**
1. Time delay  taken to extract resources before saving in the database,  only with Structure map based extraction and not with Definition based extraction

[2022-02-01 15:29] elviasiv commented on #1053
Hey @jingtang10 thanks for replying! I currently fixed the issue temporarily by creating my own `Patient` model and parsing everything with Gson, so in order to get correct errors I'll need to redo everything back to FHIR patient.

But general errors I got was pretty much wrong format of the data I'm trying to send. For example - the FHIR parsed patient data has `ID` as an object while the API acc

[2022-02-01 15:47] Harsh9149 commented on #766
@deepankarb I would like to work on this issue. Please assign this issue to me.

[2022-02-01 18:30] Anshul-9923 commented on #86
@jingtang10 I would like to work on this issue, can you please assign it to me?

[2022-02-01 18:38] jingtang10 commented on #1053
Are you able to share the actual branch? It's very difficult to see what you have done without seeing the code.

Thanks

[2022-02-01 18:40] wantingzhang77 commented on #98
Thanks for @yigit and @aditya-07 point out.
The solution will be have 2 Local UUID.
- One is called Local UUID, used by index table.
- Another one is called Server ID. This will be set as the ID that returned from the server.

[2022-02-01 18:44] jingtang10 commented on #86
Looking at the documentation here https://developer.android.com/training/appbar/setting-up.html it appears that we should just use app compat activity anyway.

Let's just close this issue.

[2022-02-01 18:45] #86 closed

[2022-02-01 19:37] Anshul-9923 commented on #545
@epicadk I would like to work on this issue, can you assign it to me?

[2022-02-01 19:58] Anshul-9923 commented on #107
@jingtang10 I would like to work on this issue, can you please assign it to me?

[2022-02-01 20:29] jingtang10 commented on #428
This is done.

[2022-02-01 20:29] #428 closed

[2022-02-01 20:31] jingtang10 commented on #492
@FikriMilano so sorry - please feel free to go ahead with this

[2022-02-01 20:36] jingtang10 commented on #107
@Anshul-9923 thanks for your interest. Will you be able to take a look at: https://github.com/google/android-fhir/issues/218

This issue is obsolete. I'm going to close this.

[2022-02-01 20:36] jingtang10 commented on #107
If you leave a comment in 218 I'll assign it to you. Thanks @Anshul-9923

[2022-02-01 20:36] #107 closed

[2022-02-01 20:43] Anshul-9923 commented on #218
@jingtang10 I would like to work on 2 remaining tasks of https://github.com/google/android-fhir/issues/107. Can you please assign it to me?

[2022-02-01 21:10] jingtang10 commented on #218
Sorry. That issue is obsolete.

[2022-02-01 22:01] #771 closed

[2022-02-02 00:52] shelaghm commented on #1081
thanks @santosh-pingle I'll get back to you on the font styles. Having two fonts is too complicated for this gallery app. (for internal health apps we typically use both Google Sans and Roboto combined, which is why they are both used in figma) I need to update the font styles and will let you know when it's ready.

[2022-02-02 02:10] Anshul-9923 commented on #218
Ok @jingtang10 , Sir can you assign me this issue?

[2022-02-02 03:55] Anshul-9923 commented on #973
@jingtang10 If this issue is not resolved yet, can you assign me this issue?

[2022-02-02 08:42] FikriMilano commented on #492
No worries - thanks!

[2022-02-02 08:45] FikriMilano commented on #1082
Will migrate the AutoCompleteWidget from FLexBoxLayout to Constraint Layout Flow

[2022-02-02 08:48] FikriMilano commented on #542
cc @f-odhiambo

[2022-02-02 08:48] FikriMilano commented on #492
cc @f-odhiambo

[2022-02-02 08:48] FikriMilano commented on #1082
cc @f-odhiambo

[2022-02-02 11:06] prajapati-chirag opened #1103 "Engine - Fetch resources using Query"
**Is your feature request related to a problem? Please describe.**
We need to fetch resources using dynamic conditions, users can buildup resource conditions into the portal, and as per condition fetch resources into the mobile side.

**Describe the solution you'd like**
For the above problem, We need to fetch resources using the query. So to create a query as per dynamic conditions and fetch the

[2022-02-02 15:29] Anshul-9923 commented on #545
@jingtang10 Can you please briefly explain the issue? I am not able to get it.

[2022-02-02 21:51] wantingzhang77 opened #1105 "Add how to do database inspection with disable data encryption in Wiki FAQ page."
**Describe the Issue**
Add how to do database inspection with disable data encryption in Wiki FAQ page. Answer includes how to do local data change and android studio operation.

**Would you like to work on the issue?**

[2022-02-02 21:52] wantingzhang77 commented on #1105
Added the quesition and answer in FAQ page:
https://github.com/google/android-fhir/wiki/FAQs#how-to-do-database-inspect-in-the-fhir-demo-app

[2022-02-03 05:11] shelaghm commented on #1085
@santosh-pingle Keep this as Date Time picker. Let's keep icon drawable as is, but change the name of this widget/component to "Date time picker. When we fix some of the theming, need to double check that the colors are legible, right now it's hard to see the selected state for this. Ideally what's light blue now should be a darker blue #600

[2022-02-03 05:14] shelaghm commented on #1085
one more question, does the manual keyboard entry of time switch to this view?
![Time picker 2](https://user-images.githubusercontent.com/86378921/152285241-372adaa2-816a-4b67-819d-95ea12c7192d.png)

[2022-02-03 08:39] f-odhiambo opened #1107 "MeasureReporting for Population & Individual subjects computes 0 for denominator and numerator for measure report generation - Bug"
**Describe the bug**
Measure reporting giving 0 for denominator and numerator for measure report generation

**Component**
Workflow

**To Reproduce**
Steps to reproduce the behavior:
1. Checked out new branch `update-evaluate-measure`
2. Run the test cases FhirOperatorTest
    - evaluateIndividualSubjectMeasure
    - evaluatePopulationMeasure

**Expected behavior**
A clear and concise description

[2022-02-03 08:40] f-odhiambo commented on #1107
Individual Measure Report

[code]

[2022-02-03 08:40] f-odhiambo commented on #1107
Population MeasureReport
[code]

[2022-02-03 09:37] f-odhiambo commented on #1075
@ellykits FYI

[2022-02-03 09:38] f-odhiambo commented on #1075
**Update**

1. Measure reporting for Population and Passing Practitioner iD as a parameter  in PR https://github.com/google/android-fhir/pull/1092

[2022-02-03 09:42] samiali12 commented on #973
Please assign me this issue if this is not resolved.

[2022-02-03 09:45] samiali12 commented on #766
if this issue is not resolved, can you assign me?

[2022-02-03 09:54] #898 closed

[2022-02-03 10:46] Harsh9149 commented on #766
@samiali12 I am working on this issue.

[2022-02-03 10:47] jingtang10 commented on #1105
@stevenckngaa -- are you happy with the above? thanks!

[2022-02-03 10:55] santosh-pingle opened #1108 "DataCapture, date picker custom style"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

To apply the custom style to date picker dialog as per figma style, it is required that datacapture should have support for material date picker.

Once material date picker is updated to the datacapture module, it is possible to have date

[2022-02-03 11:11] Anshul-9923 commented on #1108
@santosh-pingle I would like to work on this issue. Can you please assign it to me?

[2022-02-03 11:14] santosh-pingle opened #1109 "Datacapture, add material date picker to datacapture module."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, datacapture module provide date type widget with default platform `DatePickerDialog`, and as of now it does not uses `MaterialDatePicker`, we can refer `DatePickerFragment` class in datacapture.
If it is required to make changes

[2022-02-03 11:14] santosh-pingle commented on #1109
#1108

[2022-02-03 11:15] santosh-pingle commented on #1109
#1045

[2022-02-03 11:22] f-odhiambo opened #1111 "Use cached FhirContext everywhere to improve performance"
**Describe the Issue**
Fixes Use cached FhirContext everywhere to improve performance

**Description**
FhirContext.forR4 initializes FhirContext every time. It is recommended to use Cached version to prevent heavy operation every time

**Would you like to work on the issue?**
@maimoonak

[2022-02-03 11:23] f-odhiambo commented on #1111
Issue tracking PR https://github.com/google/android-fhir/pull/1106/

[2022-02-03 12:18] stevenckngaa commented on #1105
Looking good. One thing I'd add is if there is any database exception after disabling encryption, app developers should wipe the demo app data either in Settings or via `adb shell pm clear <demo app package name>`

[2022-02-03 12:52] samiali12 commented on #1087
if this issue is not resolved, please assign it to me.

[2022-02-03 13:07] santosh-pingle commented on #1045
@shelaghm
To make this change possible, datacapture library need to include material date picker, created issue #1109 for library change, and once this widget get added, custom style can be applied to it. I was just trying with these changes, created issue #1108, please refer for more details.

[2022-02-03 13:32] #1111 closed

[2022-02-03 14:25] joiskash commented on #577
@aditya-07 have you started working on this? If not I can take it up. Its a high priority item for us.

cc: @jingtang10

[2022-02-03 14:28] jingtang10 commented on #577
please feel free to go ahead @joiskash and thanks for taking this on

[2022-02-03 15:03] epicadk commented on #825
@Tarun-Bhardwaj Don't know why this fails on the CI. I tried running the tests locally through Android Studio and it works. Even in the official [performance samples](https://github.com/android/performance-samples) the benchmarks/profiling isn't done in the CI.

Do we want the benchmarks to run on CI or can we create a separate issue for this seeing as this is blocking quite a lot of issues?

[2022-02-03 15:04] epicadk commented on #1100
Blocked by #825 ?

[2022-02-03 15:04] epicadk commented on #1099
Blocked by https://github.com/google/android-fhir/issues/825 ?

[2022-02-03 16:23] jingtang10 opened #1112 "Component cards in the SDC Catalog app are touching (no gap in between)"
**Describe the bug**
The component cards are overlapping horizontally

**Component**
SDC catalog app

**To Reproduce**
Steps to reproduce the behavior:
1. open SDC catalog app

**Expected behavior**
There should be a gap between the cards horizontally

**Screenshots**
![screenshot-1643905131042](https://user-images.githubusercontent.com/28757340/152383839-ad5e356a-8dad-43dc-8569-c643bea8c909.png)

[2022-02-03 16:25] Anshul-9923 commented on #981
@Tarun-Bhardwaj I would like to work on this issue. Can you please assign me this issue?

[2022-02-04 02:32] Anshul-9923 commented on #981
@jingtang10 Can you assign me this issue?

[2022-02-04 04:57] Anshul-9923 commented on #1048
@santosh-pingle I understood the issue and want to work on this issue. Can you please assign me this issue?

[2022-02-04 06:23] santosh-pingle opened #1113 "Data capture, add subtitle text to the questionnaire item view."
**Is your feature request related to a problem? Please describe.**

As per new ux/ui guideline mentioned in the figma, it is expected to show subtitle text below the questionnaire text.

Action items
- Add subtitle text to the questionnaire item in the questionnaire json to be shown in the form.
- Add textview to show subtitle text in all sdc questionnaire widgets.

We can refer below design guide

[2022-02-04 06:44] santosh-pingle opened #1114 "DataCapture, add box around the answer options in the sdc widgets (radio button, checkbox)"
**Is your feature request related to a problem? Please describe.**

As per new ux/ui guideline mentioned in the figma, it is expected to show box around radio button and checkbox answer options.

Action items

- Add box around the answer options for radio button and checkbox.
- Update selected and not selected state for the box.

We can refer below screenshots.
Answer options `does not know level

[2022-02-04 07:42] santosh-pingle opened #1115 "Datacapture, add label, leading icon and helper text to the textfields in sdc widgets."
**Is your feature request related to a problem? Please describe.**
As per new ux/ui guideline mentioned in the figma, it is expected to show label, leading icon and helper text to the text field in sdc widgets.
Textfields are used in sdc widgets such as `QuestionnaireItemEditTextViewHolderFactory` `QuestionnaireItemDropDownViewHolderFactory` `QuestionnaireItemDatePickerViewHolderFactory` ` Questio

[2022-02-04 08:15] Manikant25 commented on #1115
Thanks for detailed description, Can you assign it to me?

[2022-02-04 09:04] santosh-pingle commented on #1108
@Anshul-9923 thanks for showing interest, this issue has dependency on issue 1109, let me connect you with @jingtang10

[2022-02-04 09:06] santosh-pingle commented on #1087
@samiali12 thanks for showing interest, let me connect you with @jingtang10

[2022-02-04 09:08] santosh-pingle commented on #1048
@Anshul-9923 thanks for showing interest, let me connect you with @jingtang10

[2022-02-04 09:10] santosh-pingle commented on #1115
@Manikant25 thanks for showing interest, let me connect you with @jingtang10

[2022-02-04 11:28] jingtang10 commented on #1112
Apparently the screen resolution for Nokia 4.2 is 720 x 1520 pixels (i wasn't able to figure out from the phone itself but google'd it)

[2022-02-04 11:51] PallaviGanorkar commented on #800
@jingtang10 @Tarun-Bhardwaj As discussed need to hold this issue for more requirement details.

[2022-02-04 11:57] santosh-pingle opened #1116 "DataCapture, add material time picker to the datacapture."
**Is your feature request related to a problem? Please describe.**

Current implementation of time picker in datacapture uses `TimePickerDialog` which is default widget and not material time picker.
To change style of the time picker as per figma guideline then it s required to add MaterialTimePicker to the datacapture.

Material time picker

<img width="435" alt="Screen Shot 2022-02-04 at 5 22 26

[2022-02-04 12:01] santosh-pingle commented on #1085
@shelaghm
To match this look and feel, it is required to add material time picker to the datacapture module. Created issue #1116

[2022-02-04 12:12] f-odhiambo commented on #800
HI @PallaviGanorkar , Are you going to be picking this issue ?

[2022-02-04 12:29] aurangzaibumer commented on #1001
do we need configuration on each form or it should be same for all forms in app (app level setting). Need suggestions
@jingtang10 @aditya-07

[2022-02-05 02:56] Anshul-9923 commented on #981
@davegwatson I would like to work on this issue. Can you please assign me this issue?

[2022-02-05 11:55] Anshul-9923 commented on #1012
@santosh-pingle I understood the issue. Can you please assign me this issue?

[2022-02-06 12:11] Harsh9149 commented on #782
@Tarun-Bhardwaj  @PallaviGanorkar are you working on this issue if not please assign it to me

[2022-02-06 14:05] jingtang10 opened #1120 "EncryptedDatabaseErrorTest Failing"
Tracking bug for the currently failing CI.

e.g.
https://github.com/google/android-fhir/runs/5077468637?check_suite_focus=true

[code]

We use emulator to run these test and in the past we ran into issues when there's a new emulator release: https://github.com/ReactiveCircus/android-emulator-runner/issues/160

[2022-02-06 14:05] jingtang10 commented on #1120
cc: @epicadk @stevenckngaa @aditya-07

[2022-02-07 09:02] Tarun-Bhardwaj commented on #1072
@santosh-pingle , PR for this issue is merged but the issue is still open. Can we close this?

[2022-02-07 11:34] jingtang10 commented on #1120
https://github.com/google/android-fhir/runs/5077468637?check_suite_focus=true

[2022-02-07 11:44] jingtang10 commented on #1120
Interestingly, when I ran these tests locally on Nokia 4.2 (directly in android studio, or using ./gradlew connectedCheck), I can get some test failures (not exactly the same as the CI failures):

[getOrCreatePassphrase_otherAliasExists_shouldReplaceKey](https://github.com/google/android-fhir/blob/c06c2a3c29fedd25865e63d310ffaf88befebd62/engine/src/androidTest/java/com/google/android/fhir/db/impl/

[2022-02-07 13:34] anita-vadverao opened #1121 "For searching patient in demo, it is taking 4-5 seconds"
**Describe the bug**
For searching patient in demo, it is taking 4-5 seconds

**Component**
demo app

**Precondition**
demo is configured with Happi server
Data used : "synthea_sample_data_fhir_r4_sep2019"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'FHIR Engine' app
2. Click on '+' and add patient
3. On Registered patient list, search for patient added in step 2
4. Observe behavio

[2022-02-07 13:39] aditya-07 commented on #1091
@f-odhiambo P2P sync shouldn't be driven by current Sync module (i.e `Synchronizer` & internally `FhirEngine.syncUpload / FhirEngine.syncDownload`) since it is designed to be talking to a server.
Instead, a separate P2P sync module on the sender app should just ask the FhirEngine to give it  a list of LocalChanges (_we will have to design a new api for this_) and Sync it to the receiver app. The r

[2022-02-07 13:47] anita-vadverao opened #1122 "If device is not connected to internet and launch app first time, it gives "Sync:Unknow state" error instead of internet connection error"
**Describe the bug**
If device is not connected to internet and launch app first time, it gives "Sync:Unknow state" error instead of internet connection error

**Component**
Demo app

**Precondition**
demo is configured with Happi server
Data used : "synthea_sample_data_fhir_r4_sep2019"
device is not connected to internet

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'demo app'
2. Ke

[2022-02-07 14:16] anita-vadverao opened #1123 "On manual sync, It shows "Sync failed at .." and doesn't sync patient data"
**Describe the bug**
On manual sync, It shows "Sync failed at .." and doesn't sync patient data

**Component**
Demo app

**Precondition**
Add patient on device 1

**To Reproduce**
Steps to reproduce the behavior:
1.On device 2,  Go to 'demo' app
2. Click on left menu
3.click on "Sync" button
4. observe behavior

**Expected behavior**
It shows "Sync: failed at .." and doesn't sync patient data

**S

[2022-02-07 14:22] anita-vadverao opened #1124 "While adding patient, on keyboard when click on next button, keyboard gets closed instead of next text-box"
**Describe the bug**
While adding patient, on keyboard when click on next button, keyboard gets closed instead of next text-box

**Component**
Demo app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Demo' app
2. Click on '+'
3. Add first name and click on next button from keyboard
4. Observe behavior

**Expected behavior**
keyboard should not get closed, it should go to next text-box

[2022-02-07 14:22] f-odhiambo commented on #1091
This is noted @aditya-07, I will  schedule a check in call to further discuss this

[2022-02-07 14:24] f-odhiambo commented on #1096
Hi @aditya-07  This looks like a compliment/enhancement to #1091 . Correct ?

[2022-02-07 19:05] varunkuar8789 commented on #996
productivity with telecommuting tools

[2022-02-07 19:06] varunkuar8789 commented on #1006
Lebal

[2022-02-08 07:55] f-odhiambo commented on #1001
@jingtang10 Based  on your comment below, should we make the changes in this or a new ticket ?
`we should also create a library configuration that allows different types of validation. e.g. per-page, or validate on submission, or no validation at all.`

[2022-02-08 08:52] Harsh9149 commented on #942
@jingtang10 @Tarun-Bhardwaj  I would like to work on this issue. Please assign this issue to me.

[2022-02-08 08:53] santosh-pingle opened #1128 "Demo : sync operation fail with HTTP FAILED: java.net.ConnectException"
**Describe the bug**
A clear and concise description of what the bug is.

- docker container is running
- Open http://localhost:8080/ in the browser, it opens the web page
- Make demo app local changes
-  HapiFhirService :: `const val BASE_URL = "http://192.168.1.3/fhir/"`
-  res/xml/network_security_config.xml ::
- ``` <network-security-config>
    <domain-config cleartextTrafficPermitted="true">

[2022-02-08 08:53] Harsh9149 commented on #879
@aditya-07 @Tarun-Bhardwaj I would like to work on this issue. Please assign this issue to me.

[2022-02-08 09:15] jingtang10 commented on #1120
Not sure this was resolved given the latest failures here https://github.com/google/android-fhir/runs/5105727288?check_suite_focus=true

[2022-02-08 09:21] santosh-pingle commented on #1128
Followed steps as mentioned in the document `Running Android FHIR SDK demo app against a local HAPI server`.
Couple of things were missing :
1. port was not added in the base url in the steps.
2. testing demo app device and development machine (HAPI server machine ) should be on the same network.

[2022-02-08 09:39] jingtang10 opened #1129 "Database Encryption tests failing on Nokia 4.2"
Interestingly, when I ran these tests locally on Nokia 4.2 (directly in android studio, or using ./gradlew connectedCheck), I can get some test failures (not exactly the same as the CI failures).

There is one test failure from `DatabaseEncryptionKeyProviderTest`, and two from `EncryptedDatabaseErrorTest`.

[getOrCreatePassphrase_otherAliasExists_shouldReplaceKey](https://github.com/google/android

[2022-02-08 09:44] fredhersch commented on #253
@kunjan8794 Can you use this current issue to start sharing out the requirements that you are working on? Thanks

[2022-02-08 10:09] anita-vadverao opened #1131 "Creating patient without adding mandatory field city and country"
**Describe the bug**
Able to add patient without adding mandatory field city and country

**Component**
Demo App

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Demo App'
2. Click on '+'
3. Add all patient (mandatory fields) details except city and country and click on submit
4. Observe behavior

**Expected behavior**
Patient should not get created without adding city and country(mand

[2022-02-08 12:13] anita-vadverao opened #1133 "Added patient on device1, App kill required to updated patient list on device2"
**Describe the bug**
Added patient on device1, App kill required to updated patient list on device2

**Component**
demo app

**Precondition**
Patient added on device1

**To Reproduce**
Steps to reproduce the behavior:
1. On device2, Go to 'demo app'
2. Search for the patient added on device1
3.Observe behavior
4. Kill app and relaunch
5. Search for patient added on device1
6. Observe behavior

**E

[2022-02-08 14:07] PallaviGanorkar opened #1134 "Application's first launch, Downloading patient (resources) failing with SocketTimeoutException"
**Describe the bug**
Install and launch app for first time, downloading fails with SocketTimeoutException after around 12min

**Component**
Core library, reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Install Demo Application on Android phone
2. Launch App
3. Wait for automatically download patients(resources)
4. See behaviour : App does not show patient list
5. but on app rel

[2022-02-08 15:13] PallaviGanorkar opened #1135 "Sync time is not updating in hamburger menu after manual sync with server and toast message shows older time"
**Describe the bug**
There are 2 related issues after manual sync with server
1. Sync time is not updating in hamburger menu after manual sync with server.
2. Also the toast message is shows old last updated time

**Component**
reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Install Demo Application on Android phone
2. Launch App
3. wait for some time
4. open hamburger menu
5.

[2022-02-08 16:30] #1019 closed

[2022-02-08 18:04] jingtang10 opened #1137 "Use gradle build action v2"
this lgtm. Btw, it is probably worth keeping an eye on v2 of gradle build action.

https://github.com/gradle/gradle-build-action

We recently migrated AndroidX to that, it is still WIP though but handles some caching etc for you.

_Originally posted by @yigit in https://github.com/google/android-fhir/pull/1136#pullrequestreview-876415953_

[2022-02-08 18:15] jingtang10 commented on #1120
closing since CI passing now with the latest changes. but we should still look into test orchestration and improving CI in general.

[2022-02-08 18:16] jingtang10 opened #1138 "Add test orchestrator"
**Describe the Issue**
See #1125

**Would you like to work on the issue?**
@stevenckngaa

[2022-02-08 18:23] jingtang10 commented on #1103
Hi @prajapati-chirag, thanks for raising this issue.

The way FHIR engine allows for search to happen is via the search API. Please see this PR for some code example: #395.

In short you should be able to use our Kotlin API to search instead of using raw queries. The way you build up your request in the Kotlin API is the same as how you'd build up SQL queries. For another example, please see here

[2022-02-08 18:37] epicadk commented on #1135
related to #846 both issues can be handled in a single pr.

[2022-02-08 19:52] #766 closed

[2022-02-09 05:00] #1043 closed

[2022-02-09 05:46] Anshul-9923 commented on #1131
@anita-vadverao I would like to work on this issue. Can you please assign me this issue.

[2022-02-09 06:37] #1077 closed

[2022-02-09 09:27] vvikramraj opened #1139 "Age computed wrongly when date of birth is in future"
**Describe the bug**
Modify the date-of-birth of a patient to be in the future.
No matter how many years into the future, age shows up as -xx days old.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Launch demo app.
2. Choose a patient from the list.
3. Edit their birthdate so it is in the future(at least 1 year from now).
4. Navigate back to list.
5. See error

*

[2022-02-09 09:27] #929 closed

[2022-02-09 09:28] anita-vadverao opened #1140 "After device restart, On click "FHIR Engine Sample App", it gets crashed"
**Describe the bug**
After device restart, On click "FHIR Engine Sample App", it gets crashed

**Component**
Demo App

**To Reproduce**
Steps to reproduce the behavior:
1. Restart device
2. Device automatically connected to internet
3. Click on "FHIR Engine sample app"
4. Observe behavior

**Expected behavior**
App should not get crashed

**Logs**
[crash.txt](https://github.com/google/android-fhir

[2022-02-09 09:42] vvikramraj opened #1141 "Questionnaire values interleaved"
**Describe the bug**
When the survey is completed multiple times, the survey values are interleaved.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Launch demo app.
2. Choose a patient for whom a survey has not been completed.
3. Complete the survey with a set of values.
4. Complete the survey again with a different set of values.
5.  View patient.

**Expected beh

[2022-02-09 09:54] vvikramraj opened #1142 "Names with prefixes"
**Describe the bug**
Prefixes show up on some names

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Launch demo app.
2. Search for "Mr" or "Mrs".
3. Choose a patient from the list to edit.
4. Note that the prefix then disappears from the patient name.

**Expected behavior**
Maybe not include the prefix when constructing the name.

**Screenshots**
![BDN7EVAkyABucyx]

[2022-02-09 10:03] vvikramraj opened #1143 "Required field rule not being enforced consistently"
**Describe the bug**
Required field rule in the questionnaire is not enforced consistently.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Launch demo app.
2. Create a patient using the +, or edit a patient.
3. Notice that first name, last name, DOB, mobile phone number, city and country are marked as required fields.
4. You can create/edit a patient without city

[2022-02-09 10:09] vvikramraj opened #1144 ""Last Contacted" Date is not being localized."
**Describe the bug**
"Last Contacted" Date is not being localized.

**Component**
SDC library

**Screenshots**
![KZsfMDYoNTCkRds](https://user-images.githubusercontent.com/95918405/153176576-d9b6b71f-a81e-4fb5-a79a-868ab8051842.png)

**Smartphone (please complete the following information):**
 - Device: Pixel3 emulator
 - Version 28

**Additional context**
Add any other context about the problem h

[2022-02-09 10:16] vvikramraj opened #1145 "Changes to patient details not propagated to list view immediately"
**Describe the bug**
A clear and concise description of what the bug is.

**Component**
reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Launch demo app
2. Choose a patient from the list (observe name and age)
2. Edit name/age/both of patient. Hit SUBMIT.
3. Observe that the changes reflect on the patient detail fragment.
4. Navigate to the patient list page.
5. Changes are not

[2022-02-09 10:22] vvikramraj opened #1146 "Duplicate patients"
**Describe the bug**
I can create two patients with identical information.

**Component**
Core library

**To Reproduce**
Steps to reproduce the behavior:
1. Launch demo app.
2. Create patient1 with some information.
3. Create patient2 with identical information.

**Expected behavior**
Step 3 should not be allowed.

**Screenshots**
![9aLuXCD2845oQmZ](https://user-images.githubusercontent.com/959184

[2022-02-09 10:31] PallaviGanorkar opened #1147 "There is no validation added for Phone number while creating/updating patient details"
**Describe the bug**
There is no validation( like length, format, special char, text) added for Phone number while creating/updating patient details

**Component**
reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Install and launch the Demo App
2. Click on floating button to add new patient/ edit existing patient details
3. enter phone number
4. See error :  Phone number field a

[2022-02-09 10:37] vvikramraj opened #1148 "Syncing across devices does not fetch expected resources."
**Describe the bug**
Syncing across devices does not fetch expected resources.

**Component**
Core library

**To Reproduce**
Steps to reproduce the behavior:
1.On device 1(Pixel 2), I created a patient and sync-ed with the server.
2. On device 2(Pixel 3), I launched the app, and sync-ed patients. The patient created on device 1 did not get downloaded on device 2.

Upon inspection, I noticed that t

[2022-02-09 10:43] vvikramraj opened #1149 "Deleted patients are not removed from client as part of syncing"
**Describe the bug**
Deleted patients are not removed from client as part of syncing

**Component**
Core library

**To Reproduce**
Steps to reproduce the behavior:
1. Upload patients to FHIR server.
2. Sync patients to device.
3. Remove patients from FHIR server/restart instance with a different patient set.
4. Syncing patients to device does not remove the deleted patients.

Syncing changes to a

[2022-02-09 10:48] PallaviGanorkar opened #1150 "Adding the option to have the 'Submit' button in the questionnaire instead of outside the questionnaire"
**Describe the bug**
In Complete Survey flow, every form has submit button enabled as app is not allowing user to submit input with error message 'inputs are missing' though the data is field on present screen which is quit confusing for user. This behavior is observed till last form. So, submit button is expected to be disabled or submit button should not be there in UI for previous forms, it sho

[2022-02-09 10:49] Anshul-9923 commented on #1147
@PallaviGanorkar I would like to work on this issue. Can you please assign me this issue?

[2022-02-09 10:50] #1045 closed

[2022-02-09 11:03] PallaviGanorkar opened #1151 "In Complete Survey flow, Risk Factor screen mandatory fields are allowed to submit without inputs"
**Describe the bug**
In Complete Survey, on FlowRisk Factor Screen all fields are mandatory but even inputs are not provided, user is allowed to move on next screen and also allowed to submit survey details

**Component**
SDC library, reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Install and launch the Demo App
2. Select one patient from list where the survey is not yet compl

[2022-02-09 11:19] Anshul-9923 commented on #1048
@santosh-pingle Can I start working on the issue?

[2022-02-09 11:21] PallaviGanorkar opened #1152 "In Complete Survey flow, on Temperature Screen 'Unit' field is mandatory still user is allowed to move on next screen and also submit survey without temperature Unit"
**Describe the bug**
In Complete Survey, on Temperature Screen 'Unit' field is mandatory but even inputs are not provided, user is allowed to move on next screen and also allowed to submit survey

**Component**
 SDC library, reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Install and launch the Demo App
2. Select one patient from list where the survey is not yet completed
3. Cl

[2022-02-09 11:49] vvikramraj opened #1154 "Search brings up patients that do not match the query"
**Describe the bug**
Under some circumstances, searching by name brings up patients that do not match the query.

**Component**
Core library

**To Reproduce**
Steps to reproduce the behavior:
1. Upload patients to FHIR server.
2. Sync patients to device.
3. Remove patients from FHIR server/restart instance with a different patient set.
4. Search for patient by name on device.
5. Edit patient name

[2022-02-09 11:59] shoaibmushtaq25 commented on #1051
Hi @Tarun-Bhardwaj , As discussed with @f-odhiambo , I will pick this issue after my on-going task on ona/fhircore.

[2022-02-09 12:03] PallaviGanorkar opened #1155 "In Complete Survey flow, on Temperature Screen ' 97/98 F values not allowed to enter"
**Describe the bug**
In Complete Survey, on Temperature Screen , select Unit as 'F' and enter Record Temperature as any normal value i. e 97 ,98, its not allowed
**Component**
 SDC library, reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Install and launch the Demo App
2. Select one patient from list where the survey is not yet completed
3. Click on 'Complete Survey' button
4.

[2022-02-09 12:19] PallaviGanorkar opened #1156 "Patients/Resources are not downloaded after internet it connected"
**Describe the bug**
launch the app first time when internet is not connected, data sync with server fails , now turn on the internet and get app in foreground. App shows empty patient list  and also does not perform sync with server though there is no data in database
**Component**
Core library, reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Turn of the device internet
1. Ins

[2022-02-09 12:33] prajapati-chirag commented on #1103
Hi @jingtang10, Thanks for your feedback.

Multiple criteria of search filters in android need to be implemented dynamically from a Web UI using a portal. Presently to provide it dynamically using search API would result in a complex search API code. Additionally, modifier ENUMs (StringFilterModifier.CONTAINS, StringFilterModifier.MATCHES_EXACTLY) are dependent on the search field, but the search

[2022-02-10 08:12] vvikramraj commented on #1148
Upon investigation, I discovered that this might have to do with [City/Country not being enforced](https://github.com/google/android-fhir/issues/1143). After I dropped the `address-city` query param, I am able to fetch the patient records that had been created on the first device - all the records created did not have City/Country populated.
![8NyY282rdnYg5fz](https://user-images.githubusercontent

[2022-02-10 08:39] vvikramraj commented on #1148
The documentation has been updated to drop `address-city` from the initial-URL as opposed to setting the value to an empty string. Applying that resolved the problem.

[2022-02-10 08:39] #1148 closed

[2022-02-10 09:14] #650 closed

[2022-02-10 10:38] santosh-pingle commented on #1140
@anita-vadverao
Is this issue consistent on Samsung M01, is it crashed all time?
do you see same crash on other device as well?

[2022-02-10 10:53] santosh-pingle commented on #1128
I see `Running Android FHIR SDK demo app against a local HAPI server' document is updated for missing instructions.

[2022-02-10 10:53] #1128 closed

[2022-02-10 11:12] jingtang10 commented on #1148
thanks for filing and investigating this anyway - good to have the flow tested.

[2022-02-10 11:23] #1085 closed

[2022-02-10 11:57] vvikramraj commented on #1142
This is happening because we are using `nameAsSingleString` in [PatientListViewModel](https://github.com/google/android-fhir/blob/master/demo/src/main/java/com/google/android/fhir/demo/PatientListViewModel.kt#L194). In this case, if the current behavior is considered a bug, we could use `getGiven` and `getFamily` and join them with a space.

[2022-02-10 14:18] omarismail94 opened #1163 "Using Android FHIR SDK with GCP"
**Is your feature request related to a problem? Please describe.**

Figure out a way to link SDK to GCP FHIR Store, and populate findings on [this](https://github.com/google/android-fhir/wiki/Using-FHIR-Engine-with-Google-Cloud-Healthcare-API) page

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Can authenticate and talk to GCP FHIR Store. Upload

[2022-02-11 08:23] aditya-07 commented on #1154
@vvikramraj Can you please share a link to the data that you are using?

[2022-02-11 09:06] aditya-07 opened #1164 "Sync.poll doesn't retry if the request fails for some reason."
**Describe the bug**
In the Demo Application, if user presses `Sync` from the Slider Navigation and the request fails for some reason (internet not there or connection failed), engine doesn't retry syncing again until the next periodic sync happens.

**Component**
Demo App

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**

[2022-02-11 10:17] #1144 closed

[2022-02-11 15:39] PallaviGanorkar opened #1167 "App must show progress bar to the user when sync with server is in progress in background instead of ideal blank screen"
**Describe the bug**
Launch app, now see blank screen is there for some time when sync with sever is in progress in background. which can confuse the user as screen is blank

**Component**
reference app

**To Reproduce**
Steps to reproduce the behavior:
1.Install and launch the Demo App
2. Automatic sync with server is in progress in background
3. now see app behavior - screen is black till the sy

[2022-02-11 15:41] PallaviGanorkar commented on #1156
Issue is fix under PR https://github.com/google/android-fhir/pull/1166

[2022-02-13 05:48] epicadk opened #1168 "Implement FhirEngineDal"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

 Currently the methods of the FhirEngineDal are not implemented

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Implement the methods

**Describe alternatives you've considered**
A clear a

[2022-02-13 06:51] epicadk commented on #1168
Will work on this after it is approved by the code owners

[2022-02-14 12:54] jingtang10 commented on #1163
@fredhersch fyi

[2022-02-14 17:13] Harsh9149 commented on #942
@jingtang10 @Tarun-Bhardwaj its been 6 days and I have not get any reply from your side. Please assign it to me. I already started working on this issue.

[2022-02-15 05:45] santosh-pingle opened #1170 "Catalog, error states workflow."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

1. Design questionnaire json for error states.
2. Launch error state questionnaire screen on click of error states component on landing page.
3. Navigate back to landing page when click on back key on error state screen.

**Describe the so

[2022-02-15 06:05] santosh-pingle commented on #1007
earlier :
<img width="435" alt="Screen Shot 2022-02-15 at 11 33 02 AM" src="https://user-images.githubusercontent.com/86107848/154002103-598f654c-64cc-4eba-8404-934183558740.png">

after fix
<img width="435" alt="Screen Shot 2022-02-15 at 11 24 57 AM" src="https://user-images.githubusercontent.com/86107848/154001170-c8d380c4-fea3-461d-862e-1d123f728e83.png">

[2022-02-15 11:58] santosh-pingle commented on #1170
<img width="433" alt="Screen Shot 2022-02-15 at 5 26 11 PM" src="https://user-images.githubusercontent.com/86107848/154057838-63b9ac2a-770b-4034-8b72-0c0cf3927a55.png">

[2022-02-15 11:59] santosh-pingle commented on #1170
@shelaghm

[2022-02-15 13:13] jingtang10 opened #1172 "Stop using OnConflictStrategy.REPLACE in the database"
I would actually recommend we go with a local UUID instead as the key (can even ignore resource type). We can have a server id in addition to that  to be used for server communications. FYI room 2.4 adds out of the box support for UUID (and saves it as a byte array). And for conflcits, we can simply ignore, it is super super unlikely to happen :)

Also, keep in mind, sqlite ID (which i assume it r

[2022-02-15 13:30] maimoonak opened #1173 "FhirPathEngine should use existing ValidationSupport instead of init again"
**Describe the Issue**

The line where we are [generating FhirPathEngine ](https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/mapping/ResourceMapper.kt#L76) creates a new instance of DefaultProfileValidationSupport which occupies more than 17MB. If this is init into app anywhere again it keep multiplying and causes a performance lag. Th

[2022-02-15 14:50] ekigamba commented on #1091
I've tried going through the docs and issue I think patch is still superior in our case since we only edit the changed properties and not the whole resource. I might need some more understanding in case this is not correct. However, I gathered the following:

1. We need to tie the patches to the resource version that was modified on the client so that this can be pushed to the server
2. The server

[2022-02-15 15:35] MnCSSJ4x commented on #800
Hello I am new to contribution and would like to contribute to this issue if no one is on it.

[2022-02-15 17:06] Anshul-9923 commented on #1048
@epicadk Can you please assign me this issue?

[2022-02-16 06:46] PallaviGanorkar commented on #1140
Not able to reproduce this crash Nokia 3.4 also

[2022-02-16 08:55] #832 closed

[2022-02-16 12:56] jingtang10 commented on #608
cc: @davegwatson

@vvikramraj might have some bandwidth to take this on.

[2022-02-16 13:11] jingtang10 commented on #1027
@juanchazo fyi

[2022-02-17 08:16] joiskash commented on #765
This is fixed, sorry for the delay. Closing.

[2022-02-17 08:37] joiskash commented on #765
Will fix it this week by 24th Feb

[2022-02-17 09:13] KhumboLihonga opened #1176 "Data Capture - soft keyboard should start with an upper case character for 'string' widgets"
**Is your feature request related to a problem? Please describe.**
When I'm filling out a string field in a questionnaire, since the soft keyboard is set to lower case characters by default, I always have to change the keyboard to use uppercase letters first before I start typing. For instance, when I'm filling out the first name, I would like the first letter to be uppercase and then the rest of

[2022-02-17 09:27] #1096 closed

[2022-02-17 09:56] jingtang10 commented on #765
thanks @joiskash

[2022-02-17 12:21] ekigamba opened #1178 "Query deleted resources for p2p sync"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
There are several proposed solutions:
1. Default to soft-deletes and have an API for hard deletes
2. Never purge data unless the database is deleted
3. Keep a separate table for tracking deleted resourc

[2022-02-17 12:42] ekigamba commented on #1178
4. Local changes API
- The table will become too big if the device never syncs to the serer
- The delete local change will be deleted if the device syncs to the server and cannot be shared back to the other devices

### Based on the discussion
- Have a quick call in the next week
- List out all the use-cases so that we can come with a robust solution
- Update notes and p2p-based solutions in this

[2022-02-17 12:47] ekigamba commented on #1091
### Notes from the discussion on 12/02/2022

How to solve applying/syncing outdated-patches?

- This needs time to be clearly thought-out. These become merge-conflicts. We can possibly have the users provide guidance on how to merge the patches and alternatively provide an automated way to handle this

[2022-02-17 12:58] jingtang10 commented on #973
ah sorry! @PallaviGanorkar

in this case just change the question type in the json file from text to date locally: https://github.com/google/android-fhir/blob/fa51f691cf4c3fecf86f8b7250386112a8e34cc9/catalog/src/main/assets/patient-registration-paginated.json#L30

[2022-02-17 13:00] jingtang10 commented on #973
also related to #1089 - i wonder if it will fix this.

[2022-02-17 13:09] PallaviGanorkar commented on #1156
Tracked in #1164

[2022-02-17 19:19] f-odhiambo commented on #800
Hi @MnCSSJ4x,Thanks for this ,  how can we connect to have a brief on this issue, can we ?
CC @FikriMilano

[2022-02-17 23:01] wantingzhang77 opened #1179 "Forward compileSdk and targetSdk from 30 to 31 for room 2.4 support"
**Describe the Issue**
We want to update to room 2.4 for UUID support. However our current compile Sdk and target Sdk, 30 does not compile with room 2.4.
So the compile sdk and target sdk will need to be updated to 31 to support room 2.4.

**Would you like to work on the issue?**

[2022-02-17 23:11] #98 closed

[2022-02-18 01:30] shelaghm commented on #1170
Thanks @santosh-pingle , looking at this I realize that the error message line for multiple/single choice actually is displayed above the item since there's usually multiple radio buttons/checkboxes in a list. I made some changes to the design to make this more clear. I also added a new error state for invalid date format (do we have this functionality?) to demonstrate how it will look in a comple

[2022-02-18 07:29] santosh-pingle commented on #973
@PallaviGanorkar
Hide the bottom navigation view as well to get the Previous and Next buttons at the bottom to navigate forth and back if you want to use old sdc reference app to reproduce this issue.
`activity_main.xml`
[code]

https://user-images.githubusercontent.com/86107848/154636838-01a5c4e0-45b0-4b32-83f9-4f6a612417e9.mov

Or catalog app can also be used to reproduce this issue
layout -> pa

[2022-02-18 07:42] santosh-pingle commented on #1170
looking into it!

[2022-02-18 12:12] santosh-pingle commented on #1170
<img width="415" alt="Screen Shot 2022-02-18 at 5 35 47 PM" src="https://user-images.githubusercontent.com/86107848/154680730-9ffb70f0-559e-48d9-9ae2-d163c62257cd.png">

[2022-02-18 12:12] f-odhiambo commented on #800
I copied and obscured your email . Thanks

[2022-02-18 14:06] FikriMilano commented on #800
@f-odhiambo what is 'Location Details' stands for? is it the Location widget? or it's simply a container from a 'group' type Questionnaire Item?
[code]

[2022-02-18 15:00] KhumboLihonga opened #1181 "Data Capture - soft keyboard of widget type 'decimal' does not have a decimal point"
**Describe the bug**
In a questionnaire, when a field set to type 'decimal' receives focus, the soft keyboard appears but it has not decimal point to select from.

**Component**
SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Create a questionnaire with a field with the type set to 'decimal'
2. Open the questionnaire in the app
3. Set focus on the field
4. The numeric soft ke

[2022-02-18 15:06] jingtang10 commented on #1112
any update @santosh-pingle ? thanks

[2022-02-19 14:04] #1176 closed

[2022-02-21 03:36] epicadk commented on #914
@f-odhiambo room 2.4.0 solves this issue according the the release notes. See 2.4.0-alpha03 https://developer.android.com/jetpack/androidx/releases/room#version_240_2

[2022-02-21 07:37] santosh-pingle commented on #1112
Will start looking into it.

[2022-02-21 08:09] FikriMilano commented on #800
@f-odhiambo does that mean, there will be 2 location widgets to populate the Latitude and Longitude? (2.1 and 2.2)

[2022-02-21 10:35] arinmodi commented on #1181
i want to work on this, can please assign me ?

[2022-02-21 11:59] f-odhiambo commented on #800
Not really the widget should allow you to invoke the get coordinated from the phone GPS and then use the results to populate the Latitude and Longitude for the specific location

[2022-02-21 12:08] #542 closed

[2022-02-21 12:17] f-odhiambo commented on #800
So the response will be something like this (0.0236, 37.9062) and then will need to split this comma separated value into Lat, Long  as
[code]

[2022-02-21 12:21] FikriMilano commented on #800
Some useful reference:
https://github.com/google/android-fhir/blob/master/datacapture/src/main/java/com/google/android/fhir/datacapture/QuestionnaireItemAdapter.kt

https://github.com/google/android-fhir/blob/master/catalog/src/main/java/com/google/android/fhir/catalog/CustomQuestionnaireFragment.kt

https://github.com/opensrp/fhircore/blob/main/android/engine/src/main/java/org/smartregister/fhirc

[2022-02-21 15:15] f-odhiambo commented on #1100
Yup

[2022-02-21 15:15] f-odhiambo commented on #1099
Yup

[2022-02-22 07:56] KhumboLihonga opened #1187 "Data Capture - add functionality to skip pages entirely in a paginated questionnaire"
**Is your feature request related to a problem? Please describe.**
When using a paginated questionnaire, there are times where no fields on a certain page need to be filled in. For example, if on page 1, a user specifies that a patient has no guardian, then the user doesn't have to fill in the guardian details on page 2. As a result, the user just has to press next to move on to page 3.

**Describ

[2022-02-22 08:03] delcroip commented on #971
Hello,
as discuss in the dev call, i'd like to say that this feature is a must have for the EmCare project because the business wants to have calculation result display on the questionnaire

[2022-02-22 08:05] delcroip commented on #819
Hello,
as discuss in the dev call, i'd like to say that this feature is a must have for the EmCare project because the business skip logic cannot rely on "enableWhen" because it allows only OR or AND not a mix of OR and AND unlike the "enableWhenExpression" that is much more flexible

[2022-02-22 11:12] jingtang10 commented on #1179
@santosh-pingle this is also needed for material 3.

[2022-02-22 12:23] f-odhiambo commented on #1071
Tested this and works well with the current PR #1091. Open issue on testing https://github.com/google/android-fhir/issues/1107

[2022-02-22 12:23] #1071 closed

[2022-02-22 15:16] ktarasenko opened #1188 "Make the code non-type dependent"
Remove the `when` statement for loading patient, observation, etc

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

**Wou

[2022-02-22 15:18] ktarasenko opened #1189 "[Workflow] Improve the loading of the libraries interface"
**Is your feature request related to a problem? Please describe.**
Libraries  are too big to be in the db, how should they be provided to the workflow lib if not from the engine - the API at the moment is not thought-through.
Update the design doc with the results.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've cons

[2022-02-22 15:19] ktarasenko opened #1190 "Investigate performance issues"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-22 15:20] ktarasenko opened #1191 "Tighten up the API signature (explicit types instead of Strings)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-22 15:20] ktarasenko opened #1192 "Improve the test cases"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-22 15:21] ktarasenko opened #1193 "Test OOM in evaluateMeasure tests"
**Describe the bug**
A clear and concise description of what the bug is.

**Component**
Core library, SDC library, reference app, or SDC gallery app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scree

[2022-02-22 16:36] fredhersch commented on #971
Thanks @delcroip

@kunjan8794 Is this something that the Argusoft team could potentially work on?

cc: @jingtang10

[2022-02-22 16:37] fredhersch commented on #819
Thanks @delcroip

@kunjan8794 Is this something that the Argusoft team could potentially work on?

cc: @jingtang10

[2022-02-23 06:47] santosh-pingle commented on #1088
- Show Submit questionnaire button at the end of the page when form scrolls reach the bottom end.
approach : Add the button with constraint layout constraint at the bottom of parent. Initially it will be gone/invisible.
There is no specific scrolling event which tells that scroll reach at the end.
Either you have to use OnScrollListener of recyclerview and check last item is visible or not to show

[2022-02-23 06:58] santosh-pingle commented on #1088
- Pagination Layout, show submit button on last page where Next button is shown originally.
 Approach :
If layout is pagination layout then clear default layout submit button constraints, and add constraint so that it will be shown at the place of Next button, once there is no next state/page then make it Submit questionnaire button visible and next button gone/invisible, and vice versa.

[2022-02-23 07:12] f-odhiambo commented on #1091
I think we can do the implementation for the desired P2P sync support on SDK via issue https://github.com/google/android-fhir/issues/1178.  I think we can close this and reopen later if needed

CC @Tarun-Bhardwaj @jingtang10 @aditya-07

[2022-02-23 08:31] #1075 closed

[2022-02-23 10:29] PallaviGanorkar opened #1194 "Catalog application crashes when time is set using time picker widget"
**Describe the bug**
Catalog app is crashes when time is selected using time picker dialog

**Component**
 SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Install and launch Catalog app
2. Click on 'Layouts' option from bottom navigation bar
2. Click on 'Default' layout
3. Scroll down to 'last i.e. 10th question'
4. See here date and time input widget
5. click on 'Clock' icon to

[2022-02-23 13:40] KhumboLihonga opened #1196 "Core library - QuestionnaireResponse generated from Questionnaire using definition based extraction fails to sync"
**Describe the bug**
When submitting a questionnaire to create a new patient using definition based extraction, the resulting QuestionnaireResponse is created without a patient id reference. As a result, on syncing, the QuestionnaireReponse fails to sync as the server response with an error 400 i.e. bad request.

**Component**
Core library

**To Reproduce**
Steps to reproduce the behavior:
1. Crea

[2022-02-23 13:51] jingtang10 commented on #521
this is done

[2022-02-23 13:51] #521 closed

[2022-02-23 14:28] KhumboLihonga opened #1197 "Data capture - add support for the 'text' field type to render multiline text input"
**Is your feature request related to a problem? Please describe.**
It's always frustrating when I need to verify a long line of text that has been written such as an address, in a single line text entry field. It means I have to scroll horizontally to verify that what I entered is correct.

**Describe the solution you'd like**
I would prefer if there was a multi line text entry field so I can veri

[2022-02-23 14:56] jingtang10 opened #1198 "Support entry format in the SDC widgets"
**Is your feature request related to a problem? Please describe.**

See the definition of the extension here: https://build.fhir.org/extension-entryformat.html
and the use in SDC here: http://hl7.org/fhir/uv/sdc/2019May/rendering.html#additional-display-content

We should support this extension and display the string whenever available. In the case of this being absent - we might want to also disp

[2022-02-23 19:14] jingtang10 opened #1199 "Reorgnize the data source interface"
**Is your feature request related to a problem? Please describe.**
The `DataSource` interface https://github.com/google/android-fhir/blob/master/engine/src/main/java/com/google/android/fhir/sync/DataSource.kt is not something that should be reimplemented by developers integrating with the SDK. For 2 reasons:
1. Developers should not need to reimplement what is essentially an HTTP client
2. Some of

[2022-02-24 02:11] #1081 closed

[2022-02-24 05:40] #1072 closed

[2022-02-24 05:46] santosh-pingle commented on #1088
By default submit questionnaire button will be visible in both default and paginated layout.

[2022-02-24 09:18] shoaibmushtaq25 commented on #1051
@jingtang10 @ekigamba
We have a hidden item in the above questionnaire which enables based on the enableWhen condition. So when we try to validate the questionnaireResponse with the above questionnaire having the hidden item, it throws the exception `java.lang.IllegalArgumentException: Cannot compare different data types: Attachment and decimal` probably due to a mismatch between indexes/order of

[2022-02-24 12:17] ekigamba commented on #1178
### Feb 24, 2022

We have two options for p2p currently:
1. Mark resources as soft-deleted and provide a flag in the Search API that provides either soft-deleted records
2. Provide an API that returns a list of Resource IDs for deleted resources filtered by date

Generally, we agreed that:
- that we need a purge API
- Solution #3 would need each implementer to separately develop this

## Other not

[2022-02-24 12:30] #765 closed

[2022-02-24 23:50] omarismail94 opened #1205 "FhirEngine Sync Download API Re-design"
**Is your feature request related to a problem? Please describe.**
Modify the Android FhirEngine Download APIs to give developers more control over which[ FHIR resources](https://www.hl7.org/fhir/resourcelist.html) to sync, and how to store these resources on the phone

**Describe the solution you'd like**
An implementation that gives developers control on exactly which FHIR resources can be synce

[2022-02-25 12:18] #1021 closed

[2022-02-25 13:00] santosh-pingle commented on #1088
- when Submit questionnaire button visibility declared as gone in custom style in catalog app

https://user-images.githubusercontent.com/86107848/155719129-dc376bbf-f201-4c08-8dd8-19da0360ef7e.mov

-  by default submit questionnaire button visibility is visible and only visible when scroll reach at the bottom of the page in default layout and  on last page when layout is paginated.

https://user-i

[2022-02-25 13:00] santosh-pingle commented on #1088
@jingtang10 @shelaghm

[2022-02-25 14:11] KhumboLihonga opened #1208 "Data Capture - date picker immediately pops up when navigating in a paginated questionnaire"
**Describe the bug**
When filling in fields in a paginated questionnaire, if you press next when the next page has a date field focused, the date picker immediately pops up before the user even has a chance to see what the field is asking for.

**Component**
SDC library

**To Reproduce**
Steps to reproduce the behavior:
1. Open the first page of a paginated questionnaire
2. Fill in details
3. Pres

[2022-02-25 14:38] f-odhiambo commented on #1100
Tentatively assigned you @shoaibmushtaq25 , TBD

[2022-02-25 17:49] epicadk opened #1210 "analyze the uploaded artifacts and remove unwanted files"
**Describe the Issue**

The upload task on has been failing quite often recently. We could reduce the size of the uploaded build directory by just including the files that are relevant.

**Would you like to work on the issue?**
Sure

[2022-02-28 05:54] santosh-pingle opened #1211 "Catalog, Use Submit questionnaire button from datacapture module to submit the questionnaire."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

- Remove `Submit questionnaire` menu from catalog app, and related files and resources.
- Use datacapture ` Submit questionnaire ` button.  #1201

**Describe alternatives you've considered**
A clear an

[2022-02-28 14:04] aditya-07 opened #1212 "Clean up the function List<NestedSearch>.nestedQuery() to not mutate any function args."
optional:

i'm slightly unhappy with this function. the function is returning the new query statement while mutating the list of arguments... is there a way to make it cleaner?

this is optional and can be done (or not done) in a follow-up.

_Originally posted by @jingtang10 in https://github.com/google/android-fhir/pull/920#discussion_r780237267_

[2022-03-01 17:14] #1212 closed

[2022-03-02 07:34] f-odhiambo commented on #800
@MnCSSJ4x Whats the progress on this ?

[2022-03-02 10:50] FikriMilano commented on #800
@MnCSSJ4x could you send the Questionnaire and QuestionnaireResponse that you expect to look like?
Just to make sure we have the same idea on this,

[2022-03-02 11:27] MnCSSJ4x commented on #800
@FikriMilano I was planning to follow the sample format mentioned until and unless there is some limitation

[2022-03-02 13:16] jingtang10 commented on #1113
related discussion: https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/Hints.20for.20questions

[2022-03-02 23:40] wantingzhang77 opened #1218 "Use Room 2.4 to support UUID type for resourceUuid filed in ResourceEntity and index tables."
**Describe the Issue**
Currently the `resourceUuid` type is `String`. But Room 2.4 and higher support `UUID` out of box.
We plan to change the `String` type to `UUID` type.

**Would you like to work on the issue?**
Yes

[2022-03-03 07:27] PallaviGanorkar commented on #973
Based on the comments in PR https://github.com/google/android-fhir/pull/1089 and as discussed with @jingtang10   , If date entry format received from questionnaire JSON, then date input widget must show it as helper text otherwise date entry format must be read from device base on locale and show as helper text.

[2022-03-03 08:04] #1179 closed

[2022-03-03 15:34] shoaibmushtaq25 commented on #1100
@f-odhiambo @jingtang10
Do we have any stats available for time delay taken to extract resources before saving the resources into the database?
How much time it takes right now and whats the targeted time we wanna achieve after the performance improvements?
Also, I would appreciate if someone guide me what exactly is the tool that I can use to record/observe the time?

[2022-03-07 10:36] santosh-pingle commented on #1113
@jingtang10
If nested display item is used to show subtitle along with question text, then it also creates separate questionItemViewItem to display another question item, and its conflict.
e.g
[code]

It creates 2 questionItemViewItems, where 2nd questionItemView item is not required in this case.

[2022-03-07 10:51] santosh-pingle commented on #1113
It is possible to hide/disable nested display questionnaire item.
But then developer has to explicitly add hidden extension or make it disable.

[2022-03-07 17:48] jmamta opened #1219 "Accept integer data types in FHIR questionnaire"
**Is your feature request related to a problem? Please describe.**
When I changed the data type of the field (such as pulse oximeter) from decimal to integer in the json file(modified the screener JSON provided) , after running it I faced the below error on response submission.

<img width="1745" alt="Screen Shot 2022-03-03 at 11 20 10 PM" src="https://user-images.githubusercontent.com/34852761/15

[2022-03-08 07:45] f-odhiambo commented on #800
Hi @MnCSSJ4x , how is the progress here ?
CC @FikriMilano

[2022-03-08 07:47] MnCSSJ4x commented on #800
@f-odhiambo
I am having my semester exams this week. Will definitely address the coding part of the solution next week
@FikriMilano can you provide me how you set up the environment locally to test ?

[2022-03-08 08:03] FikriMilano commented on #800
@MnCSSJ4x you can just simply fork the repo, build the project then try to run the demo apps

[2022-03-08 11:17] Tarun-Bhardwaj commented on #819
@prajapati-chirag , is there any progress that you have made on this?
CC: @kunjan8794

[2022-03-08 11:17] Tarun-Bhardwaj commented on #971
@kunjan8794 , did you get a chance to work on this?

[2022-03-08 11:51] #1051 closed

[2022-03-08 14:25] Tarun-Bhardwaj commented on #1149
@vvikramraj , could you please confirm if this issue still exists or if this can be closed?

[2022-03-08 14:29] jingtang10 commented on #1147
What kind of validation do we need here? @fredhersch

@joiskash has written a phone number widget which may be useful here.

[2022-03-08 14:32] #1146 closed

[2022-03-08 14:39] fredhersch commented on #1147
It depends on the implementation context. It could either be a combination of integers only and maxLength or it could use a regex pattern for validation.

For the purposes of the demo, we could just say it should be all numbers with minLength/maxLength of 8 digits?

We can use the phone number widget too. What validation is that using?

[2022-03-09 04:39] vvikramraj commented on #1149
@Tarun-Bhardwaj , this issue does exist.

[2022-03-09 08:20] santosh-pingle commented on #1113
<img width="435" alt="Screen Shot 2022-03-09 at 1 28 07 PM" src="https://user-images.githubusercontent.com/86107848/157400980-b51dfac9-6a61-43e3-9001-8973d953e5a2.png">

[2022-03-09 09:19] Tarun-Bhardwaj commented on #971
@f-odhiambo , can someone from your team pick this up as part of Sprint 2?
CC: @fredhersch

[2022-03-09 09:19] Tarun-Bhardwaj commented on #819
@f-odhiambo , can someone from your team pick this up as part of Sprint 2?
CC: @fredhersch

[2022-03-09 11:10] santosh-pingle commented on #1113
Approach 2 :
Do not include nested display item to QuestionnaireItemViewItemList at the time of questionnaire state creation.

[2022-03-09 11:18] santosh-pingle opened #1223 "DataCapture, Integrate subtitle text to multiple choice, single choice view."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Integrate subtitle text to single choice and multiple choice views in sdc library.
Refer PR #1222 or #1221

**Describe alternatives you've co

[2022-03-09 11:29] santosh-pingle opened #1224 "DataCapture, Integrate subtitle text to textFields."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Integrate subtitle text to input text fields.
FHIR Data types are String, Integer, Double.
`QuestionnaireItemEditTextViewHolderFactory` and subclasses.
Refer PR https://github.com/google/android-fhir/pull/1222 or https://github.com/google/

[2022-03-09 11:34] santosh-pingle opened #1225 "DataCapture, Integrate subtitle text to DropDown view in sdc."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Integrate subtitle text to DropDown view in sdc.
Refer PR #1221 #1222
`QuestionnaireItemDropDownViewHolderFactory`

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives y

[2022-03-09 11:36] santosh-pingle commented on #1225
- #1088

[2022-03-09 11:36] santosh-pingle commented on #1224
-  #1088

[2022-03-09 11:37] santosh-pingle commented on #1223
-  #1088

[2022-03-09 11:46] santosh-pingle opened #1226 "DataCapture, Integrate subtitle text to Date and Time picker."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
DataCapture, Integrate subtitle text to Date and Time picker.
`QuestionnaireItemDatePickerViewHolderFactory`
`QuestionnaireItemDateTimePickerViewHolderFactory`
Refer PR #1221 #1222

**Describe the solution you'd like**
A clear and concise d

[2022-03-09 11:49] santosh-pingle opened #1227 "DataCapture, Integrate subtitle text to slider view"
**Is your feature request related to a problem? Please describe.**
DataCapture, Integrate subtitle text to slider view
`QuestionnaireItemSliderViewHolderFactory`

Refer PR https://github.com/google/android-fhir/pull/1221 https://github.com/google/android-fhir/pull/1222

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've

[2022-03-09 12:23] FikriMilano commented on #747
Closing this since it has been added

[2022-03-09 12:23] #747 closed

[2022-03-10 02:49] maimoonak commented on #656
Few Observations during code exploration
- CRUD in CQL, whether fhir spec allows it or not
- CRUD in Measure, whether fhir spec allows it or not
- Library Processor L213 -> if (!url.contains("/Library/"))
- Library name RuleFilter
- ELM+JSON LIbrary works with CQL. XML throws Serializer exception
- Translating Library matcher translatorOptionsMatch needs replacement with matcher method
- The CQL B

[2022-03-10 08:31] #1113 closed

[2022-03-10 15:56] f-odhiambo commented on #656
Seem like we have the following

**Input**
[code]

and gettging the following output based on @maimoonak updates

**Output**
` {"resourceType":"CarePlan","contained":[{"resourceType":"RequestGroup","id":"3ddb8524-345a-4477-9589-4144b71ff88c","status":"draft","intent":"proposal"}],"instantiatesCanonical":["plandefinition-RuleFilters-1.0.0"],"status":"draft","subject":{"reference":"Reportable"},"enc

[2022-03-11 06:19] fredhersch commented on #971
@f-odhiambo I noticed @maimoonak's comment about design. Let's make sure we spend some time on this before we dive into the implementation.

[2022-03-11 08:38] PallaviGanorkar opened #1229 "App crashes click on submit button after editing patient details"
**Describe the bug**
As soon as the patient list populated select any patient from list. click on edit button though details page is empty and the click on submit button

**Component**
SDC library, reference app

**To Reproduce**
Steps to reproduce the behavior:
1. Launch App and let patient list populate
2. Click on any patient from list it open details page
3. details page takes time to display

[2022-03-14 10:32] RaaziaTarique commented on #1033
In order to implement this issue, the approach that I am going to use will be as follows.

1.  Check if the expression starts with `today()`, then inside this will check if days are being added to or subtracted from `today()` if yes then perform the operation else return current date.
2.  Try to fetch answer based on provided resource and expression if not succeeded then fetch answer using definit

[2022-03-14 17:32] sultanularefin commented on #534
I was facing this problem while producing a development built in a new RN application:

`* What went wrong:
Execution failed for task ':app:mergeDebugJavaResource'.

      - /home/arefin/.gradle/caches/transforms-3/a3ac8ef0f2100cc8b5d126502fa8817e/transformed/jetified-httpclient-4.5.11.jar
      - /home/arefin/.gradle/caches/transforms-3/b7066b7bc7a676def30aa231d94c26c1/transformed/jetified-httpco

[2022-03-15 12:29] Tarun-Bhardwaj commented on #1133
@PallaviGanorkar , could you please try and recreate this bug with a gap of 3 to 4 minutes before using the second device.

[2022-03-15 12:46] Tarun-Bhardwaj commented on #1107
@f-odhiambo , is there someone working on this issue or has it been put on hold?

[2022-03-15 12:47] Tarun-Bhardwaj commented on #914
@f-odhiambo , can this issue be closed based on the comments above?

[2022-03-15 14:07] #1205 closed

[2022-03-15 14:23] f-odhiambo commented on #914
yes

[2022-03-15 14:23] #914 closed

[2022-03-15 14:47] jingtang10 opened #1236 "java.lang.IllegalArgumentException: com.google.android.fhir.demo: Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent."
**Describe the bug**
2022-03-15 14:41:38.522 10337-10358/com.google.android.fhir.demo E/AndroidRuntime: FATAL EXCEPTION: pool-5-thread-1
    Process: com.google.android.fhir.demo, PID: 10337
    java.lang.IllegalArgumentException: com.google.android.fhir.demo: Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent.
    Str

[2022-03-15 16:02] #1236 closed

[2022-03-16 05:44] santosh-pingle opened #1239 "Datacapture, multiple nested display items to show instruction texts in view."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Use multiple nested display items to show multiple instruction texts in same view.
Instruction texts can be subtitle text, helper texts, label texts, hint.
Item control and Display category extensions to differentiate and render multiple n

[2022-03-16 09:38] santosh-pingle commented on #1239
Multiple instruction texts need to be differentiated, so that they can be rendered appropriately.
Use item control extension with display codes to render it appropriately.
We can use below code to differentiate instruction texts.
`inline` code to render subtitle text
`help` code to render label in input text field.
http://build.fhir.org/extension-questionnaire-itemcontrol.html

Use default display

[2022-03-16 09:46] santosh-pingle commented on #1239
We can define below questionnaire structure to render and differentiate subtitle text from other instruction texts.
[code]

[2022-03-16 09:51] santosh-pingle commented on #1239
Below structure is defined to show label in input text field
[code]

[2022-03-16 13:24] santosh-pingle commented on #1115
This is just master ticket to track below tickets.
#1239, #1226, #1225, #1224, #1223, #1115

[2022-03-16 15:01] joiskash commented on #726
Just flagging that this issue is important to our group. An example use case if :

For every child , please provide details of immunization

- Time of immunization
- Place of immunization

cc: @kumaakh @jjtswan

[2022-03-16 16:18] #1218 closed

[2022-03-16 16:41] #997 closed

[2022-03-16 16:46] santosh-pingle commented on #996
Bottom sheet and gear icon are not used in catalog app, as per latest UX guideline.

[2022-03-16 16:46] #996 closed

[2022-03-17 10:46] jingtang10 opened #1241 "Add one time sync to the demo app"
**Is your feature request related to a problem? Please describe.**
Add one time sync to the demo app

**Describe the solution you'd like**
NA

**Describe alternatives you've considered**
NA

**Additional context**
NA

**Would you like to work on the issue?**
NA

[2022-03-17 12:20] #784 closed

[2022-03-17 18:01] kevinmost opened #1243 "Investigate moving Room from KAPT to KSP"
**Describe the Issue**

This should improve build times

[2022-03-17 18:25] wantingzhang77 commented on #1105
@jingtang10 @stevenckngaa Close this issue now if there is no more concern.

[2022-03-18 11:11] RaaziaTarique commented on #1033
After Exploring the FhirPathEngine further, I came to know that it has multiple overloaded methods for evaluating FhirPath expressions. So, I modified the approach that I proposed before as follows,

1.  Get answers using FhirPathEngine evaluate method `List<Base> evaluate(Base base, String path) throws FHIRException`
2.  If above method is not able to evaluate expression then will evaluate expres

[2022-03-18 12:37] jingtang10 commented on #1033
Looking through the code of FHIRPathEngine https://github.com/hapifhir/org.hl7.fhir.core/blob/b075c5695ffa7267ef7010f8e560731d20a90383/org.hl7.fhir.r4/src/main/java/org/hl7/fhir/r4/utils/FHIRPathEngine.java#L502 the code for `evalute(Base,String)` and `evaluate(Base,ExpressionNode)` are pretty similar - are you sure your step 1 and 2 will generate different results?

[2022-03-18 13:07] RaaziaTarique commented on #1033
@jingtang10 I checked the methods, they are actually almost identical and doing the same job. I can modify step one to use only this method `List<Base> evaluate(Base base, String path) throws FHIRException` and pass resource from provided resources if any and then use definition if there's no answer found using expression.

[2022-03-18 13:10] jingtang10 commented on #1243
@yigit @stevenckngaa FYI

[2022-03-18 13:19] jingtang10 commented on #726
bumping to P1

[2022-03-18 13:24] RaaziaTarique commented on #1033
Related to the expressions that are not currently supported, I posted a query here https://chat.fhir.org/login/#narrow/stream/179255-questionnaire/topic/FHIRPATH.20SDC.20implementation
<img width="886" alt="Screenshot 2022-03-18 at 2 21 32 PM" src="https://user-images.githubusercontent.com/89384079/159010501-0e029da7-8d14-49c1-9c9e-6641dc7f61f8.png">
@jingtang10  CC: @f-odhiambo @shoaibmushtaq25

[2022-03-18 13:24] jingtang10 commented on #1059
my first question is that do you evaluate the expressions lazily or do you evaluate them before hand?

do you cache the values? and if you do how do you update them when the questionnaire answers change?

[2022-03-18 14:57] shoaibmushtaq25 commented on #1059
As per discussion with @jingtang10 over the call, First, I will explore whether FHIRPath supports the variables to pass them as input parameters to evaluate an expression. If I wouldn't be able to find it, I should ask a question over the Zulip FHIR chat to get an opinion from the community experts.

Let's say, if FHIR Path supports the variables to pass them as input parameters to evaluate an exp

[2022-03-18 18:52] mberg opened #1244 ""Pruning" data for optimizing amount of FHIR resources on device"
**Is your feature request related to a problem? Please describe.**

FHIR generates a lot of resources compared to more traditional digital health tools that have an entity-event data model.  To help support use cases where we want to store patient data for 1000's of patients on a device we will want to develop strategies for optimizing what resources should be stored on device and what resources c

[2022-03-18 20:47] yigit commented on #1243
ideally this should just work :)
Aside from possible bugs, the only big difference in KSP is that, it is more strict about nullability (which also makes the generated code better).
Also, please make sure we use the latest room (2.4.x) as we had some bug fixes in patch releases.

[2022-03-20 21:07] epicadk commented on #1210
@jingtang10 the build file contains build intermediates for all the module which take up a lot of space. The files for the demo app and the catalog app take up almost 1.5 gigs. Can we ignore these can just upload the release and debug apk instead?

[2022-03-21 11:50] f-odhiambo commented on #825
Any update on this @epicadk @Tarun-Bhardwaj  ?

[2022-03-21 12:19] RaaziaTarique opened #1246 "Add a Wrapper For fhirPath expressions, cqf-calculatedValue, cqf-library and cqf-expression."
**Is your feature request related to a problem? Please describe.**
FhirPathEngine, DataRenderer and related classes to evaluate fhirPath expressions, cqf-calculatedValue, cqf-library and cqf-expression will be used multiple time in the project so it's better to have central wrapper for these classes.

Following issues which may use this wrapper in the future:

https://github.com/google/android-fhi

[2022-03-21 15:52] shoaibmushtaq25 commented on #1059
@jingtang10 , I posted [this query](https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/FHIRPATH.20SDC.20implementation/near/276058530) over Zulip FHIR Chat and got an answer [here](https://chat.fhir.org/#narrow/stream/179255-questionnaire/topic/FHIRPATH.20SDC.20implementation/near/276069745). As per the comment, It should work in FHIR Path, I am going to try this out how can we apply

[2022-03-22 08:30] jingtang10 commented on #1246
as a first step to speed up development, i think it's ok to create this new api as an internal api in the `datacapture` module. as a next step we can move it to the `common` module (which will require a separate release).

[2022-03-22 09:46] Tarun-Bhardwaj commented on #1196
Closing this issue as it should get fixed as part of #784

[2022-03-22 09:46] #1196 closed

[2022-03-22 14:21] kunjan8794 commented on #819
@fredhersch @jingtang10 the link below has the measurements questionnanire that has some FHIRPath enableWhen expressions.

https://github.com/WorldHealthOrganization/smart-emcare/blob/pyfhirsdc/input/resources/questionnaire/questionnaire-EmCare.B6.Measurements.json

[2022-03-22 18:37] PallaviGanorkar opened #1252 "Add unit test to test retry mechanism if sync poll API fails due to some reason"
**Describe the Issue**
[Add https://github.com/google/android-fhir/pull/1166](https://github.com/google/android-fhir/pull/1166)

**Would you like to work on the issue?**

[2022-03-23 02:50] allstar-app[bot] opened #1253 "Security Policy violation Binary Artifacts"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Project is out of compliance with Binary Artifacts policy: binaries present in source code

**Rule Description**
Binary Artifacts are an increased security risk in your repository. Binary artifacts cannot be reviewed, allowing the introduction of possibly obsolete or maliciously su

[2022-03-23 03:06] omarismail94 opened #1254 "CI Pipeline Fails"
**Describe the Issue**

All builds are failing with a timeout issue in the Instrumentation test phase. Stacktrace:

[code]

I’ve spent all day debugging the recent CI pipeline  instrumentation test failure and haven’t found the issue, _but_ have found a work-around.

I first did the following on the Android emulator :
- increase RAM
- increase disk size
- increase partition size
- used latest vers

[2022-03-23 05:26] fredhersch commented on #726
@shelaghm Are you able to provide a Ux mock for this? We are trying to add multiple items for a specific group. For example, I want to record multiple immunizations for a given Patient. Each item group has the same set of fields that are added. So something like a + icon option that adds a new line of fields to complete. Thanks